<!-- Modal title -->
<div class="modal-header">
  <div class="col-xs-12 col-md-6">
    <h2 class="modal-title">
      <span class="glyphicon glyphicon-pencil"></span> 
      Edit {{alias.type}}
    </h2>
    <p class="modal-title-caption">
      {{alias.name_EN}} / {{alias.name_FR}}
    </p>
  </div>
  <div class="modal-buttons col-xs-12 col-md-6">
    <span> 
      <form method="post" ng-submit="updateAlias()">
        <input class="btn btn-primary submit" ng-class="{'disabled': !checkForm()}" type="submit" value="Save Changes">
        <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="Cancel">
      </form>
    </span>     
  </div>
</div>
<div class="modal-body">
  <div ng-hide="hiddenAlert" class="alert alertMessage alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" ng-click="hideAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Errors</strong><br>
    <p>
      {{alertMessage}}
    </p>
  </div>
  <uib-accordion>
    <!-- SECTION: Assigned expressions -->
    <div uib-accordion-group is-open="expressionSection.open">
      <uib-accordion-heading>
        <div>
          <strong>Assigned Clinical {{alias.type}} Code(s)</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': expressionSection.open, 'glyphicon-chevron-right': !expressionSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="alert alert-info" role="alert">
        <strong>Current Assigned Code(s)</strong><br>
        <p>
          <ul class="list-items">
            <li ng-repeat="selectedTerm in termList | filter: {added: 1}">
              {{selectedTerm.name}}
            </li>
          </ul>
        </p>
      </div>
      <div class="list-space">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input class="form-control" type="text" ng-model="termFilter" ng-change="changeTermFilter(termFilter)" placeholder="Search..."/>
        </div>
        <div style="padding: 10px;">
          <label>
            <input type="checkbox" ng-click="selectAllFilteredTerms()" ng-checked="selectAll"> Select All
          </label>
        </div>
        <div class="btn-group btn-group-justified">
          <a class="btn btn-default" ng-class="{'active' : clinicalCodeFilter == 'all'}" ng-click="setClinicalCodeFilter('all')">Show all</a>
          <a class="btn btn-default" ng-class="{'active' : clinicalCodeFilter == 'current'}" ng-click="setClinicalCodeFilter('current')">Assigned to this {{newAlias.type}}</a>
          <a class="btn btn-default" ng-class="{'active' : clinicalCodeFilter == 'other'}" ng-click="setClinicalCodeFilter('other')">Assigned to others</a>
          <a class="btn btn-default" ng-class="{'active' : clinicalCodeFilter == 'none'}" ng-click="setClinicalCodeFilter('none')">Unassigned</a>
        </div>
        <ul class="list-items">
          <li ng-repeat="term in termList | filter: searchTermsFilter">
            <label ng-class="{greenText: term.added, grayText: term.assigned && !term.added}">
              <input type="checkbox" ng-click="toggleTermSelection(term)" ng-checked="term.added" /> {{term.name}}
              <span ng-class="{redText: term.assigned && !term.added}" ng-if="term.assigned && !term.added"><em> --- Assigned to: {{term.assigned.name_EN}}</em></span>
              <span ng-class="{redText: term.assigned}" ng-if="term.assigned && term.added"><em> --- Will replace assignment from: {{term.assigned.name_EN}}</em></span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <!-- SECTION: Title -->
    <div uib-accordion-group is-open="titleSection.open">
      <uib-accordion-heading>
        <div>
          <strong>Titles</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': titleSection.open, 'glyphicon-chevron-right': !titleSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="row">
        <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
          <div class="input-group">
            <span class="input-group-addon">EN</span>
            <input class="form-control" type="text" ng-model="alias.name_EN" ng-change="titleUpdate()" placeholder="English Title" required="required">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
          <div class="input-group">
            <span class="input-group-addon">FR</span>
            <input class="form-control" type="text" ng-model="alias.name_FR" ng-change="titleUpdate()" placeholder="Titre Français" required="required">
          </div>
        </div>
      </div>
    </div>
    <!-- SECTION: Description -->
    <div uib-accordion-group is-open="descriptionSection.open">
      <uib-accordion-heading>
        <div>
          <strong>Descriptions</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': descriptionSection.open, 'glyphicon-chevron-right': !descriptionSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="row">
        <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
          <div style="text-align:center; margin-bottom: 10px;">
            <span style="font-size:20px;">HTML (English)</span>
          </div>
          <div class="form-group">
            <div text-angular ng-model="alias.description_EN" ng-change="descriptionUpdate()" placeholder="English Description" ta-toolbar="toolbar"></div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
          <div style="text-align:center; margin-bottom: 10px;">
            <span style="font-size:20px;">HTML (Français)</span>
          </div>
          <div class="form-group">
            <div text-angular ng-model="alias.description_FR" ng-change="descriptionUpdate()" placeholder="Description Français" ta-toolbar="toolbar"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- SECTION: Checkin Details -->
    <div uib-accordion-group is-open="checkinSection.open" ng-if="alias.type == 'Appointment'">
      <uib-accordion-heading>
        <div>
          <strong>Checkin Details</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': checkinSection.open, 'glyphicon-chevron-right': !checkinSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="row">
            <h2 class="col-xs-12" style="margin:0 0 7px 0; padding: 0 15px; font-size:30px;">Checkin Possible?</h2>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="panel-container animated" style="cursor:pointer" ng-class="{pulse: hoverYesOption, active: alias.checkin_details.checkin_possible == 1 }" ng-click="checkinPossibleUpdate(1)" ng-mouseenter="hoverYesOption=true" ng-mouseleave="hoverYesOption=false">
                <div class="panel-info" ng-class="{active: alias.checkin_details.checkin_possible == 1}">
                  <div class="panel-content" style="text-align:center">
                    <span style="font-size:30px;" class="glyphicon glyphicon-ok"></span>
                    <div class="option-panel-title">Yes</div>
                  </div>
                </div>
              </div> 
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="panel-container animated" style="cursor:pointer" ng-class="{pulse: hoverNoOption, active: alias.checkin_details.checkin_possible == 0 }" ng-click="checkinPossibleUpdate(0)" ng-mouseenter="hoverNoOption=true" ng-mouseleave="hoverNoOption=false">
                <div class="panel-info" ng-class="{active: alias.checkin_details.checkin_possible == 0}">
                  <div class="panel-content" style="text-align:center">
                    <span style="font-size:30px;" class="glyphicon glyphicon-remove"></span>
                    <div class="option-panel-title">No</div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
          <div style="text-align:center; margin-bottom: 10px;">
            <span style="font-size:20px;">Checkin Instructions (English)</span>
          </div>
          <div class="form-group">
            <div text-angular ng-model="alias.checkin_details.instruction_EN" ng-change="checkinInstructionsUpdate()" placeholder="English Description" ta-toolbar="toolbar"></div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
          <div style="text-align:center; margin-bottom: 10px;">
            <span style="font-size:20px;">Checkin Instructions (Français)</span>
          </div>
          <div class="form-group">
            <div text-angular ng-model="alias.checkin_details.instruction_FR" ng-change="checkinInstructionsUpdate()" placeholder="Description Français" ta-toolbar="toolbar"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- SECTION: Hospital Map -->
    <div uib-accordion-group is-open="hospitalMapSection.open" ng-if="alias.type == 'Appointment'">
      <uib-accordion-heading>
        <div>
          <strong>Attached Hospital Map</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': hospitalMapSection.open, 'glyphicon-chevron-right': !hospitalMapSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="alert alert-info" role="alert">
        <strong>Current Hospital Map (EN / FR)</strong><br>
        <p>
          <div>
            <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
            <span ng-if="alias.hospitalMap">
              <strong>{{alias.hospitalMap.name_EN}} / {{alias.hospitalMap.name_FR}}</strong>
            </span>
            <span ng-if="!alias.hospitalMap">None</span>
          </div>
        </p>
      </div>
      <div class="list-space">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input class="form-control" type="text" ng-model="hospitalMapFilter" ng-change="changeHospitalMapFilter(hospitalMapFilter)" placeholder="Search Hospital Map..."/>
        </div>
        <ul class="list-items">
          <li ng-repeat="hospitalMap in hospitalMapList | filter: searchHospitalMapsFilter">
            <label>
              <input type="radio" ng-model="alias.hospitalMapSer" ng-click="hospitalMapUpdate($event,hospitalMap)" value="{{hospitalMap.serial}}" /> {{hospitalMap.name_EN}}
            </label>
          </li>
        </ul>
      </div>
    </div>
    <!-- SECTION: Educational material -->
    <div uib-accordion-group is-open="educationalMaterialSection.open">
      <uib-accordion-heading>
        <div>
          <strong>Attached Educational Material</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': educationalMaterialSection.open, 'glyphicon-chevron-right': !educationalMaterialSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="alert alert-info" role="alert">
        <strong>Current Educational Material (EN / FR)</strong><br>
        <p>
          <div>
            <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
            <span ng-if="alias.eduMat">
              <span ng-if="alias.eduMat.tocs.length">
                <span style="cursor:pointer" ng-click="toggleTOCDisplay()">
                  <strong>{{alias.eduMat.name_EN}} / {{alias.eduMat.name_FR}}</strong>
                </span>
                <ul ng-if="showTOCs">
                  <li ng-repeat="toc in alias.eduMat.tocs">
                    <strong><a target="_blank" href="{{toc.url_EN}}">{{toc.name_EN}}</a></strong> / <strong><a target="_blank" href="{{toc.url_FR}}">{{toc.name_FR}}</a></strong>
                  </li>
                </ul>
              </span>
              <span ng-if="!alias.eduMat.tocs.length">
                <span>
                  <strong><a target="_blank" href="{{alias.eduMat.url_EN}}">{{alias.eduMat.name_EN}}</a> / <a target="_blank" href="{{alias.eduMat.url_FR}}">{{alias.eduMat.name_FR}}</a></strong>
                </span>
              </span>
            </span>
            <span ng-if="!alias.eduMat">None</span>
          </div>
        </p>
      </div>
      <div class="list-space">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input class="form-control" type="text" ng-model="eduMatFilter" ng-change="changeEduMatFilter(eduMatFilter)" placeholder="Search Educational Material..."/>
        </div>
        <ul class="list-items">
          <li ng-repeat="eduMat in eduMatList | filter: searchEduMatsFilter">
            <label>
              <input type="radio" ng-model="alias.eduMatSer" ng-click="eduMatUpdate($event,eduMat)" value="{{eduMat.serial}}" /> {{eduMat.name_EN}}
            </label>
          </li>
        </ul>
      </div>
    </div>
    <!-- SECTION: Color tag -->
    <div uib-accordion-group is-open="colorSection.open">
      <uib-accordion-heading>
        <div>
          <strong>Color Tag</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': colorSection.open, 'glyphicon-chevron-right': !colorSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="row" style="padding-top: 15px;">
        <div class="col-xs-6">
          <div class="color-picker">
            <div class="cp-description">
              <p class="cp-header">
                Choose an icon color
              </p>
            </div>  
            <div class="cp-main" ng-if="alias.color">
              <material-picker ng-model="alias.color" ng-click="colorUpdate()" format="'hex'" size="20" hover-model="hoverColor"></material-picker>
            </div> 
          </div>
        </div> 
        <div class="col-xs-6">
          <div class="color-data" style="height: 285px; line-height: 285px;">
            <div class="color-picked">
              <div class="color-palette" ng-style="{'background-color': alias.color}"></div>
            </div>
            <div class="color-label hex">
              <h4>HEX</h4>
            </div>
            <div class="color-code">
              <h4>{{alias.color}}</h4>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </uib-accordion>

</div>