# ignore configurations
js/config.js
php/config.php
backend/modules/Configs.pm

# ignore clinical documents
backend/clinical/documents

# ignore certificates
backend/php/certificates

# ignore swap files
*.swp
*.swo
./**/*.swp
./**/*.swo

# ignore QR Images
images/hospital-maps/qrCodes

# ignore version control script
bumpversion.sh

# ignore bower/node components
bower_components
node_modules
