# ignore configurations
js/config.js
php/config.php
publisher/modules/Configs.pm

# ignore clinical documents
publisher/clinical/documents/**

# ignore certificates
publisher/php/certificates/**
js/firebaseServiceAccountKey.json

# ignore swap files
*.swp
*.swo
./**/*.swp
./**/*.swo

# ignore QR Images
images/hospital-maps/qrCodes/**

# ignore version control script
bumpversion.sh

# ignore bower/node components
bower_components
node_modules/**
# except firebase-admin
!node_modules/firebase-admin 

# ignore vscode editor config
.editorconfig
