# ignore configurations 
php/config_master.php
js/config.js

# ignore swap files
*.swp
*.swo
./**/*.swp
./**/*.swo

# ignore libraries
js/lib/*
css/lib/*
php/lib/*

# ignore font directory
fonts/*

# ignore version control script
bumpversion.sh
