# SPDX-FileCopyrightText: Copyright (C) 2017 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

# Auto detect text files and perform LF normalization
*          text=auto

# Scripts
*.bash     text eol=lf
*.sh       text eol=lf
*.pl        text eol=lf
# These are explicitly windows files and should use crlf
*.bat      text eol=crlf
*.ps1      text eol=crlf
