#
# Apache/PHP settings:
#
php_value max_input_vars 1000000
php_value post_max_size 1024M
php_value upload_max_filesize 1024M

# Protect files and directories from prying eyes.
<FilesMatch "\.(engine|inc|info|install|make|module|profile|test|po|sh|.*sql|theme|tpl(\.php)?|xtmpl)(~|\.sw[op]|\.bak|\.orig|\.save)?$|^(\..*|Entries.*|Repository|Root|Tag|Template|composer\.(json|lock))$|^#.*#$|\.php(~|\.sw[op]|\.bak|\.orig\.save)$">
  Order allow,deny
</FilesMatch>

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Follow symbolic links in this directory.
Options +FollowSymLinks

# Requires mod_expires to be enabled.
<IfModule mod_expires.c>
  # Enable expirations.
  ExpiresActive On

  # Cache all files for 2 weeks after access (A).
  ExpiresDefault A1209600

  <FilesMatch \.php$>
    # Do not allow PHP scripts to be cached unless they explicitly send cache
    # headers themselves. Otherwise all scripts would have to overwrite the
    # headers set by mod_expires if they want another caching behavior. This may
    # fail if an error occurs early in the bootstrap process, and it may cause
    # problems if a PHP file is installed in a subdirectory.
    ExpiresActive Off
  </FilesMatch>
</IfModule>

# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on
  # Block access to "hidden" directories whose names begin with a period. This
  # includes directories used by version control systems such as Subversion or
  # Git to store control files. Files whose names begin with a period, as well
  # as the control files used by CVS, are protected by the FilesMatch directive
  # above.
  #
  # NOTE: This only works when mod_rewrite is loaded. Without mod_rewrite, it is
  # not possible to block access to entire directories from .htaccess, because
  # <DirectoryMatch> is not allowed here.
  #
  # If you do not have mod_rewrite installed, you should remove these
  # directories from your webroot or otherwise protect them from being
  # downloaded.
  RewriteRule "(^|/)\." - [F]
</IfModule>

# Add headers to all responses.
<IfModule mod_headers.c>
  # Disable content sniffing, since it's an attack vector.
  # Header always set X-Content-Type-Options nosniff
</IfModule>

## Disallow script execution
#Options -ExecCGI
#AddHandler cgi-script .php .pl .py .jsp .asp .htm .shtml .sh .cgi
#
## Show CGI Source Code
#RemoveHandler cgi-script .pl .py .cgi
#AddType text/plain .pl .py .cgi

# Disallow script execution
AddHandler .php .py .jsp .asp .htm .shtml .sh


# Force all URL request that are HTTP to be HTTPS
# Disable for now until testing cann be done.
# RewriteCond %{HTTPS} !=on
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE] 


# Accesses to the OpalAdmin API

# Alerts Section
RewriteRule ^alert/delete/alert php/alert/delete.alert.php [QSA,L]
RewriteRule ^alert/get/alert-details php/alert/get.alert.details.php [QSA,L]
RewriteRule ^alert/get/alerts php/alert/get.alerts.php [QSA,L]
RewriteRule ^alert/insert/alert php/alert/insert.alert.php [QSA,L]
RewriteRule ^alert/update/alert php/alert/update.alert.php [QSA,L]
RewriteRule ^alert/update/activation-flag php/alert/update.activation.flag.php [QSA,L]

# Tasks/Appts/Docs Section (Alias)
RewriteRule ^alias/delete/alias php/alias/delete.alias.php [QSA,L]
RewriteRule ^alias/get/alias-chart-logs php/alias/get.alias_chart_logs.php [QSA,L]
RewriteRule ^alias/get/alias-details php/alias/get.alias_details.php [QSA,L]
RewriteRule ^alias/get/alias-list-logs php/alias/get.alias_list_logs.php [QSA,L]
RewriteRule ^alias/get/aliases php/alias/get.aliases.php [QSA,L]
RewriteRule ^alias/get/color-tags php/alias/get.color_tags.php [QSA,L]
RewriteRule ^alias/get/educational-materials php/alias/get.educational.materials.php [QSA,L]
RewriteRule ^alias/get/expressions php/alias/get.expressions.php [QSA,L]
RewriteRule ^alias/get/hospital-maps php/alias/get.hospital.maps.php [QSA,L]
RewriteRule ^alias/get/source-databases php/alias/get.source_databases.php [QSA,L]
RewriteRule ^alias/insert/alias php/alias/insert.alias.php [QSA,L]
RewriteRule ^alias/update/alias php/alias/update.alias.php [QSA,L]
RewriteRule ^alias/update/publish-flags php/alias/update.alias_publish_flags.php [QSA,L]

# Application
RewriteRule ^application/get/application-build php/application/get.application_build.php [QSA,L]
RewriteRule ^application/get/config config.json [QSA,L]
RewriteRule ^application/get/source-databases php/application/get.source_databases.php [QSA,L]
RewriteRule ^application/update/source-databases php/application/update.source_databases.php [QSA,L]

# Audit Section
RewriteRule ^audit/get/audit-details php/audit/get.audit.details.php [QSA,L]
RewriteRule ^audit/get/audits php/audit/get.audits.php [QSA,L]

# Cron Logs Section
RewriteRule ^cron/get/cron-chart-logs php/cron/get.cron_chart_logs.php [QSA,L]
RewriteRule ^cron/get/cron-details php/cron/get.cron_details.php [QSA,L]
RewriteRule ^cron/get/cron-list-logs php/cron/get.cron_list_logs.php [QSA,L]
RewriteRule ^cron/update/cron php/cron/update.cron.php [QSA,L]

# Custom Codes Section
RewriteRule ^custom-code/delete/custom-code php/custom-code/delete.custom.code.php [QSA,L]
RewriteRule ^custom-code/get/available-modules php/custom-code/get.available.modules.php [QSA,L]
RewriteRule ^custom-code/get/custom-code-details php/custom-code/get.custom.code.details.php [QSA,L]
RewriteRule ^custom-code/get/custom-codes php/custom-code/get.custom.code.php [QSA,L]
RewriteRule ^custom-code/insert/custom-code php/custom-code/insert.custom.code.php [QSA,L]
RewriteRule ^custom-code/update/custom-code php/custom-code/update.custom.code.php [QSA,L]

# Diagnosis Section (system 2 system API)
RewriteRule ^diagnosis/delete/patient-diagnosis php/diagnosis/delete.patient.diagnosis.php [QSA,L]
RewriteRule ^diagnosis/get/patient-diagnoses php/diagnosis/get.patient.diagnoses.php [QSA,L]
RewriteRule ^diagnosis/insert/patient-diagnosis php/diagnosis/insert.patient.diagnosis.php [QSA,L]
RewriteRule ^diagnosis/update/patient-diagnosis php/diagnosis/update.patient.diagnosis.php [QSA,L]

# Diagnosis Translation Section
RewriteRule ^diagnosis-translation/delete/diagnosis-translation php/diagnosis-translation/delete.diagnosis_translation.php [QSA,L]
RewriteRule ^diagnosis-translation/get/diagnosis-translation-details php/diagnosis-translation/get.diagnosis_translation_details.php [QSA,L]
RewriteRule ^diagnosis-translation/get/diagnosis-translations php/diagnosis-translation/get.diagnosis_translations.php [QSA,L]
RewriteRule ^diagnosis-translation/get/diagnoses php/diagnosis-translation/get.diagnoses.php [QSA,L]
RewriteRule ^diagnosis-translation/get/educational-materials php/diagnosis-translation/get.educational.materials.php [QSA,L]
RewriteRule ^diagnosis-translation/insert/diagnosis-translation php/diagnosis-translation/insert.diagnosis_translation.php [QSA,L]
RewriteRule ^diagnosis-translation/update/diagnosis-translation php/diagnosis-translation/update.diagnosis_translation.php [QSA,L]

# Educational Material Section
RewriteRule ^educational-material/delete/educational-material php/educational-material/delete.educational_material.php [QSA,L]
RewriteRule ^educational-material/get/educational-material-chart-logs php/educational-material/get.educational_material_chart_logs.php [QSA,L]
RewriteRule ^educational-material/get/educational-material-details php/educational-material/get.educational_material_details.php [QSA,L]
RewriteRule ^educational-material/get/educational-material-list-logs php/educational-material/get.educational_material_list_logs.php [QSA,L]
RewriteRule ^educational-material/get/educational-material-parents php/educational-material/get.educational_material_parents.php [QSA,L]
RewriteRule ^educational-material/get/educational-material-types php/educational-material/get.educational_material_types.php [QSA,L]
RewriteRule ^educational-material/get/educational-materials php/educational-material/get.educational_materials.php [QSA,L]
RewriteRule ^educational-material/get/phases-in-treatment php/educational-material/get.phases_in_treatment.php [QSA,L]
RewriteRule ^educational-material/insert/educational-material php/educational-material/insert.educational_material.php [QSA,L]
RewriteRule ^educational-material/update/educational-material-publish-flags php/educational-material/update.educational_material_publish_flags.php [QSA,L]
RewriteRule ^educational-material/update/educational-material php/educational-material/update.educational_material.php [QSA,L]

# Email Section
RewriteRule ^email/delete/email php/email/delete.email.php [QSA,L]
RewriteRule ^email/get/email-chart-logs php/email/get.email_chart_logs.php [QSA,L]
RewriteRule ^email/get/email-details php/email/get.email_details.php [QSA,L]
RewriteRule ^email/get/email-list-logs php/email/get.email_list_logs.php [QSA,L]
RewriteRule ^email/get/email-templates php/email/get.email_templates.php [QSA,L]
RewriteRule ^email/get/email-types php/email/get.email_types.php [QSA,L]
RewriteRule ^email/insert/email php/email/insert.email.php [QSA,L]
RewriteRule ^email/update/email php/email/update.email.php [QSA,L]

# Hospital Map Section
RewriteRule ^hospital-map/delete/hospital-map php/hospital-map/delete.hospital_map.php [QSA,L]
RewriteRule ^hospital-map/generate-qr-code php/hospital-map/generate_QR_code.php [QSA,L]
RewriteRule ^hospital-map/get/hospital-map-details php/hospital-map/get.hospital_map_details.php [QSA,L]
RewriteRule ^hospital-map/get/hospital-maps php/hospital-map/get.hospital_maps.php [QSA,L]
RewriteRule ^hospital-map/insert/hospital-map php/hospital-map/insert.hospital_map.php [QSA,L]
RewriteRule ^hospital-map/update/hospital-map php/hospital-map/update.hospital_map.php [QSA,L]

# Installation
RewriteRule ^install/check-aria-connection php/install/check_aria_connection.php [QSA,L]
RewriteRule ^install/check-mosaiq-connection php/install/check_mosaiq_connection.php [QSA,L]
RewriteRule ^install/check-opal-connection php/install/check_opal_connection.php [QSA,L]
RewriteRule ^install/register-admin php/install/register_admin.php [QSA,L]
RewriteRule ^install/verify-requirements php/install/verify_requirements.php [QSA,L]
RewriteRule ^install/write-configurations php/install/write_configurations.php [QSA,L]

# Library Section
RewriteRule ^library/get/libraries php/questionnaire/get.libraries.php [QSA,L]
RewriteRule ^library/insert/library php/questionnaire/insert.library.php [QSA,L]

# Notification Section
RewriteRule ^notification/delete/notification php/notification/delete.notification.php [QSA,L]
RewriteRule ^notification/get/notification-chart-logs php/notification/get.notification_chart_logs.php [QSA,L]
RewriteRule ^notification/get/notification-details php/notification/get.notification_details.php [QSA,L]
RewriteRule ^notification/get/notification-list-logs php/notification/get.notification_list_logs.php [QSA,L]
RewriteRule ^notification/get/notification-types php/notification/get.notification_types.php [QSA,L]
RewriteRule ^notification/get/notifications php/notification/get.notifications.php [QSA,L]
RewriteRule ^notification/insert/notification php/notification/insert.notification.php [QSA,L]
RewriteRule ^notification/update/notification php/notification/update.notification.php [QSA,L]

# Patient Section
RewriteRule ^patient/get/education-options php/patient/find_educ.php [QSA,L]
RewriteRule ^patient/get/educ-report php/patient/get.education_report.php [QSA,L]
RewriteRule ^patient/get/patient-activities php/patient/get.patient_activities.php [QSA,L]
RewriteRule ^patient/get/patients php/patient/get.patients.php [QSA,L]
RewriteRule ^patient/get/patient-data php/patient/get.patient_data.php [QSA,L]
RewriteRule ^patient/get/patient-mrn php/patient/find_mrn.php [QSA,L]
RewriteRule ^patient/get/patient-name php/patient/find_name.php [QSA,L]
RewriteRule ^patient/get/patient-ramq php/patient/find_ramq.php [QSA,L]
RewriteRule ^patient/get/patient-report php/patient/get.patient_report.php [QSA,L]
RewriteRule ^patient/get/questionnaire-report php/patient/get.questionnaire_report.php [QSA,L]
RewriteRule ^patient/get/questionnaire-options php/patient/find_qst.php [QSA,L]
RewriteRule ^patient/update/publish-flags php/patient/update.publish_flags.php [QSA,L]


# Post Section
RewriteRule ^post/delete/post php/post/delete.post.php [QSA,L]
RewriteRule ^post/get/post-chart-logs php/post/get.post_chart_logs.php [QSA,L]
RewriteRule ^post/get/post-details php/post/get.post_details.php [QSA,L]
RewriteRule ^post/get/post-list-logs php/post/get.post_list_logs.php [QSA,L]
RewriteRule ^post/get/posts php/post/get.posts.php [QSA,L]
RewriteRule ^post/insert/post php/post/insert.post.php [QSA,L]
RewriteRule ^post/update/post php/post/update.post.php [QSA,L]

# Publication Section
RewriteRule ^publication/update/publish-flag php/publication/update.publish.flag.php [QSA,L]
RewriteRule ^publication/update/publication php/publication/update.publication.php [QSA,L]
RewriteRule ^publication/get/filters php/publication/get.publication.filters.php [QSA,L]
RewriteRule ^publication/get/publication-chart-logs php/publication/get.publication.chart.logs.php [QSA,L]
RewriteRule ^publication/get/publication-list-logs php/publication/get.publication.list.logs.php [QSA,L]
RewriteRule ^publication/get/publication-details php/publication/get.publication.details.php [QSA,L]
RewriteRule ^publication/get/publications-per-module php/publication/get.publications.per.module.php [QSA,L]
RewriteRule ^publication/get/publications php/publication/get.publications.php [QSA,L]
RewriteRule ^publication/get/publication-modules php/publication/get.publication.modules.php [QSA,L]
RewriteRule ^publication/insert/publication php/publication/insert.publication.php [QSA,L]

# Question Section
RewriteRule ^question/delete/question php/questionnaire/delete.question.php [QSA,L]
RewriteRule ^question/insert/question php/questionnaire/insert.question.php [QSA,L]
RewriteRule ^question/get/question-details php/questionnaire/get.question_details.php [QSA,L]
RewriteRule ^question/get/questions php/questionnaire/get.questions.php [QSA,L]
RewriteRule ^question/update/question php/questionnaire/update.question.php [QSA,L]

# Questionnaire Section
RewriteRule ^questionnaire/delete/questionnaire php/questionnaire/delete.questionnaire.php [QSA,L]
RewriteRule ^questionnaire/get/finalized-questions php/questionnaire/get.finalizedQuestions.php [QSA,L]
RewriteRule ^questionnaire/get/purposes-respondents php/questionnaire/get.purposes.respondents.php [QSA,L]
RewriteRule ^questionnaire/get/questionnaires php/questionnaire/get.questionnaires.php [QSA,L]
RewriteRule ^questionnaire/get/questionnaire-details php/questionnaire/get.questionnaire_details.php [QSA,L]
RewriteRule ^questionnaire/insert/questionnaire php/questionnaire/insert.questionnaire.php [QSA,L]
RewriteRule ^questionnaire/update/questionnaire php/questionnaire/update.questionnaire.php [QSA,L]

# Roles Section
RewriteRule ^role/delete/role php/role/delete.role.php [QSA,L]
RewriteRule ^role/get/available-modules php/role/get.available.modules.php [QSA,L]
RewriteRule ^role/get/role-details php/role/get.role.details.php [QSA,L]
RewriteRule ^role/get/roles php/role/get.roles.php [QSA,L]
RewriteRule ^role/insert/role php/role/insert.role.php [QSA,L]
RewriteRule ^role/update/role php/role/update.role.php [QSA,L]

# Studies Section
RewriteRule ^study/get/patients-list php/study/get.patients.list.php [QSA,L]
RewriteRule ^study/get/research-patient php/study/get.research.patient.php [QSA,L]
RewriteRule ^study/get/study-details php/study/get.study.details.php [QSA,L]
RewriteRule ^study/get/studies php/study/get.studies.php [QSA,L]
RewriteRule ^study/insert/study php/study/insert.study.php [QSA,L]
RewriteRule ^study/update/study php/study/update.study.php [QSA,L]

# Template Question
RewriteRule ^template-question/delete/template-question php/questionnaire/delete.template.question.php [QSA,L]
RewriteRule ^template-question/get/template-question-list php/questionnaire/get.template_question_list.php [QSA,L]
RewriteRule ^template-question/get/template-question-details php/questionnaire/get.template_question_details.php [QSA,L]
RewriteRule ^template-question/get/templates-questions php/questionnaire/get.templates_questions.php [QSA,L]
RewriteRule ^template-question/insert/template-question php/questionnaire/insert.template_question.php [QSA,L]
RewriteRule ^template-question/update/template-question php/questionnaire/update.template.question.php [QSA,L]

# Test Result Section
RewriteRule ^test-result/delete/test-result php/test-result/delete.test_result.php [QSA,L]
RewriteRule ^test-result/get/get/educational-materials php/test-result/get.educational.materials.php [QSA,L]
RewriteRule ^test-result/get/test-names php/test-result/get.test_names.php [QSA,L]
# RewriteRule ^test-result/get/test-result-chart-logs php/test-result/get.test_result_chart_logs.php [QSA,L]
RewriteRule ^test-result/get/test-result-details php/test-result/get.test_result_details.php [QSA,L]
RewriteRule ^test-result/get/test-result-groups php/test-result/get.test_result_groups.php [QSA,L]
# RewriteRule ^test-result/get/test-result-list-logs php/test-result/get.test_result_list_logs.php [QSA,L]
RewriteRule ^test-result/get/test-results php/test-result/get.test_results.php [QSA,L]
RewriteRule ^test-result/insert/test-result php/test-result/insert.test_result.php [QSA,L]
RewriteRule ^test-result/update/test-result-publish-flags php/test-result/update.test_result_publish_flags.php [QSA,L]
RewriteRule ^test-result/update/test-result php/test-result/update.test_result.php [QSA,L]

# Trigger Section
RewriteRule ^trigger/execute/questionnaire-triggers php/trigger/executeQuestionnaireTriggers.php

# User Section
RewriteRule ^user/delete/user php/user/delete.user.php [QSA,L]
RewriteRule ^user/get/roles php/user/get.roles.php [QSA,L]
RewriteRule ^user/get/user-activity-logs php/user/get.user_activity_logs.php [QSA,L]
RewriteRule ^user/get/user-details php/user/get.user_details.php [QSA,L]
RewriteRule ^user/get/users php/user/get.users.php [QSA,L]
RewriteRule ^user/insert/user php/user/insert.user.php [QSA,L]
RewriteRule ^user/login-registration php/user/user.login.registration.php [QSA,L]
RewriteRule ^user/logout php/user/logout.php [QSA,L]
RewriteRule ^user/system-login php/user/system.user.login.php [QSA,L]
RewriteRule ^user/update/language php/user/update.language.php [QSA,L]
RewriteRule ^user/update/password php/user/update.password.php [QSA,L]
RewriteRule ^user/update/user php/user/update.user.php [QSA,L]
RewriteRule ^user/username-in-use php/user/username_in_use.php [QSA,L]
RewriteRule ^user/validate-login php/user/user.login.php [QSA,L]
