#
# Apache/PHP settings:
#
php_value max_input_vars 1000000
php_value post_max_size 1024M
php_value upload_max_filesize 1024M

# Protect files and directories from prying eyes.
<FilesMatch "\.(engine|inc|info|install|make|module|profile|test|po|sh|.*sql|theme|tpl(\.php)?|xtmpl)(~|\.sw[op]|\.bak|\.orig|\.save)?$|^(\..*|Entries.*|Repository|Root|Tag|Template|composer\.(json|lock))$|^#.*#$|\.php(~|\.sw[op]|\.bak|\.orig\.save)$">
  Order allow,deny
</FilesMatch>

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Follow symbolic links in this directory.
Options +FollowSymLinks

# Requires mod_expires to be enabled.
<IfModule mod_expires.c>
  # Enable expirations.
  ExpiresActive On

  # Cache all files for 2 weeks after access (A).
  ExpiresDefault A1209600

  <FilesMatch \.php$>
    # Do not allow PHP scripts to be cached unless they explicitly send cache
    # headers themselves. Otherwise all scripts would have to overwrite the
    # headers set by mod_expires if they want another caching behavior. This may
    # fail if an error occurs early in the bootstrap process, and it may cause
    # problems if a PHP file is installed in a subdirectory.
    ExpiresActive Off
  </FilesMatch>
</IfModule>

# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on
  # Block access to "hidden" directories whose names begin with a period. This
  # includes directories used by version control systems such as Subversion or
  # Git to store control files. Files whose names begin with a period, as well
  # as the control files used by CVS, are protected by the FilesMatch directive
  # above.
  #
  # NOTE: This only works when mod_rewrite is loaded. Without mod_rewrite, it is
  # not possible to block access to entire directories from .htaccess, because
  # <DirectoryMatch> is not allowed here.
  #
  # If you do not have mod_rewrite installed, you should remove these
  # directories from your webroot or otherwise protect them from being
  # downloaded.
  RewriteRule "(^|/)\." - [F]
</IfModule>

# Add headers to all responses.
<IfModule mod_headers.c>
  # Disable content sniffing, since it's an attack vector.
  # Header always set X-Content-Type-Options nosniff
</IfModule>

# Disallow script execution
Options -ExecCGI
AddHandler cgi-script .php .pl .py .jsp .asp .htm .shtml .sh .cgi

# Show CGI Source Code
RemoveHandler cgi-script .pl .py .cgi
AddType text/plain .pl .py .cgi

# Accesses to the OpalAdmin API
RewriteRule ^alias/get/alias-chart-logs api/alias/get.alias_chart_logs.php [QSA,L]
RewriteRule ^alias/get/alias-details api/alias/get.alias_details.php [QSA,L]
RewriteRule ^alias/get/alias-list-logs api/alias/get.alias_list_logs.php [QSA,L]
RewriteRule ^alias/get/aliases api/alias/get.aliases.php [QSA,L]
RewriteRule ^alias/get/color-tags api/alias/get.color_tags.php [QSA,L]
RewriteRule ^alias/get/expressions api/alias/get.expressions.php [QSA,L]
RewriteRule ^alias/get/source-databases api/alias/get.source_databases.php [QSA,L]
RewriteRule ^application/get/application-build api/application/get.application_build.php [QSA,L]
RewriteRule ^application/get/config config.json [QSA,L]
RewriteRule ^application/get/source-databases api/application/get.source_databases.php [QSA,L]
RewriteRule ^cron/get/cron-chart-logs api/cron/get.cron_chart_logs.php [QSA,L]
RewriteRule ^cron/get/cron-details api/cron/get.cron_details.php [QSA,L]
RewriteRule ^cron/get/cron-list-logs api/cron/get.cron_list_logs.php [QSA,L]
RewriteRule ^diagnosis-translation/get/diagnoses api/diagnosis-translation/get.diagnoses.php [QSA,L]
RewriteRule ^diagnosis-translation/get/diagnosis-translation-details api/diagnosis-translation/get.diagnosis_translation_details.php [QSA,L]
RewriteRule ^diagnosis-translation/get/diagnosis-translations api/diagnosis-translation/get.diagnosis_translations.php [QSA,L]
RewriteRule ^educational-material/get/educational-material-chart-logs api/educational-material/get.educational_material_chart_logs.php [QSA,L]
RewriteRule ^educational-material/get/educational-material-details api/educational-material/get.educational_material_details.php [QSA,L]
RewriteRule ^educational-material/get/educational-material-list-logs api/educational-material/get.educational_material_list_logs.php [QSA,L]
RewriteRule ^educational-material/get/educational-material-parents api/educational-material/get.educational_material_parents.php [QSA,L]
RewriteRule ^educational-material/get/educational-material-types api/educational-material/get.educational_material_types.php [QSA,L]
RewriteRule ^educational-material/get/educational-materials api/educational-material/get.educational_materials.php [QSA,L]
RewriteRule ^educational-material/get/phases-in-treatment api/educational-material/get.phases_in_treatment.php [QSA,L]
RewriteRule ^email/get/email-chart-logs api/email/get.email_chart_logs.php [QSA,L]
RewriteRule ^email/get/email-details api/email/get.email_details.php [QSA,L]
RewriteRule ^email/get/email-list-logs api/email/get.email_list_logs.php [QSA,L]
RewriteRule ^email/get/email-templates api/email/get.email_templates.php [QSA,L]
RewriteRule ^email/get/email-types api/email/get.email_types.php [QSA,L]
RewriteRule ^filter/get/filters api/filter/get.filters.php [QSA,L]
RewriteRule ^hospital-map/generate-qr-code api/hospital-map/generate_QR_code.php [QSA,L]
RewriteRule ^hospital-map/get/hospital-map-details api/hospital-map/get.hospital_map_details.php [QSA,L]
RewriteRule ^hospital-map/get/hospital-maps api/hospital-map/get.hospital_maps.php [QSA,L]
RewriteRule ^legacy-questionnaire/get/legacy-questionnaire-chart-logs api/legacy-questionnaire/get.legacy_questionnaire_chart_logs.php [QSA,L]
RewriteRule ^legacy-questionnaire/get/legacy-questionnaire-details api/legacy-questionnaire/get.legacy_questionnaire_details.php [QSA,L]
RewriteRule ^legacy-questionnaire/get/legacy-questionnaire-expressions api/legacy-questionnaire/get.legacy_questionnaire_expressions.php [QSA,L]
RewriteRule ^legacy-questionnaire/get/legacy-questionnaire-list-logs api/legacy-questionnaire/get.legacy_questionnaire_list_logs.php [QSA,L]
RewriteRule ^legacy-questionnaire/get/legacy-questionnaires api/legacy-questionnaire/get.legacy_questionnaires.php [QSA,L]
RewriteRule ^legacy-questionnaire/get/legacy-questionnaires api/notification/get.notification_chart_logs.php [QSA,L]
RewriteRule ^notification/get/notification-chart-logs api/notification/get.notification_chart_logs.php [QSA,L]
RewriteRule ^notification/get/notification-details api/notification/get.notification_details.php [QSA,L]
RewriteRule ^notification/get/notification-list-logs api/notification/get.notification_list_logs.php [QSA,L]
RewriteRule ^notification/get/notification-types api/notification/get.notification_types.php [QSA,L]
RewriteRule ^notification/get/notifications api/notification/get.notifications.php [QSA,L]
RewriteRule ^patient/email-in-use api/patient/email_in_use.php [QSA,L]
RewriteRule ^patient/find-patient api/patient/find_patient.php [QSA,L]
RewriteRule ^patient/get/patient-activities api/patient/get.patient_activities.php [QSA,L]
RewriteRule ^patient/get/patient-details api/patient/get.patient_details.php [QSA,L]
RewriteRule ^patient/get/patients api/patient/get.patients.php [QSA,L]
RewriteRule ^patient/get/security-questions api/patient/get.security_questions.php [QSA,L]