#
# Apache/PHP settings:
#
php_value max_input_vars 1000000
php_value post_max_size 1024M
php_value upload_max_filesize 1024M

# Protect files and directories from prying eyes.
<FilesMatch "\.(engine|inc|info|install|make|module|profile|test|po|sh|.*sql|theme|tpl(\.php)?|xtmpl)(~|\.sw[op]|\.bak|\.orig|\.save)?$|^(\..*|Entries.*|Repository|Root|Tag|Template|composer\.(json|lock))$|^#.*#$|\.php(~|\.sw[op]|\.bak|\.orig\.save)$">
  Order allow,deny
</FilesMatch>

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Follow symbolic links in this directory.
Options +FollowSymLinks

# Requires mod_expires to be enabled.
<IfModule mod_expires.c>
  # Enable expirations.
  ExpiresActive On

  # Cache all files for 2 weeks after access (A).
  ExpiresDefault A1209600

  <FilesMatch \.php$>
    # Do not allow PHP scripts to be cached unless they explicitly send cache
    # headers themselves. Otherwise all scripts would have to overwrite the
    # headers set by mod_expires if they want another caching behavior. This may
    # fail if an error occurs early in the bootstrap process, and it may cause
    # problems if a PHP file is installed in a subdirectory.
    ExpiresActive Off
  </FilesMatch>
</IfModule>

# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on
  # Block access to "hidden" directories whose names begin with a period. This
  # includes directories used by version control systems such as Subversion or
  # Git to store control files. Files whose names begin with a period, as well
  # as the control files used by CVS, are protected by the FilesMatch directive
  # above.
  #
  # NOTE: This only works when mod_rewrite is loaded. Without mod_rewrite, it is
  # not possible to block access to entire directories from .htaccess, because
  # <DirectoryMatch> is not allowed here.
  #
  # If you do not have mod_rewrite installed, you should remove these
  # directories from your webroot or otherwise protect them from being
  # downloaded.
  RewriteRule "(^|/)\." - [F]
</IfModule>

# Add headers to all responses.
<IfModule mod_headers.c>
  # Disable content sniffing, since it's an attack vector.
  # Header always set X-Content-Type-Options nosniff
</IfModule>

# Disallow script execution
Options -ExecCGI
AddHandler cgi-script .php .pl .py .jsp .asp .htm .shtml .sh .cgi

# Show CGI Source Code
RemoveHandler cgi-script .pl .py .cgi
AddType text/plain .pl .py .cgi

# Accesses to the OpalAdmin API

# Tasks/Appts/Docs Section (Alias)
RewriteRule ^alias/delete/alias php/alias/delete.alias.php [QSA,L]
RewriteRule ^alias/get/alias-chart-logs api/alias/get.alias_chart_logs.php [QSA,L]
RewriteRule ^alias/get/alias-details api/alias/get.alias_details.php [QSA,L]
RewriteRule ^alias/get/alias-list-logs api/alias/get.alias_list_logs.php [QSA,L]
RewriteRule ^alias/get/aliases api/alias/get.aliases.php [QSA,L]
RewriteRule ^alias/get/color-tags api/alias/get.color_tags.php [QSA,L]
RewriteRule ^alias/get/expressions api/alias/get.expressions.php [QSA,L]
RewriteRule ^alias/get/source-databases api/alias/get.source_databases.php [QSA,L]
RewriteRule ^alias/insert/alias php/alias/insert.alias.php [QSA,L]
RewriteRule ^alias/update/alias php/alias/update.alias.php [QSA,L]
RewriteRule ^alias/update/publish-flags php/alias/update.alias_publish_flags.php [QSA,L]

# Application
RewriteRule ^application/get/application-build api/application/get.application_build.php [QSA,L]
RewriteRule ^application/get/config config.json [QSA,L]
RewriteRule ^application/get/source-databases api/application/get.source_databases.php [QSA,L]
RewriteRule ^application/update/source-databases php/application/update.source_databases.php [QSA,L]

# Cron Logs Section
RewriteRule ^cron/get/cron-chart-logs api/cron/get.cron_chart_logs.php [QSA,L]
RewriteRule ^cron/get/cron-details api/cron/get.cron_details.php [QSA,L]
RewriteRule ^cron/get/cron-list-logs api/cron/get.cron_list_logs.php [QSA,L]
RewriteRule ^cron/update/cron php/cron/update.cron.php [QSA,L]

# Diagnosis Translation Section
RewriteRule ^diagnosis-translation/delete/diagnosis-translation php/diagnosis-translation/delete.diagnosis_translation.php [QSA,L]
RewriteRule ^diagnosis-translation/get/diagnosis-translation-details api/diagnosis-translation/get.diagnosis_translation_details.php [QSA,L]
RewriteRule ^diagnosis-translation/get/diagnosis-translations api/diagnosis-translation/get.diagnosis_translations.php [QSA,L]
RewriteRule ^diagnosis-translation/get/diagnoses api/diagnosis-translation/get.diagnoses.php [QSA,L]
RewriteRule ^diagnosis-translation/insert/diagnosis-translation php/diagnosis-translation/insert.diagnosis_translation.php [QSA,L]
RewriteRule ^diagnosis-translation/update/diagnosis-translation php/diagnosis-translation/update.diagnosis_translation.php [QSA,L]

# Educational Material Section
RewriteRule ^educational-material/delete/educational-material php/educational-material/delete.educational_material.php [QSA,L]
RewriteRule ^educational-material/get/educational-material-chart-logs api/educational-material/get.educational_material_chart_logs.php [QSA,L]
RewriteRule ^educational-material/get/educational-material-details api/educational-material/get.educational_material_details.php [QSA,L]
RewriteRule ^educational-material/get/educational-material-list-logs api/educational-material/get.educational_material_list_logs.php [QSA,L]
RewriteRule ^educational-material/get/educational-material-parents api/educational-material/get.educational_material_parents.php [QSA,L]
RewriteRule ^educational-material/get/educational-material-types api/educational-material/get.educational_material_types.php [QSA,L]
RewriteRule ^educational-material/get/educational-materials api/educational-material/get.educational_materials.php [QSA,L]
RewriteRule ^educational-material/get/phases-in-treatment api/educational-material/get.phases_in_treatment.php [QSA,L]
RewriteRule ^educational-material/insert/educational-material php/educational-material/insert.educational_material.php [QSA,L]
RewriteRule ^educational-material/update/educational-material-publish-flags php/educational-material/update.educational_material_publish_flags.php [QSA,L]
RewriteRule ^educational-material/update/educational-material php/educational-material/update.educational_material.php [QSA,L]

# Email Section
RewriteRule ^email/delete/email php/email/delete.email.php [QSA,L]
RewriteRule ^email/get/email-chart-logs api/email/get.email_chart_logs.php [QSA,L]
RewriteRule ^email/get/email-details api/email/get.email_details.php [QSA,L]
RewriteRule ^email/get/email-list-logs api/email/get.email_list_logs.php [QSA,L]
RewriteRule ^email/get/email-templates api/email/get.email_templates.php [QSA,L]
RewriteRule ^email/get/email-types api/email/get.email_types.php [QSA,L]
RewriteRule ^email/insert/email php/email/insert.email.php [QSA,L]
RewriteRule ^email/update/email php/email/update.email.php [QSA,L]

# Filters
RewriteRule ^filter/get/filters api/filter/get.filters.php [QSA,L]

# Hospital Map Section
RewriteRule ^hospital-map/delete/hospital-map php/hospital-map/delete.hospital_map.php [QSA,L]
RewriteRule ^hospital-map/generate-qr-code api/hospital-map/generate_QR_code.php [QSA,L]
RewriteRule ^hospital-map/get/hospital-map-details api/hospital-map/get.hospital_map_details.php [QSA,L]
RewriteRule ^hospital-map/get/hospital-maps api/hospital-map/get.hospital_maps.php [QSA,L]
RewriteRule ^hospital-map/insert/hospital-map php/hospital-map/insert.hospital_map.php [QSA,L]
RewriteRule ^hospital-map/update/hospital-map php/hospital-map/update.hospital_map.php [QSA,L]

# Installation
RewriteRule ^install/check-aria-connection php/install/check_aria_connection.php [QSA,L]
RewriteRule ^install/check-mosaiq-connection php/install/check_mosaiq_connection.php [QSA,L]
RewriteRule ^install/check-opal-connection php/install/check_opal_connection.php [QSA,L]
RewriteRule ^install/write-configurations php/install/write_configurations.php [QSA,L]
RewriteRule ^install/register-admin php/install/register_admin.php [QSA,L]

# Legacy Questionnaire Section
RewriteRule ^legacy-questionnaire/delete/legacy-questionnaire php/legacy-questionnaire/delete.legacy_questionnaire.php [QSA,L]
RewriteRule ^legacy-questionnaire/get/legacy-questionnaire-chart-logs api/legacy-questionnaire/get.legacy_questionnaire_chart_logs.php [QSA,L]
RewriteRule ^legacy-questionnaire/get/legacy-questionnaire-details api/legacy-questionnaire/get.legacy_questionnaire_details.php [QSA,L]
RewriteRule ^legacy-questionnaire/get/legacy-questionnaire-expressions api/legacy-questionnaire/get.legacy_questionnaire_expressions.php [QSA,L]
RewriteRule ^legacy-questionnaire/get/legacy-questionnaire-list-logs api/legacy-questionnaire/get.legacy_questionnaire_list_logs.php [QSA,L]
RewriteRule ^legacy-questionnaire/get/legacy-questionnaires api/legacy-questionnaire/get.legacy_questionnaires.php [QSA,L]
RewriteRule ^legacy-questionnaire/insert/legacy-questionnaire php/legacy-questionnaire/insert.legacy_questionnaire.php [QSA,L]
RewriteRule ^legacy-questionnaire/update/legacy-questionnaire-publish-flags php/legacy-questionnaire/update.legacy_questionnaire_publish_flags.php [QSA,L]
RewriteRule ^legacy-questionnaire/update/legacy-questionnaire php/legacy-questionnaire/update.legacy_questionnaire.php [QSA,L]

# Notification Section
RewriteRule ^notification/delete/notification php/notification/delete.notification.php [QSA,L]
RewriteRule ^notification/get/notification-chart-logs api/notification/get.notification_chart_logs.php [QSA,L]
RewriteRule ^notification/get/notification-details api/notification/get.notification_details.php [QSA,L]
RewriteRule ^notification/get/notification-list-logs api/notification/get.notification_list_logs.php [QSA,L]
RewriteRule ^notification/get/notification-types api/notification/get.notification_types.php [QSA,L]
RewriteRule ^notification/get/notifications api/notification/get.notifications.php [QSA,L]
RewriteRule ^notification/insert/notification php/notification/insert.notification.php [QSA,L]
RewriteRule ^notification/update/notification php/notification/update.notification.php [QSA,L]

# Patient Section
RewriteRule ^patient/email-in-use api/patient/email_in_use.php [QSA,L]
RewriteRule ^patient/find-patient api/patient/find_patient.php [QSA,L]
RewriteRule ^patient/get/patient-activities api/patient/get.patient_activities.php [QSA,L]
RewriteRule ^patient/get/patient-details api/patient/get.patient_details.php [QSA,L]
RewriteRule ^patient/get/patients api/patient/get.patients.php [QSA,L]
RewriteRule ^patient/get/security-questions api/patient/get.security_questions.php [QSA,L]
RewriteRule ^patient/insert/patient php/patient/insert.patient.php [QSA,L]
RewriteRule ^patient/toggle/block php/patient/toggle_block.php [QSA,L]
RewriteRule ^patient/update/patient-publish-flags php/patient/update.patient_publish_flags.php [QSA,L]
RewriteRule ^patient/update/patient php/patient/update.patient.php [QSA,L]

# Post Section
RewriteRule ^post/delete/post php/post/delete.post.php [QSA,L]
RewriteRule ^post/get/post-chart-logs api/post/get.post_chart_logs.php [QSA,L]
RewriteRule ^post/get/post-details api/post/get.post_details.php [QSA,L]
RewriteRule ^post/get/post-list-logs api/post/get.post_list_logs.php [QSA,L]
RewriteRule ^post/get/posts api/post/get.posts.php [QSA,L]
RewriteRule ^post/insert/post php/post/insert.post.php [QSA,L]
RewriteRule ^post/update/post-publish-flags php/post/update.post_publish_flags.php [QSA,L]
RewriteRule ^post/update/post php/post/update.post.php [QSA,L]

# Question Section
RewriteRule ^question/delete/question php/questionnaire/delete.question.php [QSA,L]
RewriteRule ^question/insert/question php/questionnaire/insert.question.php [QSA,L]
RewriteRule ^question/get/question-details api/questionnaire/get.question_details.php [QSA,L]
RewriteRule ^question/get/questions api/questionnaire/get.questions.php [QSA,L]
RewriteRule ^question/update/question php/questionnaire/update.question.php [QSA,L]

# Questionnaire Section
RewriteRule ^questionnaire/delete/questionnaire php/questionnaire/delete.questionnaire.php [QSA,L]
RewriteRule ^questionnaire/get/finalized-questions api/questionnaire/get.finalizedQuestions.php [QSA,L]
RewriteRule ^questionnaire/get/questionnaires api/questionnaire/get.questionnaires.php [QSA,L]
RewriteRule ^questionnaire/get/questionnaire-details api/questionnaire/get.questionnaire_details.php [QSA,L]
RewriteRule ^questionnaire/insert/questionnaire php/questionnaire/insert.questionnaire.php [QSA,L]
RewriteRule ^questionnaire/update/questionnaire php/questionnaire/update.questionnaire.php [QSA,L]

# Publication Tool Section
RewriteRule ^publication-tool/update/published-questionnaire-publish-flag php/questionnaire/update.questionnaire_publish_flag.php [QSA,L]
RewriteRule ^publication-tool/update/published-questionnaire php/questionnaire/update.published_questionnaire.php [QSA,L]
RewriteRule ^publication-tool/get/finalized-questionnaires api/questionnaire/get.finalizedQuestionnaires.php [QSA,L]
RewriteRule ^publication-tool/get/published-questionnaire-details api/questionnaire/get.published_questionnaires_details.php [QSA,L]
RewriteRule ^publication-tool/get/published-questionnaires api/questionnaire/get.published_questionnaires.php [QSA,L]
RewriteRule ^publication-tool/insert/published-questionnaire php/questionnaire/insert.published_questionnaire.php [QSA,L]

# Publication Section
RewriteRule ^publication/update/publish-flag php/publication/update.publish.flag.php [QSA,L]
RewriteRule ^publication/update/publication php/publication/update.publication.php [QSA,L]
RewriteRule ^publication/get/publication-details api/publication/get.publications_details.php [QSA,L]
RewriteRule ^publication/get/publications api/publication/get.publications.php [QSA,L]
RewriteRule ^publication/get/publication-modules api/publication/get.publication.modules.php [QSA,L]
RewriteRule ^publication/insert/publication php/publication/insert.publication.php [QSA,L]

# Library Section
RewriteRule ^library/get/libraries api/questionnaire/get.libraries.php [QSA,L]
RewriteRule ^library/insert/library php/questionnaire/insert.library.php [QSA,L]

# Template Question
RewriteRule ^template-question/delete/template-question php/questionnaire/delete.template.question.php [QSA,L]
RewriteRule ^template-question/get/template-question-list api/questionnaire/get.template_question_list.php [QSA,L]
RewriteRule ^template-question/get/template-question-details api/questionnaire/get.template_question_details.php [QSA,L]
RewriteRule ^template-question/get/templates-questions api/questionnaire/get.templates_questions.php [QSA,L]
RewriteRule ^template-question/insert/template-question php/questionnaire/insert.template_question.php [QSA,L]
RewriteRule ^template-question/update/template-question php/questionnaire/update.template.question.php [QSA,L]

# Test Result Section
RewriteRule ^test-result/delete/test-result php/test-result/delete.test_result.php [QSA,L]
RewriteRule ^test-result/get/test-names api/test-result/get.test_names.php [QSA,L]
RewriteRule ^test-result/get/test-result-chart-logs api/test-result/get.test_result_chart_logs.php [QSA,L]
RewriteRule ^test-result/get/test-result-details api/test-result/get.test_result_details.php [QSA,L]
RewriteRule ^test-result/get/test-result-groups api/test-result/get.test_result_groups.php [QSA,L]
RewriteRule ^test-result/get/test-result-list-logs api/test-result/get.test_result_list_logs.php [QSA,L]
RewriteRule ^test-result/get/test-results api/test-result/get.test_results.php [QSA,L]
RewriteRule ^test-result/insert/test-result php/test-result/insert.test_result.php [QSA,L]
RewriteRule ^test-result/update/test-result-publish-flags php/test-result/update.test_result_publish_flags.php [QSA,L]
RewriteRule ^test-result/update/test-result php/test-result/update.test_result.php [QSA,L]

# User Section
RewriteRule ^user/delete/user php/user/delete.user.php [QSA,L]
RewriteRule ^user/get/roles api/user/get.roles.php [QSA,L]
RewriteRule ^user/get/user-activity-logs api/user/get.user_activity_logs.php [QSA,L]
RewriteRule ^user/get/user-details api/user/get.user_details.php [QSA,L]
RewriteRule ^user/get/users api/user/get.users.php [QSA,L]
RewriteRule ^user/insert/user php/user/insert.user.php [QSA,L]
RewriteRule ^user/logout php/user/logout.php [QSA,L]
RewriteRule ^user/update/language php/user/update.language.php [QSA,L]
RewriteRule ^user/update/password php/user/update.password.php [QSA,L]
RewriteRule ^user/update/user php/user/update.user.php [QSA,L]
RewriteRule ^user/username-in-use api/user/username_in_use.php [QSA,L]
RewriteRule ^user/validate-login php/user/validate_login.php [QSA,L]