<div id="main">
    <div id="top">
        <div class="row">           
            <!-- Load side menu -->
            <div id="side-panel-scrollbar" class="col-lg-2">
                <div ng-include="'templates/patient/menu-side.html'"></div>
            </div>

                    
            <div class="modal-header">
                <div class="col-xs-12 col-md-6">
                <h2 class="modal-title">
                    <span class="glyphicon glyphicon-pencil"></span> 
                    {{'PATIENTREPORT.GROUP.TITLE'|translate}}
                </h2>
                </div>
            </div>

            <div class="modal-body" style="width:80%; float:right;">

                <div id="GroupReport">

                        <p>{{'PATIENTREPORT.GROUP.PSELECT'|translate}}</p>
                        <label><input type="checkbox" ng-model="category.education" ng-change="category.questionnaire = false; category.demographics = false;"> {{'PATIENTREPORT.GROUP.TITLE_EDUC'|translate}} </label>
                        <br>
                        <label><input type="checkbox" ng-model="category.questionnaire" ng-change="category.education = false; category.demographics = false; genQuestionnaireOptions();"> {{'PATIENTREPORT.GROUP.TITLE_QST'|translate}} </label>
                        <br>
                        <label><input type="checkbox" ng-model="category.demographics" ng-change="category.education = false; category.questionnaire = false; genPatientReport();"> {{'PATIENTREPORT.GROUP.TITLE_DEMO'|translate}} </label>
                        <br>

                        <div ng-show="category.education" class="panel-container">
                            <center>
                                <h2>{{'PATIENTREPORT.GROUP.TITLE_EDUC'|translate}} {{'PATIENTREPORT.GROUP.TAIL'|translate}} </h2>
                            </center>

                            <label>
                                {{'PATIENTREPORT.GROUP.EDUC_TYPE'|translate}}
                                <select ng-model="materialType" ng-options="x for x in materialTypes"
                                        ng-change="genEducationMaterialOptions()"></select>
                            </label>


                            <br>
                            <label ng-show="displayMaterialList">
                                {{'PATIENTREPORT.GROUP.ALL'|translate}} {{materialType}} {{'PATIENTREPORT.GROUP.FOUND'|translate}} <select ng-model="selectedMaterial" ng-options="x for x in educList" ng-change="genEducReport(); showEducReport = true;" style="max-width:200px;"></select>
                            </label>
                            <div ng-show="showEducReport">
                                <div class="panel-info">
                                    <div class="panel-input"> 
                                        <h2 style="text-align:left;"> {{'PATIENTREPORT.GROUP.STATS'|translate}} </h2>
                                        <table style="text-align:left; border:1px dotted rgb(36, 21, 32); border-collapse: collapse;">
                                            <tr>
                                                <td style="font-weight:bold;">{{'PATIENTREPORT.GROUP.MF'|translate}}</td>
                                                <td>{{educFemPcnt}}% / {{educMalPcnt}}% / {{educUnkPcnt}}% </td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bold;">{{'PATIENTREPORT.GROUP.AVAGE'|translate}}</td>
                                                <td>{{educAvgAge}} {{'PATIENTREPORT.GROUP.YR'|translate}}</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bold;">{{'PATIENTREPORT.GROUP.READ'|translate}}</td>
                                                <td>{{educReadPcnt}}%</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bold;">{{'PATIENTREPORT.GROUP.AVTIME'|translate}}</td>
                                                <td>{{educAvgDaysToRead}} {{'PATIENTREPORT.GROUP.DY'|translate}}</td>
                                            </tr>
                                        </table>
                                        <h3 style="text-align:left;"> {{'PATIENTREPORT.GROUP.REPORT'|translate}} {{materialType}}: {{selectedMaterial}}, {{educReportLength}} {{'PATIENTREPORT.GROUP.RECORDS'|translate}}</h3>
                                        <!-- Load main table -->
                                        <div class="gridStyle" ui-grid="educGridOptions" ui-grid-resize-columns style="height:75vh; width:75vw;"></div>
                                    </div>
                                </div> 

                            </div>
                        </div>

                        <div ng-show="category.questionnaire" class="panel-container">
                            <center>
                                <h2> {{'PATIENTREPORT.GROUP.TITLE_QST'|translate}} {{'PATIENTREPORT.GROUP.TAIL'|translate}} </h2>
                            </center>
                            <label>
                                {{'PATIENTREPORT.GROUP.QST_CHOOSE'|translate}}
                                <select ng-model="selectedQuestionnaire" ng-options="x for x in qstList"
                                        ng-change="genQstReport(); showQstReport = true;"></select>
                            </label>

                            <div ng-show="showQstReport" class="panel-info">
                                <div class="panel-input">
                                    <h2 style="text-align:left;">{{'PATIENTREPORT.GROUP.STATS'|translate}}</h2>
                                    <table style="text-align:left; border:1px dotted rgb(36, 21, 32); border-collapse: collapse;">
                                        <tr>
                                            <td style="font-weight:bold;">{{'PATIENTREPORT.GROUP.MF'|translate}}</td>
                                            <td>{{qstPcntFemale}}% / {{qstPcntMale}}% / {{qstPcntUnk}}% </td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold;">{{'PATIENTREPORT.GROUP.UNIQUE'|translate}}</td>
                                            <td>{{qstUniquePats}}</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold;">{{'PATIENTREPORT.GROUP.AVAGE'|translate}}</td>
                                            <td>{{qstAvgAge}} {{'PATIENTREPORT.GROUP.YR'|translate}}</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold;">{{'PATIENTREPORT.GROUP.PCNT_COMPLETE'|translate}}</td>
                                            <td>{{qstPcntCompleted}}% </td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold;">{{'PATIENTREPORT.GROUP.AVTIME'|translate}}</td>
                                            <td>{{qstAvgCompletTime}} {{'PATIENTREPORT.GROUP.DY'|translate}}</td>
                                        </tr>
                                    </table>
                                    <h3 style="text-align: left;"> {{'PATIENTREPORT.GROUP.REPORT'|translate}} {{selectedQuestionnaire}}, {{qstReportLength}} {{'PATIENTREPORT.GROUP.RECORDS'|translate}}</h3>
                                    <!-- Load main table -->
                                    <div class="gridStyle" ui-grid="qstGridOptions" ui-grid-resize-columns style="height:75vh; width:75vw;"></div>
                            
                                </div>                
                            </div>
                        </div>


                        <div ng-show="category.demographics" class="panel-container">
                            <div class="panel-info">
                                <center>
                                    <h2> {{'PATIENTREPORT.GROUP.TITLE_DEMO'|translate}} {{'PATIENTREPORT.GROUP.TAIL'|translate}}</h2>
                                </center>
                                <div class="panel-input">
                                    <h2 style="text-align:left;"> {{'PATIENTREPORT.GROUP.STATS'|translate}} </h2>
                                    <table style="text-align:left; border:1px dotted rgb(36, 21, 32); border-collapse: collapse;">
                                        <tr>
                                            <td style="font-weight:bold;">{{'PATIENTREPORT.GROUP.MF'|translate}}</td>
                                            <td>{{demoPcntFemale}}% / {{demoPcntMale}}% / {{demoPcntUnk}}%</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold;">{{'PATIENTREPORT.GROUP.AVAGE'|translate}}</td>
                                            <td>{{demoAvgAge}} {{'PATIENTREPORT.GROUP.YR'|translate}}</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold;">{{'PATIENTREPORT.GROUP.FE'|translate}}</td>
                                            <td>{{demoPcntFrench}}% / {{demoPcntEnglish}}%</td>
                                        </tr>
                                    </table>

                                    <div id="plot1" style="width:65vw;"></div>


                                    <h3 style="text-align:left;">{{'PATIENTREPORT.GROUP.REPORT'|translate}} {{'PATIENTREPORT.GROUP.TITLE_DEMO'|translate}}, {{patientReportLength}} {{'PATIENTREPORT.GROUP.RECORDS'|translate}}</h3>
                                    <!-- Load main table -->
                                    <div class="gridStyle" ui-grid="demoGridOptions" ui-grid-resize-columns style="height:75vh; width:75vw;"></div>
                                
                                </div>
                            
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
