<!-- Modal title -->
<div class="modal-header">
    <div class="col-xs-12 col-md-6">
        <h2 class="modal-title">
            <span class="glyphicon glyphicon-pencil"></span>
            {{'PUBLICATION.EDIT.TITLE'|translate}}
        </h2>
    </div>
    <div class="modal-buttons col-xs-12 col-md-6">
        <span>
            <form method="post" ng-submit="updatePublication()">
                <input class="btn btn-primary submit" ng-class="{'disabled': (!formReady || !changesDetected)}" type="submit" value="{{'PUBLICATION.EDIT.SAVE'|translate}}">
                <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="{{'PUBLICATION.EDIT.CANCEL'|translate}}">
            </form>
        </span>
    </div>
</div>
<div class="modal-body">
    <uib-accordion close-others="false">
        <!-- SECTION: General infos -->
        <div uib-accordion-group is-open="generalSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'PUBLICATION.EDIT.GENERAL'|translate}} </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': generalSection.open, 'glyphicon-chevron-right': !generalSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="row">
                <div class="col-xs-12">
                    <label><strong>{{'PUBLICATION.EDIT.NAME'|translate}}</strong></label> : {{generalInfo.name}}
                </div>
                <div class="col-xs-12">
                    <label><strong>{{'PUBLICATION.EDIT.MODULE'|translate}}</strong></label> : {{generalInfo.module}}
                </div>
                <div class="col-xs-12">
                    <label><strong>{{'PUBLICATION.EDIT.DESCRIPTION'|translate}}</strong></label> : {{generalInfo.description}}
                </div>
            </div>
        </div>
        <!-- SECTION: Titles -->
        <div ng-if="title.available" uib-accordion-group is-open="titleSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'PUBLICATION.EDIT.TITLES'|translate}} </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': titleSection.open, 'glyphicon-chevron-right': !titleSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">{{'PUBLICATION.EDIT.ENGLISH_TITLE'|translate}}</span>
                        <textarea class="form-control" rows="1" ng-model="toSubmit.name.name_EN" ng-change="nameUpdate()" placeholder="{{'PUBLICATION.EDIT.PLACEHOLDER_ENGLISH_TITLE'|translate}}"></textarea>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">{{'PUBLICATION.EDIT.FRENCH_TITLE'|translate}}</span>
                        <textarea class="form-control" rows="1" ng-model="toSubmit.name.name_FR" ng-change="nameUpdate()" placeholder="{{'PUBLICATION.EDIT.PLACEHOLDER_FRENCH_TITLE'|translate}}"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!-- SECTION: Publish date -->
        <div ng-if="publishDate.available" uib-accordion-group is-open="publishDateSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'PUBLICATION.EDIT.PUBLISH_DATE'|translate}} </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': publishDateSection.open, 'glyphicon-chevron-right': !publishDateSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="alert alert-info" role="alert">
                <strong>{{'PUBLICATION.EDIT.CURRENT_DATE'|translate}}</strong><br>
                <p>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                    <span ng-show="preview.display == 1">{{'PUBLICATION.EDIT.NONE'|translate}}</span>
                    <span ng-show="preview.display == 2">{{preview.publish_date | date:'yyyy-MM-dd'}} {{'PUBLICATION.EDIT.AT'|translate}} {{preview.publish_time | date:'HH:mm'}}</span>
                    <span ng-show="preview.display == 3">
                        {{toSubmit.publishDateTime.publish_date | date:'yyyy-MM-dd'}} {{'PUBLICATION.EDIT.AT'|translate}} {{toSubmit.publishDateTime.publish_time | date:'HH:mm'}}
                    </span>
                </p>
            </div>
            <div class="row" ng-show="publishDateTimeActive">
                <div class="col-xs-12 col-sm-7 col-lg-6" style="padding-top: 10px;margin-bottom: 20px;">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="toSubmit.publishDateTime.publish_date" is-open="popup.opened" min="minDate" ng-change="detailsUpdated()" datepicker-options="dateOptions" ng-required="true" close-text="{{'DATEPICKER.CLOSE'|translate}}" current-text="{{'DATEPICKER.TODAY'|translate}}" clear-text="{{'DATEPICKER.RESET'|translate}}" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-5 col-lg-6" style="margin-top: -24px;">
                    <div>
                        <div uib-timepicker ng-change="detailsUpdated()" ng-model="toSubmit.publishDateTime.publish_time" minute-step="5" show-meridian="false"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SECTION: Publish Frequency -->
        <div ng-if="publishFrequencySection.available" uib-accordion-group is-open="frequencySection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'PUBLICATION.EDIT.FREQUENCY'|translate}} </strong><i
                        class="pull-right glyphicon"
                        ng-class="{'glyphicon-chevron-down': frequencySection.open, 'glyphicon-chevron-right': !frequencySection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="alert alert-info" role="alert">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <strong>{{'PUBLICATION.EDIT.REPEAT'|translate}}</strong><br/>
                        <p>
                            <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                            <span ng-if="!showFrequency">{{'PUBLICATION.EDIT.NA'|translate}}</span>
                            <span ng-if="frequencySelected.id != 'custom' && showFrequency">{{frequencySelected.name}}</span>
                            <span ng-if="frequencySelected.id == 'custom' && language == 'EN'">
                                Every
                                <span ng-if="customFrequency.meta_value != 1">{{customFrequency.meta_value}}</span>
                                {{customFrequency.unit.name}}
                                <span ng-if="selectedDaysInWeek.length">On {{selectedDaysInWeekText}}</span>
                                <span ng-if="selectedMonthsInYear.length">in {{selectedMonthsInYearText}} </span>
                                <span ng-if="selectedDatesInMonth.length">on the {{selectedDatesInMonthText}} of
                                    <span ng-if="selectedMonthsInYear.length > 1">each</span>
                                    <span ng-if="selectedMonthsInYear.length < 2">the</span>
                                    month
                                </span>
                                <span ng-if="selectedWeekNumberInMonth.id && selectedSingleDayInWeek.id">on the {{selectedWeekNumberInMonthText}} {{selectedSingleDayInWeekText}} of
                                    <span ng-if="selectedMonthsInYear.length > 1">each</span>
                                    <span ng-if="selectedMonthsInYear.length < 2">the</span>
                                    month
                                </span>
                            </span>
                            <span ng-if="frequencySelected.id == 'custom' && language == 'FR'">
                                <span ng-show="customFrequency.unit.id == 'week'">
                                    {{'PUBLICATION.EDIT.TOUTES_LES'|translate}}
                                </span>
                                <span ng-hide="customFrequency.unit.id == 'week'">
                                    {{'PUBLICATION.EDIT.TOUS_LES'|translate}}
                                </span>
                                <span ng-if="customFrequency.meta_value != 1">{{customFrequency.meta_value}}</span>
                                {{customFrequency.unit.name_fr}}
                                <span ng-if="selectedDaysInWeek.length">{{'PUBLICATION.EDIT.ON'|translate}} {{selectedDaysInWeekText}}.</span>
                                <span ng-if="selectedMonthsInYear.length">{{'PUBLICATION.EDIT.IN'|translate}} {{selectedMonthsInYearText}} </span>
                                <span ng-if="selectedDatesInMonth.length">{{'PUBLICATION.EDIT.ON_THE'|translate}} {{selectedDatesInMonthText}} {{'PUBLICATION.EDIT.OF_2'|translate}}
                                    <span ng-if="selectedMonthsInYear.length > 1">{{'PUBLICATION.EDIT.EACH'|translate}}</span>
                                    {{'PUBLICATION.EDIT.THE_MONTH'|translate}}.
                                </span>
                                <span ng-if="selectedWeekNumberInMonth.id && selectedSingleDayInWeek.id">
                                    <span ng-if="setSelectedMonthsInYearText && customFrequency.unit.id != 'month'">-</span>
                                    {{'PUBLICATION.EDIT.ON_THE'|translate}} {{selectedWeekNumberInMonthText}} {{selectedSingleDayInWeekText}}
                                    <span ng-if="setSelectedMonthsInYearText && selectedMonthsInYear.length <= 1">{{'PUBLICATION.EDIT.OF_2'|translate}}</span>
                                    <span ng-if="!setSelectedMonthsInYearText || selectedMonthsInYear.length > 1">{{'PUBLICATION.EDIT.OF'|translate}}</span>
                                    <span ng-if="selectedMonthsInYear.length > 1">{{'PUBLICATION.EDIT.EACH'|translate}}</span>
                                    {{'PUBLICATION.EDIT.THE_MONTH'|translate}}.
                                </span>
                            </span>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <strong>{{'PUBLICATION.EDIT.REPEAT_START'|translate}}</strong><br/>
                        <p>
                            <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                            <span ng-if="toSubmit.occurrence.start_date">
                            {{toSubmit.occurrence.start_date | date:'yyyy-MM-dd' }}
                            </span>
                            <span ng-if="!toSubmit.occurrence.start_date">N/A</span>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <strong>{{'PUBLICATION.EDIT.REPEAT_END'|translate}}</strong><br>
                        <p>
                            <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                            <span ng-if="toSubmit.occurrence.end_date">
                            {{toSubmit.occurrence.end_date | date:'yyyy-MM-dd' }}
                            </span>
                            <span ng-if="!toSubmit.occurrence.end_date">{{'PUBLICATION.EDIT.NEVER'|translate}}</span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div class="col-xs-12">
                    <button class="btn btn-success" ng-if="!showFrequency" ng-click="addFrequencyFilter()">
                        <span style="font-size: 17px;" class="fa fa-plus"></span>
                        <span style="font-size: 20px;"><strong>{{'PUBLICATION.EDIT.ADD_2'|translate}}</strong></span>
                    </button>
                    <button class="btn btn-danger" ng-if="showFrequency" ng-click="removeFrequencyFilter()">
                        <span style="font-size: 17px;" class="glyphicon glyphicon-minus"></span>
                        <span style="font-size: 20px;"><strong>{{'PUBLICATION.EDIT.REMOVE'|translate}}</strong></span>
                    </button>
                </div>
            </div>
            <div class="row" style="margin-bottom:10px;" ng-if="showFrequency">
                <div class="col-xs-12 col-sm-4">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-12">
                                {{'PUBLICATION.EDIT.REPEAT'|translate}}
                            </label>
                            <div class="col-xs-8">
                                <select class="form-control"
                                        ng-options="presetFrequency as presetFrequency.name for presetFrequency in presetFrequencies track by presetFrequency.id"
                                        ng-model="frequencySelected" ng-change="selectFrequency(frequencySelected)">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-12">
                                {{'PUBLICATION.EDIT.REPEAT_START'|translate}}
                            </label>
                            <div class="col-xs-12 col-lg-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="toSubmit.occurrence.start_date" is-open="popupStart.opened" datepicker-options="dateOptionsStart" ng-required="true" close-text="{{'DATEPICKER.CLOSE'|translate}}" current-text="{{'DATEPICKER.TODAY'|translate}}" clear-text="{{'DATEPICKER.RESET'|translate}}"/>
                                    <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="openStart($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-12">
                                {{'PUBLICATION.EDIT.REPEAT_END'|translate}}
                            </label>
                            <div ng-if="!addEndDate" class="col-xs-12 col-lg-9">
                                <button class="btn btn-default" ng-click="toggleEndDate()">
                                    <span class="fa fa-plus"></span>
                                    <span><strong>{{'PUBLICATION.EDIT.ADD_END_DATE'|translate}}</strong></span>
                                </button>
                            </div>
                            <div class="col-xs-12 col-lg-9" style="margin-bottom:10px;">
                                <div class="input-group">
                                    <input ng-if="addEndDate" type="text" class="form-control"
                                           uib-datepicker-popup="{{format}}"
                                           ng-model="toSubmit.occurrence.end_date"
                                           is-open="popupEnd.opened"
                                           datepicker-options="dateOptionsEnd" ng-required="true"
                                           close-text="{{'DATEPICKER.CLOSE'|translate}}"
                                           current-text="{{'DATEPICKER.TODAY'|translate}}"
                                           clear-text="{{'DATEPICKER.RESET'|translate}}"/>
                                    <span ng-if="addEndDate" class="input-group-btn">
                                    <button class="btn btn-default" ng-click="openEnd($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <button class="btn btn-default" ng-if="addEndDate" ng-click="toggleEndDate()">
                                    <span class="glyphicon glyphicon-minus"></span>
                                    <span><strong>{{'PUBLICATION.EDIT.REMOVE_END_DATE'|translate}}</strong></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4" ng-if="frequencySelected.id == 'custom'">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-12">
                                {{'PUBLICATION.EDIT.REPEAT_INTERVAL'|translate}}
                            </label>
                            <div class="col-xs-3">
                                <input class="form-control" ng-model="customFrequency.meta_value" type="number" max="59" min="1" ng-change="setFrequencyChangesMade();">
                            </div>
                            <div class="col-xs-6">
                                <select class="form-control"
                                        ng-options="unit as unit.name for unit in frequencyUnits track by unit.id"
                                        ng-model="customFrequency.unit"
                                        ng-change="selectRepeatInterval(customFrequency.unit)">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4"
                     ng-if="frequencySelected.id == 'custom' && customFrequency.unit.id != 'day'">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-12">
                                <span ng-if="customFrequency.unit.id == 'week'">{{'PUBLICATION.EDIT.REPEAT_ON_DAYS'|translate}}</span>
                                <span ng-if="customFrequency.unit.id == 'month' || customFrequency.unit.id == 'year'">{{'PUBLICATION.EDIT.REPEAT_OPTIONS'|translate}}</span>
                            </label>
                            <div class="col-xs-8" style="margin-bottom: 10px;"
                                 ng-if="customFrequency.unit.id == 'week'">
                                <div ng-dropdown-multiselect="" options="daysInWeek" selected-model="selectedDaysInWeek"
                                     extra-settings="weekDropdownSettings" events="weekDropdownEvents"
                                     translation-texts="projectText"></div>
                            </div>
                            <div ng-if="customFrequency.unit.id == 'year'" class="col-xs-10"
                                 style="margin-bottom: 10px;">
                                <div ng-dropdown-multiselect="" options="monthsInYear"
                                     selected-model="selectedMonthsInYear" extra-settings="monthDropdownSettings"
                                     events="monthDropdownEvents" translation-texts="projectText"></div>
                            </div>
                            <div ng-if="customFrequency.unit.id == 'month'" class="col-xs-12"
                                 style="margin-bottom: 10px;">
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default"
                                                ng-class="{active: repeatSub == 'onDate'}"
                                                ng-click="setRepeatSub('onDate')">
                                            {{'PUBLICATION.EDIT.ON_DATE'|translate}}
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default"
                                                ng-class="{active: repeatSub == 'onWeek'}"
                                                ng-click="setRepeatSub('onWeek')">
                                            {{'PUBLICATION.EDIT.ON_WEEK'|translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="repeatSub == 'onDate' && customFrequency.unit.id == 'month'"
                                 class="no-calendar-header col-xs-12" style="margin-bottom: 10px;">
                                <multiple-date-picker ng-model="selectedDatesInMonth" month="staticMonth" ng-click="setFrequencyChangesMade()"></multiple-date-picker>
                            </div>
                            <div ng-if="repeatSub == 'onWeek' || customFrequency.unit.id == 'year'" class="col-xs-4"
                                 style="margin-bottom: 10px;">
                                <select class="form-control"
                                        ng-options="week as week.name for week in weekNumbersInMonth track by week.id"
                                        ng-model="selectedWeekNumberInMonth"
                                        ng-change="selectWeekInMonth(selectedWeekNumberInMonth)">
                                </select>
                            </div>
                            <div ng-if="repeatSub == 'onWeek' || customFrequency.unit.id == 'year'" class="col-xs-6"
                                 style="margin-bottom: 10px;">
                                <select class="form-control"
                                        ng-options="day as day.name for day in daysInWeek track by day.id"
                                        ng-model="selectedSingleDayInWeek"
                                        ng-change="selectDayInWeek(selectedSingleDayInWeek, customFrequency.unit.id)">
                                    <option value="" selected="selected">---</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SECTION: Patient trigger -->
        <div ng-if="triggerSection.patient.available" uib-accordion-group is-open="patientTriggerSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'PUBLICATION.EDIT.TRIGGER_PATIENT'|translate}} </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': patientTriggerSection.open, 'glyphicon-chevron-right': !patientTriggerSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="alert alert-info" role="alert">
                <strong>{{'PUBLICATION.EDIT.CURRENT_TRIGGER_PATIENT'|translate}}</strong><br>
                <p>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="!(patientTriggerList|filter:{added:true}).length || selectAll.patient.all"></span>
                    <span ng-if="!(patientTriggerList|filter:{added:true}).length && !selectAll.patient.all">{{'PUBLICATION.EDIT.NO_TRIGGER'|translate}}</span>
                    <span ng-if="!(patientTriggerList|filter:{added:true}).length && selectAll.patient.all">{{'PUBLICATION.EDIT.ALL_PATIENTS'|translate}}</span>
                <ul class="list-items" ng-if="(patientTriggerList|filter:{added:true}).length && !selectAll.patient.all">
                    <li ng-repeat="patient in patientTriggerList | filter: {added: true} : 1">{{patient.name}}</li>
                </ul>
                </p>
            </div>
            <div>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input class="form-control" maxlength="100" type="text" ng-model="patientSearchField" ng-change="selectAll.patient.checked = false;" placeholder="{{'PUBLICATION.EDIT.SEARCH'|translate}}" ng-disabled="selectAll.patient.checked && selectAll.patient.all" />
                </div>
                <div style="padding: 7px;">
                    <label>
                        <input type="checkbox" ng-click="toggleAllTriggers(patientTriggerList, patientSearchField, selectAll.patient, triggerSection.patient)" ng-checked="selectAll.patient.checked"> {{'PUBLICATION.EDIT.SELECT_ALL'|translate}}
                    </label>
                </div>
                <ul class="list-items" ng-show="!selectAll.patient.checked || !selectAll.patient.all">
                    <li ng-repeat="patient in patientTriggerList | filter: patientSearchField">
                        <label>
                            <input ng-disabled="selectAll.patient.checked && selectAll.patient.all" type="checkbox" ng-model="patient.added" ng-click="selectTrigger(patient, selectAll.patient, triggerSection.patient)"> {{patient.name}}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <!-- SECTION: Demographic trigger -->
        <div ng-if="triggerSection.demo.available" uib-accordion-group is-open="demographicTriggerSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'PUBLICATION.EDIT.TRIGGER_DEMO'|translate}} </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': demographicTriggerSection.open, 'glyphicon-chevron-right': !demographicTriggerSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="alert alert-info" role="alert">
                <strong>{{'PUBLICATION.EDIT.CURRENT_SEX'|translate}}</strong><br>
                <p>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                    <span ng-if="!demoTrigger.sex">{{'PUBLICATION.EDIT.NONE'|translate}}</span>
                    <span ng-if="demoTrigger.sex">{{demoTrigger.sex_display}}</span>
                </p>
                <br>
                <strong>{{'PUBLICATION.EDIT.CURRENT_AGE'|translate}}</strong><br>
                <p>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                    <span ng-if="!demoTrigger.age">{{'PUBLICATION.EDIT.NONE'|translate}}</span>
                    <span ng-if="demoTrigger.age">{{demoTrigger.age.min}} {{'PUBLICATION.EDIT.TO'|translate}} {{demoTrigger.age.max}}</span>
                </p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="row">
                        <h2 class="col-xs-12" style="margin:0 0 7px 0; padding: 0 15px; font-size:30px;">
                            {{'PUBLICATION.EDIT.SEX'|translate}}</h2>
                    </div>
                    <div class="row">
                        <div ng-repeat="sex in sexes" class="col-xs-12 col-sm-6">
                            <div class="panel-container animated" style="cursor:pointer"
                                 ng-class="{pulse: hover, active: demoTrigger.sex == sex.name}"
                                 ng-click="sexUpdate(sex)" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                                <div class="panel-info" ng-class="{active: demoTrigger.sex == sex.name}">
                                    <div class="panel-content" style="text-align:center">
                                        <span style="font-size:30px;" class="fa fa-{{sex.icon}}"></span>
                                        <div class="option-panel-title">{{sex.display}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="row">
                        <h2 class="col-xs-12" style="margin:0 0 7px 0; padding: 0 15px; font-size:30px;">{{'PUBLICATION.EDIT.AGE_GROUP'|translate}}</h2>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                            <div class="input-group" ng-class="!demoTrigger.age.valid ? 'panel-danger':''">
                                <span class="input-group-addon">{{'PUBLICATION.EDIT.MIN'|translate}}</span>
                                <input class="form-control" ng-model="demoTrigger.age.min" ng-change="ageUpdate()" type="number" ng-max="demoTrigger.age.max" min="0">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                            <div class="input-group" ng-class="!demoTrigger.age.valid ? 'panel-danger':''">
                                <span class="input-group-addon">{{'PUBLICATION.EDIT.MAX'|translate}}</span>
                                <input class="form-control" ng-model="demoTrigger.age.max" ng-change="ageUpdate()" type="number" max="130" ng-min="demoTrigger.age.min">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" style="margin-bottom: 10px;" >
                            <button class="btn btn-danger" ng-if="demoTrigger.age.max != 130 || demoTrigger.age.min != 0" ng-click="resetAgeRange();">
                                <span style="font-size: 20px;"><strong>{{'PUBLICATION.ADD.RESET_AGE'|translate}}</strong></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" ng-if="!demoTrigger.age.valid">
                            <p style="color: #d9534f; font-weight: bold;">{{'PUBLICATION.ADD.ERROR_AGE'|translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SECTION: Appointment status trigger -->
        <div ng-if="triggerSection.appointmentStatus.available" uib-accordion-group is-open="appointmentStatusTriggerSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'PUBLICATION.EDIT.TRIGGER_APPT_STATUS'|translate}}</strong><i
                        class="pull-right glyphicon"
                        ng-class="{'glyphicon-chevron-down': appointmentStatusTriggerSection.open, 'glyphicon-chevron-right': !appointmentStatusTriggerSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="alert alert-info" role="alert">
                <strong>{{'PUBLICATION.EDIT.CURRENT_TRIGGER_APPT_STATUS'|translate}}</strong><br>
                <p>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                    {{appointmentStatus}}
                </p>
            </div>
            <div class="row">
                <div ng-repeat="appointmentStatus in appointmentStatusList" class="col-xs-12 col-sm-4 col-md-3 item-panel-select">
                    <div class="panel-container" style="cursor:pointer;" ng-class="{pulse: hover, active: apptSelected == appointmentStatus.id}" ng-click="appointmentStatusUpdate(appointmentStatus)" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                        <div class="panel-info" ng-class="{active: apptSelected == appointmentStatus.id}">
                            <div class="panel-content" style="text-align:center">
                                <span ng-if="apptSelected != appointmentStatus.id" style="font-size:30px;" class="glyphicon glyphicon-minus"></span>
                                <span ng-if="apptSelected == appointmentStatus.id" style="font-size:30px;" class="glyphicon glyphicon-ok"></span>
                                <div class="option-panel-title">{{appointmentStatus.name_display}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SECTION: Appointment trigger -->
        <div ng-if="triggerSection.appointment.available" uib-accordion-group is-open="appointmentTriggerSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'PUBLICATION.EDIT.TRIGGER_APPT'|translate}}</strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': appointmentTriggerSection.open, 'glyphicon-chevron-right': !appointmentTriggerSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="alert alert-info" role="alert">
                <strong>{{'PUBLICATION.EDIT.CURRENT_APPT'|translate}}</strong><br>
                <p>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="!(appointmentTriggerList|filter:{added:true}).length || selectAll.appointment.all"></span>
                    <span ng-if="!(appointmentTriggerList|filter:{added:true}).length && !selectAll.appointment.all">{{'PUBLICATION.EDIT.NO_TRIGGER'|translate}}</span>
                    <span ng-if="!(appointmentTriggerList|filter:{added:true}).length && selectAll.appointment.all">{{'PUBLICATION.EDIT.ALL_APPT'|translate}}</span>
                <ul class="list-items" ng-if="(appointmentTriggerList|filter:{added:true}).length && !selectAll.appointment.all">
                    <li ng-repeat="appointment in appointmentTriggerList | filter: {added: true} : 1">{{appointment.name_display}}</li>
                </ul>
                </p>
            </div>
            <div>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input class="form-control" maxlength="100" type="text" ng-model="appointmentSearchField" ng-change="selectAll.appointment.checked = false;" placeholder="{{'PUBLICATION.EDIT.SEARCH'|translate}}" ng-disabled="selectAll.appointment.checked && selectAll.appointment.all" />
                </div>
                <div style="padding: 7px;">
                    <label>
                        <input type="checkbox" ng-click="toggleAllTriggers(appointmentTriggerList, appointmentSearchField, selectAll.appointment, triggerSection.appointment)" ng-checked="selectAll.appointment.checked"> {{'PUBLICATION.EDIT.SELECT_ALL'|translate}}
                    </label>
                </div>
                <ul class="list-items" ng-show="!selectAll.appointment.checked || !selectAll.appointment.all">
                    <li ng-repeat="appointment in appointmentTriggerList | filter: appointmentSearchField">
                        <label>
                            <input ng-disabled="selectAll.appointment.checked && selectAll.appointment.all" type="checkbox" ng-model="appointment.added" ng-click="selectTrigger(appointment, selectAll.appointment, triggerSection.appointment)"> {{appointment.name_display}}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <!-- SECTION: Diagnosis trigger -->
        <div ng-if="triggerSection.diagnosis.available" uib-accordion-group is-open="diagnosisTriggerSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'PUBLICATION.EDIT.TRIGGER_DIAGNOSIS'|translate}} </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': diagnosisTriggerSection.open, 'glyphicon-chevron-right': !diagnosisTriggerSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="alert alert-info" role="alert">
                <strong>{{'PUBLICATION.EDIT.CURRENT_TRIGGER_DIAGNOSIS'|translate}}</strong><br>
                <p>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="!(dxTriggerList|filter:{added:true}).length || selectAll.diagnosis.all"></span>
                    <span ng-if="!(dxTriggerList|filter:{added:true}).length && !selectAll.diagnosis.all">{{'PUBLICATION.EDIT.NO_TRIGGER'|translate}}</span>
                    <span ng-if="!(dxTriggerList|filter:{added:true}).length && selectAll.diagnosis.all">{{'PUBLICATION.EDIT.ALL_DIAGNOSES'|translate}}</span>
                <ul class="list-items" ng-if="(dxTriggerList|filter:{added:true}).length && !selectAll.diagnosis.all">
                    <li ng-repeat="dx in dxTriggerList | filter: {added: true} : 1">{{dx.name_display}}</li>
                </ul>
                </p>
            </div>
            <div>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input class="form-control" type="text" ng-model="dxSearchField" ng-change="selectAll.diagnosis.checked = false;" placeholder="{{'PUBLICATION.EDIT.SEARCH'|translate}}" ng-disabled="selectAll.diagnosis.checked && selectAll.diagnosis.all" />
                </div>
                <div style="padding: 7px;">
                    <label>
                        <input type="checkbox" ng-click="toggleAllTriggers(dxTriggerList, dxSearchField, selectAll.diagnosis, triggerSection.diagnosis)" ng-checked="selectAll.diagnosis.checked"> {{'PUBLICATION.EDIT.SELECT_ALL'|translate}}
                    </label>
                </div>
                <ul class="list-items" ng-show="!selectAll.diagnosis.checked || !selectAll.diagnosis.all">
                    <li ng-repeat="dx in dxTriggerList | filter: dxSearchField">
                        <label>
                            <input ng-disabled="selectAll.diagnosis.checked && selectAll.diagnosis.all" type="checkbox" ng-model="dx.added" ng-click="selectTrigger(dx, selectAll.diagnosis, triggerSection.diagnosis)"> {{dx.name_display}}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <!-- SECTION: Doctor trigger -->
        <div ng-if="triggerSection.doctor.available" uib-accordion-group is-open="doctorTriggerSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'PUBLICATION.EDIT.TRIGGER_DOCTOR'|translate}} </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': doctorTriggerSection.open, 'glyphicon-chevron-right': !doctorTriggerSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="alert alert-info" role="alert">
                <strong>{{'PUBLICATION.EDIT.CURRENT_TRIGGER_DOCTOR'|translate}}</strong><br>
                <p>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="!(doctorTriggerList|filter:{added:true}).length || selectAll.doctor.all"></span>
                    <span ng-if="!(doctorTriggerList|filter:{added:true}).length && !selectAll.doctor.all">{{'PUBLICATION.EDIT.NO_TRIGGER'|translate}}</span>
                    <span ng-if="!(doctorTriggerList|filter:{added:true}).length && selectAll.doctor.all">{{'PUBLICATION.EDIT.ALL_DOCTORS'|translate}}</span>
                <ul class="list-items" ng-if="(doctorTriggerList|filter:{added:true}).length && !selectAll.doctor.all">
                    <li ng-repeat="doctor in doctorTriggerList | filter: {added: true} : 1">{{doctor.name}}</li>
                </ul>
                </p>
            </div>
            <div>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input class="form-control" maxlength="100" type="text" ng-model="doctorSearchField" ng-change="selectAll.doctor.checked = false;" placeholder="{{'PUBLICATION.EDIT.SEARCH'|translate}}" ng-disabled="selectAll.doctor.checked && selectAll.doctor.all" />
                </div>
                <div style="padding: 7px;">
                    <label>
                        <input type="checkbox" ng-click="toggleAllTriggers(doctorTriggerList, doctorSearchField, selectAll.doctor, triggerSection.doctor)" ng-checked="selectAll.doctor.checked"> {{'PUBLICATION.EDIT.SELECT_ALL'|translate}}
                    </label>
                </div>
                <ul class="list-items" ng-show="!selectAll.doctor.checked || !selectAll.doctor.all">
                    <li ng-repeat="doctor in doctorTriggerList | filter: doctorSearchField">
                        <label>
                            <input ng-disabled="selectAll.doctor.checked && selectAll.doctor.all" type="checkbox" ng-model="doctor.added" ng-click="selectTrigger(doctor, selectAll.doctor, triggerSection.doctor)"> {{doctor.name}}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <!-- SECTION: Machine Trigger -->
        <div ng-if="triggerSection.machine.available" uib-accordion-group is-open="machineTriggerSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'PUBLICATION.EDIT.TRIGGER_TREATMENT'|translate}} </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': machineTriggerSection.open, 'glyphicon-chevron-right': !machineTriggerSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="alert alert-info" role="alert">
                <strong>{{'PUBLICATION.EDIT.CURRENT_TRIGGER_TREATMENT'|translate}}</strong><br>
                <p>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="!(machineTriggerList|filter:{added:true}).length || selectAll.machine.all"></span>
                    <span ng-if="!(machineTriggerList|filter:{added:true}).length && !selectAll.machine.all">{{'PUBLICATION.EDIT.NO_TRIGGER'|translate}}</span>
                    <span ng-if="!(machineTriggerList|filter:{added:true}).length && selectAll.machine.all">{{'PUBLICATION.EDIT.ALL_TREATMENTS'|translate}}</span>
                <ul class="list-items" ng-if="(machineTriggerList|filter:{added:true}).length && !selectAll.machine.all">
                    <li ng-repeat="machine in machineTriggerList | filter: {added: true} : 1">{{machine.name}}</li>
                </ul>
                </p>
            </div>
            <div>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input class="form-control" maxlength="100" type="text" ng-model="machineSearchField" ng-change="selectAll.machine.checked = false;" placeholder="{{'PUBLICATION.EDIT.SEARCH'|translate}}" ng-disabled="selectAll.machine.checked && selectAll.machine.all" />
                </div>
                <div style="padding: 7px;">
                    <label>
                        <input type="checkbox" ng-click="toggleAllTriggers(machineTriggerList, machineSearchField, selectAll.machine, triggerSection.machine)" ng-checked="selectAll.machine.checked"> {{'PUBLICATION.EDIT.SELECT_ALL'|translate}}
                    </label>
                </div>

                <ul class="list-items" ng-show="!selectAll.machine.checked || !selectAll.machine.all">
                    <li ng-repeat="machine in machineTriggerList | filter: machineSearchField">
                        <label>
                            <input ng-disabled="selectAll.machine.checked && selectAll.machine.all" type="checkbox" ng-model="machine.added" ng-click="selectTrigger(machine, selectAll.machine, triggerSection.machine)"> {{machine.name}}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <!-- SECTION: Study Trigger -->
        <div ng-if="triggerSection.study.available" uib-accordion-group is-open="studyTriggerSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'PUBLICATION.EDIT.TRIGGER_STUDY'|translate}} </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': studyTriggerSection.open, 'glyphicon-chevron-right': !studyTriggerSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="alert alert-info" role="alert">
                <strong>{{'PUBLICATION.EDIT.CURRENT_TRIGGER_STUDY'|translate}}</strong><br>
                <p>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="!(studyTriggerList|filter:{added:true}).length || selectAll.study.all"></span>
                    <span ng-if="!(studyTriggerList|filter:{added:true}).length && !selectAll.study.all">{{'PUBLICATION.EDIT.NO_TRIGGER'|translate}}</span>
                    <span ng-if="!(studyTriggerList|filter:{added:true}).length && selectAll.study.all">{{'PUBLICATION.EDIT.ALL_STUDIES'|translate}}</span>
                <ul class="list-items" ng-if="(studyTriggerList|filter:{added:true}).length && !selectAll.study.all">
                    <li ng-repeat="study in studyTriggerList | filter: {added: true} : 1">{{study.name}}</li>
                </ul>
                </p>
            </div>
            <div>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input class="form-control" maxlength="100" type="text" ng-model="studySearchField" ng-change="selectAll.study.checked = false;" placeholder="{{'PUBLICATION.EDIT.SEARCH'|translate}}" ng-disabled="selectAll.study.checked && selectAll.study.all" />
                </div>
                <div style="padding: 7px;">
                    <label>
                        <input type="checkbox" ng-click="toggleAllTriggers(studyTriggerList, studySearchField, selectAll.study, triggerSection.study)" ng-checked="selectAll.study.checked"> {{'PUBLICATION.EDIT.SELECT_ALL'|translate}}
                    </label>
                </div>

                <ul class="list-items" ng-show="!selectAll.study.checked || !selectAll.study.all">
                    <li ng-repeat="study in studyTriggerList | filter: studySearchField">
                        <label>
                            <input ng-disabled="selectAll.study.checked && selectAll.study.all" type="checkbox" ng-model="study.added" ng-click="selectTrigger(study, selectAll.study, triggerSection.study)"> {{study.name}}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </uib-accordion>
</div>