<div id="main">
    <div id="top">
        <div class="clearfix">
            <div class="row">
                <!-- Left side detail view -->
                <div class="col-lg-2">
                    <!-- Logo -->
                    <div class="side-navbar" ng-controller="navigation">
                        <div class="row side-logo" ng-click="goToHome()">
                            <div class="col-md-12">
                                <div class="logo">
                                    <img style="margin-top: -20px;" class="animated rotateIn" src="images/opal_logo_transparent_purple.png" height="130" width="130">
                                </div>
                                <h1 class="animated fadeIn">opal
                                    <strong>ADMIN</strong>
                                    <span style="font-size: 20px;" ng-if="devMode">DEV</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="summary-fix">
                        <!-- Back button -->
                        <div class="row side-panel-menu">
                            <div class="col-xs-12 col-sm-5 col-lg-12">
                                <div class="panel-container animated" ng-class="{pulse: hoverBack}" ng-mouseenter="hoverBack=true" ng-mouseleave="hoverBack=false"
                                     style="cursor:pointer;" ng-click="goBack()">
                                    <div class="side-panel-info-sm">
                                        <div class="panel-content">
                                            <span style="font-size: 23px;vertical-align:middle" class="fa fa-arrow-left" aria-hidden="true"></span>
                                            <h6 class="side-panel-title" style="display:inline-block;margin:0;font-size:14px;">
                                                <strong>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.BACK'|translate}}</strong>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Summary -->
                            <div class="side-menu-title col-lg-12">
                                <div class="horz-line" style="height: 16px; text-align: center">
									<span style="background-color:#e6edfa; padding: 0 10px;">
										<h2>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.SUMMARY'|translate}}</h2>
									</span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="progress progress-striped active">
                                    <div class="progress-bar" ng-class="{'progress-bar-success': stepProgress == 100}" role="progressbar" aria-valuenow="{{stepProgress}}"
                                         aria-valuemin="0" aria-valuemax="100" style="width: {{stepProgress}}%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <uib-accordion class="side-navbar">
                            <!-- SECTION: Source Database -->
                            <div uib-accordion-group is-open="leftMenu.sourceDatabaseId.open" class="panel-container summary-box" is-disabled="!validator.sourceDatabaseId.completed">
                                <uib-accordion-heading>
                                    <div class="row" style="align-items: center">
                                        <div class="col-md-2">
                                            <span ng-if="validator.sourceDatabaseId.completed" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                                        </div>
                                        <div class="col-md-8">
                                            <strong>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.DATABASE'|translate}}</strong>
                                        </div>
                                        <div class="col-md-2">
                                            <i ng-if="validator.sourceDatabaseId.completed" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': leftMenu.sourceDatabaseId.open, 'glyphicon-chevron-right': !leftMenu.sourceDatabaseId.open}"></i>
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                                <div ng-if="validator.sourceDatabaseId.completed" class="description">
                                    <p>
                                        <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                                        {{leftMenu.sourceDatabaseId.preview}}
                                    </p>
                                </div>
                            </div>
                            <!-- SECTION: External ID -->
                            <div uib-accordion-group is-open="leftMenu.externalId.open" class="panel-container summary-box" is-disabled="!validator.externalId.completed" ng-if="validator.sourceDatabaseId.completed">
                                <uib-accordion-heading>
                                    <div class="row" style="align-items: center">
                                        <div class="col-md-2">
                                            <span ng-if="validator.externalId.completed" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                                        </div>
                                        <div class="col-md-8">
                                            <strong>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.EXTERNAL_ID'|translate}}</strong>
                                        </div>
                                        <div class="col-md-2">
                                            <i ng-if="validator.externalId.completed" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': leftMenu.externalId.open, 'glyphicon-chevron-right': !leftMenu.externalId.open}"></i>
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                                <div ng-if="toSubmit.externalId.value" class="description">
                                    <p style="margin-bottom:0;">
                                        {{toSubmit.externalId.value}}
                                    </p>
                                </div>
                            </div>
                            <!-- SECTION: Details -->
                            <div uib-accordion-group is-open="leftMenu.details.open" class="panel-container summary-box" is-disabled="!validator.details.completed" ng-if="validator.sourceDatabaseId.completed">
                                <uib-accordion-heading>
                                    <div class="row" style="align-items: center">
                                        <div class="col-md-2">
                                            <span ng-if="validator.details.completed" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                                        </div>
                                        <div class="col-md-8">
                                            <strong>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.DETAILS'|translate}}</strong>
                                        </div>
                                        <div class="col-md-2">
                                            <i ng-if="validator.details.completed" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': leftMenu.details.open, 'glyphicon-chevron-right': !leftMenu.details.open}"></i>
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                                <div ng-if="toSubmit.details.code || toSubmit.details.description" class="description">
                                    <p style="margin-bottom:0;" ng-show="toSubmit.details.code">
                                        <b>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.CODE'|translate}}:</b> {{toSubmit.details.code}}
                                    </p>
                                    <p style="margin-bottom:0;" ng-show="toSubmit.details.description">
                                        <b>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.DESCRIPTION'|translate}}:</b> {{toSubmit.details.description}}
                                    </p>
                                </div>
                            </div>
                        </uib-accordion>
                        <!-- Submit button -->
                        <div class="panel-container" ng-if="formReady">
                            <a href="" ng-click="submitCustomCode()" class="btn btn-md item-button-success animated" ng-class="{pulse: hoverV}"
                               ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false" style="width: 100%;">
								<span style="font-size: 20px;">
									<strong>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.SUBMIT'|translate}}</strong>
								</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Right side view -->
                <div class="col-xs-12 col-lg-10 animated fadeInRight">
                    <div class="row main-title">
                        <!-- Page title -->
                        <div class="col-xs-12 col-md-8 title-content">
                            <span class="glyphicon glyphicon-plus"></span>
                            <h1>
                                <strong>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.TITLE'|translate}}</strong>
                            </h1>
                        </div>
                        <!-- Breadcrumbs -->
                        <div class="col-md-4 title-breadcrumbs">
                            <a ui-sref="home">{{'BREADCRUMBS.HOME'|translate}}</a>
                            <span class="teflon glyphicon glyphicon-menu-right"></span>
                            <a ui-sref="diagnosis-translation">{{'DIAGNOSIS.LIST.TITLE'|translate}}</a>
                            <span class="teflon glyphicon glyphicon-menu-right"></span>
                            <strong>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.TITLE'|translate}}</strong>
                        </div>
                    </div>
                    <div class="row mobile-side-panel-menu">
                        <div class="back-menu col-xs-12 col-sm-5 col-lg-12">
                            <div class="panel-container animated" ng-class="{pulse: hoverBack}" ng-mouseenter="hoverBack=true" ng-mouseleave="hoverBack=false" style="cursor:pointer;" ng-click="goBack()">
                                <div class="side-panel-info-sm">
                                    <div class="panel-content">
                                        <span style="font-size: 23px;vertical-align:middle" class="fa fa-arrow-left" aria-hidden="true"></span>
                                        <h6 class="side-panel-title"><strong>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.BACK'|translate}}</strong></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-summary col-xs-12 col-sm-offset-1 col-sm-6">
                            <div class="summary-title" style="text-align: right; margin-bottom: 5px;">
                                <span style="padding: 0 10px;">
                                    <h2>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.STEP'|translate}} {{completedSteps}} {{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.OF'|translate}} {{totalSteps}} {{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.COMPLETED'|translate}}</h2>
                                </span>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar" ng-class="{'progress-bar-success': stepProgress == 100}" role="progressbar" aria-valuenow="{{stepProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stepProgress}}%">
                                </div>
                            </div>
                        </div>
                        <div class="mobile-summary col-xs-12 col-sm-offset-2 col-sm-5" ng-if="formReady">
                            <div class="panel-container">
                                <a href="" ng-click="submitCustomCode()" class="btn btn-md item-button-success animated" ng-class="{pulse: hoverV}" ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false" style="width: 100%;">
                                    <span style="font-size: 20px;"><strong>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.SUBMIT'|translate}}</strong></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="section-content">
                        <!-- SECTION: SourceDatabase -->
                        <div class="row">
                            <div class="col-xs-12 side-menu-title">
                                <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                                    <span style="background-color:#e6edfa; padding: 0 10px;">
                                        <span class="fas fa-dot-circle"></span>
                                        <h2>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.DATABASE'|translate}}</h2>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <p style="margin-bottom: 10px;">
                                    <span style="color:#d9534f"><strong>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.REQUIRED'|translate}}</strong></span>
                                    {{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.SOURCE_EXPLANATION'|translate}}
                                </p>
                            </div>
                            <div class="col-xs-12">
                                <div ng-repeat="sourceDB in dbList" class="col-xs-4 col-lg-2 item-panel-select">
                                    <div class="panel-container " style="cursor:pointer;" ng-class="{pulse: hover, active: toSubmit.sourceDatabaseId.value == sourceDB.ID}" ng-click="sourceUpdate(sourceDB)" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                                        <div class="panel-info" ng-class="{active: toSubmit.sourceDatabaseId.value == sourceDB.ID}">
                                            <div class="panel-content" style="text-align:center">
                                                <span style="font-size:30px;" class="fa fa-database"></span>
                                                <div class="option-panel-title">{{sourceDB.name}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION: External ID -->
                        <div ng-if="validator.sourceDatabaseId.completed">
                            <div class="row">
                                <div class="col-xs-12 side-menu-title">
                                    <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                                    <span style="background-color:#e6edfa; padding: 0 10px;">
                                        <span class="fas fa-dot-circle"></span><h2>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.EXTERNAL_ID'|translate}}</h2>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p style="margin-bottom: 5px;">
                                        <span style="color:#d9534f"><strong>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.REQUIRED'|translate}}</strong></span>
                                        {{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.EXTERNAL_ID_EXPLANATION'|translate}}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="panel" ng-class="(toSubmit.externalId.value) ? 'panel-success': 'panel-danger'">
                                        <div class="panel-heading"><strong>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.EXTERNAL_ID'|translate}}</strong>
                                            <span ng-hide="toSubmit.externalId.code && toSubmit.externalId.description" style="float:right"><em>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.INCOMPLETE'|translate}}</em></span>
                                            <span ng-show="toSubmit.externalId.code && toSubmit.externalId.description" style="float:right"><em>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.COMPLETE'|translate}}</em></span>
                                        </div>
                                        <div class="panel-body form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-lg-2">
                                                    {{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.EXTERNAL_ID'|translate}}
                                                </label>
                                                <div class="col-xs-12 col-lg-10">
                                                    <input type="number" class="form-control" ng-model="toSubmit.externalId.value" ng-change="externalIdUpdate()" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION: Code & Description -->
                        <div ng-if="validator.externalId.completed">
                            <div class="row">
                                <div class="col-xs-12 side-menu-title">
                                    <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                                    <span style="background-color:#e6edfa; padding: 0 10px;">
                                        <span class="fas fa-dot-circle"></span><h2>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.DETAILS'|translate}}</h2>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p style="margin-bottom: 5px;">
                                        <span style="color:#d9534f"><strong>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.REQUIRED'|translate}}</strong></span>
                                        {{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.DETAILS_EXPLANATION'|translate}}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="panel" ng-class="(toSubmit.details.code && toSubmit.details.description) ? 'panel-success': 'panel-danger'">
                                        <div class="panel-heading"><strong>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.DETAILS'|translate}}</strong>
                                            <span ng-hide="toSubmit.details.code && toSubmit.details.description" style="float:right"><em>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.INCOMPLETE'|translate}}</em></span>
                                            <span ng-show="toSubmit.details.code && toSubmit.details.description" style="float:right"><em>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.COMPLETE'|translate}}</em></span>
                                        </div>
                                        <div class="panel-body form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-lg-2">
                                                    {{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.CODE'|translate}}
                                                </label>
                                                <div class="col-xs-12 col-lg-10">
                                                    <textarea class="form-control" rows="2" ng-model="toSubmit.details.code" ng-change="detailsUpdate()"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-12 col-lg-2">
                                                    {{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.DESCRIPTION'|translate}}
                                                </label>
                                                <div class="col-xs-12 col-lg-10">
                                                    <textarea class="form-control" rows="2" ng-model="toSubmit.details.description" ng-change="detailsUpdate()"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SECTION -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="processingModal.htm">
    <div class="modal-header">
        <h1>{{'MASTER_SOURCE_MODULE.TEST_RESULT_ADD.PROCESSING'|translate}}</h1>
    </div>
    <div class="modal-body">
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 100%"></div>
        </div>
    </div>
</script>