<div class="modal-header">
    <div class="col-xs-12">
        <h2 class="modal-title">
            <span class="glyphicon glyphicon-trash"></span>
            {{'MASTER_SOURCE_MODULE.DIAGNOSIS_DELETE.TITLE'|translate}}
        </h2>
    </div>
</div>
<div class="modal-body">
    <div class="alert alert-danger" role="alert">
        <p><b>{{'MASTER_SOURCE_MODULE.DIAGNOSIS_DELETE.WARNING'|translate}}</b> {{'MASTER_SOURCE_MODULE.DIAGNOSIS_DELETE.WARNING_TEXT'|translate}}</p>
    </div>
    <div class="alert row">
        <div class="col-xs-12">
            <p ng-bind-html="diagnosisToDelete.code + ' - ' + diagnosisToDelete.description"></p>
        </div>
    </div>
    <div class="row">
        <div class="modal-buttons col-xs-12">
            <form method="post" ng-submit="deleteMasterSourceDiagnosis()">
                <input class="btn btn-primary submit" type="submit" value="{{'MASTER_SOURCE_MODULE.DIAGNOSIS_DELETE.DELETE'|translate}}">
                <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="{{'MASTER_SOURCE_MODULE.DIAGNOSIS_DELETE.CANCEL'|translate}}">
            </form>
        </div>
    </div>
</div>