<!-- Modal title -->
<div class="modal-header">
    <div class="col-xs-12 col-md-6">
        <h2 class="modal-title">
            <span class="glyphicon glyphicon-pencil"></span>
            {{'MASTER_SOURCE_MODULE.TEST_RESULT_EDIT.TITLE'|translate}}
        </h2>
        <p ng-if="readOnly.name_display" class="text-danger">{{'MASTER_SOURCE_MODULE.TEST_RESULT_EDIT.USED'|translate}} {{readOnly.name_display}}</p>
    </div>
    <div class="modal-buttons col-xs-12 col-md-6">
        <form method="post" ng-submit="updateCustomCode()">
            <input ng-if="!locked" class="btn btn-primary submit" ng-class="{'disabled': (!formReady || !changesDetected)}" type="submit" value="{{'MASTER_SOURCE_MODULE.TEST_RESULT_EDIT.SAVE'|translate}}">
            <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="{{'MASTER_SOURCE_MODULE.TEST_RESULT_EDIT.CANCEL'|translate}}">
        </form>
    </div>
</div>
<div class="modal-body">
    <uib-accordion close-others="false">
        <!-- SECTION: General infos -->
        <div uib-accordion-group is-open="generalSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'MASTER_SOURCE_MODULE.TEST_RESULT_EDIT.GENERAL'|translate}} </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': generalSection.open, 'glyphicon-chevron-right': !generalSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="row">
                <div class="col-xs-12">
                    <label><strong>{{'MASTER_SOURCE_MODULE.TEST_RESULT_EDIT.EXTERNAL_ID'|translate}}</strong></label> : {{readOnly.externalId}}
                </div>
                <div class="col-xs-12">
                    <label><strong>{{'MASTER_SOURCE_MODULE.TEST_RESULT_EDIT.SOURCE'|translate}}</strong></label> : {{readOnly.SourceDatabaseName}}
                </div>
            </div>
        </div>
        <!-- SECTION: Details -->
        <div uib-accordion-group is-open="detailsSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'MASTER_SOURCE_MODULE.TEST_RESULT_EDIT.DETAILS'|translate}}</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': detailsSection.open, 'glyphicon-chevron-right': !detailsSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="row">
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <label><strong>{{'MASTER_SOURCE_MODULE.TEST_RESULT_EDIT.CODE'|translate}}</strong></label> : {{readOnly.code}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <span class="input-group-addon">{{'MASTER_SOURCE_MODULE.TEST_RESULT_EDIT.DESCRIPTION'|translate}}</span>
                        <input class="form-control" type="text" ng-model="toSubmit.details.description" ng-change="detailsUpdate()" required="required" />
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion>
</div>