<!-- Modal title -->
<div class="modal-header">
    <div class="col-xs-12 col-md-6">
        <h2 class="modal-title">
            <span class="fa fa-eye"></span>
            {{'STUDY.EDIT.TITLE_VIEW'|translate}}
        </h2>
    </div>
    <div class="modal-buttons col-xs-12 col-md-6">
        <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="{{'STUDY.EDIT.CLOSE'|translate}}">
    </div>
</div>
<div class="modal-body">
    <uib-accordion close-others="false">
        <!-- SECTION: Titles -->
        <div uib-accordion-group is-open="titleSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'STUDY.EDIT.DETAILS'|translate}}</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': titleSection.open, 'glyphicon-chevron-right': !titleSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="row">
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <p><strong>{{'STUDY.EDIT.STUDY_ID'|translate}}</strong>: {{toSubmit.details.code}}</p>
                </div>
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <p><strong>{{'STUDY.EDIT.TITLE_2'|translate}}</strong>: {{toSubmit.details.title}}</p>
                </div>
            </div>
        </div>
        <!-- SECTION: Principal Investigator -->
        <div uib-accordion-group is-open="investigatorSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'STUDY.EDIT.INVESTIGATOR'|translate}}</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': investigatorSection.open, 'glyphicon-chevron-right': !investigatorSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="row">
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <p><strong>{{'STUDY.EDIT.NAME'|translate}}</strong>: {{toSubmit.investigator.name}}</p>
                </div>
            </div>
        </div>
        <!-- SECTION: Dates -->
        <div uib-accordion-group is-open="datesSection.open" ng-if="toSubmit.dates.start_date || toSubmit.dates.end_date" >
            <uib-accordion-heading>
                <div>
                    <strong>{{'STUDY.EDIT.DATES'|translate}}</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': datesSection.open, 'glyphicon-chevron-right': !datesSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="row">

                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <p><strong>{{'STUDY.EDIT.START_DATE'|translate}}</strong>: <span ng-bind="toSubmit.dates.start_date | date:'yyyy-MM-dd'"></span></p>
                </div>
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <p><strong>{{'STUDY.EDIT.END_DATE'|translate}}</strong>: <span ng-bind="toSubmit.dates.end_date | date:'yyyy-MM-dd'"></span></p>
                </div>
            </div>
        </div>
    </uib-accordion>
</div>