<div class="side-navbar" ng-controller="navigation">
    <!-- Logo -->
    <div class="row side-logo" ng-click="goToHome()">
        <div class="col-md-12">
            <div class="logo">
                <img style="margin-top: -20px;" class="animated rotateIn" src="images/opal_logo_transparent_purple.png" height="130" width="130">
            </div>
            <h1>opal <strong>ADMIN</strong></h1>
        </div>
    </div>
    <!-- Back button -->
    <div class="row side-panel-menu back-questionnaire">
        <div class="col-md-12">
            <div class="panel-container animated" ng-class="{pulse: hoverC}" ng-mouseenter="hoverC=true" ng-mouseleave="hoverC=false" style="cursor:pointer;" ng-click="goToHospitalSettingsMenu()">
                <div class="side-panel-info-sm">
                <div class="panel-content">
                    <span style="font-size: 23px;vertical-align:middle" class="fa fa-arrow-left" aria-hidden="true"></span>
                    <h6 class="side-panel-title" style="display:inline-block;margin:0"><strong>{{'HOSPITAL_SETTINGS.MENU.BACK'|translate}}</strong></h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Menu title -->
<div class="row">
    <div class="side-menu-title">
        <div style="height: 10px; border-bottom: 1px solid #6f5499;">
				<span style="background-color:#e6edfa; padding: 0 10px;">
					<span class="glyphicon glyphicon-triangle-bottom"></span>
					<h2>{{'HOSPITAL_SETTINGS.MENU.SUB_TITLE'|translate}}</h2>
				</span>
        </div>
    </div>
</div>

<div class="row side-panel-menu">
    <div class="col-md-12">
        <a href="{{configs.newOpalAdminHost}}/hospital-settings/institutions/">
            <div class="panel-container animated" ng-class="{pulse: hoverSideMenuReg}" ng-mouseenter="hoverSideMenuReg=true" ng-mouseleave="hoverSideMenuReg=false" style="cursor:pointer;">
                <div class="side-panel-info-sm">
                    <div class="panel-content">
                        <span style="font-size: 23px;vertical-align:middle" class="fa fa-wrench" aria-hidden="true"></span>
                        <h6 class="side-panel-title" style="display:inline-block;margin:0"><strong>{{'HOSPITAL_SETTINGS.MENU.INSTITUTION'|translate}}</strong></h6>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-12">
        <a href="{{configs.newOpalAdminHost}}/hospital-settings/sites/">
            <div class="panel-container animated" ng-class="{pulse: hoverSideMenuReg}" ng-mouseenter="hoverSideMenuReg=true" ng-mouseleave="hoverSideMenuReg=false" style="cursor:pointer;">
                <div class="side-panel-info-sm">
                    <div class="panel-content">
                        <span style="font-size: 23px;vertical-align:middle" class="fa fa-wrench" aria-hidden="true"></span>
                        <h6 class="side-panel-title" style="display:inline-block;margin:0"><strong>{{'HOSPITAL_SETTINGS.MENU.SITE'|translate}}</strong></h6>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-12">
        <a href="{{configs.newOpalAdminHost}}/patients/relationship-types/">
            <div class="panel-container animated" ng-class="{pulse: hoverSideMenu}" ng-mouseenter="hoverSideMenu=true" ng-mouseleave="hoverSideMenu=false" style="cursor:pointer;">
                <div class="side-panel-info-sm">
                    <div class="panel-content">
                        <span style="font-size: 23px;vertical-align:middle" class="fa fa-users" aria-hidden="true"></span>
                        <h6 class="side-panel-title" style="display:inline-block;margin:0"><strong>{{'HOSPITAL_SETTINGS.MENU.RELATIONSHIP_TYPE'|translate}}</strong></h6>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>