<div id="main">
    <div id="top">
        <div class="clearfix">
            <div class="row">
                <!-- Load side menu -->
                <div class="col-lg-2">
                    <div class="side-navbar" ng-controller="navigation">
                        <div class="row side-logo" ng-click="goToHome()">
                            <div class="col-md-12">
                                <div class="logo">
                                    <img style="margin-top: -20px;" class="animated rotateIn" src="images/opal_logo_transparent_purple.png" height="130" width="130">
                                </div>
                                <h1 class="animated fadeIn">opal <strong>ADMIN</strong></h1>
                            </div>
                        </div>
                    </div>
                    <div class="summary-fix">
                        <!-- Back button -->
                        <div class="row side-panel-menu">
                            <div class="col-xs-12 col-sm-5 col-lg-12">
                                <div class="panel-container animated" ng-class="{pulse: hoverBack}" ng-mouseenter="hoverBack=true" ng-mouseleave="hoverBack=false" style="cursor:pointer;" ng-click="goBack()">
                                    <div class="side-panel-info-sm">
                                        <div class="panel-content">
                                            <span style="font-size: 23px;vertical-align:middle" class="fa fa-arrow-left" aria-hidden="true"></span>
                                            <h6 class="side-panel-title"><strong>{{'SMS.ADD.BACK'|translate}}</strong></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Summary -->
                            <div class="side-menu-title col-lg-12">
                                <div class="horz-line" style="height: 16px; text-align: center">
                                    <span style="background-color:#e6edfa; padding: 0 10px;">
                                      <h2>{{'SMS.ADD.SUMMARY'|translate}}</h2>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="progress progress-striped active">
                                    <div class="progress-bar" ng-class="{'progress-bar-success': stepProgress == 100}" role="progressbar" aria-valuenow="{{stepProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stepProgress}}%">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <uib-accordion class="side-navbar">
                            <!-- SECTION: Speciality -->
                            <div uib-accordion-group is-open="specialitySection.open" class="panel-container summary-box" is-disabled="!UpdateInformation.specialityName">
                                <uib-accordion-heading>
                                    <div class="row" style="align-items:center">
                                        <div class="col-md-2">
                                            <span ng-if="UpdateInformation.specialityName" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                                        </div>
                                        <div class="col-md-8">
                                            <strong>{{'SMS.ADD.SPECIALITY'|translate}}</strong>
                                        </div>
                                        <div class="col-md-2">
                                            <i ng-if="UpdateInformation.specialityName" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':specialitySection.open, 'glyphicon-chevron-right':!specialitySection.open}"></i>
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                                <div ng-if="UpdateInformation.specialityName" class="description">
                                    <p>
                                        <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                                        {{UpdateInformation.specialityName}}
                                    </p>
                                </div>
                            </div>
                            <!-- SECTION: Type -->
                            <div uib-accordion-group is-open="typeSection.open" class="panel-container summary-box animated" ng-class="{fadeInUp: toSubmit.speciality.data && dataReceived.type.length > 0}" ng-if="toSubmit.speciality.data && dataReceived.type.length > 0" is-disabled="!UpdateInformation.type && !UpdateInformation.type">
                                <uib-accordion-heading>
                                    <div class="row" style="align-items: center">
                                        <div class="col-md-2">
                                            <span ng-if="UpdateInformation.type" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                                        </div>
                                        <div class="col-md-8">
                                            <strong>{{'SMS.ADD.TYPE'|translate}}</strong>
                                        </div>
                                        <div class="col-md-2">
                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':typeSection.open, 'glyphicon-chevron-right':!typeSection.open}" ng-if="UpdateInformation.type"></i>
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                                <div ng-if="UpdateInformation.type" class="description">
                                    <p style="margin-bottom:5px;">
                                        <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                                        {{UpdateInformation.type}}
                                    </p>
                                </div>
                            </div>
                            <!-- SECTION: Event -->
                            <div uib-accordion-group is-open="eventSection.open" class="panel-container summary-box animated" ng-class="{fadeInUp:toSubmit.type.data}" ng-if="toSubmit.type.data" is-disabled="!toSubmit.event.data">
                                <uib-accordion-heading>
                                    <div class="row" style="align-items: center">
                                        <div class="col-md-2">
                                            <span ng-if="toSubmit.event.data" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                                        </div>
                                        <div class="col-md-8">
                                            <strong>{{'SMS.ADD.EVENT'|translate}}</strong>
                                        </div>
                                        <div class="col-md-2">
                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': eventSection.open, 'glyphicon-chevron-right': !eventSection.open}" ng-if="toSubmit.event.data"></i>
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                                <div ng-if="toSubmit.event.data" class="description">
                                    <p>
                                        <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                                        {{'SMS.ADD.'+toSubmit.event.data|translate}}
                                    </p>
                                </div>
                            </div>
                            <!-- SECTION: Message -->
                            <div uib-accordion-group is-open="messageSection.open" class="panel-container summary-box animated"
                                 ng-class="{fadeInUp:toSubmit.event.data}" ng-if="toSubmit.event.data" is-disabled="!UpdateInformation.message.English && !UpdateInformation.message.French">
                                <uib-accordion-heading>
                                    <div class="row" style="align-items: center">
                                        <div class="col-md-2">
                                            <span ng-if="UpdateInformation.message.English && UpdateInformation.message.French" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                                        </div>
                                        <div class="col-md-8">
                                            <strong>{{'SMS.ADD.CONTENT'|translate}}</strong>
                                        </div>
                                        <div class="col-md-2">
                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': messageSection.open,
                                            'glyphicon-chevron-right': !messageSection.open}" ng-if="UpdateInformation.message.English || UpdateInformation.message.French"></i>
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                                <div ng-if="UpdateInformation.message.English || UpdateInformation.message.French" class="description">
                                    <p>
                                        <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                                        {{'SMS.ADD.CONTENT_COMPLETE'|translate}}
                                    </p>
                                </div>
                            </div>
                        </uib-accordion>
                        <!-- Submit button -->
                        <div class="panel-container">
                            <a href="" ng-click="UpdateMessage()" class="btn btn-md item-button-success animated" ng-class="{pulse: hoverV}" ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false" ng-if="validator.message.completed" style="width: 100%;">
                                <span style="font-size: 20px;"><strong>{{'SMS.ADD.SUBMIT'|translate}}</strong></span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Right detail panel view -->
                <div class="col-xs-12 col-lg-10 animated fadeInRight">
                    <div class="row main-title">
                        <!-- Page title -->
                        <div class="col-xs-12 col-md-9 title-content">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <h1><strong>{{'SMS.ADD.TITLE'|translate}}</strong></h1>
                        </div>
                    </div>
                    <!-- Mobile side panel view -->
                    <div class="row mobile-side-panel-menu">
                        <div class="back-menu col-xs-12 col-sm-5 col-lg-12">
                            <div class="panel-container animated" ng-class="{pulse: hoverBack}" ng-mouseenter="hoverBack=true" ng-mouseleave="hoverBack=false" style="cursor:pointer;" ng-click="goBack()">
                                <div class="side-panel-info-sm">
                                    <div class="panel-content">
                                        <span style="font-size: 23px;vertical-align:middle" class="fa fa-arrow-left" aria-hidden="true"></span>
                                        <h6 class="side-panel-title"><strong>{{'SMS.ADD.BACK'|translate}}</strong></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-summary col-xs-12 col-sm-offset-1 col-sm-6" ng-if="!checkForm()">
                            <div class="summary-title" style="text-align: right; margin-bottom: 5px;">
                                    <span style="padding: 0 10px;">
                                        <h2>{{'SMS.ADD.STEP'|translate}} {{numOfCompletedSteps}} {{'SMS.ADD.OF'|translate}} {{stepTotal}} {{'SMS.ADD.COMPLETED'|translate}}</h2>
                                    </span>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar" ng-class="{'progress-bar-success': stepProgress == 100}" role="progressbar" aria-valuenow="{{stepProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stepProgress}}%">
                                </div>
                            </div>
                        </div>
                        <div class="mobile-summary col-xs-12 col-sm-offset-2 col-sm-5" ng-if="checkForm()">
                            <div class="panel-container">
                                <a href="" ng-click="UpdateMessage()" class="btn btn-md item-button-success animated" ng-class="{pulse: hoverV}" ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false" ng-if="checkForm()" style="width: 100%;">
                                    <span style="font-size: 20px;"><strong>{{'SMS.ADD.SUBMIT'|translate}}</strong></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="section-content">
                        <!-- SECTION: Speciality -->
                        <div class="row">
                            <div class="col-xs-12 side-menu-title">
                                <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                                    <span style="background-color:#e6edfa; padding: 0 10px;">
                                      <span class="fa fa-dot-circle-o"></span>
                                      <h2>{{'SMS.ADD.SPECIALITY'|translate}}</h2>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p style="margin-bottom: 10px;">
                                    <span style="color:#d9534f"><strong>{{'SMS.ADD.REQUIRED'|translate}} </strong></span>
                                    {{'SMS.ADD.SPECIALITY_MESSAGE'|translate}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div ng-repeat="element in dataReceived.speciality" class="col-xs-4 col-lg-3 item-panel-select">
                                <div class="panel-container animated" style="cursor:pointer;" ng-class="{pulse: hover, active: toSubmit.speciality.data == element.specialityCode}" ng-click="SpecialityUpdate(element)" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                                    <div class="panel-info" ng-class="{active: toSubmit.speciality.data == element.specialityCode}">
                                        <div class="panel-content" style="text-align:center">
                                            <span style="font-size:30px;" class="fa fa-database"></span>
                                            <div class="option-panel-title">{{element.specialityName}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION: Type -->
                        <div class="row animated" ng-class="{fadeInUp:toSubmit.speciality.data}" ng-if="toSubmit.speciality.data && dataReceived.type.length > 0">
                            <div class="col-xs-12 side-menu-title">
                                <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                                    <span style="background-color:#e6edfa; padding: 0 10px;">
                                      <span class="fa fa-dot-circle-o"></span>
                                      <h2>{{'SMS.ADD.TYPE'|translate}}</h2>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp:toSubmit.speciality.data}" ng-if="toSubmit.speciality.data && dataReceived.type.length > 0">
                            <div class="col-xs-12">
                                <p style="margin-bottom: 10px;">
                                    <span style="color:#d9534f"><strong>{{'SMS.ADD.REQUIRED'|translate}} </strong></span>
                                    {{'SMS.ADD.TYPE_MESSAGE'|translate}}
                                </p>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp:toSubmit.speciality.data}" ng-if="toSubmit.speciality.data && dataReceived.type.length > 0">
                            <div ng-repeat="element in dataReceived.type" class="col-xs-4 col-lg-3 item-panel-select">
                                <div class="panel-container animated" style="cursor:pointer;" ng-class="{pulse: hover, active: toSubmit.type.data == element}" ng-click="TypeUpdate(element)" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                                    <div class="panel-info" ng-class="{active: toSubmit.type.data == element}">
                                        <div class="panel-content" style="text-align:center">
                                            <span style="font-size:30px;" class="fa fa-sticky-note"></span>
                                            <div class="option-panel-title">{{element}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION: Event -->
                        <div class="row animated" ng-class="{fadeInUp:toSubmit.type.data}" ng-if="toSubmit.type.data">
                            <div class="col-xs-12 side-menu-title">
                                <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                                    <span style="background-color:#e6edfa; padding: 0 10px;">
                                      <span class="fa fa-dot-circle-o"></span>
                                      <h2>{{'SMS.ADD.EVENT'|translate}}</h2>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp:toSubmit.type.data}" ng-if="toSubmit.type.data">
                            <div class="col-xs-12">
                                <p style="margin-bottom: 10px;">
                                    <span style="color:#d9534f"><strong>{{'SMS.ADD.REQUIRED'|translate}} </strong></span>
                                    {{'SMS.ADD.EVENT_MESSAGE'|translate}}
                                </p>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp:toSubmit.type.data}" ng-if="toSubmit.type.data">
                            <div ng-repeat="element in dataReceived.event" class="col-xs-4 col-lg-3 item-panel-select">
                                <div class="panel-container animated" style="cursor:pointer;" ng-class="{pulse: hover, active: toSubmit.event.data == element}" ng-click="EventUpdate(element)" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                                    <div class="panel-info" ng-class="{active: toSubmit.event.data == element}">
                                        <div class="panel-content" style="text-align:center">
                                            <span style="font-size:30px;" class="fa fa-paper-plane"></span>
                                            <div class="option-panel-title">{{'SMS.ADD.'+element|translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION: Message -->
                        <div class="row animated" ng-class="{fadeInUp:toSubmit.event.data}" ng-if="toSubmit.event.data">
                            <div class="col-xs-12 side-menu-title">
                                <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                                    <span style="background-color:#e6edfa; padding: 0 10px;">
                                        <span class="fa fa-dot-circle-o"></span>
                                        <h2>{{'SMS.ADD.CONTENT'|translate}}</h2>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp:toSubmit.event.data}" ng-if="toSubmit.event.data">
                            <div class="col-xs-12">
                                <p style="margin-bottom: 10px;">
                                    <span style="color:#d9534f"><strong>{{'SMS.ADD.REQUIRED'|translate}}</strong></span>
                                    {{'SMS.ADD.CONTENT_MESSAGE'|translate}}
                                </p>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp:toSubmit.event.data}" ng-if="toSubmit.event.data">
                            <div class="col-xs-12 col-md-6">
                                <div class="panel" ng-class="(toSubmit.message.en.sms) ? 'panel-success': 'panel-danger'">
                                    <div class="panel-heading"><strong>{{'SMS.ADD.CONTENT_EN'|translate}}</strong>
                                        <span ng-hide="toSubmit.message.en.sms" style="float:right"><em>{{'SMS.ADD.INCOMPLETE'|translate}}</em></span>
                                        <span ng-show="toSubmit.message.en.sms" style="float:right"><em>{{'SMS.ADD.COMPLETE'|translate}}</em></span>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-12">
                                                <textarea class="form-control" rows="5" ng-model="toSubmit.message.en.sms"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="panel" ng-class="(toSubmit.message.fr.sms) ? 'panel-success': 'panel-danger'">
                                    <div class="panel-heading"><strong>{{'SMS.ADD.CONTENT_FR'|translate}}</strong>
                                        <span ng-hide="toSubmit.message.fr.sms" style="float:right"><em>{{'SMS.ADD.INCOMPLETE'|translate}}</em></span>
                                        <span ng-show="toSubmit.message.fr.sms" style="float:right"><em>{{'SMS.ADD.COMPLETE'|translate}}</em></span>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-12">
                                                <textarea class="form-control" rows="5" ng-model="toSubmit.message.fr.sms"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bannerMessage alert-success">{{bannerMessage}}</div>
</div>