<div class="modal-header">
    <div class="col-xs-12 col-md-6">
        <h2 class="modal-title">
            <span class="glyphicon glyphicon-pencil"></span>
            {{'SMS.EDIT.TITLE'|translate}}
        </h2>
        <p class="text-info">{{'SMS.EDIT.INFO_MESSAGE'|translate}}</p>
    </div>
    <div class="modal-buttons col-xs-12 col-md-6">
        <form method="post" ng-submit="updateAppointment()">
            <input ng-if="!locked" class="btn btn-primary submit" ng-class="{'disabled': (!changesDetected)}" type="submit" value="{{'SMS.EDIT.SAVE'|translate}}">
            <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="{{'SMS.EDIT.CANCEL'|translate}}">
        </form>
    </div>
</div>
<div class="modal-body">
    <uib-accordion close-others="false">
        <!-- SECTION: Appointment information -->
        <div uib-accordion-group is-open="infoSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'SMS.EDIT.APPOINTMENT_INFORMATION'|translate}}</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': infoSection.open, 'glyphicon-chevron-right': !infoSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="row">
                <div class="col-xs-12">
                    <label><strong>{{'SMS.EDIT.RESOURCE_NAME'|translate}}</strong></label> : {{currentAppointment.resourceDescription}}&nbsp&nbsp&nbsp({{currentAppointment.resourceCode}})
                </div>
                <div class="col-xs-12">
                    <label><strong>{{'SMS.EDIT.APPOINTMENT_CODE'|translate}}</strong></label> : {{currentAppointment.appointmentCode}}
                </div>
                <div class="col-xs-12">
                    <label><strong>{{'SMS.EDIT.SPECIALITY'|translate}}</strong></label> : {{currentAppointment.speciality}}
                </div>
            </div>
        </div>
        <!-- SECTION: Type -->
        <div uib-accordion-group is-open="typeSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'SMS.EDIT.TYPE'|translate}}</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': typeSection.open, 'glyphicon-chevron-right': !typeSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="alert alert-info" role="alert">
                <strong>{{'SMS.EDIT.CURRENT_TYPE'|translate}}</strong><br>
                <p>
                    {{currentAppointmentType}}
                </p>
            </div>
            <div>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input class="form-control" maxlength="100" type="text" ng-model="typeSearchField" placeholder="{{'SMS.EDIT.SEARCH'|translate}}" />
                </div>
                <ul class="list-items">
                    <li ng-repeat="type in TypeList | filter: typeSearchField">
                        <label>
                            <input type="radio" ng-checked="type===typeSelected" ng-click="updateType(type)"> {{type}}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </uib-accordion>
</div>