<div id="main">
    <div id="top">
        <div class="clearfix">
            <div class="row">
                <!-- Load side menu -->
                <div id="side-panel-scrollbar" class="col-lg-2">
                    <div ng-include="'templates/side-panel-menu.html'"></div>
                </div>
                <!-- Right detail panel view -->
                <div class="col-lg-10 animated fadeIn">
                    <div class="row main-title">
                        <!-- Page title -->
                        <div class="col-xs-12 col-md-9 title-content">
                            <span class="glyphicon glyphicon-phone"></span>
                            <h1><strong>SMS</strong></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>