<div id="main">
    <div id="top">
        <div class="clearfix">
            <div class="row">
                <!-- Load side menu -->
                <div class="col-lg-2">
                    <div class="side-navbar" ng-controller="navigation">
                        <div class="row side-logo" ng-click="goToHome()">
                            <div class="col-md-12">
                                <div class="logo">
                                    <img style="margin-top: -20px;" class="animated rotateIn" src="images/opal_logo_transparent_purple.png" height="130" width="130">
                                </div>
                                <h1 class="animated fadeIn">opal <strong>ADMIN</strong></h1>
                            </div>
                        </div>
                    </div>
                    <div class="summary-fix">
                        <!-- Back button -->
                        <div class="row side-panel-menu">
                            <div class="col-xs-12 col-sm-5 col-lg-12">
                                <div class="panel-container animated" ng-class="{pulse: hoverBack}" ng-mouseenter="hoverBack=true" ng-mouseleave="hoverBack=false" style="cursor:pointer;" ng-click="goBack()">
                                    <div class="side-panel-info-sm">
                                        <div class="panel-content">
                                            <span style="font-size: 23px;vertical-align:middle" class="fa fa-arrow-left" aria-hidden="true"></span>
                                            <h6 class="side-panel-title"><strong>Back to SMS</strong></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Right detail panel view -->
                <div class="col-xs-12 col-lg-10 animated fadeInRight">
                    <div class="row main-title">
                        <!-- Page title -->
                        <div class="col-xs-12 col-md-9 title-content">
                            <span class="glyphicon glyphicon-envelope"></span>
                            <h1><strong>SMS Message</strong></h1>
                        </div>

                    </div>
                    <div class="row mobile-side-panel-menu">
                        <div class="back-menu col-xs-12 col-sm-5 col-lg-12">
                            <div class="panel-container animated" ng-class="{pulse: hoverBack}" ng-mouseenter="hoverBack=true" ng-mouseleave="hoverBack=false" style="cursor:pointer;" ng-click="goBack()">
                                <div class="side-panel-info-sm">
                                    <div class="panel-content">
                                        <span style="font-size: 23px;vertical-align:middle" class="fa fa-arrow-left" aria-hidden="true"></span>
                                        <h6 class="side-panel-title"><strong>{{'ALIAS.ADD.BACK'|translate}}</strong></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-summary col-xs-12 col-sm-offset-1 col-sm-6" ng-if="!checkForm()">
                            <div class="summary-title" style="text-align: right; margin-bottom: 5px;">
                                    <span style="padding: 0 10px;">
                                        <h2>{{'ALIAS.ADD.STEP'|translate}} {{numOfCompletedSteps}} {{'ALIAS.ADD.OF'|translate}} {{stepTotal}} {{'ALIAS.ADD.COMPLETED'|translate}}</h2>
                                    </span>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar" ng-class="{'progress-bar-success': stepProgress == 100}" role="progressbar" aria-valuenow="{{stepProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stepProgress}}%">
                                </div>
                            </div>
                        </div>
                        <!-- SECTION: Body -->
                        <div class="row animated" ng-class="{fadeInUp: bodySection.show}" ng-if="bodySection.show">
                            <div class="col-xs-12 side-menu-title">
                                <div style="height: 10px; border-bottom:2px solid rgba(111, 84, 153, 0.8);">
                                <span style="background-color:#e6edfa; padding: 0 10px;">
                                    <span class="fas fa-dot-circle"></span>
                                    <h2>{{'POSTS.ADD.BODY_CONTENT'|translate}}</h2>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp: bodySection.show}" ng-if="bodySection.show">
                            <div class="col-xs-12">
                                <p style="margin-bottom: 5px;">
                                    <span style="color:#d9534f"><strong>{{'POSTS.ADD.REQUIRED'|translate}}</strong></span>
                                    {{'POSTS.ADD.BODY_EXPLANATION'|translate}}
                                </p>
                                <p style="margin-bottom: 5px;">
                                    <span style="color:#d9534f"><strong>{{'POSTS.ADD.HTML_EXCEPTIONS'|translate}}</strong></span><br>
                                <ul style="margin-left: 15px; margin-bottom: 10px;">
                                    <li ng-bind-html="'POSTS.ADD.IMG_RESPONSIVE'|translate"></li>
                                    <li ng-bind-html="'POSTS.ADD.NO_ABSOLUTE'|translate"></li>
                                </ul>
                                </p>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp: bodySection.show}" ng-if="bodySection.show">
                            <div class="col-xs-12">
                                <div class="panel" ng-class="(newPost.body_EN) ? 'panel-success': 'panel-danger'">
                                    <div class="panel-heading"><strong>{{'POSTS.ADD.ENGLISH'|translate}}</strong>
                                        <span ng-hide="newPost.body_EN" style="float:right"><em>{{'POSTS.ADD.INCOMPLETE'|translate}}</em></span>
                                        <span ng-show="newPost.body_EN" style="float:right"><em>{{'POSTS.ADD.COMPLETE'|translate}}</em></span>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8">
                                                <div class="form-group">
                                                    <div text-angular ng-model="newPost.body_EN" ng-change="bodyUpdate()"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div style="text-align:center;">
                                                    <span style="font-size:20px;">{{'POSTS.ADD.IPHONE'|translate}}</span>
                                                </div>
                                                <div class="render-html-iphone4">
                                                    <iframe height="100%" width="100%" srcdoc="{{newPost.body_EN | deliberatelyTrustAsHtml}}" frameborder="0"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp: bodySection.show}" ng-if="bodySection.show">
                            <div class="col-xs-12">
                                <div class="panel" ng-class="(newPost.body_FR) ? 'panel-success': 'panel-danger'">
                                    <div class="panel-heading"><strong>{{'POSTS.ADD.FRENCH'|translate}}</strong>
                                        <span ng-hide="newPost.body_FR" style="float:right"><em>{{'POSTS.ADD.INCOMPLETE'|translate}}</em></span>
                                        <span ng-show="newPost.body_FR" style="float:right"><em>{{'POSTS.ADD.COMPLETE'|translate}}</em></span>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8">
                                                <div class="form-group">
                                                    <div text-angular ng-model="newPost.body_FR" ng-change="bodyUpdate()"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div style="text-align:center;">
                                                    <span style="font-size:20px;">{{'POSTS.ADD.IPHONE'|translate}}</span>
                                                </div>
                                                <div class="render-html-iphone4">
                                                    <iframe height="100%" width="100%" srcdoc="{{newPost.body_FR | deliberatelyTrustAsHtml}}" frameborder="0"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SECTION -->

                </div>
            </div>
        </div>
    </div>
</div>