# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').
# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command
# Primary cron job
*/2 * * * * /var/www/html/opalAdmin/publisher/dataControl.pl > /dev/null 2>> /var/www/html/opalAdmin/publisher/logs/executions.log

# New cron controls
*/1 * * * * /var/www/html/opalAdmin/publisher/controls/announcementControl.pl > /dev/null 2>> /var/www/html/opalAdmin/publisher/logs/executions_announcement.log
*/2 * * * * /var/www/html/opalAdmin/publisher/controls/educationalMaterialControl.pl > /dev/null 2>> /var/www/html/opalAdmin/publisher/logs/executions_educationalMaterial.log
*/2 * * * * /var/www/html/opalAdmin/publisher/controls/legacyQuestionnaireControl.pl > /dev/null 2>> /var/www/html/opalAdmin/publisher/logs/executions_legacyQuestionnaire.log
*/2 * * * * /var/www/html/opalAdmin/publisher/controls/txTeamMessagesControl.pl > /dev/null 2>> /var/www/html/opalAdmin/publisher/logs/executions_txTeamMessages.log

# Pending appointments module
*/1 * * * * curl http://opaladmin/cron-job/update/resource-pending > /dev/null 2>> /var/www/html/opalAdmin/publisher/logs/resource-pending.log
*/1 * * * * curl http://opaladmin/cron-job/update/appointment-pending > /dev/null 2>> /var/www/html/opalAdmin/publisher/logs/appointment-pending.log

# audit backup cron
30 00 * * * curl http://opaladmin/php/cron-job/add.audit.system.backup.php > /dev/null 2>> /var/www/html/opalAdmin/publisher/logs/system-backup.log
