  <div id="main">
    <div id="top">
      <div class="clearfix">
        <div class="row">
          <!-- Left side detail view -->
          <div class="col-lg-2">
            <!-- Logo -->
            <div class="side-navbar" ng-controller="navigation">
              <div class="row side-logo" ng-click="goToHome()">
                <div class="col-md-12">
                  <div class="logo">
                    <img style="margin-top: -20px;" class="animated rotateIn" src="images/opal_logo_transparent_purple.png" height="130" width="130">
                  </div>
                  <h1 class="animated fadeIn">opal <strong>ADMIN</strong></h1>
                </div>
              </div>   
            </div> 
            <div class="summary-fix"> 
              <!-- Back button -->
  						<div class="row side-panel-menu">
  							<div class="col-xs-12 col-sm-5 col-lg-12">
  								<div class="panel-container animated" ng-class="{pulse: hoverBack}" ng-mouseenter="hoverBack=true" ng-mouseleave="hoverBack=false" style="cursor:pointer;" ng-click="goBack()">
  									<div class="side-panel-info-sm">
  										<div class="panel-content">
  											<span style="font-size: 23px;vertical-align:middle" class="fa fa-arrow-left" aria-hidden="true"></span>
  											<h6 class="side-panel-title"><strong>Back to Hospital Maps</strong></h6>
  										</div>
  									</div>
  								</div>
  							</div>
              <!-- Summary -->
                <div class="side-menu-title col-lg-12">
                  <div class="horz-line" style="height: 16px; text-align: center">
                    <span style="background-color:#e6edfa; padding: 0 10px;">
                      <h2>Summary</h2>
                    </span>  
                  </div>  
                </div>
                <div class="col-lg-12">
                  <div class="progress progress-striped active">
                    <div class="progress-bar" ng-class="{'progress-bar-success': stepProgress == 100}" role="progressbar" aria-valuenow="{{stepProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stepProgress}}%">
                    </div>
                  </div>
                </div>
              </div>

              <uib-accordion class="side-navbar">
                <!-- SECTION: Title & description -->
                <div uib-accordion-group is-open="titleDescriptionSection.open" class="panel-container summary-box" is-disabled="!newHosMap.name_EN && !newHosMap.name_FR && !newHosMap.description_EN && !newHosMap.description_FR">
                  <uib-accordion-heading>
                    <div class="row" style="align-items:center">
                      <div class="col-md-2">
                        <span ng-if="newHosMap.name_EN && newHosMap.name_FR && newHosMap.description_EN && newHosMap.description_FR" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="col-md-8">
                        <strong>Title & Description</strong>
                      </div>
                      <div class="col-md-2">
                        <i ng-if="newHosMap.name_EN || newHosMap.name_FR || newHosMap.description_EN || newHosMap.description_FR" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': titleDescriptionSection.open, 'glyphicon-chevron-right': !titleDescriptionSection.open}"></i>
                      </div>
                    </div>
                  </uib-accordion-heading>
                  <div ng-if="newHosMap.name_EN || newHosMap.description_EN" class="description">
                    <p ng-if="newHosMap.name_EN" style="margin-bottom:5px;">
                      <strong>EN</strong>
                      <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                      {{newHosMap.name_EN}}
                    </p>
                    <p ng-if="newHosMap.description_EN" style="padding-left: 10px; font-size: 10px;"><em>See rendered output for description</em></p>
                  </div>
                  <div ng-if="newHosMap.name_FR || newHosMap.description_FR" class="description">
                    <p ng-if="newHosMap.name_FR" style="margin-bottom:5px;">
                      <strong>FR</strong>
                      <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                      {{newHosMap.name_FR}}
                    </p>
                    <p ng-if="newHosMap.description_FR" style="padding-left: 10px; font-size: 10px;"><em>See rendered output for description</em></p>
                  </div>
                </div>
                <!-- SECTION: Map URL -->
                <div uib-accordion-group is-open="urlSection.open" class="panel-container summary-box animated" ng-class="{fadeInUp: urlSection.show}" is-disabled="!newHosMap.url_EN && !newHosMap.url_FR" ng-if="urlSection.show">
                  <uib-accordion-heading>
                    <div class="row" style="align-items: center">
                      <div class="col-md-2">
                        <span ng-if="newHosMap.url_EN && newHosMap.url_FR" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="col-md-8">
                        <strong>Map URLs</strong>
                      </div>
                      <div class="col-md-2">
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': urlSection.open, 'glyphicon-chevron-right': !urlSection.open}" ng-if="newHosMap.url_EN || newHosMap.url_FR"></i>
                      </div>
                    </div>
                  </uib-accordion-heading>
                  <div ng-if="newHosMap.url_EN" class="description">
                    <p>
                      <strong>EN</strong>
                      <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                      {{newHosMap.url_EN}}
                    </p>
                  </div>
                  <div ng-if="newHosMap.url_FR" class="description">
                    <p>
                      <strong>FR</strong>
                      <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                      {{newHosMap.url_FR}}
                    </p>
                  </div>
                </div>
                <!-- SECTION: QR code -->
                <div uib-accordion-group is-open="qrSection.open" class="panel-container summary-box animated" ng-class="{fadeInUp: qrSection.show}" is-disabled="!newHosMap.qrid" ng-if="qrSection.show">
                  <uib-accordion-heading>
                    <div class="row" style="align-items: center">
                      <div class="col-md-2">
                        <span ng-if="newHosMap.qrid" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="col-md-8">
                        <strong>QR Identifier</strong>
                      </div>
                      <div class="col-md-2">
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': qrSection.open, 'glyphicon-chevron-right': !qrSection.open}" ng-if="newHosMap.qrid"></i>
                      </div>
                    </div>
                  </uib-accordion-heading>
                  <div ng-if="newHosMap.qrid" class="description">
                    <p>
                      <strong>QR ID</strong>
                      <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                      {{newHosMap.qrid}}
                    </p>
                  </div>
                </div>
              </uib-accordion>
              <!-- Submit button -->
              <div class="panel-container">
                <a href="" ng-click="submitHosMap()" class="btn btn-md item-button-success animated" ng-class="{pulse: hoverV}" ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false" ng-if="checkForm()" style="width: 100%;">
                  <span style="font-size: 20px;"><strong>Submit Hospital Map</strong></span>
                </a>
              </div>
            </div>
          </div>
          <!-- Right side details view -->
          <div class="col-xs-12 col-lg-10 animated fadeInRight">
            <div class="row main-title">
              <!-- Page title -->
              <div class="col-xs-12 col-md-8 title-content">
                <span class="glyphicon glyphicon-plus"></span>
                <h1><strong>Add Hospital Map</strong></h1>
              </div>
              <!-- Breadcrumbs -->
              <div class="col-md-4 title-breadcrumbs"> 
                <span>
                  <span><a ui-sref="home">Home</a></span>
                  <span class="teflon glyphicon glyphicon-menu-right"></span> 
                  <span><a ui-sref="hospital-map">Hospital Maps</a></span>
                  <span class="teflon glyphicon glyphicon-menu-right"></span> 
                  <span><strong>Add Hospital Map</strong></span>
                </span>
              </div>
            </div>   
            <div class="row mobile-side-panel-menu">
              <div class="back-menu col-xs-12 col-sm-5 col-lg-12">
                <div class="panel-container animated" ng-class="{pulse: hoverBack}" ng-mouseenter="hoverBack=true" ng-mouseleave="hoverBack=false" style="cursor:pointer;" ng-click="goBack()">
                  <div class="side-panel-info-sm">
                    <div class="panel-content">
                      <span style="font-size: 23px;vertical-align:middle" class="fa fa-arrow-left" aria-hidden="true"></span>
                      <h6 class="side-panel-title"><strong>Back to Hospital Maps</strong></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mobile-summary col-xs-12 col-sm-offset-1 col-sm-6" ng-if="!checkForm()">
                <div class="summary-title" style="text-align: right; margin-bottom: 5px;">
                  <span style="padding: 0 10px;">
                    <h2>Step {{numOfCompletedSteps}} of {{stepTotal}} Completed</h2>
                  </span>  
                </div>  
                <div class="progress progress-striped active">
                  <div class="progress-bar" ng-class="{'progress-bar-success': stepProgress == 100}" role="progressbar" aria-valuenow="{{stepProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stepProgress}}%">
                  </div>
                </div>
              </div>
              <div class="mobile-summary col-xs-12 col-sm-offset-2 col-sm-5" ng-if="checkForm()">
                <div class="panel-container">
                  <a href="" ng-click="submitHosMap()" class="btn btn-md item-button-success animated" ng-class="{pulse: hoverV}" ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false" ng-if="checkForm()" style="width: 100%;">
                    <span style="font-size: 20px;"><strong>Submit Hospital Map</strong></span>
                  </a>
                </div>
              </div> 
            </div>
            <div class="section-content">

              <!-- SECTION: Title & description -->
              <div class="row">
                <div class="col-xs-12 side-menu-title">
                  <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                    <span style="background-color:#e6edfa; padding: 0 10px;">
                      <span class="fas fa-dot-circle"></span>
                      <h2>Title & Description</h2>
                    </span>  
                  </div>  
                </div>
              </div>   
              <div class="row">
                <div class="col-xs-12">
                  <p style="margin-bottom: 10px;">
                    <span style="color:#d9534f"><strong>Required field:</strong></span>
                    Please assign an english and french title and description.
                  </p>
                </div>
              </div>  
              <div class="row"> 
                <div class="col-xs-12 col-md-6">
                  <div class="panel" ng-class="(newHosMap.name_EN && newHosMap.description_EN) ? 'panel-success': 'panel-danger'">
                    <div class="panel-heading"><strong>English</strong>
                      <span ng-hide="newHosMap.name_EN && newHosMap.description_EN" style="float:right"><em>Incomplete</em></span>
                      <span ng-show="newHosMap.name_EN && newHosMap.description_EN" style="float:right"><em>Complete</em></span>
                    </div>
                    <div class="panel-body form-horizontal">
                      <div class="form-group">
                        <label class="control-label col-xs-12 col-lg-2">
                          Title
                        </label>
                        <div class="col-xs-12 col-lg-10">
                          <input class="form-control" type="text" ng-model="newHosMap.name_EN" ng-change="titleDescriptionUpdate()" placeholder="English Title" required="required">
                        </div>
                      </div>    
                      <div class="form-group">
                        <label class="control-label col-xs-12 col-lg-2">
                          Description
                        </label>
                        <div class="col-xs-12 col-lg-10">
                          <div text-angular ng-model="newHosMap.description_EN" ng-change="titleDescriptionUpdate()" placeholder="English Description" required="required" ta-toolbar="toolbar"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>          
                <div class="col-xs-12 col-md-6">
                  <div class="panel" ng-class="(newHosMap.name_FR && newHosMap.description_FR) ? 'panel-success': 'panel-danger'">
                    <div class="panel-heading"><strong>Français</strong>
                      <span ng-hide="newHosMap.name_FR && newHosMap.description_FR" style="float:right"><em>Incomplete</em></span>
                      <span ng-show="newHosMap.name_FR && newHosMap.description_FR" style="float:right"><em>Complete</em></span>
                    </div>
                    <div class="panel-body form-horizontal">
                      <div class="form-group">
                        <label class="control-label col-xs-12 col-lg-2">
                          Titre
                        </label>
                        <div class="col-xs-12 col-lg-10">
                          <input class="form-control" type="text" ng-model="newHosMap.name_FR" ng-change="titleDescriptionUpdate()" placeholder="Titre Français" required="required">
                        </div>
                      </div>    
                      <div class="form-group">
                        <label class="control-label col-xs-12 col-lg-2">
                          Description
                        </label>
                        <div class="col-xs-12 col-lg-10">
                          <div text-angular ng-model="newHosMap.description_FR" ng-change="titleDescriptionUpdate()" placeholder="Description Français" required="required" ta-toolbar="toolbar"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>          
              </div>
              <!-- SECTION: Map URL -->
              <div class="row animated" ng-class="{fadeInUp: urlSection.show}" ng-if="urlSection.show">
                <div class="col-xs-12 side-menu-title">
                  <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                    <span style="background-color:#e6edfa; padding: 0 10px;">
                      <span class="fas fa-dot-circle"></span>
                      <h2>Map URLs</h2>
                    </span>  
                  </div>  
                </div>
              </div>   
              <div class="row animated" ng-class="{fadeInUp: urlSection.show}" ng-if="urlSection.show">
                <div class="col-xs-12">
                  <p style="margin-bottom: 10px;">
                    <span style="color:#d9534f"><strong>Required field:</strong></span>
                    Please specify the map details in the URL fields. Click <strong>Show Map</strong> to generate map thumbnail.
                  </p>
                </div>
              </div> 
              <div class="row animated" ng-class="{fadeInUp: urlSection.show}" ng-if="urlSection.show"> 
                <div class="col-xs-12 col-md-6">
                  <div class="panel" ng-class="newHosMap.url_EN ? 'panel-success': 'panel-danger'">
                    <div class="panel-heading"><strong>English Map URL</strong>
                      <span ng-hide="newHosMap.url_EN" style="float:right"><em>Incomplete</em></span>
                      <span ng-show="newHosMap.url_EN" style="float:right"><em>Complete</em></span>
                    </div>
                    <div class="panel-body">
                      <div class="row" style="margin-bottom:10px;">
                        <div class="col-xs-12">
                          <div class="input-group">
                            <input class="form-control" type="text" ng-model="newHosMap.url_EN" ng-change="urlUpdate()" placeholder="English URL" required="required">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" ng-click="showMap(newHosMap.url_EN, 'EN')">Show Map</button>
                            </span>
                          </div>
                        </div>
                      </div>    
                      <div class="row">
                        <div class="col-xs-12">
                          <div ng-show="showMapDisplay_EN" style="text-align:center">
                            <img ng-src="{{mapURL_EN}}" style="width:150px;height:150px;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>          
                <div class="col-xs-12 col-md-6">
                  <div class="panel" ng-class="newHosMap.url_FR ? 'panel-success': 'panel-danger'">
                    <div class="panel-heading"><strong>Map URL Français</strong>
                      <span ng-hide="newHosMap.url_FR" style="float:right"><em>Incomplete</em></span>
                      <span ng-show="newHosMap.url_FR" style="float:right"><em>Complete</em></span>
                    </div>
                    <div class="panel-body">
                      <div class="row" style="margin-bottom:10px;">
                        <div class="col-xs-12">
                          <div class="input-group">
                            <input class="form-control" type="text" ng-model="newHosMap.url_FR" ng-change="urlUpdate()" placeholder="URL Français" required="required">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" ng-click="showMap(newHosMap.url_FR, 'FR')">Show Map</button>
                            </span>
                          </div>
                        </div>
                      </div>    
                      <div class="row">
                        <div class="col-xs-12">
                          <div ng-show="showMapDisplay_FR" style="text-align:center">
                            <img ng-src="{{mapURL_FR}}" style="width:150px;height:150px;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>   
              </div>
              <!-- SECTION: QR Code  -->
              <div class="row animated" ng-class="{fadeInUp: qrSection.show}" ng-if="qrSection.show">
                <div class="col-xs-12 side-menu-title">
                  <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                    <span style="background-color:#e6edfa; padding: 0 10px;">
                      <span class="fas fa-dot-circle"></span>
                      <h2>QR Identifier</h2>
                    </span>  
                  </div>  
                </div>
              </div>   
              <div class="row animated" ng-class="{fadeInUp: qrSection.show}" ng-if="qrSection.show">
                <div class="col-xs-12">
                  <p style="margin-bottom: 10px;">
                    <span style="color:#d9534f"><strong>Required field:</strong></span>
                    Please assign a unique identifier for this map and click <strong>Generate QR</strong>. 
                  </p>
                </div>
              </div> 
              <div class="row animated" ng-class="{fadeInUp: qrSection.show}" ng-if="qrSection.show"> 
                <div class="col-xs-12 col-md-6">
                  <div class="panel" ng-class="(newHosMap.qrid && newHosMap.qrcode) ? 'panel-success': 'panel-danger'">
                    <div class="panel-heading"><strong>QR Identifier</strong>
                      <span ng-hide="newHosMap.qrid && newHosMap.qrcode" style="float:right"><em>Incomplete</em></span>
                      <span ng-show="newHosMap.qrid && newHosMap.qrcode" style="float:right"><em>Complete</em></span>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="input-group">
                            <input class="form-control" type="text" ng-model="newHosMap.qrid" ng-change="qridUpdate()" placeholder="QRID" required="required">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" ng-click="generateQRCode(newHosMap.qrid)">Generate QR</button>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <div ng-show="newHosMap.qrcode" style="text-align:center">
                            <img ng-src="{{newHosMap.qrcode}}" style="width:150px;height:150px;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>          
              </div>
              <!-- END SECTION -->       
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- "Processing" modal template -->
<script type="text/ng-template" id="processingModal.htm">
  <div class="modal-header">
    <h1> Processing...</h1>
  </div>
  <div class="modal-body">
    <div class="progress progress-striped active">
      <div class="progress-bar" style="width: 100%"></div>        
    </div>
  </div>
</script>

