<div class="form-box form-box-shake animated" ng-class="{'pulse': !formLoaded}">
    <div class="row" style="margin-top:10px;">
        <div class="horz-line" style="height: 10px; text-align: center; margin-left:25px; margin-right:34px">
      <span style="background-color:#fff; padding: 0 10px;">
        <h2 style="display:inline; font-size: 20px;">
          <strong>{{'LOGIN.LOGIN_START'|translate}}</strong>
        </h2>  
      </span>
        </div>
    </div>
    <div id="block-system-main" class="login-register-block-main">
        <div class="login-content clearfix">
            <form ng-submit="submitLogin(credentials)" method="post">
                <div class="row clearfix" style="margin-top:20px; margin-bottom:20px; display:flex; align-items:center;">
                    <div class="col-xs-1">
                        <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" required="required" ng-model="credentials.username" placeholder="{{'LOGIN.USERNAME'|translate}}">
                    </div>
                </div>
                <div class="row" style="margin-bottom:20px; display:flex; align-items:center;">
                    <div class="col-xs-1">
                        <i class="fa fa-key fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-10">
                        <input type="password" class="form-control" required="required" autocomplete="off" ng-model="credentials.password" placeholder="{{'LOGIN.PASSWORD'|translate}}">
                    </div>
                </div>
                <div class="row col-xs-offset-1">
                    <input class="btn btn-primary" ng-class="{'disabled': !loginFormComplete()}" type="submit" value="{{'LOGIN.LOGIN'|translate}}">
                    <a href="#" ng-show="loginPage" ng-click="changeLanguage();" class="btn btn-primary">{{'LOGIN.ALT_LANGUAGE'|translate}}</a>
                </div>
            </form>

            <div class="row">
                <div class="col-xs-12 text-left" style="margin-top:20px;">
                  <a ui-sref="about" class="url-link">
                    {{'LOGIN.DISCLAIMER'|translate}}
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bannerMessage alert-success">{{bannerMessage}}</div>