<!-- Modal title -->
<div class="modal-header">
    <div class="col-xs-12 col-md-6">
        <h2 class="modal-title">
            <span class="glyphicon glyphicon-pencil"></span>
            {{'EDUCATION.EDIT.TITLE'|translate}}
        </h2>
    </div>
    <div class="modal-buttons col-xs-12 col-md-6">
        <span>
            <form method="post" ng-submit="updateEduMat()">
                <input class="btn btn-primary submit" ng-class="{'disabled': !checkForm()}" type="submit" value="{{'EDUCATION.EDIT.SAVE'|translate}}">
                <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="{{'EDUCATION.EDIT.CANCEL'|translate}}">
            </form>
        </span>
    </div>
</div>
<div class="modal-body">
    <div class="bannerMessageModal alert-success">{{bannerMessageModal}}</div>
    <uib-accordion close-others="false">
        <!-- SECTION: Titles -->
        <div uib-accordion-group is-open="titleSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'EDUCATION.EDIT.TITLES'|translate}} </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': titleSection.open, 'glyphicon-chevron-right': !titleSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <span class="input-group-addon">{{'EDUCATION.EDIT.ENGLISH_ABRV'|translate}}</span>
                        <input class="form-control" type="text" ng-model="eduMat.name_EN" ng-change="detailsUpdated()" placeholder="{{'EDUCATION.EDIT.ENGLISH_TITLE'|translate}}" required="required">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-5" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <span class="input-group-addon">{{'EDUCATION.EDIT.FRENCH_ABRV'|translate}}</span>
                        <input class="form-control" type="text" ng-model="eduMat.name_FR" ng-change="detailsUpdated()" placeholder="{{'EDUCATION.EDIT.FRENCH_TITLE'|translate}}" required="required">
                    </div>
                </div>
            </div>
        </div>
        <!-- SECTION: Purpose-->
        <div uib-accordion-group is-open="purposeSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'EDUCATION.EDIT.PURPOSE'|translate}} </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': purposeSection.open, 'glyphicon-chevron-right': !purposeSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="row">
                <div class="col-xs-12 col-md-16" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <span class="input-group-addon">{{'EDUCATION.EDIT.PURPOSE'|translate}}</span>
                        <select ng-model="eduMat.purpose_ID" ng-change="detailsUpdated()" ng-options="purpose.ID as translatePurposeTitleDisplay(purpose.title_EN, purpose.title_FR) for purpose in purposeOptions" class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>
        <!-- SECTION: Single URL -->
        <div uib-accordion-group is-open="urlSection.open" ng-show="!eduMat.tocs.length">
            <uib-accordion-heading>
                <div>
                    <strong>{{'EDUCATION.EDIT.URLS'|translate}}</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': urlSection.open, 'glyphicon-chevron-right': !urlSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="alert alert-info" role="alert">
                <strong>{{'EDUCATION.EDIT.CURRENT_URLS'|translate}}</strong><br>
                <p>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                    <span style="word-wrap: break-word">
                    <strong>{{'EDUCATION.EDIT.ENGLISH_ABRV'|translate}} </strong> -- {{eduMat.url_EN}} <br>
                    </span>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                    <span style="word-wrap: break-word">
                        <strong>{{'EDUCATION.EDIT.FRENCH_ABRV'|translate}} </strong> -- {{eduMat.url_FR}}
                    </span>
                </p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <span class="input-group-addon">{{'EDUCATION.EDIT.ENGLISH_ABRV'|translate}}</span>
                        <input class="form-control" type="text" ng-model="eduMat.url_EN" ng-change="detailsUpdated()" placeholder="{{'EDUCATION.EDIT.ENGLISH_URL'|translate}}" required="required">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <span class="input-group-addon">{{'EDUCATION.EDIT.FRENCH_ABRV'|translate}}</span>
                        <input class="form-control" type="text" ng-model="eduMat.url_FR" ng-change="detailsUpdated()" placeholder="{{'EDUCATION.EDIT.FRENCH_URL'|translate}}" required="required">
                    </div>
                </div>
            </div>
        </div>
        <!-- SECTION: Table of contents -->
        <div uib-accordion-group is-open="tocSection.open" ng-hide="eduMat.url_EN || eduMat.url_FR">
            <uib-accordion-heading>
                <div>
                    <strong>{{'EDUCATION.EDIT.TABLE_CONTENTS'|translate}}</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': tocSection.open, 'glyphicon-chevron-right': !tocSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="row" ng-repeat="toc in eduMat.tocs" style="margin-bottom:7px; border-bottom:1px solid #ddd;">
                <h2 style="margin:0 0 7px 0; padding:0 15px; font-size:30px;">{{'EDUCATION.EDIT.ORDER'|translate}} {{toc.order}}
                    <span style="float:right; cursor:pointer;" ng-click="removeTOC(toc.order)"><span class="glyphicon glyphicon-remove"></span></span>
                </h2>
                <div class="col-xs-12 col-md-6">
                    <div class="input-group" style="margin-bottom: 7px;">
                        <span class="input-group-addon">{{'EDUCATION.EDIT.ENGLISH_TITLE_ABVR'|translate}}</span>
                        <input class="form-control" type="text" ng-model="toc.name_EN" ng-change="validateTOCs()" placeholder="{{'EDUCATION.EDIT.ENGLISH_TITLE'|translate}}" required="required">
                    </div>
                    <div class="input-group" style="margin-bottom: 7px;">
                        <span class="input-group-addon">{{'EDUCATION.EDIT.ENGLISH_URL_ABVR'|translate}}</span>
                        <input class="form-control" type="text" ng-model="toc.url_EN" ng-change="validateTOCs()" placeholder="{{'EDUCATION.EDIT.ENGLISH_URL'|translate}}" required="required">
                    </div>
                    <div class="input-group" style="margin-bottom: 20px;">
                        <span class="input-group-addon">{{'EDUCATION.EDIT.ENGLISH_TYPE_ABVR'|translate}}</span>
                        <input class="form-control" type="text" ng-model="toc.type_EN" ng-change="typeTocUpdate(toc, 'EN')" typeahead-on-select="typeTocUpdate(toc, 'EN')" uib-typeahead="type.EN as type.EN for type in EduMatTypes | filter:{EN:$viewValue}" typeahead-min-length="0" placeholder="{{'EDUCATION.EDIT.ENGLISH_TYPE'|translate}}" required="required">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="input-group" style="margin-bottom: 7px;">
                        <span class="input-group-addon">{{'EDUCATION.EDIT.FRENCH_TITLE_ABVR'|translate}}</span>
                        <input class="form-control" type="text" ng-model="toc.name_FR" ng-change="validateTOCs()" placeholder="{{'EDUCATION.EDIT.FRENCH_TITLE'|translate}}" required="required">
                    </div>
                    <div class="input-group" style="margin-bottom: 7px;">
                        <span class="input-group-addon">{{'EDUCATION.EDIT.FRENCH_URL_ABVR'|translate}}</span>
                        <input class="form-control" type="text" ng-model="toc.url_FR" ng-change="validateTOCs()" placeholder="{{'EDUCATION.EDIT.FRENCH_URL'|translate}}" required="required">
                    </div>
                    <div class="input-group" style="margin-bottom: 20px;">
                        <span class="input-group-addon">{{'EDUCATION.EDIT.FRENCH_TYPE_ABVR'|translate}}</span>
                        <input class="form-control" type="text" ng-model="toc.type_FR" ng-change="typeTocUpdate(toc, 'FR')" typeahead-on-select="typeTocUpdate(toc, 'FR')" uib-typeahead="type.FR as type.FR for type in EduMatTypes | filter:{FR:$viewValue}" typeahead-min-length="0" placeholder="{{'EDUCATION.EDIT.FRENCH_TYPE'|translate}}" required="required">
                    </div>
                </div>
            </div>
            <div class="table-buttons">
                <button class="btn btn-primary" ng-click="addTOC()">{{'EDUCATION.EDIT.ADD_TOC'|translate}}</button>
            </div>
        </div>
        <!-- SECTION: Supporting PDF -->
        <div uib-accordion-group is-open="pdfSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>{{'EDUCATION.EDIT.PDF_DOCUMENT'|translate}}</strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': pdfSection.open, 'glyphicon-chevron-right': !pdfSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="alert alert-info" role="alert">
                <strong>{{'EDUCATION.EDIT.CURRENT_PDF'|translate}}</strong><br>
                <p>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                    <span style="word-wrap: break-word">
                    <strong>{{'EDUCATION.EDIT.ENGLISH_ABRV'|translate}} </strong> -- {{eduMat.share_url_EN}} <br>
                    </span>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                    <span style="word-wrap: break-word">
                        <strong>{{'EDUCATION.EDIT.FRENCH_ABRV'|translate}} </strong> -- {{eduMat.share_url_FR}}
                    </span>
                </p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <span class="input-group-addon">{{'EDUCATION.EDIT.ENGLISH_ABRV'|translate}}</span>
                        <input class="form-control" type="text" ng-model="eduMat.share_url_EN" ng-change="detailsUpdated()" placeholder="{{'EDUCATION.EDIT.ENGLISH_URL'|translate}}" required="required">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <span class="input-group-addon">{{'EDUCATION.EDIT.FRENCH_ABRV'|translate}}</span>
                        <input class="form-control" type="text" ng-model="eduMat.share_url_FR" ng-change="detailsUpdated()" placeholder="{{'EDUCATION.EDIT.FRENCH_URL'|translate}}" required="required">
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion>
</div>