<?xml version="1.0" encoding="UTF-8"?>

<!--
SPDX-FileCopyrightText: Copyright (C) 2020 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
  <coverage>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Classes">
      <directory suffix="Test.php">./tests/classes</directory>
    </testsuite>
    <testsuite name="Requests">
      <directory suffix="Test.php">./tests/requests</directory>
    </testsuite>
  </testsuites>
  <php>
    <server name="APP_ENV" value="testing"/>
    <!--        <server name="BCRYPT_ROUNDS" value="4"/>-->
    <!--        <server name="CACHE_DRIVER" value="array"/>-->
    <!--        <server name="DB_CONNECTION" value="sqlite"/>-->
    <!--        <server name="DB_DATABASE" value=":memory:"/>-->
    <!--        <server name="MAIL_MAILER" value="array"/>-->
    <!--        <server name="QUEUE_CONNECTION" value="sync"/>-->
    <!--        <server name="SESSION_DRIVER" value="array"/>-->
    <!--        <server name="TELESCOPE_ENABLED" value="false"/>-->
  </php>
</phpunit>
