  <div id="main">
    <div id="top">
      <div class="clearfix">
        <div class="row">
          <div class="col-md-2" style="position:fixed;">
            <div ng-controller="sidePanelMenuController">
              <div class="row side-logo" ng-click="goToHome()">
                <div class="col-md-12">
                  <div class="logo">
                    <img style="margin-top: -20px;" class="animated rotateIn" src="images/opal_logo_transparent_purple.png" height="130" width="130">
                  </div>
                  <h1 class="animated fadeIn">opal <strong>ADMIN</strong> </h1>
                </div>
              </div>   
            </div>  
            <div class="row">
              <div class="side-menu-title">
                <div class="horz-line" style="height: 10px; text-align: center">
                  <span style="background-color:#e6edfa; padding: 0 10px;">
                    <h2>Summary</h2>
                  </span>  
                </div>  
              </div>
            </div>
            <div class="row">
              <div class="progress progress-striped active">
                <div class="progress-bar" ng-class="{'progress-bar-success': stepProgress == 100}" role="progressbar" aria-valuenow="{{stepProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stepProgress}}%">
                </div>
              </div>
            </div>
            <div class="panel-container">
              <div class="panel-info">
                <div class="panel-content" style="padding-top: 0">
                  <table class="summary-box" style="width: 100%">
                    <col width="7%">
                    <col width="93%"> 
                    <tr>
                      <td>
                        <span ng-hide="newEmail.type" class="glyphicon glyphicon-minus"></span>
                        <span ng-show="newEmail.type" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </td>
                      <td>
                        <div class="horz-line" style="line-height: 0px;">
                          <span class="title" style="background-color: #fff;">
                            <strong>Type</strong>
                          </span>
                        </div> 
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <div ng-show="newEmail.type" class="description">
                          <p>{{newEmail.type}}</p>
                        </div>
                      </td>
                    </tr>  

										<tr>
											<td>
												<span ng-hide="newEmail.name_EN && newEmail.name_FR" class="glyphicon glyphicon-minus"></span>
												<span ng-show="newEmail.name_EN && newEmail.name_FR" style="color:#5cb85c" class="glyphicon glyphicon-minus"></span>
											</td>
											<td>
												<div class="horz-line" style="line-height: 0px;">
												<span class="title" style="background-color: #fff;">
													<strong>Title</strong>
												</span>
												</div> 
											</td>
											</tr>

											<tr>
											<td></td>
											<td> 
												<div ng-show="newEmail.name_EN" class="description">
												<p><strong>EN: </strong>{{newEmail.name_EN}}</p>
												</div>
												<div ng-show="newEmail.name_FR" class="description">
												<p><strong>FR: </strong>{{newEmail.name_FR}}</p>
												</div>
											</td>
										</tr>
                    <tr>
                      <td>    
                        <span ng-hide="newEmail.body_EN && newEmail.body_FR" class="glyphicon glyphicon-minus"></span>
                        <span ng-show="newEmail.body_EN && newEmail.body_FR" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </td>
                      <td>
                        <div class="horz-line" style="line-height: 0px;">
                          <span class="title" style="background-color: #fff;">
                            <strong>Body</strong>
                          </span>
                        </div> 
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <div ng-show="newEmail.body_EN && newEmail.body_FR" class="description">
                          <p>See rendered output on the right</p>
                        </div>
                      </td>
                    </tr>
                  </table>  

                  <div ng-hide="toggleAlertText()" class="table-buttons" style="text-align: center">
                    <form ng-submit="submitEmailTemplate()" method="post">
                      <button class="btn btn-primary" ng-class="{'disabled': !checkForm()}" type="submit">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-container animated" ng-class="{pulse: hoverA}" ng-mouseenter="hoverA=true" ng-mouseleave="hoverA=false" style="cursor:pointer;" ng-click="goBack()">
              <div class="side-panel-info">
                <div class="panel-content" style="text-align:center;">
                  <span style="font-size: 23px; padding-right:10px;" class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                  <span style="font-size: 30px; font-weight:700">Go Back</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-10 animated fadeInRight" style="margin-left:17%;">
            <div class="row main-title">
              <div class="col-md-8 title-content">
                <span class="glyphicon glyphicon-plus"></span>
                <h1><strong>Add Email Template</strong></h1>
              </div>
              <div class="col-md-4 title-breadcrumbs"> 
                <span>
                  <span><a href="#/">Home</a></span>
                  <span class="teflon glyphicon glyphicon-menu-right"></span> 
                  <span><a href="#/email">Email</a></span>
                  <span class="teflon glyphicon glyphicon-menu-right"></span> 
                  <span><strong>Add Email Template</strong></span>
                </span>
              </div>
            </div>   

            <div class="row">
              <div class="col-md-12 side-menu-title">
                <div style="height: 10px; border-bottom: 1px solid #6f5499;">
                  <span style="background-color:#e6edfa; padding: 0 10px;">
                    <span class="fa fa-dot-circle-o"></span>
                    <h2>Type</h2>
                  </span>  
                </div>  
              </div>
            </div>   
            <div class="row">
              <div class="col-md-12">
                <p style="margin-bottom: 10px;">
                  <span style="color:#d9534f"><strong>Required field:</strong></span>
                  Please select the email type.
                </p>
              </div>
            </div>    
            <div class="row">
              <div ng-repeat="type in emailTypes" class="col-md-2"> 
                <div class="panel-container animated" style="cursor:pointer;" ng-class="{pulse: hover, active: newEmail.type == type.serial}" ng-click="typeUpdate(type.serial)" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                  <div class="panel-info" ng-class="{active: newEmail.type == type.serial}">
                    <div class="panel-content" style="text-align:center">
                      <span style="font-size:30px;" class="glyphicon glyphicon-bell"></span>
                      <div class="option-panel-title">{{type.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 

						<div class="row">
              <div class="col-md-12 side-menu-title">
                <div style="height: 10px; border-bottom: 1px solid #6f5499;">
                  <span style="background-color:#e6edfa; padding: 0 10px;">
                    <span class="fa fa-dot-circle-o"></span>
                    <h2>Title</h2>
                  </span>  
                </div>  
              </div>
            </div>   
            <div class="row">
              <div class="col-md-12">
                <p style="margin-bottom: 10px;">
                  <span style="color:#d9534f"><strong>Required field:</strong></span>
                  Please assign an english and french title.
                </p>
              </div>
            </div>  
            <div class="row">
              <div class="col-md-6">
                <div class="panel" ng-class="(newEmail.name_EN) ? 'panel-success': 'panel-danger'">
                  <div class="panel-heading"><strong>English</strong>
                    <span ng-hide="newEmail.name_EN" style="float:right"><em>Incomplete</em></span>
                    <span ng-show="newEmail.name_EN" style="float:right"><em>Complete</em></span>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-2">
                        <div style="font-size:18px; text-align:right;">Title</div>
                      </div>
                      <div class="col-md-10">
                        <div class="form-group">
                          <input class="form-control" type="text" ng-model="newEmail.name_EN" ng-change="titleUpdate()" placeholder="English Title" required="required">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>          
              <div class="col-md-6">
                <div class="panel" ng-class="(newEmail.name_FR) ? 'panel-success': 'panel-danger'">
                  <div class="panel-heading"><strong>Français</strong>
                    <span ng-hide="newEmail.name_FR" style="float:right"><em>Incomplete</em></span>
                    <span ng-show="newEmail.name_FR" style="float:right"><em>Complete</em></span>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-2">
                        <div style="font-size:18px; text-align:right;">Titre</div>
                      </div>
                      <div class="col-md-10">
                        <div class="form-group">
                          <input class="form-control" type="text" ng-model="newEmail.name_FR" ng-change="titleUpdate()" placeholder="Titre Français" required="required">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>        
            </div>

						<div class="row">
              <div class="col-md-12 side-menu-title">
                <div style="height: 10px; border-bottom: 1px solid #6f5499;">
                  <span style="background-color:#e6edfa; padding: 0 10px;">
                    <span class="fa fa-dot-circle-o"></span>
                    <h2>Body</h2>
                  </span>  
                </div>  
              </div>
            </div>   
            <div class="row">
              <div class="col-md-12">
                <p style="margin-bottom: 5px;">
                  <span style="color:#d9534f"><strong>Required field:</strong></span>
                  Please assign the message content in both english and in french.
                </p>
              </div>
            </div>  
            <div class="row">
              <div class="col-md-9">
                <div class="panel" ng-class="(newEmail.body_EN) ? 'panel-success': 'panel-danger'">
                  <div class="panel-heading"><strong>English</strong>
                    <span ng-hide="newEmail.body_EN" style="float:right"><em>Incomplete</em></span>
                    <span ng-show="newEmail.body_EN" style="float:right"><em>Complete</em></span>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <div text-angular ng-model="newEmail.body_EN" ng-change="bodyUpdate()"></div>
                        </div> 
                      </div>  
                    </div>
                  </div>
                </div>
              </div>
            </div>           
            <div class="row">
              <div class="col-md-9">
                <div class="panel" ng-class="(newEmail.body_FR) ? 'panel-success': 'panel-danger'">
                  <div class="panel-heading"><strong>Français</strong>
                    <span ng-hide="newEmail.body_FR" style="float:right"><em>Incomplete</em></span>
                    <span ng-show="newEmail.body_FR" style="float:right"><em>Complete</em></span>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <div text-angular ng-model="newEmail.body_FR" ng-change="bodyUpdate()"></div>
                        </div> 
                      </div>  
                    </div>
                  </div>
                </div>
              </div>
            </div>           

          </div>
        </div>
      </div>
    </div>
<script type="text/ng-template" id="processingModal.htm">
  <div class="modal-header">
    <h1> Processing...</h1>
  </div>
  <div class="modal-body">
    <div class="progress progress-striped active">
      <div class="progress-bar" style="width: 100%"></div>        
    </div>
  </div>
</script>

