  <div id="main">
    <div id="top">
      <div class="clearfix">
        <div class="row">
          <div class="col-md-2">
            <div ng-controller="sidePanelMenuController">
              <div class="row side-logo" ng-click="goToHome()">
                <div class="col-md-12">
                  <div class="logo">
                    <img style="margin-top: -20px;" class="animated rotateIn" src="images/opal_logo_transparent_purple.png" height="130" width="130">
                  </div>
                  <h1 class="animated fadeIn">opal <strong>ADMIN</strong> </h1>
                </div>
              </div>   
            </div> 
            <div class="summary-fix"> 
              <div class="row">
                <div class="side-menu-title">
                  <div class="horz-line" style="height: 10px; text-align: center">
                    <span style="background-color:#e6edfa; padding: 0 10px;">
                      <h2>Summary</h2>
                    </span>  
                  </div>  
                </div>
              </div>
              <div class="row">
                <div class="progress progress-striped active">
                  <div class="progress-bar" ng-class="{'progress-bar-success': stepProgress == 100}" role="progressbar" aria-valuenow="{{stepProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stepProgress}}%">
                  </div>
                </div>
              </div>

              <uib-accordion>

                <div uib-accordion-group is-open="title_description.open" class="panel-container summary-box" is-disabled="!newHosMap.name_EN && !newHosMap.name_FR && !newHosMap.description_EN && !newHosMap.description_FR">
                  <uib-accordion-heading>
                    <div class="row" style="align-items:center">
                      <div class="col-md-2">
                        <span ng-if="newHosMap.name_EN && newHosMap.name_FR && newHosMap.description_EN && newHosMap.description_FR" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="col-md-8">
                        <strong>Title & Description</strong>
                      </div>
                      <div class="col-md-2">
                        <i ng-if="newHosMap.name_EN || newHosMap.name_FR || newHosMap.description_EN || newHosMap.description_FR" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': title_description.open, 'glyphicon-chevron-right': !title_description.open}"></i>
                      </div>
                    </div>
                  </uib-accordion-heading>
                  <div ng-if="newHosMap.name_EN || newHosMap.description_EN" class="description">
                    <p ng-if="newHosMap.name_EN" style="margin-bottom:5px;">
                      <strong>EN</strong>
                      <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                      {{newHosMap.name_EN}}
                    </p>
                    <p ng-if="newHosMap.description_EN" style="padding-left: 10px; font-size: 10px;"><em>{{newHosMap.description_EN}}</em></p>
                  </div>
                  <div ng-if="newHosMap.name_FR || newHosMap.description_FR" class="description">
                    <p ng-if="newHosMap.name_FR" style="margin-bottom:5px;">
                      <strong>FR</strong>
                      <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                      {{newHosMap.name_FR}}
                    </p>
                    <p ng-if="newHosMap.description_FR" style="padding-left: 10px; font-size: 10px;"><em>{{newHosMap.description_FR}}</em></p>
                  </div>
                </div>

                <div uib-accordion-group is-open="url.open" class="panel-container summary-box animated" ng-class="{fadeInUp: url.show}" is-disabled="!newHosMap.qrid && !newHosMap.url" ng-if="url.show">
                  <uib-accordion-heading>
                    <div class="row" style="align-items: center">
                      <div class="col-md-2">
                        <span ng-if="newHosMap.qrid && newHosMap.url" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="col-md-8">
                        <strong>QR & Map URL</strong>
                      </div>
                      <div class="col-md-2">
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': url.open, 'glyphicon-chevron-right': !url.open}" ng-if="newHosMap.qrid || newHosMap.url"></i>
                      </div>
                    </div>
                  </uib-accordion-heading>
                  <div ng-if="newHosMap.qrid" class="description">
                    <p>
                      <strong>QR ID</strong>
                      <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                      {{newHosMap.qrid}}
                    </p>
                  </div>
                  <div ng-if="newHosMap.url" class="description">
                    <p>
                      <strong>URL</strong>
                      <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                      {{newHosMap.url}}
                    </p>
                  </div>
                </div>
              </uib-accordion>

              <div class="panel-container">
                <a href="" ng-click="submitHosMap()" class="btn btn-md item-button-success animated" ng-class="{pulse: hoverV}" ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false" ng-if="checkForm()" style="width: 100%;">
                  <span style="font-size: 20px;"><strong>Submit Hospital Map</strong></span>
                </a>
              </div>

              <div class="panel-container animated" ng-class="{pulse: hoverA}" ng-mouseenter="hoverA=true" ng-mouseleave="hoverA=false" style="cursor:pointer;" ng-click="goBack()">
                <div class="side-panel-info">
                  <div class="panel-content" style="text-align:center;">
                    <span style="font-size: 23px; padding-right:10px;" class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    <span style="font-size: 30px; font-weight:700">Go Back</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-10 animated fadeInRight">
            <div class="row main-title">
              <div class="col-md-8 title-content">
                <span class="glyphicon glyphicon-plus"></span>
                <h1><strong>Add Hospital Map</strong></h1>
              </div>
              <div class="col-md-4 title-breadcrumbs"> 
                <span>
                  <span><a href="#/">Home</a></span>
                  <span class="teflon glyphicon glyphicon-menu-right"></span> 
                  <span><a href="#/hospital-map">Hospital Maps</a></span>
                  <span class="teflon glyphicon glyphicon-menu-right"></span> 
                  <span><strong>Add Hospital Map</strong></span>
                </span>
              </div>
            </div>    

            <div class="row">
              <div class="col-md-12 side-menu-title">
                <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                  <span style="background-color:#e6edfa; padding: 0 10px;">
                    <span class="fa fa-dot-circle-o"></span>
                    <h2>Title & Description</h2>
                  </span>  
                </div>  
              </div>
            </div>   
            <div class="row">
              <div class="col-md-12">
                <p style="margin-bottom: 10px;">
                  <span style="color:#d9534f"><strong>Required field:</strong></span>
                  Please assign an english and french title and description.
                </p>
              </div>
            </div>  
            <div class="row"> 
              <div class="col-md-6">
                <div class="panel" ng-class="(newHosMap.name_EN && newHosMap.description_EN) ? 'panel-success': 'panel-danger'">
                  <div class="panel-heading"><strong>English</strong>
                    <span ng-hide="newHosMap.name_EN && newHosMap.description_EN" style="float:right"><em>Incomplete</em></span>
                    <span ng-show="newHosMap.name_EN && newHosMap.description_EN" style="float:right"><em>Complete</em></span>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-2">
                        <div style="font-size:18px; text-align:right;">Title</div>
                      </div>
                      <div class="col-md-10">
                        <div class="form-group">
                          <input class="form-control" type="text" ng-model="newHosMap.name_EN" ng-change="titleDescriptionUpdate()" placeholder="English Title" required="required">
                        </div>
                      </div>
                    </div>    
                    <div class="row">
                      <div class="col-md-2">
                        <div style="font-size:18px; text-align:right;">Description</div>
                      </div>
                      <div class="col-md-10">
                        <div class="form-group">
                          <textarea class="form-control" rows="5" ng-model="newHosMap.description_EN" ng-change="titleDescriptionUpdate()" placeholder="English Description" required="required"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>          
              <div class="col-md-6">
                <div class="panel" ng-class="(newHosMap.name_FR && newHosMap.description_FR) ? 'panel-success': 'panel-danger'">
                  <div class="panel-heading"><strong>Français</strong>
                    <span ng-hide="newHosMap.name_FR && newHosMap.description_FR" style="float:right"><em>Incomplete</em></span>
                    <span ng-show="newHosMap.name_FR && newHosMap.description_FR" style="float:right"><em>Complete</em></span>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-2">
                        <div style="font-size:18px; text-align:right;">Titre</div>
                      </div>
                      <div class="col-md-10">
                        <div class="form-group">
                          <input class="form-control" type="text" ng-model="newHosMap.name_FR" ng-change="titleDescriptionUpdate()" placeholder="Titre Français" required="required">
                        </div>
                      </div>
                    </div>    
                    <div class="row">
                      <div class="col-md-2">
                        <div style="font-size:18px; text-align:right;">Description</div>
                      </div>
                      <div class="col-md-10">
                        <div class="form-group">
                          <textarea class="form-control" rows="5" ng-model="newHosMap.description_FR" ng-change="titleDescriptionUpdate()" placeholder="Description Français" required="required"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>          
            </div>

            <div class="row animated" ng-class="{fadeInUp: url.show}" ng-if="url.show">
              <div class="col-md-12 side-menu-title">
                <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                  <span style="background-color:#e6edfa; padding: 0 10px;">
                    <span class="fa fa-dot-circle-o"></span>
                    <h2>QR Identifier & Map URL</h2>
                  </span>  
                </div>  
              </div>
            </div>   
            <div class="row animated" ng-class="{fadeInUp: url.show}" ng-if="url.show">
              <div class="col-md-12">
                <p style="margin-bottom: 10px;">
                  <span style="color:#d9534f"><strong>Required field:</strong></span>
                  Please assign a unique identifier for this map and click <strong>Generate QR</strong>. Please specify the map location in the URL field. Click <strong>Show Map</strong> to generate map thumbnail.
                </p>
              </div>
            </div> 
            <div class="row animated" ng-class="{fadeInUp: url.show}" ng-if="url.show"> 
              <div class="col-md-6">
                <div class="panel" ng-class="(newHosMap.qrid && newHosMap.qrcode) ? 'panel-success': 'panel-danger'">
                  <div class="panel-heading"><strong>QR Identifier</strong>
                    <span ng-hide="newHosMap.qrid && newHosMap.qrcode" style="float:right"><em>Incomplete</em></span>
                    <span ng-show="newHosMap.qrid && newHosMap.qrcode" style="float:right"><em>Complete</em></span>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="input-group">
                          <input class="form-control" type="text" ng-model="newHosMap.qrid" ng-change="qridUpdate()" placeholder="QRID" required="required">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="generateQRCode(newHosMap.qrid)">Generate QR</button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div ng-show="newHosMap.qrcode" style="text-align:center">
                          <img ng-src="{{newHosMap.qrcode}}" style="width:150px;height:150px;">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>          
              <div class="col-md-6">
                <div class="panel" ng-class="newHosMap.url ? 'panel-success': 'panel-danger'">
                  <div class="panel-heading"><strong>Map URL</strong>
                    <span ng-hide="newHosMap.url" style="float:right"><em>Incomplete</em></span>
                    <span ng-show="newHosMap.url" style="float:right"><em>Complete</em></span>
                  </div>
                  <div class="panel-body">
                    <div class="row" style="margin-bottom:10px;">
                      <div class="col-md-12">
                        <div class="input-group">
                          <input class="form-control" type="text" ng-model="newHosMap.url" ng-change="qridUpdate()" placeholder="URL" required="required">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="showMap(newHosMap.url)">Show Map</button>
                          </span>
                        </div>
                      </div>
                    </div>    
                    <div class="row">
                      <div class="col-md-12">
                        <div ng-show="showMapDisplay" style="text-align:center">
                          <img ng-src="{{mapURL}}" style="width:150px;height:150px;">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>          
            </div>
          </div>
        </div>
      </div>
    </div>
<script type="text/ng-template" id="processingModal.htm">
  <div class="modal-header">
    <h1> Processing...</h1>
  </div>
  <div class="modal-body">
    <div class="progress progress-striped active">
      <div class="progress-bar" style="width: 100%"></div>        
    </div>
  </div>
</script>

