  <div id="main">
    <div id="top">
      <div class="clearfix">
        <div class="row">
          <!-- Load side menu -->
          <div id="side-panel-scrollbar" class="col-lg-2">
            <div ng-include="'templates/side-panel-menu.html'"></div>
          </div>
          <!-- Right detail panel view -->
          <div class="col-lg-10 animated fadeIn">
            <div class="row main-title">
              <!-- Page title -->
              <div class="col-xs-12 col-md-9 title-content">
                <span class="glyphicon glyphicon-cloud"></span>
                <h1><strong>Tasks / Appointments / Documents</strong></h1>
              </div>
              <!-- Breadcrumbs -->
              <div class="col-md-3 title-breadcrumbs"> 
                <span><a ui-sref="home">Home</a> <span class="glyphicon glyphicon-menu-right teflon"></span> <strong>TAD</strong></span>
              </div>
            </div> 
						<div class="row clearfix operations">
							<div class="save-add col-xs-12 col-sm-6 col-md-8">
                <!-- Add button -->
								<a style="width:100px;margin-right:20px;" href="" ng-click="goToAddAlias()" class="btn btn-md btn-outline item-button">
									<span style="font-size: 17px;" class="glyphicon glyphicon-plus"></span>
									<span style="font-size: 20px;"><strong>Add</strong></span>
                </a>
                <!-- Save changes button -->
								<a href="" ng-click="submitUpdate()" class="btn btn-md item-button-success animated" ng-if="changesMade" ng-class="{pulse: hoverV}" ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false">
									<span style="font-size: 17px;" class="glyphicon glyphicon-ok"></span>
									<span style="font-size: 20px;"><strong>Save Changes</strong></span>
								</a>
              </div>
              <!-- Search field -->
							<div class="search col-xs-12 col-sm-6 col-md-4">
								<div class="form-group has-feedback" style="margin-bottom: 0">
								<input type="text" class="form-control" ng-model="filterValue" ng-change="filterAlias(filterValue)" placeholder="Search...">
									<span class="glyphicon glyphicon-search form-control-feedback"></span>
								</div>
							</div>
            </div>   
            <!-- Load main table -->
            <div class="panel-container" style="text-align:left;">
              <div class="panel-info">
                <div class="panel-input">
                  <div id="data-table">
                    <div class="gridStyle" ui-grid="gridOptions" ui-grid-resize-columns style="height:75vh"></div>
                  </div>
                </div>            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bannerMessage alert-success">{{bannerMessage}}</div>
  </div>

  <!-- Delete alias modal template -->
  <script type="text/ng-template" id="deleteAliasModalContent.htm">
      <div class="modal-header">
        <h2 class="modal-title col-xs-12">
          <span class="glyphicon glyphicon-trash"></span> 
          Delete {{aliasToDelete.type}} 
        </h2>
        <p class="modal-title-caption col-xs-12">
          {{aliasToDelete.name_EN}} / {{aliasToDelete.name_FR}}
        </p>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <strong>Delete {{aliasToDelete.type}}</strong><br>
          <p>
            Are you sure you want to delete the {{aliasToDelete.type}} "{{aliasToDelete.name_EN}}" ?
          </p>
        </div>
        <div class="row">
          <div class="modal-buttons col-xs-12">
            <form method="post" ng-submit="deleteAlias()">			
              <input class="btn btn-primary submit" type="submit" value="Delete">
              <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="Cancel">
            </form>
          </div>
        </div>
      </div>
    </script>

    <!-- Edit alias modal template -->
    <script type="text/ng-template" id="editAliasModalContent.htm">
      <!-- Modal title -->
      <div class="modal-header">
        <h2 class="modal-title col-xs-12">
          <span class="glyphicon glyphicon-pencil"></span> 
          Edit {{alias.type}}
        </h2>
        <p class="modal-title-caption col-xs-12">
          {{alias.name_EN}} / {{alias.name_FR}}
        </p>
        <div class="modal-buttons col-xs-12">
          <span> 
            <form method="post" ng-submit="updateAlias()">
              <input class="btn btn-primary submit" ng-class="{'disabled': !checkForm()}" type="submit" value="Save Changes">
              <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="Cancel">
            </form>
          </span>     
        </div>
      </div>
      <div class="modal-body">
        <uib-accordion>
          <!-- SECTION: Assigned expressions -->
          <div uib-accordion-group is-open="statusExpressions.open">
            <uib-accordion-heading>
              <div>
                <strong>Assigned Clinical {{alias.type}} Code(s)</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusExpressions.open, 'glyphicon-chevron-right': !statusExpressions.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="alert alert-info" role="alert">
              <strong>Current Assigned Code(s)</strong><br>
              <p>
                <ul class="list-items">
                  <li ng-repeat="selectedTerm in termList | filter: {added: 1, assigned: null}">
                    {{selectedTerm.name}}
                  </li>
                </ul>
              </p>
            </div>
            <div class="list-space">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input class="form-control" type="text" ng-model="termFilter" ng-change="changeTermFilter(termFilter)" placeholder="Search..."/>
              </div>
              <div style="padding: 10px;">
                <label>
                  <input type="checkbox" ng-click="selectAllFilteredTerms()" ng-checked="selectAll"> Select All
                </label>
              </div>
              <div class="btn-group btn-group-justified">
                <a class="btn btn-default" ng-class="{'active' : !showAssigned && !hideAssigned}" ng-click="changeShowAll()">Show all</a>
                <a class="btn btn-default" ng-class="{'active' : showAssigned}" ng-click="changeShowAssigned()">Only show assigned</a>
                <a class="btn btn-default" ng-class="{'active' : hideAssigned}" ng-click="changeShowUnassigned()">Only show unassigned</a>
              </div>
              <ul class="list-items">
                <li ng-repeat="term in termList | filter: searchTermsFilter">
                  <label ng-class="{greenText: term.added, grayText: term.assigned}">
                    <input type="checkbox" ng-click="toggleTermSelection(term)" ng-checked="term.added" ng-disabled="term.assigned"/> {{term.name}}
                    <span ng-class="{redText: term.assigned}" ng-if="term.assigned"><em> --- Assigned to: {{term.assigned.name_EN}}</em></span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <!-- SECTION: Title -->
          <div uib-accordion-group is-open="statusTitle.open">
            <uib-accordion-heading>
              <div>
                <strong>Titles</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusTitle.open, 'glyphicon-chevron-right': !statusTitle.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5" style="margin-bottom: 10px;">
                <div class="input-group">
                  <span class="input-group-addon">EN</span>
                  <input class="form-control" type="text" ng-model="alias.name_EN" ng-change="titleUpdate()" placeholder="English Title" required="required">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-5" style="margin-bottom: 10px;">
                <div class="input-group">
                  <span class="input-group-addon">FR</span>
                  <input class="form-control" type="text" ng-model="alias.name_FR" ng-change="titleUpdate()" placeholder="Titre Français" required="required">
                </div>
              </div>
            </div>
          </div>
          <!-- SECTION: Description -->
          <div uib-accordion-group is-open="statusDescription.open">
            <uib-accordion-heading>
              <div>
                <strong>Plain-Text Descriptions</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusDescription.open, 'glyphicon-chevron-right': !statusDescription.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="modal-content-current-description bs-callout bs-callout-info">
              <h4>Current Alias Descriptions (EN / FR): {{alias.description_EN}} / {{alias.description_FR}}</h4>
              To change the current description(s), enter the new description(s) in the text area(s) below.
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                <div class="input-group">
                  <span class="input-group-addon">EN</span>
                  <textarea class="form-control" rows="5" ng-model="alias.description_EN" ng-change="descriptionUpdate()" placeholder="English Description" required="required"></textarea>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                <div class="input-group">
                  <span class="input-group-addon">FR</span>
                  <textarea class="form-control" rows="5" ng-model="alias.description_FR" ng-change="descriptionUpdate()" placeholder="Description Francais" required="required"></textarea>
                </div>
              </div>
            </div>
          </div>
          <!-- SECTION: Educational material -->
          <div uib-accordion-group is-open="statusEducationalMaterial.open">
            <uib-accordion-heading>
              <div>
                <strong>Attached Educational Material</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusEducationalMaterial.open, 'glyphicon-chevron-right': !statusEducationalMaterial.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="alert alert-info" role="alert">
              <strong>Current Educational Material (EN / FR)</strong><br>
              <p>
                <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                <span ng-if="alias.eduMat">{{alias.eduMat.name_EN}} / {{alias.eduMat.name_FR}}</span>
                <span ng-if="!alias.eduMat">None</span>
              </p>
            </div>
            <div class="list-space">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input class="form-control" type="text" ng-model="eduMatFilter" ng-change="changeEduMatFilter(eduMatFilter)" placeholder="Search Educational Material..."/>
              </div>
              <ul class="list-items">
                <li ng-repeat="eduMat in eduMatList | filter: searchEduMatsFilter">
                  <label>
                    <input type="radio" ng-model="alias.eduMatSer" ng-change="eduMatUpdate()" ng-checked="alias.eduMatSer == eduMat.serial" ng-value="eduMat.serial" /> {{eduMat.name_EN}}
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <!-- SECTION: Color tag -->
          <div uib-accordion-group is-open="statusColorTag.open">
            <uib-accordion-heading>
              <div>
                <strong>Color Tag</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusColorTag.open, 'glyphicon-chevron-right': !statusColorTag.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="row" style="padding-top: 15px;">
              <div class="col-xs-6">
                <div class="color-picker">
                  <div class="cp-description">
                    <p class="cp-header">
                      Choose an icon color
                    </p>
                  </div>  
                  <div class="cp-main">
                    <material-picker ng-model="alias.color" ng-click="colorUpdate()" format="'hex'" size="20" hover-model="hoverColor"></material-picker>
                  </div> 
                </div>
              </div> 
              <div class="col-xs-6">
                <div class="color-data" style="height: 285px; line-height: 285px;">
                  <div class="color-picked">
                    <div class="color-palette" ng-style="{'background-color': alias.color}"></div>
                  </div>
                  <div class="color-label hex">
                    <h4>HEX</h4>
                  </div>
                  <div class="color-code">
                    <h4>{{alias.color}}</h4>
                  </div>
                </div>
              </div>
            </div>      
          </div>
        </uib-accordion>
      </div>
    </script>
<!-- "Processing" modal template -->
<script type="text/ng-template" id="processingModal.htm">
  <div class="modal-header">
    <h1> Processing...</h1>
  </div>
  <div class="modal-body">
    <div class="progress progress-striped active">
      <div class="progress-bar" style="width: 100%"></div>        
    </div>
  </div>
</script>
       

          
                      
                    
