<div id="main">
	<div id="top">
		<div class="clearfix">
			<div class="row">
				<!-- Load side menu -->
				<div id="side-panel-scrollbar" class="col-lg-2">
					<div ng-include="'templates/side-panel-menu.html'"></div>
				</div>
				<!-- Right detail panel view -->
				<div class="col-lg-10 animated fadeIn">
					<div class="row main-title">
						<!-- Page title -->
						<div class="col-xs-12 col-md-9 title-content">
							<span class="glyphicon glyphicon-cloud"></span>
							<h1><strong>Diagnosis Translation</strong></h1>
						</div>
						<!-- Breadcrumbs -->
						<div class="col-md-3 title-breadcrumbs"> 
							<span><a ui-sref="home">Home</a> <span class="glyphicon glyphicon-menu-right teflon"></span> <strong>Diagnosis Translation</strong></span>
						</div>
					</div> 
					<div class="row clearfix operations">
						<div class="save-add col-xs-12 col-sm-6 col-md-8">
							<!-- Add button -->
							<a style="width:100px;margin-right:20px;" href="" ng-click="goToAddDiagnosisTranslation()" class="btn btn-md btn-outline item-button">
								<span style="font-size: 17px;" class="glyphicon glyphicon-plus"></span>
								<span style="font-size: 20px;"><strong>Add</strong></span>
							</a>
						</div>
						<!-- Search field -->
						<div class="search col-xs-12 col-sm-6 col-md-4">
							<div class="form-group has-feedback" style="margin-bottom: 0">
							<input type="text" class="form-control" ng-model="filterValue" ng-change="filterDiagnosis(filterValue)" placeholder="Search...">
								<span class="glyphicon glyphicon-search form-control-feedback"></span>
							</div>
						</div>
					</div>   
					<!-- Load main table -->
					<div class="panel-container" style="text-align:left;">
						<div class="panel-info">
							<div class="panel-input">
								<div id="data-table">
									<div class="gridStyle" ui-grid="gridOptions" ui-grid-resize-columns style="height:75vh"></div>
								</div>
							</div>            
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bannerMessage alert-success">{{bannerMessage}}</div>
</div>

<!-- Delete diagnosis translation modal template -->
<script type="text/ng-template" id="deleteDiagnosisTranslationModalContent.htm">
	<div class="modal-header">
		<h2 class="modal-title col-xs-12">
			<span class="glyphicon glyphicon-trash"></span> 
			Delete Diagnosis Translation 
		</h2>
		<p class="modal-title-caption col-xs-12">
			{{diagnosisTranslationToDelete.name_EN}} / {{diagnosisTranslationToDelete.name_FR}}
		</p>
	</div>
	<div class="modal-body">
		<div class="alert alert-danger" role="alert">
      <strong>Delete Diagnosis Translation</strong><br>
      <p>
        Are you sure you want to delete the diagnosis translation "{{diagnosisTranslationToDelete.name_EN}}" ?
      </p>
    </div>
    <div class="row">
      <div class="modal-buttons col-xs-12">
        <form method="post" ng-submit="deleteDiagnosisTranslation()">			
          <input class="btn btn-primary submit" type="submit" value="Delete">
          <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="Cancel">
        </form>
      </div>
    </div>
	</div>
</script>

<!-- Edit diagnosis translation modal template -->
<script type="text/ng-template" id="editDiagnosisTranslationModalContent.htm">
	<!-- Modal title -->
	<div class="modal-header">
		<h2 class="modal-title col-xs-12">
			<span class="glyphicon glyphicon-pencil"></span>
			Edit Diagnosis Translation 
		</h2>
		<p class="modal-title-caption col-xs-12">
			{{diagnosisTranslation.name_EN}} / {{diagnosisTranslation.name_FR}}
		</p>
		<div class="modal-buttons col-xs-12">
	    <span> 
        <form method="post" ng-submit="updateDiagnosisTranslation()">
          <input class="btn btn-primary submit" ng-class="{'disabled': !checkForm()}" type="submit" value="Save Changes">
	          <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="Cancel">
        </form>
      </span>     
    </div>
	</div>
	<div class="modal-body">
		<uib-accordion>

			<!-- SECTION: Test names -->
			<div uib-accordion-group is-open="diagnosisSection.open">
				<uib-accordion-heading>
					<div>
						<strong>Assigned Diagnoses</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': diagnosisSection.open, 'glyphicon-chevron-right': !diagnosisSection.open}"></i>
					</div>
				</uib-accordion-heading>
				<div class="alert alert-info" role="alert">
          <strong>Currently assigned diagnoses</strong><br>
          <p>
            <ul class="list-items">
              <li ng-repeat="selectedDiagnosis in diagnosisList | filter: {added: 1, assigned: null}">
								{{selectedDiagnosis.name}}
							</li>
            </ul>
          </p>
        </div>
				<div class="list-space">
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
						<input class="form-control" type="text" ng-model="diagnosisFilter" ng-change="changeDiagnosisFilter(diagnosisFilter)" placeholder="Search Diagnoses..."/>
					</div>
					<div style="padding: 10px;">
            <label>
              <input type="checkbox" ng-click="selectAllFilteredDiagnoses()" ng-checked="selectAll"> Select All
            </label>
          </div>
					<div class="btn-group btn-group-justified">
					  <a class="btn btn-default" ng-class="{'active' : !showAssigned && !hideAssigned}" ng-click="changeShowAll()">Show all</a>
					  <a class="btn btn-default" ng-class="{'active' : showAssigned}" ng-click="changeShowAssigned()">Only show assigned</a>
					  <a class="btn btn-default" ng-class="{'active' : hideAssigned}" ng-click="changeShowUnassigned()">Only show unassigned</a>
					</div>
					<ul class="list-items">
						<li ng-repeat="diagnosis in diagnosisList | filter: searchDiagnosesFilter">
							<label ng-class="{greenText: diagnosis.added, grayText: diagnosis.assigned}">
								<input type="checkbox" ng-click="toggleDiagnosisSelection(diagnosis)" ng-checked="diagnosis.added" ng-disabled="diagnosis.assigned"/> {{diagnosis.name}}
								<span ng-class="{redText: diagnosis.assigned}" ng-if="diagnosis.assigned"><em> --- Assigned to: {{diagnosis.assigned.name_EN}}</em></span>
							</label>
						</li>
					</ul>
				</div>
			</div>

			<!-- SECTION: Titles -->
			<div uib-accordion-group is-open="titleSection.open">
					<uib-accordion-heading>
						<div>
							<strong>Titles </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': titleSection.open, 'glyphicon-chevron-right': !titleSection.open}"></i>
						</div>
					</uib-accordion-heading>
					<div class="row">
						<div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
							<div class="input-group">
								<span class="input-group-addon">EN</span>
								<input class="form-control" type="text" ng-model="diagnosisTranslation.name_EN" ng-change="setChangesMade()" placeholder="English Title" required="required">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
							<div class="input-group">
								<span class="input-group-addon">FR</span>
								<input class="form-control" type="text" ng-model="diagnosisTranslation.name_FR" ng-change="setChangesMade()" placeholder="Titre Français" required="required">
							</div>
						</div>
					</div>
				</div>

				<!-- SECTION: Description -->
				<div uib-accordion-group is-open="descriptionSection.open">
					<uib-accordion-heading>
						<div>
							<strong>Descriptions</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': descriptionSection.open, 'glyphicon-chevron-right': !descriptionSection.open}"></i>
						</div>
					</uib-accordion-heading>
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="input-group">
								<span class="input-group-addon">EN</span>
								<textarea class="form-control" rows="5" ng-model="diagnosisTranslation.description_EN" ng-change="setChangesMade()" placeholder="English Description" required="required"></textarea>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="input-group">
								<span class="input-group-addon">FR</span>
								<textarea class="form-control" rows="5" ng-model="diagnosisTranslation.description_FR" ng-change="setChangesMade()" placeholder="Description Francais" required="required"></textarea>
							</div>
						</div>
					</div>
				</div>

				<!-- SECTION: Educational material -->
				<div uib-accordion-group is-open="educationalMaterialSection.open">
            <uib-accordion-heading>
              <div>
                <strong>Attached Educational Material</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': educationalMaterialSection.open, 'glyphicon-chevron-right': !educationalMaterialSection.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="alert alert-info" role="alert">
              <strong>Current Educational Material (EN / FR)</strong><br>
              <p>
                <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                <span ng-if="diagnosisTranslation.eduMat">{{diagnosisTranslation.eduMat.name_EN}} / {{diagnosisTranslation.eduMat.name_FR}}</span>
                <span ng-if="!diagnosisTranslation.eduMat">None</span>
              </p>
            </div>
            <div class="list-space">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input class="form-control" type="text" ng-model="eduMatFilter" ng-change="changeEduMatFilter(eduMatFilter)" placeholder="Search Educational Material..."/>
              </div>
              <ul class="list-items">
                <li ng-repeat="eduMat in eduMatList | filter: searchEduMatsFilter">
                  <label>
                    <input type="radio" ng-model="diagnosisTranslation.eduMatSer" ng-change="eduMatUpdate(eduMat)" ng-checked="diagnosisTranslation.eduMatSer == eduMat.serial" ng-value="eduMat.serial" /> {{eduMat.name_EN}}
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </uib-accordion>
      </div>
    </script>

<!-- "Processing" modal template -->
<script type="text/ng-template" id="processingModal.htm">
  <div class="modal-header">
    <h1> Processing...</h1>
  </div>
  <div class="modal-body">
    <div class="progress progress-striped active">
      <div class="progress-bar" style="width: 100%"></div>
    </div>
  </div>
</script>