<div id="main">
	<div id="top">
		<div class="clearfix">
			<div class="row">
				<!-- Load side menu -->
				<div id="side-panel-scrollbar" class="col-md-2">
					<div ng-include="'templates/side-panel-menu.html'"></div>
				</div>
				<!-- Right detail panel view -->
				<div class="col-md-10 animated fadeIn">
					<div class="row main-title">
						<!-- Page title -->
						<div class="col-md-9 title-content">
							<span class="glyphicon glyphicon-cloud"></span>
							<h1><strong>Diagnosis Translation</strong></h1>
						</div>
						<!-- Breadcrumbs -->
						<div class="col-md-3 title-breadcrumbs"> 
							<span><a ui-sref="home">Home</a> <span class="glyphicon glyphicon-menu-right teflon"></span> <strong>Diagnosis Translation</strong></span>
						</div>
					</div> 
					<div class="row clearfix" style="margin-bottom: 10px; display:flex; align-items: center">
						<div class="col-md-8">
							<!-- Add button -->
							<a style="width:100px;margin-right:20px;" href="" ng-click="goToAddDiagnosisTranslation()" class="btn btn-md btn-outline item-button">
								<span style="font-size: 17px;" class="glyphicon glyphicon-plus"></span>
								<span style="font-size: 20px;"><strong>Add</strong></span>
							</a>
						</div>
						<!-- Search field -->
						<div class="col-md-4">
							<div class="form-group has-feedback" style="margin-bottom: 0">
							<input type="text" class="form-control" ng-model="filterValue" ng-change="filterDiagnosis(filterValue)" placeholder="Search...">
								<span class="glyphicon glyphicon-search form-control-feedback"></span>
							</div>
						</div>
					</div>   
					<!-- Load main table -->
					<div class="panel-container" style="text-align:left;">
						<div class="panel-info">
							<div class="panel-input">
								<div id="data-table">
									<div class="gridStyle" ui-grid="gridOptions" ui-grid-resize-columns style="height:75vh"></div>
								</div>
							</div>            
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bannerMessage alert-success">{{bannerMessage}}</div>
</div>

<!-- Delete diagnosis translation modal template -->
<script type="text/ng-template" id="deleteDiagnosisTranslationModalContent.htm">
	<div class="modal-header">
		<h2 class="modal-title">
			<span class="glyphicon glyphicon-trash" style="font-size: 30px;"></span> 
			Delete Diagnosis Translation: {{dxTranslationToDelete.name_EN}} / {{dxTranslationToDelete.name_FR}}
		</h2>
	</div>
	<div class="modal-body">
		<div class="bs-callout bs-callout-danger">
			<h4>Diagnosis Translation Delete</h4>
			<p class="deleteText">Are you sure you want to delete the diagnosis translation "{{dxTranslationToDelete.name_EN}}" ?</p>
			<form method="post" ng-submit="deleteDiagnosisTranslation()">			
				<input class="btn btn-primary" type="submit" value="Delete">
				<input ng-click="cancel()" class="btn btn-danger" type="button" value="Cancel">
			</form>
		</div>
	</div>
</script>

<!-- Delete diagnosis translation modal template -->
<script type="text/ng-template" id="deleteDiagnosisTranslationModalContent.htm">
	<div class="modal-header">
		<h2 class="modal-title">
			<span class="glyphicon glyphicon-trash" style="font-size: 30px;"></span>
			Delete Diagnosis Translation: {{diagnosisTranslationToDelete.name_EN}} / {{diagnosisTranslationToDelete.name_FR}}
		</h2>
	</div>
	<div class="modal-body">
		<div class="bs-callout bs-callout-danger">
			<h4>Diagnosis Translation Delete</h4>
			<p class="deleteText">Are you sure you want to delete the diagnosis translation "{{diagnosisTranslationToDelete.name_EN}}" ?</p>
			<form method="post" ng-submit="deleteDiagnosisTranslation()">
				<input class="btn btn-primary" type="submit" value="Delete">
				<input ng-click="cancel()" class="btn btn-danger" type="button" value="Cancel">
			</form>
		</div>
	</div>
</script>

<!-- Edit diagnosis translation modal template -->
<script type="text/ng-template" id="editDiagnosisTranslationModalContent.htm">
	<!-- Modal title -->
	<div class="modal-header">
		<h2 class="modal-title">
			<span class="glyphicon glyphicon-pencil" style="font-size: 30px;"></span>
			Edit Diagnosis Translation: {{diagnosisTranslation.name_EN}} / {{diagnosisTranslation.name_FR}}
			<span style="float:right;">
				<form method="post" ng-submit="updateDiagnosisTranslation()">
					<input class="btn btn-primary" ng-class="{'disabled': !checkForm()}" type="submit" value="Save Changes">
					<input ng-click="cancel()" class="btn btn-danger" type="button" value="Cancel">
				</form>
			</span>
		</h2>
	</div>
	<div class="modal-body">
		<uib-accordion>

			<!-- SECTION: Test names -->
			<div uib-accordion-group is-open="statusDiagnosis.open">
				<uib-accordion-heading>
					<div>
						<strong>Assigned Diagnoses</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusDiagnosis.open, 'glyphicon-chevron-right': !statusDiagnosis.open}"></i>
					</div>
				</uib-accordion-heading>
				<div class="bs-callout bs-callout-info">
					<h4>Currently assigned diagnoses</h4>
					<ul class="list-items-4col">
						<li ng-repeat="selectedDiagnosis in diagnosisList | filter: {added: 1, assigned: null}">
							{{selectedDiagnosis.name}}
						</li>
					</ul>
					<p>To add/remove a diagnosis, use the list below.</p>
				</div>
				<div class="list-space">
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
						<input class="form-control" type="text" ng-model="diagnosisFilter" ng-change="changeDiagnosisFilter(diagnosisFilter)" placeholder="Search Diagnoses..."/>
					</div>
					<div style="padding: 10px;">
            <label>
              <input type="checkbox" ng-click="selectAllFilteredDiagnoses()" ng-checked="selectAll"> Select All
            </label>
          </div>
					<div class="btn-group btn-group-justified">
					  <a class="btn btn-default" ng-class="{'active' : !showAssigned && !hideAssigned}" ng-click="changeShowAll()">Show all</a>
					  <a class="btn btn-default" ng-class="{'active' : showAssigned}" ng-click="changeShowAssigned()">Only show assigned</a>
					  <a class="btn btn-default" ng-class="{'active' : hideAssigned}" ng-click="changeShowUnassigned()">Only show unassigned</a>
					</div>
					<ul class="list-items">
						<li ng-repeat="diagnosis in diagnosisList | filter: searchDiagnosesFilter">
							<label ng-class="{greenText: diagnosis.added, grayText: diagnosis.assigned}">
								<input type="checkbox" ng-click="toggleDiagnosisSelection(diagnosis)" ng-checked="diagnosis.added" ng-disabled="diagnosis.assigned"/> {{diagnosis.name}}
								<span ng-class="{redText: diagnosis.assigned}" ng-if="diagnosis.assigned"><em> --- Assigned to: {{diagnosis.assigned.name_EN}}</em></span>
							</label>
						</li>
					</ul>
				</div>
			</div>

			<!-- SECTION: Titles -->
			<div uib-accordion-group is-open="statusTitle.open">
					<uib-accordion-heading>
						<div>
							<strong>Titles </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusTitle.open, 'glyphicon-chevron-right': !statusTitle.open}"></i>
						</div>
					</uib-accordion-heading>
					<div class="bs-callout bs-callout-info">
						<h4>Current Diagnosis Translation Titles (EN / FR): {{diagnosisTranslation.name_EN}} / {{diagnosisTranslation.name_FR}}</h4>
						To change the current title(s), enter the new title(s) in the text box(es) below.
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="input-group">
								<span class="input-group-addon">EN</span>
								<input class="form-control" type="text" ng-model="diagnosisTranslation.name_EN" ng-change="setChangesMade()" placeholder="English Title" required="required">
							</div>
						</div>
						<div class="col-md-1"></div>
						<div class="col-md-5">
							<div class="input-group">
								<span class="input-group-addon">FR</span>
								<input class="form-control" type="text" ng-model="diagnosisTranslation.name_FR" ng-change="setChangesMade()" placeholder="Titre Français" required="required">
							</div>
						</div>
					</div>
				</div>

				<!-- SECTION: Description -->
				<div uib-accordion-group is-open="statusDescription.open">
					<uib-accordion-heading>
						<div>
							<strong>Descriptions</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusDescription.open, 'glyphicon-chevron-right': !statusDescription.open}"></i>
						</div>
					</uib-accordion-heading>
					<div class="bs-callout bs-callout-info">
						<h4>Current Diagnosis Translation Descriptions (EN / FR): {{diagnosisTranslation.description_EN}} / {{diagnosisTranslation.description_FR}}</h4>
						To change the current description(s), enter the new description(s) in the text area(s) below.
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<textarea class="form-control" rows="10" ng-model="diagnosisTranslation.description_EN" ng-change="setChangesMade()" placeholder="English Description" required="required"></textarea>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<textarea class="form-control" rows="10" ng-model="diagnosisTranslation.description_FR" ng-change="setChangesMade()" placeholder="Description Francais" required="required"></textarea>
							</div>
						</div>
					</div>
				</div>

				<!-- SECTION: Educational material -->
				<div uib-accordion-group is-open="statusEducationalMaterial.open">
            <uib-accordion-heading>
              <div>
                <strong>Attached Educational Material</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusEducationalMaterial.open, 'glyphicon-chevron-right': !statusEducationalMaterial.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="bs-callout bs-callout-info">
              <h4>Current Educational Material (EN / FR): {{diagnosisTranslation.eduMat.name_EN}} / {{diagnosisTranslation.eduMat.name_FR}}</h4>
              <p>To change the current educational material, use the list below.</p>
            </div>
            <div class="list-space">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input class="form-control" type="text" ng-model="eduMatFilter" ng-change="changeEduMatFilter(eduMatFilter)" placeholder="Search Educational Material..."/>
              </div>
              <ul class="list-items">
                <li ng-repeat="eduMat in eduMatList | filter: searchEduMatsFilter">
                  <label>
                    <input type="radio" ng-model="diagnosisTranslation.eduMatSer" ng-change="eduMatUpdate()" ng-checked="diagnosisTranslation.eduMatSer == eduMat.serial" ng-value="eduMat.serial" /> {{eduMat.name_EN}}
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </uib-accordion>
      </div>
    </script>

<!-- "Processing" modal template -->
<script type="text/ng-template" id="processingModal.htm">
  <div class="modal-header">
    <h1> Processing...</h1>
  </div>
  <div class="modal-body">
    <div class="progress progress-striped active">
      <div class="progress-bar" style="width: 100%"></div>
    </div>
  </div>
</script>