  <div id="main">
    <div id="top">
      <div class="clearfix">
        <div class="row">
          <!-- Load side menu -->
          <div id="side-panel-scrollbar" class="col-lg-2">
            <div ng-include="'templates/side-panel-menu.html'"></div>
          </div>
          <!-- Right side detail view -->
          <div class="col-lg-10 animated fadeIn">
            <div class="row main-title">
              <!-- Page title -->
              <div class="col-xs-12 col-md-9 title-content">
                <span class="fa fa-envelope"></span>
                <h1><strong>Email</strong></h1>
              </div>
              <!-- Breadcrumbs -->
              <div class="col-md-3 title-breadcrumbs"> 
                <span><a ui-sref="home">Home</a> <span class="glyphicon glyphicon-menu-right teflon"></span> <strong>Email</strong></span>
              </div>
            </div>  
						<div class="row clearfix operations">
							<div class="save-add col-xs-12 col-sm-6 col-md-8">
                <!-- Add button -->
								<a style="width:100px;margin-right:20px;" href="" ng-click="goToAddEmail()" class="btn btn-md btn-outline item-button">
									<span style="font-size: 17px;" class="glyphicon glyphicon-plus"></span>
									<span style="font-size: 20px;"><strong>Add</strong></span>
								</a>
              </div>
              <!-- Search field -->
							<div class="search col-xs-12 col-sm-6 col-md-4">
								<div class="form-group has-feedback" style="margin-bottom: 0">
								<input type="text" class="form-control" ng-model="filterValue" ng-change="filterEmail(filterValue)" placeholder="Search...">
									<span class="glyphicon glyphicon-search form-control-feedback"></span>
								</div>
							</div>
            </div>  
            <!-- Load main table -->
            <div class="panel-container" style="text-align:left">
              <div class="panel-info">
                <div class="panel-input">
                  <div id="data-table">
                    <div class="gridStyle" ui-grid="gridOptions" ui-grid-resize-columns style="height:75vh"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="bannerMessage alert-success">{{bannerMessage}}</div>
  </div>

  <!-- Delete email modal template -->
   <script type="text/ng-template" id="deleteEmailModalContent.htm">
      <div class="modal-header">
        <h2 class="modal-title col-xs-12">
          <span class="glyphicon glyphicon-trash"></span> 
          Delete Email 
        </h2>
        <p class="modal-title-caption col-xs-12">
          {{emailToDelete.subject_EN}} / {{emailToDelete.subject_FR}}
        </p>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <strong>Delete Email</strong><br>
          <p>
            Are you sure you want to delete the email "{{emailToDelete.subject_EN}}" ?
          </p>
        </div>
        <div class="row">
          <div class="modal-buttons col-xs-12">
            <form method="post" ng-submit="deleteEmail()">      
              <input class="btn btn-primary submit" type="submit" value="Delete">
              <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="Cancel">
            </form>
          </div>
        </div>
      </div>
    </script>

    <!-- Edit email modal template --> 
    <script type="text/ng-template" id="editEmailModalContent.htm">
      <!-- Modal title -->
      <div class="modal-header">
        <h2 class="modal-title col-xs-12">
          <span class="glyphicon glyphicon-pencil"></span> 
          Edit Email 
        </h2>
        <p class="modal-title-caption col-xs-12">
          {{email.subject_EN}} / {{email.subject_FR}}
        </p>
        <div class="modal-buttons col-xs-12">
          <span> 
            <form method="post" ng-submit="updateEmail()">
              <input class="btn btn-primary submit" ng-class="{'disabled': !checkForm()}" type="submit" value="Save Changes">
              <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="Cancel">
            </form>
          </span>     
        </div>
      </div>
      <div class="modal-body">
        <uib-accordion>
          <!-- SECTION: Subject -->
          <div uib-accordion-group is-open="subjectSection.open">
            <uib-accordion-heading>
              <div>
                <strong>Subjects</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': subjectSection.open, 'glyphicon-chevron-right': !subjectSection.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="row">
              <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                <div class="input-group">
                  <span class="input-group-addon">EN</span>
                  <input class="form-control" type="text" ng-model="email.subject_EN" ng-change="setChangesMade()" placeholder="English Title" required="required">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                <div class="input-group">
                  <span class="input-group-addon">FR</span>
                  <input class="form-control" type="text" ng-model="email.subject_FR" ng-change="setChangesMade()" placeholder="Titre Français" required="required">
                </div>
              </div>
            </div>
          </div>
          <!-- SECTION: Message -->
          <div uib-accordion-group is-open="messageSection.open">
            <uib-accordion-heading>
              <div>
                <strong>Messages</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': messageSection.open, 'glyphicon-chevron-right': !messageSection.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <div text-angular ng-model="email.body_EN" ng-change="setChangesMade()"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <div text-angular ng-model="email.body_FR" ng-change="setChangesMade()"></div>
                </div>
              </div>
            </div>
          </div>
        </uib-accordion>
      </div>
    </script>

<!-- "Processing" modal template -->
<script type="text/ng-template" id="processingModal.htm">
  <div class="modal-header">
    <h1> Processing...</h1>
  </div>
  <div class="modal-body">
    <div class="progress progress-striped active">
      <div class="progress-bar" style="width: 100%"></div>        
    </div>
  </div>
</script>

