  <div id="main">
    <div id="top">
      <div class="clearfix">
        <div class="row">
          <!-- Load side menu -->
          <div id="side-panel-scrollbar" class="col-lg-2">
            <div ng-include="'templates/side-panel-menu.html'"></div>
          </div>
          <!-- Right side detail view -->
          <div class="col-lg-10 animated fadeIn">
            <div class="row main-title">
              <!-- Page title -->
              <div class="col-xs-12 col-md-9 title-content">
                <span class="fa fa-map"></span>
                <h1><strong>Hospital Maps</strong></h1>
              </div>
              <!-- Breadcrumbs -->
              <div class="col-md-3 title-breadcrumbs"> 
                <span><a ui-sref="home">Home</a> <span class="glyphicon glyphicon-menu-right teflon"></span> <strong>Hospital Maps</strong></span>
              </div>
            </div> 
						<div class="row clearfix operations">
              <!-- Add button -->
							<div class="save-add col-xs-12 col-sm-6 col-md-8">
								<a style="width:100px;margin-right:20px;" href="" ng-click="goToAddHospitalMap()" class="btn btn-md btn-outline item-button">
									<span style="font-size: 17px;" class="glyphicon glyphicon-plus"></span>
									<span style="font-size: 20px;"><strong>Add</strong></span>
								</a>
              </div>
              <!-- Search field -->
							<div class="search col-xs-12 col-sm-6 col-md-4">
								<div class="form-group has-feedback" style="margin-bottom: 0">
								<input type="text" class="form-control" ng-model="filterValue" ng-change="filterHosMap(filterValue)" placeholder="Search...">
									<span class="glyphicon glyphicon-search form-control-feedback"></span>
								</div>
							</div>
            </div>
            <!-- Load main table -->
            <div class="panel-container" style="text-align:left">
              <div class="panel-info">
                <div class="panel-input">
                  <div id="data-table">
                    <div class="gridStyle" ui-grid="gridOptions" ui-grid-resize-columns style="height:75vh"></div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="bannerMessage alert-success">{{bannerMessage}}</div>
  </div>

  <!-- Delete hospital map modal template -->
  <script type="text/ng-template" id="deleteHosMapModalContent.htm">
      <div class="modal-header">
        <h2 class="modal-title col-xs-12">
          <span class="glyphicon glyphicon-trash"></span> 
          Delete Hospital Map 
        </h2>
        <p class="modal-title-caption col-xs-12">
          {{hosMapToDelete.name_EN}} / {{hosMapToDelete.name_FR}}
        </p>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <strong>Delete Hospital Map</strong><br>
          <p>
            Are you sure you want to delete the hospital map "{{hosMapToDelete.name_EN}}" ?
          </p>
        </div>
        <div class="row">
          <div class="modal-buttons col-xs-12">
            <form method="post" ng-submit="deleteHospitalMap()">      
              <input class="btn btn-primary submit" type="submit" value="Delete">
              <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="Cancel">
            </form>
          </div>
        </div>
      </div>
    </script>

    <!-- Edit hospital map modal template -->
    <script type="text/ng-template" id="editHosMapModalContent.htm">
      <!-- Modal title -->
      <div class="modal-header">
        <h2 class="modal-title col-xs-12">
          <span class="glyphicon glyphicon-pencil"></span> 
          Edit Hospital Map 
        </h2>
        <p class="modal-title-caption col-xs-12">
          {{hosMap.name_EN}} / {{hosMap.name_FR}}
        </p>
        <div class="modal-buttons col-xs-12">
          <span> 
            <form method="post" ng-submit="updateHosMap()">
              <input class="btn btn-primary submit" ng-class="{'disabled': !checkForm()}" type="submit" value="Save Changes">
              <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="Cancel">
            </form>
          </span>
        </div>
      </div>
      <div class="modal-body">
        <uib-accordion>
          
          <!-- SECTION: Title -->
          <div uib-accordion-group is-open="titleSection.open">
            <uib-accordion-heading>
              <div>
                <strong>Titles</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': titleSection.open, 'glyphicon-chevron-right': !titleSection.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6" style="margin-bottom: 10px;">
                <div class="input-group">
                  <span class="input-group-addon">EN</span>
                  <input class="form-control" type="text" ng-model="hosMap.name_EN" ng-change="setChangesMade()" placeholder="English Title" required="required">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="input-group">
                  <span class="input-group-addon">FR</span>
                  <input class="form-control" type="text" ng-model="hosMap.name_FR" ng-change="setChangesMade()" placeholder="Titre Français" required="required">
                </div>
              </div>
            </div>
          </div>

          <!-- SECTION: Description -->
          <div uib-accordion-group is-open="descriptionSection.open">
            <uib-accordion-heading>
              <div>
                <strong>Descriptions</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': descriptionSection.open, 'glyphicon-chevron-right': !descriptionSection.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="row">
              <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                <div class="input-group">
                  <span class="input-group-addon">EN</span>
                  <textarea class="form-control" rows="5" ng-model="hosMap.description_EN" ng-change="setChangesMade()" placeholder="English Description" required="required"></textarea>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                <div class="input-group">
                  <span class="input-group-addon">FR</span>
                  <textarea class="form-control" rows="5" ng-model="hosMap.description_FR" ng-change="setChangesMade()" placeholder="Description Français" required="required"></textarea>
                </div>
              </div>
            </div>
          </div>

          <!-- SECTION: QR Code & Map URL -->
          <div uib-accordion-group is-open="qrUrlSection.open">
            <uib-accordion-heading>
              <div>
                <strong>QR Identifier / Map URL</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': qrUrlSection.open, 'glyphicon-chevron-right': !qrUrlSection.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="alert alert-info" role="alert">
              <strong>QR Identifier</strong><br>
              <p>
                <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                <span>{{hosMap.qrid}}</span> 
              </p> <br>
              <strong>Map URL</strong><br>
              <p>
                <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                <span>{{hosMap.url}}</span> 
              </p>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="input-group">
                  <input class="form-control" type="text" ng-model="hosMap.qrid" ng-change="setChangesMade()" placeholder="QR Identifier" required="required">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="generateQRCode(hosMap.qrid)">Generate QR</button>
                  </span>
                </div>
                <div ng-show="hosMap.qrcode" style="text-align:center">
                  <img ng-src="{{hosMap.qrcode}}" style="width:200px;height:200px;">
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="input-group">
                  <input class="form-control" type="text" ng-model="hosMap.url" ng-change="setChangesMade()" placeholder="Map URL" required="required">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="showMap(hosMap.url)">Show Map</button>
                  </span>
                </div>
                <div ng-show="hosMap.url" style="text-align:center">
                  <img ng-src="{{mapURL}}" style="width:200px;height:200px;">
                </div>
              </div>
            </div>
          </div>
        </uib-accordion>
      </div>
    </script>

<!-- "Processing" modal template -->
<script type="text/ng-template" id="processingModal.htm">
  <div class="modal-header">
    <h1> Processing...</h1>
  </div>
  <div class="modal-body">
    <div class="progress progress-striped active">
      <div class="progress-bar" style="width: 100%"></div>        
    </div>
  </div>
</script>

