  <div id="main">
    <div id="top">
      <div class="clearfix">
        <div class="row">
          <!-- Left side detail view -->
          <div class="col-md-2">
            <!-- Logo -->
            <div ng-controller="sidePanelMenuController">
              <div class="row side-logo">
                <div class="col-md-12">
                  <div class="logo">
                    <img style="margin-top: -20px;" class="animated rotateIn" src="images/opal_logo_transparent_purple.png" height="130" width="130">
                  </div>
                  <h1 class="animated fadeIn">opal <strong>ADMIN</strong> <span style="font-size: 20px;" ng-if="devMode">DEV</span></h1>
                </div>
              </div>
            </div>
            <!-- Summary -->
            <div class="summary-fix">
              <div class="row">
                <div class="side-menu-title">
                  <div class="horz-line" style="height: 16px; text-align: center">
                    <span style="background-color:#e6edfa; padding: 0 10px;">
                      <h2>Summary</h2>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="progress progress-striped active">
                  <div class="progress-bar" ng-class="{'progress-bar-success': stepProgress == 100}" role="progressbar" aria-valuenow="{{stepProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stepProgress}}%">
                  </div>
                </div>
              </div>
              <uib-accordion>
                <!-- SECTION: Verify requirements -->
                <div uib-accordion-group is-open="false" class="panel-container summary-box" ng-disabled="!installation.requirements">
                  <uib-accordion-heading>
                    <div class="row" style="align-items: center">
                      <div class="col-md-2">
                        <span ng-if="!installation.requirements" style="color:#d9534f" class="glyphicon glyphicon-remove"></span>
                        <span ng-if="installation.requirements" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="col-md-8">
                        <strong>Verify Requirements</strong>
                      </div>
                      <div class="col-md-2"></div>
                    </div>
                  </uib-accordion-heading>
                </div>

                <!-- SECTION: Opal database setup -->
                <div uib-accordion-group is-open="false" class="panel-container summary-box" ng-disable="!installation.opal_setup">
                  <uib-accordion-heading>
                    <div class="row" style="align-items: center">
                      <div class="col-md-2">
                        <span ng-if="!installation.opal_setup" style="color:#d9534f" class="glyphicon glyphicon-remove"></span>
                        <span ng-if="installation.opal_setup" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="col-md-8">
                        <strong>Opal Database Setup</strong>
                      </div>
                      <div class="col-md-2"></div>
                    </div>
                  </uib-accordion-heading>
                </div>

                <!-- SECTION: Clinical Database Setup -->
                <div uib-accordion-group is-open="false" class="panel-container summary-box" ng-disable="!installation.clinical_setup">
                  <uib-accordion-heading>
                    <div class="row" style="align-items: center">
                      <div class="col-md-2">
                        <span ng-if="!installation.clinical_setup" style="color:#d9534f" class="glyphicon glyphicon-remove"></span>
                        <span ng-if="installation.clinical_setup" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="col-md-8">
                        <strong>Clinical Database Setup</strong>
                      </div>
                      <div class="col-md-2"></div>
                    </div>
                  </uib-accordion-heading>
                </div>

                <!-- SECTION: Set configurations -->
                <div uib-accordion-group is-open="false" class="panel-container summary-box" ng-disable="!installation.config_files">
                  <uib-accordion-heading>
                    <div class="row" style="align-items: center">
                      <div class="col-md-2">
                        <span ng-if="!installation.config_files" style="color:#d9534f" class="glyphicon glyphicon-remove"></span>
                        <span ng-if="installation.config_files" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="col-md-8">
                        <strong>Set Configurations</strong>
                      </div>
                      <div class="col-md-2"></div>
                    </div>
                  </uib-accordion-heading>
                </div>

                <!-- SECTION: Site Account -->
                <div uib-accordion-group is-open="false" class="panel-container summary-box" ng-disable="!installation.site_account">
                  <uib-accordion-heading>
                    <div class="row" style="align-items: center">
                      <div class="col-md-2">
                        <span ng-if="!installation.site_account" style="color:#d9534f" class="glyphicon glyphicon-remove"></span>
                        <span ng-if="installation.site_account" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="col-md-8">
                        <strong>Site Account</strong>
                      </div>
                      <div class="col-md-2"></div>
                    </div>
                  </uib-accordion-heading>
                </div>
              </uib-accordion>

              <!-- Submit button -->
              <div class="panel-container">
                <a href="" ng-click="installSite()" class="btn btn-md item-button-success animated" ng-class="{pulse: hoverV}" ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false" ng-if="checkInstallationForm()" style="width: 100%;">
                  <span style="font-size: 20px;"><strong>Visit New Site</strong></span>
                </a>
              </div>
            </div>
          </div>
          <!-- Right side details view -->
          <div class="col-md-10 animated fadeIn" style="margin-left:17%">
            <div class="row main-title">
              <!-- Page title -->
              <div class="col-md-6 title-content">
                <span class="glyphicon glyphicon-list-alt"></span>
                <h1><strong>Installation</strong></h1>
              </div>
            </div>

            <!-- SECTION: Verify requirements -->
            <div class="row">
              <div class="col-md-10 side-menu-title">
                <div style="height: 10px; border-bottom: 1px solid #6f5499;">
                  <span style="background-color:#e6edfa; padding: 0 10px;">
                    <span class="glyphicon glyphicon-menu-down"></span>
                    <h2>Verify Requirements</h2>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">
                <ul class="list-group">
                  <li class="list-group-item" ng-class="verifyRequirements.config_file.php ? 'list-group-item-success' : 'list-group-item-danger'">
                    <div class="row">
                      <span class="col-md-6">
                        <strong>PHP configuration file</strong>
                      </span>
                      <span ng-show="verifyRequirements.config_file.php" class="col-md-6">Exists</span>
                      <span ng-hide="verifyRequirements.config_file.php" class="col-md-6">Missing</span>
                    </div>
                    <div ng-if="!verifyRequirements.config_file.php" class="row" style="margin-top:20px;">
                      <div class="col-md-12" style="color:#000">
                        This installer requires that you create a <strong>PHP</strong> configuration file as part of the installation process. Copy the <em>./php/default-config.php</em> to <em>./php/config.php</em>.
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item" ng-class="verifyRequirements.config_file.js ? 'list-group-item-success' : 'list-group-item-danger'">
                    <div class="row">
                      <span class="col-md-6">
                        <strong>JS configuration file</strong>
                      </span>
                      <span ng-show="verifyRequirements.config_file.js" class="col-md-6">Exists</span>
                      <span ng-hide="verifyRequirements.config_file.js" class="col-md-6">Missing</span>
                    </div>
                    <div ng-if="!verifyRequirements.config_file.php" class="row" style="margin-top:20px;">
                      <div class="col-md-12" style="color:#000">
                        This installer requires that you create a <strong>JS</strong> configuration file as part of the installation process. Copy the <em>./js/default-config.js</em> to <em>./js/config.js</em>.
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item" ng-class="verifyRequirements.config_file.perl ? 'list-group-item-success' : 'list-group-item-danger'">
                    <div class="row">
                      <span class="col-md-6">
                        <strong>Perl configuration file</strong>
                      </span>
                      <span ng-show="verifyRequirements.config_file.perl" class="col-md-6">Exists</span>
                      <span ng-hide="verifyRequirements.config_file.perl" class="col-md-6">Missing</span>
                    </div>
                    <div ng-if="!verifyRequirements.config_file.perl" class="row" style="margin-top:20px;">
                      <div class="col-md-12" style="color:#000">
                        This installer requires that you create a <strong>Perl</strong> configuration file as part of the installation process. Copy the <em>./publisher/modules/default-Configs.pm</em> to <em>./publisher/modules/Configs.pm</em>.
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <!-- SECTION: Opal database setup -->
            <div class="row" ng-if="installation.requirements">
              <div class="col-md-10 side-menu-title">
                <div style="height: 10px; border-bottom: 1px solid #6f5499;">
                  <span style="background-color:#e6edfa; padding: 0 10px;">
                    <span class="glyphicon glyphicon-menu-down"></span>
                    <h2>Opal Database Setup</h2>
                  </span>
                </div>
              </div>
            </div>
            <div class="row" ng-if="installation.requirements">
              <div class="col-md-10">
                <p style="margin-bottom: 10px;">
                  <span style="color:#d9534f"><strong>Required field:</strong></span>
                  This site requires the existence of a host database to setup Opal. Please enter the credentials to create a database. <br> Press Test Connection to complete this step. Note: This is solely for a MySQL database.
                </p>
              </div>
            </div>
            <div class="row" ng-if="installation.requirements">
              <div class="col-md-6">
                <div class="panel" ng-class="installation.opal_setup ? 'panel-success': 'panel-danger'">
                  <div class="panel-heading"><strong>Opal Database</strong>
                    <span ng-hide="installation.opal_setup" style="float:right"><em>Incomplete</em></span>
                    <span ng-show="installation.opal_setup" style="float:right"><em>Complete</em></span>
                  </div>
                  <div class="panel-body form-horizontal">
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        Database Host
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="text" ng-model="opal_setup.host" placeholder="IP Address" required="required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        Database Port
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="number" ng-model="opal_setup.port" placeholder="Port Number" required="required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        Database Name
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="text" ng-model="opal_setup.name" placeholder="Name" required="required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        Database Username
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="text" ng-model="opal_setup.username" placeholder="Username" required="required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        Database Password
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="password" ng-model="opal_setup.password" required="required">
                      </div>
                    </div>
                    <div class="row has-feedback" ng-class="{'has-success': installation.opal_setup == true, 'has-error': installation.opal_setup == false}">
                      <div class="col-md-3"></div>
                      <div class="col-md-3">
                        <div class="table-buttons">
                          <form ng-submit="testOpalConnection()" method="post">
                            <button class="btn btn-primary" ng-class="{'disabled': !checkOpalForm()}" type="submit">Test Connection</button>
                          </form>
                        </div>
                      </div>
                      <em class="control-label col-md-6" ng-if="installation.opal_setup != null" style="text-align:left; padding-top:16px;">
                        {{opal_setup.message}}
                      </em>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- SECTION: Clinical database setup -->
            <div class="row" ng-if="installation.opal_setup">
              <div class="col-md-10 side-menu-title">
                <div style="height: 10px; border-bottom: 1px solid #6f5499;">
                  <span style="background-color:#e6edfa; padding: 0 10px;">
                    <span class="glyphicon glyphicon-menu-down"></span>
                    <h2>Clinical Database Setup</h2>
                  </span>
                </div>
              </div>
            </div>
            <div class="row" ng-if="installation.opal_setup">
              <div class="col-md-10">
                <p style="margin-bottom: 10px;">
                  <span style="color:#d9534f"><strong>Required field:</strong></span>
                  Please choose one or more clinical databases to setup.
                </p>
              </div>
            </div>
            <div class="row" ng-if="installation.opal_setup">
              <div class="col-md-12">
                <div ng-repeat="sourceDB in sourceDBList" class="col-md-1">
                  <div class="panel-container animated" style="cursor:pointer;" ng-class="{pulse: hover, active: sourceDB.selected}" ng-click="sourceDB.selected = !sourceDB.selected" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                    <div class="panel-info" ng-class="{active: sourceDB.selected}">
                      <div class="panel-content" style="text-align:center">
                        <span style="font-size:30px;" class="fa fa-database"></span>
                        <div class="option-panel-title">{{sourceDB.name}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ARIA HOST -->
            <div ng-if="sourceDBList[0].selected" class="row">
              <div class="col-md-6">
                <div class="panel" ng-class="clinical_setup.aria.status ? 'panel-success': 'panel-danger'">
                  <div class="panel-heading"><strong>ARIA - Credentials</strong>
                    <span ng-hide="clinical_setup.aria.status" style="float:right"><em>Incomplete</em></span>
                    <span ng-show="clinical_setup.aria.status" style="float:right"><em>Complete</em></span>
                  </div>
                  <div class="panel-body form-horizontal">
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        Aria Host
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="text" ng-model="clinical_setup.aria.host" placeholder="IP Address" required="required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        Aria Port
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="number" ng-model="clinical_setup.aria.port" placeholder="Port Number" required="required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        Aria Username
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="text" ng-model="clinical_setup.aria.username" placeholder="Username" required="required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        Aria Password
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="password" ng-model="clinical_setup.aria.password" required="required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        Clinical Document Directory <br><em><small>(absolute path)</small></em>
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="text" ng-model="clinical_setup.aria.document_path" placeholder="/path/to/clinical/documents/" required="required">
                      </div>
                    </div>
                    <div class="row has-feedback" ng-class="{'has-success': clinical_setup.aria.status == true, 'has-error': clinical_setup.aria.status == false}">
                      <div class="col-md-3"></div>
                      <div class="col-md-3">
                        <div class="table-buttons">
                          <form ng-submit="testAriaConnection()" method="post">
                            <button class="btn btn-primary" ng-class="{'disabled': !checkAriaForm()}" type="submit">Test Connection</button>
                          </form>
                        </div>
                      </div>
                      <em class="control-label col-md-6" ng-if="clinical_setup.aria.status != null" style="text-align:left; padding-top:16px;">
                        {{clinical_setup.aria.message}}
                      </em>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- MEDIVISIT HOST -->
            <div ng-if="sourceDBList[1].selected" class="row">
              <div class="col-md-6">
                <div class="panel" ng-class="clinical_setup.medivisit.status ? 'panel-success': 'panel-danger'">
                  <div class="panel-heading"><strong>MediVisit - Credentials</strong>
                    <span ng-hide="clinical_setup.medivisit.status" style="float:right"><em>Incomplete</em></span>
                    <span ng-show="clinical_setup.medivisit.status" style="float:right"><em>Complete</em></span>
                  </div>
                  <div class="panel-body form-horizontal">
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        MediVisit Host
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="text" ng-model="clinical_setup.medivisit.host" placeholder="IP Address" required="required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        MediVisit Port
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="number" ng-model="clinical_setup.medivisit.port" placeholder="Port Number" required="required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        MediVisit Name
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="text" ng-model="clinical_setup.medivisit.name" placeholder="Name" required="required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        MediVisit Username
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="text" ng-model="clinical_setup.medivisit.username" placeholder="Username" required="required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        MediVisit Password
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="password" ng-model="clinical_setup.medivisit.password" required="required">
                      </div>
                    </div>
                    <div class="row has-feedback" ng-class="{'has-success': clinical_setup.medivisit.status == true, 'has-error': clinical_setup.medivisit.status == false}">
                      <div class="col-md-3"></div>
                      <div class="col-md-3">
                        <div class="table-buttons">
                          <form ng-submit="testMediVisitConnection()" method="post">
                            <button class="btn btn-primary" ng-class="{'disabled': !checkMediVisitForm()}" type="submit">Test Connection</button>
                          </form>
                        </div>
                      </div>
                      <em class="control-label col-md-6" ng-if="clinical_setup.medivisit.status != null" style="text-align:left; padding-top:16px;">
                        {{clinical_setup.medivisit.message}}
                      </em>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- MOSAIQ HOST -->
            <div ng-if="sourceDBList[2].selected" class="row">
              <div class="col-md-6">
                <div class="panel" ng-class="clinical_setup.mosaiq.status ? 'panel-success': 'panel-danger'">
                  <div class="panel-heading"><strong>Mosaiq - Credentials</strong>
                    <span ng-hide="clinical_setup.mosaiq.status" style="float:right"><em>Incomplete</em></span>
                    <span ng-show="clinical_setup.mosaiq.status" style="float:right"><em>Complete</em></span>
                  </div>
                  <div class="panel-body form-horizontal">
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        Mosaiq Host
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="text" ng-model="clinical_setup.mosaiq.host" placeholder="IP Address" required="required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        Mosaiq Port
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="number" ng-model="clinical_setup.mosaiq.port" placeholder="Port Number" required="required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        Mosaiq Username
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="text" ng-model="clinical_setup.mosaiq.username" placeholder="Username" required="required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        Mosaiq Password
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="password" ng-model="clinical_setup.mosaiq.password" required="required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3">
                        Clinical Document Directory <br><em><small>(absolute path)</small></em>
                      </label>
                      <div class="col-md-9">
                        <input class="form-control" type="password" ng-model="clinical_setup.mosaiq.document_path" placeholder="/path/to/clinical/documents/" required="required">
                      </div>
                    </div>
                    <div class="row has-feedback" ng-class="{'has-success': clinical_setup.mosaiq.status == true, 'has-error': clinical_setup.mosaiq.status == false}">
                      <div class="col-md-3"></div>
                      <div class="col-md-3">
                        <div class="table-buttons">
                          <form ng-submit="testMosaiqConnection()" method="post">
                            <button class="btn btn-primary" ng-class="{'disabled': !checkMosaiqForm()}" type="submit">Test Connection</button>
                          </form>
                        </div>
                      </div>
                      <em class="control-label col-md-6" ng-if="clinical_setup.mosaiq.status != null" style="text-align:left; padding-top:16px;">
                        {{clinical_setup.mosaiq.message}}
                      </em>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- SECTION: Set configurations -->
            <div class="row" ng-if="installation.clinical_setup">
              <div class="col-md-10 side-menu-title">
                <div style="height: 10px; border-bottom: 1px solid #6f5499;">
                  <span style="background-color:#e6edfa; padding: 0 10px;">
                    <span class="glyphicon glyphicon-menu-down"></span>
                    <h2>Set Configurations</h2>
                  </span>
                </div>
              </div>
            </div>
            <div class="row" ng-if="installation.clinical_setup">
              <div class="col-md-6">
                <p style="margin-bottom: 10px; font-size: 19px;" >
                  At this point, the above credentials will be written to the configuration files. Please make sure the credentials are correct. Incorrect credentials (i.e. failed connections) will not be written. To confirm these configurations, click "Submit Configurations" below.
                </p>
              </div>
            </div>
            <div class="row" style="margin-bottom: 15px;" ng-if="installation.clinical_setup">
              <div class="col-md-2">
                <button class="btn btn-primary" ng-click="submitConfigurations()">Submit Configurations</button>
              </div>
              <em class="col-md-6" style="color:#d9534f;">
                {{configurations.message}}
              </em>
            </div>

            <!-- SECTION: Site account -->
            <div class="row" ng-if="installation.config_files">
              <div class="col-md-10 side-menu-title">
                <div style="height: 10px; border-bottom: 1px solid #6f5499;">
                  <span style="background-color:#e6edfa; padding: 0 10px;">
                    <span class="glyphicon glyphicon-menu-down"></span>
                    <h2>Site Account</h2>
                  </span>
                </div>
              </div>
            </div>
            <div class="row" ng-if="installation.config_files">
              <div class="col-md-10">
                <p style="margin-bottom: 10px;">
                  <span style="color:#d9534f"><strong>Required field:</strong></span>
                  Please create an administrator of this site.
                </p>
              </div>
            </div>

            <div class="row" ng-if="installation.config_files">
              <div class="col-md-8">
                <div class="panel" ng-class="adminUser.status ? 'panel-success': 'panel-danger'">
                  <div class="panel-heading"><strong>Admin User</strong>
                    <span ng-hide="adminUser.status" style="float:right"><em>Incomplete</em></span>
                    <span ng-show="adminUser.status" style="float:right"><em>Complete</em></span>
                  </div>
                  <div class="panel-body form-horizontal">
                    <div class="form-group has-feedback" ng-class="{'has-success': validUsername.status == 'valid', 'has-error': validUsername.status == 'invalid', 'has-warning': validUsername.status == 'warning'}">
                      <label class="control-label col-md-2">
                        Username
                      </label>
                      <div class="col-md-7">
                        <input type="text" class="form-control" required="required" ng-blur="validateUsername(adminUser.username)" ng-model="adminUser.username">
                        <span ng-show="validUsername.status" class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': validUsername.status == 'valid', 'glyphicon-remove': validUsername.status == 'invalid', 'glyphicon-warning-sign': validUsername.status == 'warning'}" aria-hidden="true"></span>
                      </div>
                      <em class="control-label col-md-3" ng-show="validUsername.status == 'invalid' || validUsername.status == 'warning'" ng-class="{'has-success': validUsername.status == 'valid', 'has-error': validUsername.status == 'invalid', 'has-warning': validUsername.status == 'warning'}" style="text-align:left;">
                        {{validUsername.message}}
                      </em>
                    </div>
                    <div class="form-group has-feedback" ng-class="{'has-success': validPassword.status == 'valid', 'has-error': validPassword.status == 'invalid', 'has-warning': validPassword.status == 'warning'}">
                      <label class="control-label col-md-2">
                        Password <br><em><small>(min: 6 characters)</small></em>
                      </label>
                      <div class="col-md-7">
                        <input type="password" class="form-control" required="required" ng-blur="validatePassword(adminUser.password)" ng-model="adminUser.password">
                        <span ng-show="validPassword.status" class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': validPassword.status == 'valid', 'glyphicon-remove': validPassword.status == 'invalid', 'glyphicon-warning-sign': validPassword.status == 'warning'}" aria-hidden="true"></span>
                      </div>
                      <em class="control-label col-md-3" ng-show="validPassword.status == 'invalid' || validPassword.status == 'warning'" ng-class="{'has-success': validPassword.status == 'valid', 'has-error': validPassword.status == 'invalid', 'has-warning': validPassword.status == 'warning'}" style="text-align:left">
                        {{validPassword.message}}
                      </em>
                    </div>
                    <div class="form-group has-feedback" ng-class="{'has-success': validConfirmPassword.status == 'valid', 'has-error': validConfirmPassword.status == 'invalid', 'has-warning': validConfirmPassword.status == 'warning'}">
                      <label class="control-label col-md-2">
                        Re-type Password
                      </label>
                      <div class="col-md-7">
                        <input type="password" class="form-control" required="required" ng-change="validateConfirmPassword(adminUser.confirmPassword)" ng-model="adminUser.confirmPassword" ng-disabled="adminUser.password.length < 6 || !adminUser.password">
                        <span ng-show="validConfirmPassword.status" class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': validConfirmPassword.status == 'valid', 'glyphicon-remove': validConfirmPassword.status == 'invalid', 'glyphicon-warning-sign': validConfirmPassword.status == 'warning'}" aria-hidden="true"></span>
                      </div>
                      <em class="control-label col-md-3" ng-show="validConfirmPassword.status == 'invalid' || validConfirmPassword.status == 'warning'" ng-class="{'has-success': validConfirmPassword.status == 'valid', 'has-error': validConfirmPassword.status == 'invalid', 'has-warning': validConfirmPassword.status == 'warning'}" style="text-align:left">
                        {{validConfirmPassword.message}}
                      </em>
                    </div>
                    <div class="row has-feedback" ng-class="{'has-success': installation.site_account == true, 'has-error': installation.site_account == false}">
                      <div class="col-md-2"></div>
                      <div class="col-md-3">
                        <div class="table-buttons">
                          <form ng-submit="addAdminUser()" method="post">
                            <button class="btn btn-primary" ng-class="{'disabled': !checkAdminForm()}" type="submit">Save</button>
                          </form>
                        </div>
                      </div>
                      <em class="control-label col-md-6" ng-if="installation.site_account != null" style="text-align:left; padding-top:16px;">
                        {{adminUser.message}}
                      </em>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END SECTION -->

          </div>
        </div>
      </div>
    </div>
  </div>
