<div id="main">
	<div id="top">
		<div class="clearfix">
			<div class="row">
        <!-- Load side menu -->
				<div id="side-panel-scrollbar" class="col-lg-2">
					<div ng-include="'templates/side-panel-menu.html'"></div>
				</div>
        <!-- Right side detail view -->
				<div class="col-lg-10 animated fadeIn">
					<div class="row main-title">
            <!-- Page title -->
						<div class="col-xs-12 col-md-6 title-content">
							<span class="fa fa-pencil"></span>
							<h1><strong>Manage Legacy Questionnaires</strong></h1>
						</div>
            <!-- Breadcrumbs -->
						<div class="col-md-6 title-breadcrumbs">
							<a ui-sref="home">Home</a> <span class="glyphicon glyphicon-menu-right teflon"></span> <a href="#/legacy-questionnaire">Legacy Questionnaires</a>							<span class="glyphicon glyphicon-menu-right teflon"></span> <strong>Manage Legacy Questionnaires</strong></span>
						</div>
					</div>
					<div class="row clearfix operations">
						<div class="save-add col-xs-12 col-sm-6 col-md-8">
              <!-- Add button -->
							<a style="width:100px;margin-right:20px;" href="" ng-click="goToAddLegacyQuestionnaire()" class="btn btn-md btn-outline item-button">
                <span style="font-size: 17px;" class="fa fa-plus"></span>
                <span style="font-size: 20px;"><strong>Add</strong></span>
              </a>
              <!-- Save changes button -->
							<a href="" ng-click="submitPublishFlags()" class="btn btn-md item-button-success animated" ng-if="changesMade" ng-class="{pulse: hoverV}" ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false">
								<span style="font-size: 17px;" class="glyphicon glyphicon-ok"></span>
								<span style="font-size: 20px;"><strong>Save Changes</strong></span>
							</a>
						</div>
						<!-- Search field -->
						<div class="search col-xs-12 col-sm-6 col-md-4">
							<div class="form-group has-feedback" style="margin-bottom: 0">
							<input type="text" class="form-control" ng-model="filterValue" ng-change="filterLegacyQuestionnaire(filterValue)" placeholder="Search...">
								<span class="glyphicon glyphicon-search form-control-feedback"></span>
							</div>
						</div>
					</div>
          <!-- Load main table -->
					<div class="panel-container" style="text-align:left;">
						<div class="panel-info">
							<div class="panel-input">
								<div id="data-table">
									<div class="gridStyle" ui-grid="gridOptions" ui-grid-resize-columns style="height:75vh"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="bannerMessage alert-success">{{bannerMessage}}</div>
</div>

<!-- Deleting Modal -->
<script type="text/ng-template" id="deleteLegacyQuestionnaireModalContent.htm">
	<div class="modal-header">
		<h2 class="modal-title col-xs-12">
			<span class="glyphicon glyphicon-trash"></span> 
			Delete Legacy Questionnaire 
		</h2>
		<p class="modal-title-caption col-xs-12">
			{{legacyQuestionnaireToDelete.name_EN}} / {{legacyQuestionnaireToDelete.name_FR}}
		</p>
	</div>
	<div class="modal-body">
		<div class="alert alert-danger" role="alert">
      <strong>Delete Legacy Questionnaire</strong><br>
      <p>
        Are you sure you want to delete the legacy questionnaire "{{legacyQuestionnaireToDelete.name_EN}}" ?
      </p>
    </div>
    <div class="row">
      <div class="modal-buttons col-xs-12">
        <form method="post" ng-submit="deleteLegacyQuestionnaire()">			
          <input class="btn btn-primary submit" type="submit" value="Delete">
          <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="Cancel">
        </form>
      </div>
    </div>
	</div>
</script>

<!-- Editing Modal -->
<script type="text/ng-template" id="editLegacyQuestionnaireModalContent.htm">
  <!-- Modal title -->
	<div class="modal-header">
		<h2 class="modal-title col-xs-12">
			<span class="glyphicon glyphicon-pencil"></span> 
			Edit Legacy Questionnaire 
		</h2>
		<p class="modal-title-caption col-xs-12">
			{{legacyQuestionnaire.name_EN}} / {{legacyQuestionnaire.name_FR}}
		</p>
		<div class="modal-buttons col-xs-12">
      <span> 
        <form method="post" ng-submit="updateLegacyQuestionnaire()">
          <input class="btn btn-primary submit" ng-class="{'disabled': !checkForm()}" type="submit" value="Save Changes">
          <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="Cancel">
        </form>
      </span>     
    </div>
	</div>
	<div class="modal-body">
		<uib-accordion>

      <!-- SECTION: Titles -->
			<div uib-accordion-group is-open="titleSection.open">
				<uib-accordion-heading>
					<div>
						<strong>Titles </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': titleSection.open, 'glyphicon-chevron-right': !titleSection.open}"></i>
					</div>
				</uib-accordion-heading>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="input-group">
							<span class="input-group-addon">EN</span>
							<textarea class="form-control" rows="1" ng-model="legacyQuestionnaire.name_EN" placeholder="English Title" ng-change="setChangesMade()"></textarea>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="input-group">
							<span class="input-group-addon">FR</span>
							<textarea class="form-control" rows="1" ng-model="legacyQuestionnaire.name_FR" placeholder="Titre Français" ng-change="setChangesMade()"></textarea>
						</div>
					</div>
				</div>
      </div>

      <!-- SECTION: Publish Frequency -->
      <div uib-accordion-group is-open="frequencySection.open">
        <uib-accordion-heading>
          <div>
            <strong>Publish Frequency </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': frequencySection.open, 'glyphicon-chevron-right': !frequencySection.open}"></i>
          </div>
        </uib-accordion-heading>
        <div class="alert alert-info" role="alert">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <strong>Repeat</strong><br>
              <p>
                <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                <span ng-if="!showFrequency">N/A</span>
                <span ng-if="frequencySelected.id != 'custom' && showFrequency">{{frequencySelected.name}}</span>
                <span ng-if="frequencySelected.id == 'custom'">
                  Every 
                  <span ng-if="customFrequency.meta_value != 1">{{customFrequency.meta_value}}</span>
                  {{customFrequency.unit.name}} 
                  <span ng-if="selectedDaysInWeek.length">On {{selectedDaysInWeekText}}</span>
                  <span ng-if="selectedMonthsInYear.length">in {{selectedMonthsInYearText}} </span>
                  <span ng-if="selectedDatesInMonth.length">on the {{selectedDatesInMonthText}} of
                    <span ng-if="selectedMonthsInYear.length > 1">each</span>
                    <span ng-if="selectedMonthsInYear.length < 2">the</span>
                  month</span>
                  <span ng-if="selectedWeekNumberInMonth.id && selectedSingleDayInWeek.id">on the {{selectedWeekNumberInMonthText}} {{selectedSingleDayInWeekText}} of 
                  <span ng-if="selectedMonthsInYear.length > 1">each</span>
                  <span ng-if="selectedMonthsInYear.length < 2">the</span>
                    month</span>
                </span>
              </p>
            </div>
            <div class="col-xs-12 col-sm-4">

              <strong>Repeat Start</strong><br>
              <p>
                <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                <span ng-if="legacyQuestionnaire.occurrence.start_date">
                  {{legacyQuestionnaire.occurrence.start_date | date:'fullDate' }}
                </span>
                <span ng-if="!legacyQuestionnaire.occurrence.start_date">N/A</span>
              </p>
            </div>
            <div class="col-xs-12 col-sm-4">

              <strong>Repeat End</strong><br>
              <p>
                <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                  <span ng-if="legacyQuestionnaire.occurrence.end_date">
                    {{legacyQuestionnaire.occurrence.end_date | date:'fullDate' }}
                  </span>
                  <span ng-if="!legacyQuestionnaire.occurrence.end_date">Never</span>
                </span>
              </p>
            </div>
          </div>
          Testing region<br>
          {{legacyQuestionnaire.occurrence.frequency}}<br>
          {{customFrequency}}<br>
          {{additionalMeta}}<br>
          
        </div>
        <div class="row" style="margin-bottom:10px;">
          <div class="col-xs-12">
            <button class="btn btn-success" ng-if="!showFrequency" ng-click="addFrequencyFilter()">
              <span style="font-size: 17px;" class="fa fa-plus"></span>
              <span style="font-size: 20px;"><strong>Add</strong></span>
            </button>
            <button class="btn btn-danger" ng-if="showFrequency" ng-click="removeFrequencyFilter()">
              <span style="font-size: 17px;" class="glyphicon glyphicon-minus"></span>
              <span style="font-size: 20px;"><strong>Remove</strong></span>
            </button>
          </div>
        </div>
       
        <div class="row" style="margin-bottom:10px;" ng-if="showFrequency">
          <div class="col-xs-12 col-sm-4">
            <div class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-xs-12">
                  Repeat 
                </label>
                <div class="col-xs-8">
                  <select class="form-control" ng-options="presetFrequency as presetFrequency.name for presetFrequency in presetFrequencies track by presetFrequency.id" ng-model="frequencySelected" ng-change="selectFrequency(frequencySelected)">
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">  
            <div class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-xs-12">
                  Repeat Start
                </label>
                <div class="col-xs-12 col-lg-9">
                  <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="legacyQuestionnaire.occurrence.start_date" ng-change="setChangesMade()" is-open="popupStart.opened"datepicker-options="dateOptionsStart" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">  
            <div class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-xs-12">
                  Repeat End
                </label>
                <div ng-if="!addEndDate" class="col-xs-12 col-lg-9">
                  <button class="btn btn-default" ng-click="toggleEndDate()">
                    <span class="fa fa-plus"></span>
                    <span><strong>Add End Date</strong></span>
                  </button>
                </div>
                <div class="col-xs-12 col-lg-9" style="margin-bottom:10px;">
                  <div class="input-group">
                    <input ng-if="addEndDate" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="legacyQuestionnaire.occurrence.end_date" ng-change="setChangesMade()" is-open="popupEnd.opened" datepicker-options="dateOptionsEnd" ng-required="true" close-text="Close" />
                    <span ng-if="addEndDate" class="input-group-btn">
                      <button class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
                <div class="col-xs-12">
                  <button class="btn btn-default" ng-if="addEndDate" ng-click="toggleEndDate()">
                    <span class="glyphicon glyphicon-minus"></span>
                    <span><strong>Remove End Date</strong></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-4" ng-if="frequencySelected.id == 'custom'">
            <div class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-xs-12">
                  Repeat Interval
                </label>
                <div class="col-xs-3">
                  <input class="form-control" ng-model="customFrequency.meta_value" type="number" max="59" min="1">
                </div>
                <div class="col-xs-6">
                  <select class="form-control" ng-options="unit as unit.name for unit in frequencyUnits track by unit.id" ng-model="customFrequency.unit" ng-change="selectRepeatInterval(customFrequency.unit)">
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4" ng-if="frequencySelected.id == 'custom' && customFrequency.unit.id != 'day'">
            <div class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-xs-12">
                  <span ng-if="customFrequency.unit.id == 'week'">Repeat On Day(s)</span>
                  <span ng-if="customFrequency.unit.id == 'month' || customFrequency.unit.id == 'year'">Repeat Options</span>
                </label>
                <div class="col-xs-8" style="margin-bottom: 10px;" ng-if="customFrequency.unit.id == 'week'">
                  <div ng-dropdown-multiselect="" options="daysInWeek" selected-model="selectedDaysInWeek" extra-settings="weekDropdownSettings" events="weekDropdownEvents"></div>
                </div>
                <div ng-if="customFrequency.unit.id == 'year'"class="col-xs-10" style="margin-bottom: 10px;">
                  <div ng-dropdown-multiselect="" options="monthsInYear" selected-model="selectedMonthsInYear" extra-settings="monthDropdownSettings" events="monthDropdownEvents"></div>
                </div>
                <div ng-if="customFrequency.unit.id == 'month'" class="col-xs-12" style="margin-bottom: 10px;">
                  <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default" ng-class="{active: repeatSub == 'onDate'}" ng-click="setRepeatSub('onDate')">On Date</button>
                    </div>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default" ng-class="{active: repeatSub == 'onWeek'}" ng-click="setRepeatSub('onWeek')">On Week</button>
                    </div>
                  </div>
                </div>
                <div ng-if="repeatSub == 'onDate' && customFrequency.unit.id == 'month'" class="no-calendar-header col-xs-12" style="margin-bottom: 10px;">
                  <multiple-date-picker ng-model="selectedDatesInMonth" month="staticMonth"></multiple-date-picker>
                </div>
                <div ng-if="repeatSub == 'onWeek' || customFrequency.unit.id == 'year'" class="col-xs-4" style="margin-bottom: 10px;">
                  <select class="form-control" ng-options="week as week.name for week in weekNumbersInMonth track by week.id" ng-model="selectedWeekNumberInMonth" ng-change="selectWeekInMonth(selectedWeekNumberInMonth)" >
                  </select>
                </div>
                <div ng-if="repeatSub == 'onWeek' || customFrequency.unit.id == 'year'" class="col-xs-6" style="margin-bottom: 10px;">
                  <select class="form-control" ng-options="day as day.name for day in daysInWeek track by day.id" ng-model="selectedSingleDayInWeek" ng-change="selectDayInWeek(selectedSingleDayInWeek, customFrequency.unit.id)">
                    <option value="" selected="selected">---</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        

      </div>
      
      <!-- SECTION: Patient filter -->
      <div uib-accordion-group is-open="patientFilterSection.open">
        <uib-accordion-heading>
          <div>
            <strong>Filter By Patient </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': patientFilterSection.open, 'glyphicon-chevron-right': !patientFilterSection.open}"></i>
          </div>
        </uib-accordion-heading>
        <div class="alert alert-info" role="alert">
          <strong>Current Patient Filters</strong><br>
          <p>
            <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="allFilters(patientFilterList)"></span>
            <span ng-if="allFilters(patientFilterList)">No filter</span>
            <ul class="list-items" ng-if="!allFilters(patientFilterList)">
              <li ng-repeat="patient in patientFilterList | filter: {added: 1} : 1">
                {{patient.name}}
              </li>
            </ul>
          </p>
        </div>
        <div class="list-space">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input class="form-control" type="text" ng-model="patientSearchField" ng-change="searchPatient(patientSearchField)" placeholder="Search..."/>
          </div>
          <ul class="list-items">
            <li ng-repeat="patient in patientFilterList | filter: searchPatientFilter">
              <label>
                <input type="checkbox" ng-click="selectItem(patient)" ng-checked="patient.added" /> {{patient.name}}
              </label>
            </li>
          </ul>
        </div>
      </div>

      <!-- SECTION: Demographic filters -->
      <div uib-accordion-group is-open="demographicFilterSection.open"> 
        <uib-accordion-heading>
          <div>
            <strong>Filter By Demographics </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': demographicFilterSection.open, 'glyphicon-chevron-right': !demographicFilterSection.open}"></i>
          </div>
        </uib-accordion-heading>
        <div class="alert alert-info" role="alert">
          <strong>Current Sex Filter</strong><br>
          <p>
            <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
            <span ng-if="!demoFilter.sex">None</span>
            <span ng-if="demoFilter.sex">{{demoFilter.sex}}</span> 
          </p> <br>
          <strong>Current Age Group Filter</strong><br>
          <p>
            <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
            <span ng-if="!demoFilter.age">None</span>
            <span ng-if="demoFilter.age">{{demoFilter.age.min}} to {{demoFilter.age.max}}</span>
          </p>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="row">
              <h2 class="col-xs-12" style="margin:0 0 7px 0; padding: 0 15px; font-size:30px;">Sex</h2>
            </div>
            <div class="row">
              <div ng-repeat="sex in sexes" class="col-xs-12 col-sm-6">
                <div class="panel-container animated" style="cursor:pointer" ng-class="{pulse: hover, active: demoFilter.sex == sex.name}" ng-click="sexUpdate(sex)" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                  <div class="panel-info" ng-class="{active: demoFilter.sex == sex.name}">
                    <div class="panel-content" style="text-align:center">
                      <span style="font-size:30px;" class="fa fa-{{sex.icon}}"></span>
                      <div class="option-panel-title">{{sex.name}}</div>
                    </div>
                  </div>
                </div> 
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="row">
              <h2 class="col-xs-12" style="margin:0 0 7px 0; padding: 0 15px; font-size:30px;">Age Group</h2>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                <div class="input-group">
                  <span class="input-group-addon">MIN</span>
                  <input class="form-control" ng-model="demoFilter.age.min" ng-change="setChangesMade()" type="number" ng-max="demoFilter.age.max" min="0">
                </div> 
              </div>
              <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                <div class="input-group">
                  <span class="input-group-addon">MAX</span>
                  <input class="form-control" ng-model="demoFilter.age.max" ng-change="setChangesMade()" type="number" max="100" ng-min="demoFilter.age.min">
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div> 

      <!-- SECTION: Appointment status filter -->
      <div uib-accordion-group is-open="appointmentStatusFilterSection.open">
        <uib-accordion-heading>
          <div>
            <strong>Filter By Appointment Status</strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': appointmentStatusFilterSection.open, 'glyphicon-chevron-right': !appointmentStatusFilterSection.open}"></i>
          </div>
        </uib-accordion-heading>
        <div class="alert alert-info" role="alert">
          <strong>Current Appointment Status Filter</strong><br>
          <p>
            <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
            <span ng-if="allFilters(appointmentStatusList)">No filter</span>
            <span ng-repeat="selectedAppointmentStatus in appointmentStatusList | filter: {added: 1} : 1" ng-if="!allFilters(appointmentStatusList)">
                {{selectedAppointmentStatus.name}}
            </span>
          </p>
        </div>
        <div class="row">
          <div ng-repeat="appointmentStatus in appointmentStatusList" class="col-xs-12 col-sm-4 col-md-3 item-panel-select">
            <div class="panel-container animated" style="cursor:pointer;" ng-class="{pulse: hover, active: appointmentStatus.added}" ng-click="appointmentStatusUpdate($index)" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
              <div class="panel-info" ng-class="{active: appointmentStatus.added}">
                <div class="panel-content" style="text-align:center">
                  <span ng-if="!appointmentStatus.added" style="font-size:30px;" class="glyphicon glyphicon-minus"></span>
                  <span ng-if="appointmentStatus.added" style="font-size:30px;" class="glyphicon glyphicon-ok"></span>
                  <div class="option-panel-title">{{appointmentStatus.name}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- SECTION: Appointment filter -->
      <div uib-accordion-group is-open="appointmentFilterSection.open">
        <uib-accordion-heading>
          <div>
            <strong>Filter By Appointment</strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': appointmentFilterSection.open, 'glyphicon-chevron-right': !appointmentFilterSection.open}"></i>
          </div>
        </uib-accordion-heading>
        <div class="alert alert-info" role="alert">
          <strong>Current Appointment Filters</strong><br>
          <p>
            <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="allFilters(appointmentList)"></span>
            <span ng-if="allFilters(appointmentList)">No filter</span>
            <ul class="list-items" ng-if="!allFilters(appointmentList)">
              <li ng-repeat="selectedAppointment in appointmentList | filter: {added: 1} : 1">
                {{selectedAppointment.name}}
              </li>
            </ul>
          </p>
        </div>
        <div class="list-space">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input class="form-control" type="text" ng-model="appointmentSearchField" ng-change="searchAppointment(appointmentSearchField)" placeholder="Search..."/>
          </div>
          <ul class="list-items">
            <li ng-repeat="appointment in appointmentList | filter: searchAppointmentFilter">
              <label>
                <input type="checkbox" ng-click="selectItem(appointment)" ng-checked="appointment.added" /> {{appointment.name}}
              </label>
            </li>
          </ul>
        </div>
      </div>

      <!-- SECTION: Diagnosis filter -->
      <div uib-accordion-group is-open="diagnosisFilterSection.open">
        <uib-accordion-heading>
          <div>
            <strong>Filter By Diagnosis </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': diagnosisFilterSection.open, 'glyphicon-chevron-right': !diagnosisFilterSection.open}"></i>
          </div>
        </uib-accordion-heading>
        <div class="alert alert-info" role="alert">
          <strong>Current Doctor Filters</strong><br>
          <p>
            <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="allFilters(dxFilterList)"></span>
            <span ng-if="allFilters(dxFilterList)">No filter</span>
            <ul class="list-items" ng-if="!allFilters(dxFilterList)">
                <li ng-repeat="dx in dxFilterList | filter: {added: 1} : 1">
                {{dx.name}}
              </li>
            </ul>
          </p>
        </div>
        <div class="list-space">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input class="form-control" type="text" ng-model="dxSearchField" ng-change="searchDiagnosis(dxSearchField)" placeholder="Search..."/>
          </div>
          <ul class="list-items">
            <li ng-repeat="dx in dxFilterList | filter: searchDxFilter">
              <label>
                <input type="checkbox" ng-click="selectItem(dx)" ng-checked="dx.added" /> {{dx.name}}
              </label>
            </li>
          </ul>
        </div>
      </div>

      <!-- SECTION: Doctor filter -->
      <div uib-accordion-group is-open="doctorFilterSection.open">
        <uib-accordion-heading>
          <div>
            <strong>Filter By Doctor </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': doctorFilterSection.open, 'glyphicon-chevron-right': !doctorFilterSection.open}"></i>
          </div>
        </uib-accordion-heading>
        <div class="alert alert-info" role="alert">
          <strong>Current Doctor Filters</strong><br>
          <p>
            <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="allFilters(doctorFilterList)"></span>
            <span ng-if="allFilters(doctorFilterList)">No filter</span>
            <ul class="list-items" ng-if="!allFilters(doctorFilterList)">
                <li ng-repeat="doctor in doctorFilterList | filter: {added: 1} : 1">
                {{doctor.name}}
              </li>
            </ul>
          </p>
        </div>
        <div class="list-space">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input class="form-control" type="text" ng-model="doctorSearchField" ng-change="searchDoctor(doctorSearchField)" placeholder="Search..."/>
          </div>
          <ul class="list-items">
            <li ng-repeat="doctor in doctorFilterList | filter: searchDoctorFilter">
              <label>
                <input type="checkbox" ng-click="selectItem(doctor)" ng-checked="doctor.added" /> {{doctor.name}}
              </label>
            </li>
          </ul>
        </div>
      </div>

      <!-- SECTION: Resource Filter -->
      <div uib-accordion-group is-open="resourceFilterSection.open">
        <uib-accordion-heading>
          <div>
            <strong>Filter By Treatment Machine </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': resourceFilterSection.open, 'glyphicon-chevron-right': !resourceFilterSection.open}"></i>
          </div>
        </uib-accordion-heading>
        <div class="alert alert-info" role="alert">
          <strong>Current Treatment Machine Filters</strong><br>
          <p>
            <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="allFilters(resourceFilterList)"></span>
            <span ng-if="allFilters(resourceFilterList)">No filter</span>
            <ul class="list-items" ng-if="!allFilters(resourceFilterList)">
                <li ng-repeat="resource in resourceFilterList | filter: {added: 1} : 1">
                {{resource.name}}
              </li>
            </ul>
          </p>
        </div>
        <div class="list-space">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input class="form-control" type="text" ng-model="resourceSearchField" ng-change="searchResource(resourceSearchField)" placeholder="Search..."/>
          </div>
          <ul class="list-items">
            <li ng-repeat="resource in resourceFilterList | filter: searchResourceFilter">
              <label>
                <input type="checkbox" ng-click="selectItem(resource)" ng-checked="resource.added" /> {{resource.name}}
              </label>
            </li>
          </ul>
        </div>
			</div>

		</uib-accordion>
	</div>
</script>

<!-- "Processing" modal template -->
<script type="text/ng-template" id="processingModal.htm">
	<div class="modal-header">
		<h1> Processing...</h1>
	</div>
	<div class="modal-body">
		<div class="progress progress-striped active">
			<div class="progress-bar" style="width: 100%"></div>
		</div>
	</div>
</script>