  <div id="main">
    <div class="login-container col-md-4 col-md-offset-4">
      <div class="row">
        <div class="login-header">
          <div class="logo">
            <img class="animated rotateIn" src="images/opal_logo_transparent_purple.png" height="200" width="200">
          </div>
          <h1><strong>opal</strong> ADMIN</h1>
        </div>
      </div>
      <div class="row">
        <div ng-include="'templates/login-form.html'"></div>
      </div>
    </div>  
    <div class="bannerMessage alert-success">{{bannerMessage}}</div>                       
  </div>

          
                      
                    
