  <div id="main">
    <div id="top">
      <div class="clearfix">
        <div class="row">
          <!-- Load side menu -->
          <div id="side-panel-scrollbar" class="col-lg-2">
            <div ng-include="'templates/side-panel-menu.html'"></div>
          </div>
          <!-- Right side detail view -->
          <div class="col-lg-10 animated fadeIn">
            <div class="row main-title">
              <!-- Page title -->
              <div class="col-xs-12 col-md-8 title-content">
                <span class="fa fa-address-card"></span>
                <h1><strong>Patients</strong></h1>
              </div>
              <!-- Breadcrumbs -->
              <div class="col-md-4 title-breadcrumbs"> 
                <span><a ui-sref="home">Home</a> <span class="glyphicon glyphicon-menu-right teflon"></span> <strong>Patients</strong></span>
              </div>
            </div>
						<div class="row clearfix operations">
							<div class="save-add col-xs-12 col-sm-6 col-md-8">
                <!-- Add button -->
								<a style="width:200px;margin-right:20px;" href="" ng-click="goToAddPatient()" class="btn btn-md btn-outline item-button">
									<span style="font-size: 17px;" class="glyphicon glyphicon-plus"></span>
									<span style="font-size: 20px;"><strong>Register New</strong></span>
                </a>
                <!-- Save changes button -->
								<a href="" ng-click="submitTransferFlags()" class="btn btn-md item-button-success animated" ng-if="changesMade" ng-class="{pulse: hoverV}" ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false">
									<span style="font-size: 17px;" class="glyphicon glyphicon-ok"></span>
									<span style="font-size: 20px;"><strong>Save Changes</strong></span>
								</a>
              </div>
              <!-- Search field -->
							<div class="search col-xs-12 col-sm-6 col-md-4">
								<div class="form-group has-feedback" style="margin-bottom: 0">
								<input type="text" class="form-control" ng-model="filterValue" ng-change="filterPatient(filterValue)" placeholder="Search...">
									<span class="glyphicon glyphicon-search form-control-feedback"></span>
								</div>
							</div>
            </div>
            <!-- Load main table -->
            <div class="panel-container" style="text-align:left">
              <div class="panel-info">
                <div class="panel-input">
                  <div id="data-table">
                    <div class="gridStyle" ui-grid="gridOptions" ui-grid-resize-columns style="height:75vh"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <div class="bannerMessage alert-success">{{bannerMessage}}</div>
  </div>

    <!-- Edit patient modal template -->
    <script type="text/ng-template" id="editPatientModalContent.htm">
      <!-- Modal title -->
      <div class="modal-header">
        <h2 class="modal-title col-xs-12">
          <span class="glyphicon glyphicon-pencil"></span> 
          Edit Patient 
        </h2>
        <p class="modal-title-caption col-xs-12">
          {{patient.name}} 
        </p>
        <div class="modal-buttons col-xs-12">
          <span> 
            <form method="post" ng-submit="updatePatient()">
              <input class="btn btn-primary submit" ng-class="{'disabled': !checkForm()}" type="submit" value="Save Changes">
              <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="Cancel">
            </form>
          </span>     
        </div>
      </div>
			<div class="modal-body">
        <uib-accordion>
          <div uib-accordion-group is-open="true">
            <!-- SECTION: Change password -->
            <uib-accordion-heading>
              <div>
                <strong>Change Password </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusPassword.open, 'glyphicon-chevron-right': !statusPassword.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="form-horizontal">
							<div class="form-group has-feedback" ng-class="{'has-error': validOldPassword.status == 'invalid', 'has-warning': validOldPassword.status == 'warning'}">
								<label class="control-label col-xs-12 col-md-2">
									Current Password
								</label>
								<div class="col-xs-12 col-md-7">
									<input type="password" class="form-control" required="required" ng-change="validateOldPassword(patient.oldPassword)" ng-model="patient.oldPassword" ng-disabled="patientIsDisabled">
									<span ng-show="validOldPassword.status" class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': validOldPassword.status == 'invalid', 'glyphicon-warning-sign': validOldPassword.status == 'warning'}" aria-hidden="true"></span>
								</div>
								<em class="control-label col-xs-12 col-md-3" ng-show="validOldPassword.status == 'invalid' || validOldPassword.status == 'warning'" ng-class="{'has-error': validOldPassword.status == 'invalid', 'has-warning': validOldPassword.status == 'warning'}" style="text-align:left;">
									{{validOldPassword.message}}
								</em>
							</div>
              <div class="form-group has-feedback" ng-class="{'has-success': validPassword.status == 'valid', 'has-error': validPassword.status == 'invalid', 'has-warning': validPassword.status == 'warning'}">
                <label class="control-label col-md-2">
                  Password <br><em><small>(min: 6 characters)</small></em>
                </label>
                <div class="col-xs-12 col-md-7">
                  <input type="password" class="form-control" ng-change="validatePassword(patient.password)" ng-model="patient.password" ng-disabled="patientIsDisabled">
                  <span ng-show="validPassword.status" class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': validPassword.status == 'valid', 'glyphicon-remove': validPassword.status == 'invalid', 'glyphicon-warning-sign': validPassword.status == 'warning'}" aria-hidden="true"></span>
                </div>
                <em class="control-label col-xs-12 col-md-3" ng-show="validPassword.status == 'invalid' || validPassword.status == 'warning'" ng-class="{'has-success': validPassword.status == 'valid', 'has-error': validPassword.status == 'invalid', 'has-warning': validPassword.status == 'warning'}" style="text-align:left">
                  {{validPassword.message}}
                </em>
              </div>
              <div class="form-group has-feedback" ng-class="{'has-success': validConfirmPassword.status == 'valid', 'has-error': validConfirmPassword.status == 'invalid', 'has-warning': validConfirmPassword.status == 'warning'}">
                <label class="control-label col-xs-12 col-md-2">
                  Re-type Password
                </label>
                <div class="col-xs-12 col-md-7">
                  <input type="password" class="form-control" required="required" ng-change="validateConfirmPassword(patient.confirmPassword)" ng-model="patient.confirmPassword" ng-disabled="patient.password.length < 6 || !patient.password">
                  <span ng-show="validConfirmPassword.status" class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': validConfirmPassword.status == 'valid', 'glyphicon-remove': validConfirmPassword.status == 'invalid', 'glyphicon-warning-sign': validConfirmPassword.status == 'warning'}" aria-hidden="true"></span>
                </div>
                <em class="control-label col-xs-12 col-md-3" ng-show="validConfirmPassword.status == 'invalid' || validConfirmPassword.status == 'warning'" ng-class="{'has-success': validConfirmPassword.status == 'valid', 'has-error': validConfirmPassword.status == 'invalid', 'has-warning': validConfirmPassword.status == 'warning'}" style="text-align:left">
                  {{validConfirmPassword.message}}
                </em>
              </div>    
            </div>
          </div>
				</uib-accordion>
      </div>
    </script>

    <!-- Block modal template -->
		<script type="text/ng-template" id="toggleBlockModalContent.htm">
      <div class="modal-header">
        <h2 class="modal-title col-xs-12">
          <span class="fa fa-address-card"></span> 
          <span ng-if="currentPatient.disabled">Block</span>
					<span ng-if="!currentPatient.disabled">Unblock</span>  
					Patient 
        </h2>
        <p class="modal-title-caption col-xs-12">
          {{currentPatient.name}} 
        </p>
        <div class="modal-buttons col-xs-12">
          <span> 
            <form method="post" ng-submit="submitToggle()">
              <button class="btn btn-primary submit" ng-class="{'disabled': !currentPatient.reason}" type="submit">
                <span ng-if="currentPatient.disabled">Block</span>
                <span ng-if="!currentPatient.disabled">Unblock</span>
              </button>
              <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="Cancel">
            </form>
          </span>     
        </div>
      </div>
      <div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group has-feedback">
						<label class="control-label col-xs-12 col-md-2">
							Reason
						</label>
						<div class="col-xs-12 col-md-7">
							<textarea class="form-control" rows="5" ng-model="currentPatient.reason" placeholder="Reason" required="required"></textarea>
						</div>
					</div>
				</div>
      </div>
    </script>

    <!-- "Processing" modal template -->
		<script type="text/ng-template" id="processingModal.htm">
      <div class="modal-header">
        <h1> Processing...</h1>
      </div>
      <div class="modal-body">
        <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 100%"></div>        
        </div>
      </div>
    </script>
