  <div id="main">
    <div id="top">
      <div class="clearfix">
        <div class="row">
          <!-- Load side menu -->
          <div class="col-md-2">
            <div ng-include="'templates/side-panel-menu.html'"></div>
          </div>
          <!-- Right details panel view -->
          <div class="col-md-10 animated fadeIn">
            <div class="row main-title">
              <!-- Page title -->
              <div class="col-md-9 title-content">
                <span class="glyphicon glyphicon-comment"></span>
                <h1><strong>Posts</strong></h1>
              </div>
              <!-- Breadcrumbs -->
              <div class="col-md-3 title-breadcrumbs"> 
                <span><a href="#/">Home</a> <span class="glyphicon glyphicon-menu-right teflon"></span> <strong>Posts</strong></span>
              </div>
            </div> 
						<div class="row clearfix" style="margin-bottom: 10px; display:flex; align-items: center">
							<div class="col-md-8">
                <!-- Add button -->
								<a style="width:100px;margin-right:20px;" href="" ng-click="goToAddPost()" class="btn btn-md btn-outline item-button">
									<span style="font-size: 17px;" class="glyphicon glyphicon-plus"></span>
									<span style="font-size: 20px;"><strong>Add</strong></span>
                </a>
                <!-- Save changes button -->
								<a href="" ng-click="submitFlags()" class="btn btn-md item-button-success animated" ng-if="changesMade" ng-class="{pulse: hoverV}" ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false">
									<span style="font-size: 17px;" class="glyphicon glyphicon-ok"></span>
									<span style="font-size: 20px;"><strong>Save Changes</strong></span>
								</a>
              </div>
              <!-- Search field -->
							<div class="col-md-4">
								<div class="form-group has-feedback" style="margin-bottom: 0">
								<input type="text" class="form-control" ng-model="filterValue" ng-change="filterPost(filterValue)" placeholder="Search...">
									<span class="glyphicon glyphicon-search form-control-feedback"></span>
								</div>
							</div>
            </div>   
            <!-- Load main table -->
            <div class="panel-container" style="text-align:left">
              <div class="panel-info">
                <div class="panel-input">
                  <div id="data-table">
                    <div class="gridStyle" ui-grid="gridOptions" ui-grid-resize-columns style="height:75vh"></div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <div class="bannerMessage alert-success">{{bannerMessage}}</div>
  </div>

  <!-- Delete post modal template -->
  <script type="text/ng-template" id="deletePostModalContent.htm">
      <div class="modal-header">
        <h2 class="modal-title">
          <span class="glyphicon glyphicon-trash" style="font-size: 30px;"></span> 
          Delete Post: {{postToDelete.name_EN}} / {{postToDelete.name_FR}}
        </h2>
      </div>
      <div class="modal-body">
        <div class="bs-callout bs-callout-danger">
          <h4>Post Delete</h4>
          <p class="deleteText">Are you sure you want to delete the post "{{postToDelete.name_EN}}" ?</p>
          <form method="post" ng-submit="deletePost()">			
            <input class="btn btn-primary" type="submit" value="Delete">
            <input ng-click="cancel()" class="btn btn-danger" type="button" value="Cancel">
          </form>
        </div>
      </div>
    </script>

    <!-- Edit post modal tempalte -->
    <script type="text/ng-template" id="editPostModalContent.htm">
      <!-- Modal title -->
      <div class="modal-header">
        <h2 class="modal-title">
          <span class="glyphicon glyphicon-pencil" style="font-size: 30px;"></span> 
          Edit Post: {{post.name_EN}} / {{post.name_FR}}
          <span style="float:right;"> 
            <form method="post" ng-submit="updatePost()">
              <input class="btn btn-primary" ng-class="{'disabled': !checkForm()}" type="submit" value="Save Changes">
              <input ng-click="cancel()" class="btn btn-danger" type="button" value="Cancel">
            </form>
          </span>      
        </h2>
      </div>
      <div class="modal-body">
        <uib-accordion>
          <!-- SECTION: Titles -->
          <div uib-accordion-group is-open="statusTitle.open">
            <uib-accordion-heading>
              <div>
                <strong>Titles </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusTitle.open, 'glyphicon-chevron-right': !statusTitle.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="bs-callout bs-callout-info">
              <h4>Current Post Titles (EN / FR): {{post.name_EN}} / {{post.name_FR}}</h4>
              To change the current title(s), enter the new title(s) in the text box(es) below.
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="input-group">
                  <span class="input-group-addon">EN</span>
                  <input class="form-control" type="text" ng-model="post.name_EN" ng-change="setChangesMade()" placeholder="English Title" required="required">
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <div class="input-group">
                  <span class="input-group-addon">FR</span>
                  <input class="form-control" type="text" ng-model="post.name_FR" ng-change="setChangesMade()" placeholder="Titre Français" required="required">
                </div>
              </div>
            </div>
          </div>

          <!-- SECTION: Body -->
          <div uib-accordion-group is-open="statusBody.open">
            <uib-accordion-heading>
              <div>
                <strong>Body </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusBody.open, 'glyphicon-chevron-right': !statusBody.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="row">
              <div class="col-md-8">
                <div style="text-align:center;">
                  <span style="font-size:20px;">HTML</span>
                </div>
                <div class="form-group">
                  <div text-angular ng-model="post.body_EN" ng-change="setChangesMade()"></div>
                </div>
              </div>
              <div class="col-md-4">
                <div style="text-align:center;">
                  <span style="font-size:20px;">iPhone 4 Rendered</span>
                </div>
                <div class="render-html-iphone4"> 
                  <iframe frameborder="0" height="100%" width="100%" srcdoc="{{post.body_EN | deliberatelyTrustAsHtml}}"></iframe>
                </div>
              </div>    
            </div>
            <div class="row">
              <div style="min-height: 15px;"></div><hr>
            </div>
            <div class="row">  
              <div class="col-md-8">
                <div style="text-align:center;">
                  <span style="font-size:20px;">HTML</span>
                </div>
                <div class="form-group">
                  <div text-angular ng-model="post.body_FR" ng-change="setChangesMade()"></div>
                </div>
              </div>
              <div class="col-md-4">
                <div style="text-align:center;">
                  <span style="font-size:20px;">iPhone 4 Rendered</span>
                </div>
                <div class="render-html-iphone4"> 
                  <iframe frameborder="0" height="100%" width="100%" srcdoc="{{post.body_FR | deliberatelyTrustAsHtml}}"></iframe>
                </div>
              </div>    
            </div>
          </div>

          <!-- SECTION: Publish date -->
          <div uib-accordion-group is-open="statusPublishDate.open" ng-show="post.type == 'Announcement'">
            <uib-accordion-heading>
              <div>
                <strong>Publish Date </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusPublishDate.open, 'glyphicon-chevron-right': !statusPublishDate.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="bs-callout bs-callout-info">
              <h4>Current Publish Date:
                <span ng-hide="post.publish_date && post.publish_time"> NONE</span>
                <span ng-show="post.publish_date && post.publish_time">
                  {{post.publish_date | date:'fullDate'}} at {{post.publish_time | date:'HH:mm'}}
              </h4>
              To change the publish date, use the fields below.
            </div>
            <div class="row">
              <div class="col-md-6" style="padding-top: 10px;">
                <p class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="post.publish_date" is-open="popup.opened" min="minDate" ng-change="setChangesMade()" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
              <div class="col-md-6" style="margin-top: -24px;">
                <div>
                  <div uib-timepicker ng-change="setChangesMade()" ng-model="post.publish_time" minute-step="5" show-meridian="false"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- SECTION: Expression filter -->
          <div uib-accordion-group is-open="statusExpressionFilter.open">
            <uib-accordion-heading>
              <div>
                <strong>Filter Terms </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusExpressionFilter.open, 'glyphicon-chevron-right': !statusExpressionFilter.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="bs-callout bs-callout-info">
              <h4>Current Terms</h4>
              <ul class="list-items-4col">
                <li ng-show="allFilters(termList)">
                  All Terms
                </li>  
                <li ng-repeat="selectedTerm in termList | filter: {added: 1} : 1" ng-hide="allFilters(termList)">
                  {{selectedTerm.name}}
                </li>
              </ul>
              <p>To add/remove term filter, use the list below.</p>
            </div>
            <div class="list-space">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input class="form-control" type="text" ng-model="termSearchField" ng-change="searchTerm(termSearchField)" placeholder="Search..."/>
              </div>
              <div style="padding: 10px;">
                <label> 
                  <input type="checkbox" ng-click="selectAllTerms()"> Select All
                </label>
              </div>    
              <ul class="list-items">
                <li ng-repeat="term in termList | filter: searchTermsFilter">
                  <label>
                    <input type="checkbox" ng-click="selectItem(term)" ng-checked="term.added" /> {{term.name}}
                  </label>
                </li>
              </ul>
            </div>
          </div>

          <!-- SECTION: Diagnosis filter -->
          <div uib-accordion-group is-open="statusDiagnosisFilter.open">
            <uib-accordion-heading>
              <div>
                <strong>Filter Diagnoses </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusDiagnosisFilter.open, 'glyphicon-chevron-right': !statusDiagnosisFilter.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="bs-callout bs-callout-info">
              <h4>Current Diagnosis Filters</h4>
              <ul class="list-items-4col">
                <li ng-show="allFilters(dxFilterList)">
                  All Diagnoses
                </li>  
                <li ng-repeat="dx in dxFilterList | filter: {added: 1} : 1" ng-hide="allFilters(dxFilterList)">
                  {{dx.name}}
                </li>
              </ul>
              <p>To add/remove diagnosis filter, use the list below.</p>
            </div>
            <div class="list-space">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input class="form-control" type="text" ng-model="dxSearchField" ng-change="searchDiagnosis(dxSearchField)" placeholder="Search..."/>
              </div>
              <div style="padding: 10px;">
                <strong> 
                  To select all, leave all boxes unchecked.
                </strong>
              </div>    
              <ul class="list-items">
                <li ng-repeat="dx in dxFilterList | filter: searchDxFilter">
                  <label>
                    <input type="checkbox" ng-click="selectItem(dx)" ng-checked="dx.added" /> {{dx.name}}
                  </label>
                </li>
              </ul>
            </div>
          </div>

          <!-- SECTION: Doctor filter -->
          <div uib-accordion-group is-open="statusDoctorFilter.open">
            <uib-accordion-heading>
              <div>
                <strong>Filter Doctors </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusDoctorFilter.open, 'glyphicon-chevron-right': !statusDoctorFilter.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="bs-callout bs-callout-info">
              <h4>Current Doctor Filters</h4>
              <ul class="list-items-4col">
                <li ng-show="allFilters(doctorFilterList)">
                  All Doctors
                </li>  
                <li ng-repeat="doctor in doctorFilterList | filter: {added: 1} : 1" ng-hide="allFilters(doctorFilterList)">
                  {{doctor.name}}
                </li>
              </ul>
              <p>To add/remove doctors, use the list below.</p>
            </div>
            <div class="list-space">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input class="form-control" type="text" ng-model="doctorSearchField" ng-change="searchDoctor(doctorSearchField)" placeholder="Search..."/>
              </div>
              <div style="padding: 10px;">
                <strong> 
                  To select all, leave all boxes unchecked.
                </strong>
              </div>    
              <ul class="list-items">
                <li ng-repeat="doctor in doctorFilterList | filter: searchDoctorFilter">
                  <label>
                    <input type="checkbox" ng-click="selectItem(doctor)" ng-checked="doctor.added" /> {{doctor.name}}
                  </label>
                </li>
              </ul>
            </div>
          </div>

          <!-- SECTION: Resource Filter -->
          <div uib-accordion-group is-open="statusResourceFilter.open">
            <uib-accordion-heading>
              <div>
                <strong>Filter Resources </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusResourceFilter.open, 'glyphicon-chevron-right': !statusResourceFilter.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="bs-callout bs-callout-info">
              <h4>Current Resource Filters</h4>
              <ul class="list-items-4col">
                <li ng-show="allFilters(resourceFilterList)">
                  All Resources
                </li>  
                <li ng-repeat="resource in resourceFilterList | filter: {added: 1} : 1" ng-hide="allFilters(resourceFilterList)">
                  {{resource.name}}
                </li>
              </ul>
              <p>To add/remove resources, use the list below.</p>
            </div>
            <div class="list-space">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input class="form-control" type="text" ng-model="resourceSearchField" ng-change="searchResource(resourceSearchField)" placeholder="Search..."/>
              </div>
              <div style="padding: 10px;">
                <strong> 
                  To select all, leave all boxes unchecked.
                </strong>
              </div>    
              <ul class="list-items">
                <li ng-repeat="resource in resourceFilterList | filter: searchResourceFilter">
                  <label>
                    <input type="checkbox" ng-click="selectItem(resource)" ng-checked="resource.added" /> {{resource.name}}
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </uib-accordion>
      </div>
    </script>

<!-- "Processing" modal template -->
<script type="text/ng-template" id="processingModal.htm">
  <div class="modal-header">
    <h1> Processing...</h1>
  </div>
  <div class="modal-body">
    <div class="progress progress-striped active">
      <div class="progress-bar" style="width: 100%"></div>        
    </div>
  </div>
</script>

