<div id="main">
    <div id="top">
        <div class="clearfix">
            <div class="row">

                <!-- side bar: summary -->
                <div class="col-md-2" style="position:fixed;">
                    <!-- Home logo-->
                    <div ng-controller="sidePanelMenuController">
                        <div class="row side-logo" ng-click="goToHome()">
                            <div class="col-md-12">
                                <div class="logo">
                                    <img style="margin-top: -20px;" class="animated rotateIn" src="images/opal_logo_transparent_purple.png" height="130" width="130">
                                </div>
                                <h1 class="animated fadeIn">opal <strong>ADMIN</strong> </h1>
                            </div>
                        </div>
                    </div>

                    <!-- Summary -->
                    <div class="side-menu-title">
                        <div class="horz-line" style="height: 10px; text-align: center">
                            <span style="background-color:#e6edfa; padding: 0 10px;">
                                <h2>Summary</h2>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="progress progress-striped active">
                            <div class="progress-bar" ng-class="{'progress-bar-success': stepProgress == 100}" role="progressbar" aria-valuenow="{{stepProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stepProgress}}%">
                            </div>
                        </div>
                    </div>
                    <div class="panel-container">
                        <div class="panel-info">
                            <div class="panel-content" style="padding-top: 0">
                                <table class="summary-box" style="width: 100%">
                                    <col width="7%">
                                    <col width="93%">

                                    <!-- Title -->
                                    <tr>
                                        <td>
                                            <span ng-hide="newQuestionnaire.name_EN && newQuestionnaire.name_FR" class="glyphicon glyphicon-minus"></span>
                                            <span ng-show="newQuestionnaire.name_EN && newQuestionnaire.name_FR" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                                        </td>
                                        <td>
                                            <div class="horz-line" style="line-height: 0px;">
                                                <span class="title" style="background-color: #fff;">
                                                <strong>Title</strong>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div ng-show="newQuestionnaire.name_EN" class="description">
                                                <p style="margin-bottom:5px;"><strong>EN: </strong>{{newQuestionnaire.name_EN}}</p>
                                            </div>
                                            <div ng-show="newQuestionnaire.name_FR" class="description">
                                                <p style="margin-bottom:5px;"><strong>FR: </strong>{{newQuestionnaire.name_FR}}</p>
                                            </div>
                                        </td>
                                    </tr>

                                    <!-- Privacy -->
                                    <tr>
                                        <td>
                                            <span ng-hide="newQuestionnaire.private === 1 || newQuestionnaire.private === 0" class="glyphicon glyphicon-minus"></span>
                                            <span ng-show="newQuestionnaire.private === 1 || newQuestionnaire.private === 0" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                                        </td>
                                        <td>
                                            <div class="horz-line" style="line-height: 0px;">
                                                <span class="title" style="background-color: #fff;">
                                                <strong>Privacy</strong>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div ng-show="newQuestionnaire.privacy" class="description">
                                                <p style="margin-bottom:5px;">{{newQuestionnaire.privacy.name}}</p>
                                            </div>
                                        </td>
                                    </tr>

                                    <!-- Questions -->
                                    <tr>
                                        <td>
                                            <span ng-hide="newQuestionnaire.groups.length" class="glyphicon glyphicon-minus"></span>
                                            <span ng-show="newQuestionnaire.groups.length" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                                        </td>
                                        <td>
                                            <div class="horz-line" style="line-height: 0px;">
                                                <span class="title" style="background-color: #fff;">
                                                <strong>Questions</strong>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div ng-show="newQuestionnaire.groups.length" class="description">
                                                <p style="margin-bottom:5px;">Total {{newQuestionnaire.groups.length}} groups were selected.</p>
                                            </div>
                                        </td>
                                    </tr>

                                    <!-- Tags -->
                                    <tr>
                                        <td>
                                            <span ng-hide="checkTags(tagList)" class="glyphicon glyphicon-minus"></span>
                                            <span ng-show="checkTags(tagList)" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                                        </td>
                                        <td>
                                            <div class="horz-line" style="line-height: 0px;">
                                                <span class="title" style="background-color: #fff;">
                                                <strong>Tags</strong>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div ng-show="checkFilters(termList)" class="description">
                                                <p>
                                                    <ul style="max-height: 100px; overflow-y: auto;">
                                                        <li ng-repeat="tag in tagList | filter: {added: 1} : 1">
                                                        {{tag.name_EN}}
                                                        </li>
                                                    </ul>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <!-- Submit -->
                                <div class="table-buttons" style="text-align: center">
                                    <form ng-submit="submitQuestionnaire()" method="post">
                                        <button class="btn btn-primary" ng-class="{'disabled': !checkForm()}" type="submit">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- Go Back Button -->
                    <div class="panel-container animated" ng-class="{pulse: hoverA}" ng-mouseenter="hoverA=true" ng-mouseleave="hoverA=false" style="cursor:pointer;" ng-click="goBack()">
                        <div class="side-panel-info">
                            <div class="panel-content" style="text-align:center">
                                <span style="font-size: 23px; padding-right:10px;" class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                <span style="font-size: 30px; font-weight:700">Go Back</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-10 animated fadeInRight" style="margin-left:17%">
                    <div class="row main-title">
                        <div class="col-md-9 title-content">
                            <span class="fa fa-plus"></span>
                            <h1><strong>Add Questionnaire</strong></h1>
                        </div>

                        <div class="col-md-3 title-breadcrumbs">
			            	<span>
                                <a href="#/">Home</a><span class="glyphicon glyphicon-menu-right teflon"></span>
                                <a href="#/questionnaire">Questionnaire</a>
                                <span class="glyphicon glyphicon-menu-right teflon"></span>
                                <a href="#/questionnaire/manage">Manage</a>
                                <span class="glyphicon glyphicon-menu-right teflon"></span>
                                <strong>Add Questionnaire</strong>
                            </span>
                        </div>
                    </div>

                    <!-- Title -->
                    <div class="row">
                        <div class="col-md-12 side-menu-title">
                            <div style="height: 10px; border-bottom: 1px solid #6f5499;">
                                <span style="background-color:#e6edfa; padding: 0 10px;">
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                                <h2>Title</h2>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p style="margin-bottom: 10px;">
                                <span style="color:#d9534f"><strong>Required field:</strong></span>
                                Please assign an english and french title.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel" ng-class="(newQuestionnaire.name_EN) ? 'panel-success': 'panel-danger'">
                                <div class="panel-heading"><strong>English</strong>
                                    <span ng-hide="newQuestionnaire.name_EN" style="float:right"><em>Incomplete</em></span>
                                    <span ng-show="newQuestionnaire.name_EN" style="float:right"><em>Complete</em></span>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div style="font-size:18px; text-align:right;">Title</div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <input class="form-control" type="text" ng-model="newQuestionnaire.name_EN" ng-change="titleUpdate()" placeholder="English Title" required="required">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel" ng-class="(newQuestionnaire.name_FR) ? 'panel-success': 'panel-danger'">
                                <div class="panel-heading"><strong>Français</strong>
                                    <span ng-hide="newQuestionnaire.name_FR" style="float:right"><em>Incomplete</em></span>
                                    <span ng-show="newQuestionnaire.name_FR" style="float:right"><em>Complete</em></span>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div style="font-size:18px; text-align:right;">Titre</div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <input class="form-control" type="text" ng-model="newQuestionnaire.name_FR" ng-change="titleUpdate()" placeholder="Titre Français" required="required">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Privacy -->
                    <div class="row">
                        <div class="col-md-12 side-menu-title">
                            <div style="height: 10px; border-bottom: 1px solid #6f5499;">
                            <span style="background-color:#e6edfa; padding: 0 10px;">
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                            <h2>Privacy</h2>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p style="margin-bottom: 10px;">
                                <span style="color:#d9534f"><strong>Required field:</strong></span>
                                Please indicate whether this questionnaire is private or public. If it's private, then the questionnaire could only be accessed by the author; if it's public, it could by accessed by any questionnaire authors.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="panel-container animated" style="cursor:pointer;" ng-class="{pulse: hoverB, active: newQuestionnaire.private == 1}" ng-click="privacyUpdate(1)" ng-mouseenter="hoverB=true" ng-mouseleave="hoverB=false">
                                <div class="panel-info" ng-class="{active: newQuestionnaire.private == 1}">
                                    <div class="panel-content" style="text-align:center">
                                        <span style="font-size:30px;" class="fa fa-lock"></span>
                                        <div class="option-panel-title">Private</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="panel-container animated" style="cursor:pointer;" ng-class="{pulse: hoverC, active: newQuestionnaire.private == 0}" ng-click="privacyUpdate(0)" ng-mouseenter="hoverC=true" ng-mouseleave="hoverC=false">
                                <div class="panel-info" ng-class="{active: newQuestionnaire.private == 0}">
                                    <div class="panel-content" style="text-align:center">
                                        <span style="font-size:30px;" class="fa fa-unlock-alt"></span>
                                        <div class="option-panel-title">Public</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Add Question group -->
                    <div class="row">
                        <div class="col-md-12 side-menu-title">
                            <div style="height: 10px; border-bottom: 1px solid #6f5499;">
                            <span style="background-color:#e6edfa; padding: 0 10px;">
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                            <h2>Add Questions</h2>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p style="margin-bottom: 10px;">
                                <span style="color:#d9534f"><strong>Required field:</strong></span>
                                Please choose the questions you want to be included into this questionnaire.
                            </p>
                        </div>
                    </div>
                        

                    <div class="row">
                        <div class="col-md-12">
                            <!-- question group table -->
                            <div class="col-md-8">
                                <div class="panel-container" style="text-align:left;">
                                    <div class="panel-info">
                                        <button class="btn btn-default" ng-click="selectAll()">Select All</button>
                                        <button class="btn btn-default" ng-click="cancelSelection()">Clear Selection</button>
                                        <div class="panel-input">
                                            <div id="data-table">
                                                <div class="gridStyle" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection style="height:75vh"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Preview -->
                            <div class="col-md-4" style="text-align:right">
                                <div style="height:10px; border-bottom:1px solid #6f5499; text-align:center; margin-bottom:10px;">
                                    <span style="background-color: #e6edfa; padding: 0 10px; font-size:16px;">
                                    Selected questions preview</span>
                                </div>
                                <div class="previewContainer"> 
                                    <div class="previewContent">
                                        <div ng-repeat="selectedGroupObj in selectedGroups"><h4 style="font-weight:bold;">{{selectedGroupObj.entity.name_EN}} / {{selectedGroupObj.entity.name_FR}}:</h4>
                                            <div ng-repeat="question in selectedGroupObj.entity.questions">
                                                <p>{{question.text_EN}} / {{question.text_FR}} 
                                                    <span style="color:#d9534f">( Question type: {{question.answertype_category_EN}} - {{question.answertype_name_EN}} / {{question.answertype_name_FR}} )</span> 
                                                </p>

                                                <!-- Answer type preview -->
                                                <div ng-if="question.answertype_category_EN == 'Multiple Choice'">
                                                    <div ng-repeat="option in question.options">
                                                        <label><input type="radio"> {{option.text_EN}} / {{option.text_FR}}</label>
                                                    </div>
                                                </div>

                                                <div ng-if="question.answertype_category_EN == 'Checkboxes'">
                                                    <div ng-repeat="option in question.options">
                                                        <label><input type="checkbox"> {{option.text_EN}} / {{option.text_FR}}</label>
                                                    </div>
                                                </div>

                                                <div ng-if="question.answertype_category_EN == 'Linear Scale'">
                                                    <div ng-repeat="option in question.options">
                                                        <label><input type="radio"> {{option.text_EN}} / {{option.text_FR}}</label>
                                                    </div>
                                                </div>

                                                <div ng-if="question.answertype_category_EN == 'Date'">
                                                    <label>Date:<input type="date"></label>
                                                </div>

                                                <div ng-if="question.answertype_category_EN == 'Time'">
                                                    <label>Time:<input type="time"></label>
                                                </div>

                                                <div ng-if="question.answertype_category_EN == 'Short Answer'">
                                                    <textarea rows="3" cols="50">Type in your answer.</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Selected groups: change position -->
                        <div class="col-md-8" ng-show="newQuestionnaire.groups.length">
                            <div class="panel-container">
                                <div style="height:10px; border-bottom:1px solid #6f5499; text-align:center; margin-bottom:10px;">
                                    <span style="background-color: #e6edfa; padding: 0 10px; font-size:16px;"> Edit selected question groups </span>
                                </div>
                                <div class="panel-info">
                                    <table style="width:100%;">
                                        <tr style="font-size:16px;">
                                            <td>Position</td>
                                            <td>Question Group</td>
                                            <td>Required/Optional(default: required)</td>
                                        </tr>
                                        <tr>
                                        </tr>
                                        <tr ng-repeat="group in newQuestionnaire.groups">
                                            <td>
                                                <label><input type="number" min="1" max="{{newQuestionnaire.groups.length}}" ng-model="group.position" placeholder={{group.position}}></label>
                                            </td>
                                            <td>
                                                {{group.name_EN}} / {{group.name_FR}}
                                            </td>
                                            <td>
                                                <select name="groupOptional" ng-model="group.optional" required>
                                                    <option value=0 selected>Required</option>
                                                    <option value=1>Optional</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Add Tags-check boxes -->
                    <div class="row">
                        <div class="col-md-12 side-menu-title">
                            <div style="height: 10px; border-bottom: 1px solid #6f5499;">
                            <span style="background-color:#e6edfa; padding: 0 10px;">
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                            <h2>Add Tags</h2>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p style="margin-bottom: 10px; margin-top: 10px; margin-bottom: 10px;">
                                <span style="color:#d9534f"><strong>Required field:</strong></span>
                                Please select the tags(could be more than one) that you want to be associated to this questionnaire.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="panel-container">
                                <div class="panel-info">
                                    <div class="panel-content">
                                        <div class="panel-input">  
                                            <div class="list-space">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                                    <input class="form-control" type="text" ng-model="tagFilter" ng-change="searchTag(tagFilter)" placeholder="Search Tag"/>
                                                </div>
                                                <ul class="list-items">
                                                    <li ng-repeat="tag in tagList | filter: searchTagFilter">
                                                        <label><input type="checkbox" ng-click="selectTag(tag)" ng-checked="tag.added"/> {{tag.name_EN}}</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- new tag -->
                    <div class="row">
                        <div class="col-md-12">
                            <p style="margin-bottom: 10px; margin-top: 10px;">
                                <span style="font-size: 20px;" class="fa fa-question-circle"></span>
                                <span style="font-size: 15px">Can't find tag? Create a new one here:</span> 
                            </p>
                        </div>
                        <div class="col-md-8">
                            <form name="newTagForm">
                                <div class="input-group">
                                    <label>
                                        Level: 
                                        <input class="form-control" type="number" min="1" ng-model="newTag.level" required/>
                                    </label>
                                </div>
                                <div class="input-group" style="margin-top:10px; margin-bottom:10px;">
                                    <input class="form-control" style="width:50%;" type="text" ng-model="newTag.name_EN" placeholder="New Tag (EN)" required/>
                                    <input class="form-control" style="width:50%;" type="text" ng-model="newTag.name_FR" placeholder="New Tag (FR)" required/>
                                    <span class="input-group-btn"><button class="btn btn-default" type="submit" ng-click="addNewTag()" ng-disabled="newTagForm.$invalid">Add</button></span>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>