<div id="main">
	<div id="top">
		<div class="clearfix">
			<div class="row">
        <!-- Load side menu -->
				<div id="side-panel-scrollbar" class="col-lg-2">
					<div ng-include="'templates/questionnaire-side-menu.html'"></div>
				</div>
        <!-- Right side view -->
				<div class="col-lg-10 animated fadeIn">
					<div class="row main-title">
            <!-- Page title -->
						<div class="col-xs-12 col-md-9 title-content">
							<span class="fa fa-search"></span>
							<h1><strong>Manage Question Bank</strong></h1>
						</div>
            <!-- Breadcrumbs -->
						<div class="col-md-3 title-breadcrumbs">
							<span><a ui-sref="home">Home</a> <span class="glyphicon glyphicon-menu-right teflon"></span> <a ui-sref="questionnaire-menu">Questionnaire</a>	<span class="glyphicon glyphicon-menu-right teflon"></span> <strong>Manage Question Bank</strong></span>
						</div>
					</div>
					<div class="row clearfix operations">
						<div class="save-add col-xs-12 col-sm-6 col-md-8">
              <!-- Add button -->
							<a style="width:100px;margin-right:20px;" href="" ng-click="goToAddQuestion()" class="btn btn-md btn-outline item-button">
								<span style="font-size: 17px;" class="fa fa-plus"></span>
								<span style="font-size: 20px;"><strong>Add</strong></span>
							</a>
						</div>
						<!-- Search field -->
						<div class="search col-xs-12 col-sm-6 col-md-4">
							<div class="form-group has-feedback" style="margin-bottom: 0">
							<input type="text" class="form-control" ng-model="filterValue" ng-change="filterQuestion(filterValue)" placeholder="Search...">
								<span class="glyphicon glyphicon-search form-control-feedback"></span>
							</div>
						</div>
					</div>
          <!-- Load main table -->
					<div class="panel-container" style="text-align:left;">
						<div class="panel-info">
							<div class="panel-input">
								<div id="data-table">
									<div class="gridStyle" ui-grid="gridLib" ui-grid-resize-columns style="height:75vh"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="bannerMessage alert-success">{{bannerMessage}}</div>
</div>

<!-- Deleting Modal -->
<script type="text/ng-template" id="deleteQuestionModalContent.htm">
	<div class="modal-header">
		<h2 class="modal-title col-xs-12">
			<span class="glyphicon glyphicon-trash"></span> Delete Question 
		</h2>
		<p class="modal-title-caption col-xs-12">
			{{questionToDelete.text_EN}} / {{questionToDelete.text_EN}}
		</p>
	</div>
	<div class="modal-body">
		<div class="alert alert-danger" role="alert">
      <strong>Delete Question</strong><br>
      <p>
        Are you sure you want to delete the question "{{questionToDelete.text_EN}}" ?
      </p>
    </div>
    <div class="row">
      <div class="modal-buttons col-xs-12">
        <form method="post" ng-submit="deleteQuestion()">			
          <input class="btn btn-primary submit" type="submit" value="Delete">
          <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="Cancel">
        </form>
      </div>
    </div>
	</div>
</script>

<!-- Editing Modal -->
<script type="text/ng-template" id="editQuestionModalContent.htm">
  <!-- Modal title -->
	<div class="modal-header">
		<h2 class="modal-title col-xs-12">
			<span class="glyphicon glyphicon-pencil"></span> 
			Edit Question 
		</h2>
		<p class="modal-title-caption col-xs-12">
			{{question.text_EN}} / {{question.text_EN}}
		</p>
		<div class="modal-buttons col-xs-12">
      <span> 
        <form method="post" ng-submit="updateQuestion()">
          <input class="btn btn-primary submit" ng-class="{'disabled': !checkForm()}" type="submit" value="Save Changes">
          <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="Cancel">
        </form>
      </span>     
    </div>
	</div>
	<div class="modal-body">
		<uib-accordion>
      <!-- SECTION: Title -->
			<div uib-accordion-group is-open="titleSection.open">
				<uib-accordion-heading>
					<div>
						<strong>Titles</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': titleSection.open, 'glyphicon-chevron-right': !titleSection.open}"></i>
					</div>
				</uib-accordion-heading>
				<div class="row">
					<div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
						<div class="input-group">
							<span class="input-group-addon">EN</span>
							<textarea class="form-control" rows="2" ng-model="question.text_EN" placeholder="English Title" ng-change="setChangesMade()"></textarea>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
						<div class="input-group">
							<span class="input-group-addon">FR</span>
							<textarea class="form-control" rows="2" ng-model="question.text_EN" placeholder="Titre Français" ng-change="setChangesMade()"></textarea>
						</div>
					</div>
				</div>
			</div>

      <!-- SECTION: Answer type -->
			<div uib-accordion-group is-open="answerTypeSection.open">
				<uib-accordion-heading>
					<div>
						<strong>Answer Type</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': answerTypeSection.open, 'glyphicon-chevron-right': !answerTypeSection.open}"></i>
					</div>
				</uib-accordion-heading>
				<div class="alert alert-info" role="alert">
          <strong>Current Answer Type</strong><br>
          <p>
            <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
            <span>{{question.answertype_name_EN}} / {{question.answertype_name_FR}}</span>
          </p>
        </div>
				<div class="list-space">
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
						<input class="form-control" type="text" ng-model="atEntered" ng-change="searchAt(atEntered)" placeholder="Search Answer Type"
						/>
					</div>
					<ul class="list-items">
						<li ng-repeat="at in atFilterList | filter: searchAtFilter">
							<label>
								<input type="radio" name="{{at.name_EN}}" value="{{at.serNum}}" ng-model="question.answertype_serNum" ng-change="updateAt(at)"/> {{at.name_EN}} ({{at.category_EN}})
							</label>
						</li>
					</ul>
				</div>
			</div>

      <!-- SECTION: Question group -->
			<div uib-accordion-group is-open="questionGroupSection.open">
				<uib-accordion-heading>
					<div>
						<strong>Question Group</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': questionGroupSection.open, 'glyphicon-chevron-right': !questionGroupSection.open}"></i>
					</div>
				</uib-accordion-heading>
				<div class="alert alert-info" role="alert">
          <strong>Current Answer Type</strong><br>
          <p>
            <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
            <span ng-if="!groupSelected_name_EN">{{question.group_name_EN}} / {{question.group_name_FR}}</span>
            <span ng-if="question.questiongroup_serNum">{{groupSelected_name_EN}} / {{groupSelected_name_FR}}</span>
          </p>
        </div>
				<div class="list-space">
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
						<input class="form-control" type="text" ng-model="groupEntered" ng-change="searchGroup(groupEntered)" placeholder="Search Question Group"
						/>
					</div>
					<ul class="list-items">
						<li ng-repeat="group in groupFilterList | filter: searchGroupFilter">
							<label>
								<input type="radio" name="{{group.name_EN}}" value="{{group.serNum}}" ng-model="question.questiongroup_serNum" ng-change="updateGroup(group)"/> {{group.name_EN}}
							</label>
						</li>
					</ul>
				</div>
			</div>

		</uib-accordion>
	</div>
</script>

<!-- "Processing" modal template -->
<script type="text/ng-template" id="processingModal.htm">
	<div class="modal-header">
		<h1> Processing...</h1>
	</div>
	<div class="modal-body">
		<div class="progress progress-striped active">
			<div class="progress-bar" style="width: 100%"></div>
		</div>
	</div>
</script>