<div class="side-navbar" ng-controller="navigation">
    <!-- Logo and title -->
    <div class="row side-logo" ng-click="goToHome()">
        <div class="col-md-12">
            <div class="logo">
                <img style="margin-top: -20px;" class="animated rotateIn" src="images/opal_logo_transparent_purple.png"
                     height="130" width="130">
            </div>
            <h1>opal <strong>ADMIN</strong></h1>
        </div>
    </div>
    <div id="side-panel-scroll" class="row side-panel-scroll">
        <div ng-repeat="category in navMenu" ng-if="category.menu.length > 0">
            <div class="clearfix">
                <div class="side-menu-title">
                    <div style="height: 10px; border-bottom: 1px solid #6f5499;">
                    <span style="background-color:#e6edfa; padding: 0 10px;">
                      <span class="fas fa-dot-circle"></span>
                      <h2>{{category.name}}</h2>
                    </span>
                    </div>
                </div>
            </div>
            <div class="clearfix side-panel-menu">
                <div class="col-md-12" ng-repeat="menu in category.menu">
                    <div class="panel-container animated" ng-class="{pulse: HoverMenu, active: currentPage == '{{menu.url}}'}"
                         ng-mouseenter="HoverMenu=true" ng-mouseleave="HoverMenu=false" style="cursor:pointer;" ui-sref="{{menu.url}}">
                        <div class="side-panel-info-sm" ng-class="{active: currentPage == '{{menu.url}}'}">
                            <div class="panel-content">
                                <span style="font-size: 21px; vertical-align:middle" class="{{menu.iconClass}}"></span>
                                <h6 class="side-panel-title" style="display:inline-block;margin:0"><strong>{{menu.name}}</strong>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Profile tools -->
        <div class="clearfix">
            <div class="side-menu-title">
                <div style="height: 10px; border-bottom: 1px solid #6f5499;">
                    <span style="background-color:#e6edfa; padding: 0 10px;">
                      <span class="fas fa-dot-circle"></span>
                      <h2>{{'NAVIGATION_MENU.PROFILE'|translate}}</h2>
                    </span>
                </div>
            </div>
        </div>
        <!-- SECTION: Account -->
        <div class="clearfix side-panel-menu">
            <div class="col-md-12">
                <div class="panel-container animated"
                     ng-class="{pulse: hoverAccountMenu, active: currentPage == 'account'}"
                     ng-mouseenter="hoverAccountMenu=true" ng-mouseleave="hoverAccountMenu=false"
                     style="cursor:pointer;" ng-click="goToAccount()">
                    <div class="side-panel-info-sm" ng-class="{active: currentPage == 'account'}">
                        <div class="panel-content">
                            <span style="font-size: 21px; vertical-align:middle" class="glyphicon glyphicon-cog"
                                  aria-hidden="true"></span>
                            <div class="side-panel-title" style="display:inline-block;margin:0"><strong>{{'NAVIGATION_MENU.ACCOUNT'|translate}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SECTION: Logout -->
            <div class="col-md-12">
                <div class="panel-container animated" ng-class="{pulse: hoverLogoutMenu}"
                     ng-mouseenter="hoverLogoutMenu=true" ng-mouseleave="hoverLogoutMenu=false" style="cursor:pointer;"
                     ng-click="goToLogout()">
                    <div class="side-panel-info-sm">
                        <div class="panel-content">
                            <span style="font-size: 21px; vertical-align:middle" class="glyphicon glyphicon-log-out"
                                  aria-hidden="true"></span>
                            <div class="side-panel-title" style="display:inline-block;margin:0"><strong>{{'NAVIGATION_MENU.LOGOUT'|translate}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SECTION -->
            <div class="col-md-12" style="min-height:17vh;"></div>
        </div>
    </div>
    <div id="gradient"></div>
</div>

