  <div id="main">
    <div id="top">
      <div class="clearfix">
        <div class="row">
          <div class="col-md-2">
            <div ng-include="'templates/side-panel-menu.html'"></div>
          </div>
          <div class="col-md-10 animated fadeIn">
            <div class="row main-title">
              <div class="col-md-6 title-content">
                <span class="fa fa-users"></span>
                <h1><strong>Users</strong></h1>
              </div>
              <div class="col-md-6 title-breadcrumbs"> 
                <span><a ui-sref="home">Home</a> <span class="glyphicon glyphicon-menu-right teflon"></span> <strong>Users</strong></span>
              </div>
            </div>
            <div class="panel-container" style="text-align:left">
              <div class="panel-info">
                <div class="panel-input">
                  <div class="row clearfix" style="margin-bottom:10px;">
                    <div class="col-md-9">
                      <a style="width:200px;" href="" ng-click="goToAddUser()" class="btn btn-md btn-outline">
                        <span style="font-size: 17px;" class="glyphicon glyphicon-plus"></span>
                        <span style="font-size: 20px;"><strong>Register New</strong></span>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                        <input type="text" class="form-control" ng-model="filterValue" ng-change="filterUser(filterValue)" placeholder="Search...">
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-search"></span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div id="data-table">
                    <div class="gridStyle" ui-grid="gridOptions" ui-grid-resize-columns style="height:720px"></div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <div class="bannerMessage alert-success">{{bannerMessage}}</div>
  </div>
  <script type="text/ng-template" id="deleteUserModalContent.htm">
      <div class="modal-header">
        <h2 class="modal-title">
          <span class="glyphicon glyphicon-trash" style="font-size: 30px;"></span> 
          Delete User: {{userToDelete.username}} 
        </h2>
      </div>
      <div class="modal-body">
        <div class="bs-callout bs-callout-danger">
          <h4>User Delete</h4>
          <p class="deleteText">Are you sure you want to delete the user "{{userToDelete.username}}" ?</p>
          <form method="post" ng-submit="deleteUser()">      
            <input class="btn btn-primary" type="submit" value="Delete">
            <input ng-click="cancel()" class="btn btn-danger" type="button" value="Cancel">
          </form>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="editUserModalContent.htm">
      <div class="modal-header">
        <h2 class="modal-title">
          <span class="glyphicon glyphicon-pencil" style="font-size: 30px;"></span> 
          Edit User: {{user.username}} 
          <span style="float:right;"> 
            <form method="post" ng-submit="updateUser()">
              <input class="btn btn-primary" ng-class="{'disabled': !checkForm()}" type="submit" value="Save Changes">
              <input ng-click="cancel()" class="btn btn-danger" type="button" value="Cancel">
            </form>
          </span>     
        </h2>
      </div>
      <div class="modal-body">
        <uib-accordion>
          <div uib-accordion-group is-open="statusA.open">
            <uib-accordion-heading>
              <div>
                Change Password <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusA.open, 'glyphicon-chevron-right': !statusA.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="row form-horizontal">
              <div class="form-group has-feedback" ng-class="{'has-success': validPassword.status == 'valid', 'has-error': validPassword.status == 'invalid', 'has-warning': validPassword.status == 'warning'}">
                <label class="control-label col-md-2">
                  Password <br><em><small>(min: 6 characters)</small></em>
                </label>
                <div class="col-md-7">
                  <input type="password" class="form-control" ng-change="validatePassword(user.password)" ng-model="user.password">
                  <span ng-show="validPassword.status" class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': validPassword.status == 'valid', 'glyphicon-remove': validPassword.status == 'invalid', 'glyphicon-warning-sign': validPassword.status == 'warning'}" aria-hidden="true"></span>
                </div>
                <em class="control-label col-md-3" ng-show="validPassword.status == 'invalid' || validPassword.status == 'warning'" ng-class="{'has-success': validPassword.status == 'valid', 'has-error': validPassword.status == 'invalid', 'has-warning': validPassword.status == 'warning'}" style="text-align:left">
                  {{validPassword.message}}
                </em>
              </div>
              <div class="form-group has-feedback" ng-class="{'has-success': validConfirmPassword.status == 'valid', 'has-error': validConfirmPassword.status == 'invalid', 'has-warning': validConfirmPassword.status == 'warning'}">
                <label class="control-label col-md-2">
                  Re-type Password
                </label>
                <div class="col-md-7">
                  <input type="password" class="form-control" required="required" ng-change="validateConfirmPassword(user.confirmPassword)" ng-model="user.confirmPassword" ng-disabled="user.password.length < 6 || !user.password">
                  <span ng-show="validConfirmPassword.status" class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': validConfirmPassword.status == 'valid', 'glyphicon-remove': validConfirmPassword.status == 'invalid', 'glyphicon-warning-sign': validConfirmPassword.status == 'warning'}" aria-hidden="true"></span>
                </div>
                <em class="control-label col-md-3" ng-show="validConfirmPassword.status == 'invalid' || validConfirmPassword.status == 'warning'" ng-class="{'has-success': validConfirmPassword.status == 'valid', 'has-error': validConfirmPassword.status == 'invalid', 'has-warning': validConfirmPassword.status == 'warning'}" style="text-align:left">
                  {{validConfirmPassword.message}}
                </em>
              </div>    
            </div>
          </div>
          <div uib-accordion-group is-open="statusB.open">
            <uib-accordion-heading>
              <div>
                Change Role <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusB.open, 'glyphicon-chevron-right': !statusB.open}"></i>
              </div>
            </uib-accordion-heading>
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-6">
                    <select ng-model="user.role.serial" ng-change="roleUpdate()" ng-options="role.serial as role.name for role in roles" class="form-control">
                      <option ng-hide="user.role" value="">Select Role</option>
                    </select>
                  </div>
                </div>
              </div>  
            </div>
          </div> 
        </uib-accordion>
      </div>
    </script>
    <script type="text/ng-template" id="processingModal.htm">
      <div class="modal-header">
        <h1> Processing...</h1>
      </div>
      <div class="modal-body">
        <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 100%"></div>        
        </div>
      </div>
    </script>

            
