 <div id="main">
    <div id="top">
      <div class="clearfix">
        <div class="row">
          <!-- Left side view -->
          <div class="col-lg-2">
            <!-- Logo -->
            <div class="side-navbar" ng-controller="navigation">
              <div class="row side-logo" ng-click="goToHome()">
                <div class="col-md-12">
                  <div class="logo">
                    <img style="margin-top: -20px;" class="animated rotateIn" src="images/opal_logo_transparent_purple.png" height="130" width="130">
                  </div>
                  <h1 class="animated fadeIn">opal <strong>ADMIN</strong></h1>
                </div>
              </div>   
            </div>
            <div class="summary-fix"> 
              <!-- Back button -->
  						<div class="row side-panel-menu">
  							<div class="col-xs-12 col-sm-5 col-lg-12">
  								<div class="panel-container animated" ng-class="{pulse: hoverBack}" ng-mouseenter="hoverBack=true" ng-mouseleave="hoverBack=false" style="cursor:pointer;" ng-click="goBack()">
  									<div class="side-panel-info-sm">
  										<div class="panel-content">
  											<span style="font-size: 23px;vertical-align:middle" class="fa fa-arrow-left" aria-hidden="true"></span>
  											<h6 class="side-panel-title"><strong>Back to Posts</strong></h6>
  										</div>
  									</div>
  								</div>
  							</div>
                <!-- Summary -->
                <div class="side-menu-title col-lg-12">
                  <div class="horz-line" style="height: 16px; text-align: center">
                    <span style="background-color:#e6edfa; padding: 0 10px;">
                      <h2>Summary</h2>
                    </span>  
                  </div>  
                </div>
                <div class="col-lg-12"> 
                  <div class="progress progress-striped active">
                    <div class="progress-bar" ng-class="{'progress-bar-success': stepProgress == 100}" role="progressbar" aria-valuenow="{{stepProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stepProgress}}%">
                    </div>
                  </div>
                </div>
              </div>
              <uib-accordion class="side-navbar">
                <!-- SECTION: Type -->
                <div uib-accordion-group is-open="typeSection.open" class="panel-container summary-box" is-disabled="!newPost.type">
                  <uib-accordion-heading>
                    <div class="row" style="align-items:center">
                      <div class="col-md-2">
                        <span ng-if="newPost.type" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="col-md-8">
                        <strong>Type</strong>
                      </div>
                      <div class="col-md-2">
                        <i ng-if="newPost.type" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':typeSection.open, 'glyphicon-chevron-right':!typeSection.open}"></i>
                      </div>
                    </div>
                  </uib-accordion-heading>
                  <div ng-if="newPost.type" class="description">
                    <p>
                      <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                      {{newPost.type.name}}
                    </p>
                  </div>
                </div>
                <!-- SECTION: Title -->
                <div uib-accordion-group is-open="titleSection.open" class="panel-container summary-box animated" ng-class="{fadeInUp: titleSection.show}" ng-if="titleSection.show" is-disabled="!newPost.name_EN && !newPost.name_FR">
                  <uib-accordion-heading>
                    <div class="row" style="align-items: center">
                      <div class="col-md-2">
                        <span ng-if="newPost.name_EN && newPost.name_FR" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="col-md-8">
                        <strong>Title</strong>
                      </div>
                      <div class="col-md-2">
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':titleSection.open, 'glyphicon-chevron-right':!titleSection.open}" ng-if="newPost.name_EN || newPost.name_FR"></i>
                      </div>
                    </div>
                  </uib-accordion-heading>
                  <div ng-if="newPost.name_EN" class="description">
                    <p style="margin-bottom:5px;">
                      <strong>EN</strong>
                      <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                      {{newPost.name_EN}}
                    </p>
                  </div>
                  <div ng-if="newPost.name_FR" class="description">
                    <p style="margin-bottom:5px;">
                      <strong>FR</strong>
                      <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                      {{newPost.name_FR}}
                    </p>
                  </div>
                </div>
                <!-- SECTION: Body -->
                <div uib-accordion-group is-open="bodySection.open" class="panel-container summary-box animated" ng-class="{fadeInUp:bodySection.show}" ng-if="bodySection.show" is-disabled="!newPost.body_EN && !newPost.body_FR">
                  <uib-accordion-heading>
                    <div class="row" style="align-items: center">
                      <div class="col-md-2">
                        <span ng-if="newPost.body_EN && newPost.body_FR" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="col-md-8">
                        <strong>Body</strong>
                      </div>
                      <div class="col-md-2">
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': bodySection.open, 'glyphicon-chevron-right': !bodySection.open}" ng-if="newPost.body_EN || newPost.body.FR"></i>
                      </div>
                    </div>
                  </uib-accordion-heading>
                  <div ng-if="newPost.body_EN || newPost.body_FR" class="description">
                    <p>
                      <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                      See rendered output on the right
                    </p>
                  </div>
                </div>
                <!-- SECTION: Publish date -->
                <div uib-accordion-group is-open="publishSection.open" class="panel-container summary-box animated" ng-class="{fadeInUp: publishSection.show}" is-disabled="!newPost.publish_date && !newPost.publish_time" ng-if="publishSection.show">
                  <uib-accordion-heading>
                    <div class="row" style="align-items: center">
                      <div class="col-md-2">
                        <span ng-if="newPost.publish_date && newPost.publish_time" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="col-md-8">
                        <strong>Publish Date</strong>
                      </div>
                      <div class="col-md-2">
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': publishSection.open, 'glyphicon-chevron-right': !publishSection.open}" ng-if="newPost.publish_date || newPost.publish_time"></i>
                      </div>
                    </div>
                  </uib-accordion-heading>
                  <div ng-if="newPost.publish_date && newPost.publish_time" class="description">
                    <p>
                      <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                      {{newPost.publish_date | date:'fullDate'}} at {{newPost.publish_time | date:'HH:mm'}}
                    </p>
                  </div> 
                </div>
                <!-- SECTION: Patient filters -->
                 <div uib-accordion-group is-open="filterSection.open" class="panel-container summary-box animated" ng-class="{fadeInUp:filterSection.show}" is-disabled="!checkFilters(patientFilterList)" ng-if="filterSection.show">
                  <uib-accordion-heading>
                    <div class="row" style="align-items: center">
                      <div class="col-md-2">
                        <span ng-if="checkFilters(patientFilterList)" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="col-md-8">
                        <strong>Patient Filter(s)</strong>
                      </div>
                      <div class="col-md-2">
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': filterSection.open, 'glyphicon-chevron-right': !filterSection.open}" ng-if="checkFilters(patientFilterList)"></i>
                      </div>
                    </div>
                  </uib-accordion-heading>
                  <div ng-if="checkFilters(patientFilterList)" class="description">
                    <p>
                      <ul style="max-height: 100px; overflow-y: auto;">
                        <li ng-repeat="Filter in patientFilterList | filter: {added: 1} : 1">
                          {{Filter.name}}
                        </li>
                      </ul>
                    </p>
                  </div>
                </div>
                <!-- SECTION: Appointment filters -->
                <div uib-accordion-group is-open="filterSection.open" class="panel-container summary-box animated" ng-class="{fadeInUp:filterSection.show}" is-disabled="!checkFilters(appointmentList)" ng-if="filterSection.show">
                  <uib-accordion-heading>
                    <div class="row" style="align-items: center">
                      <div class="col-md-2">
                        <span ng-if="checkFilters(appointmentList)" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="col-md-8">
                        <strong>Appointment Filter(s)</strong>
                      </div>
                      <div class="col-md-2">
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': filterSection.open, 'glyphicon-chevron-right': !filterSection.open}" ng-if="checkFilters(appointmentList)"></i>
                      </div>
                    </div>
                  </uib-accordion-heading>
                  <div ng-if="checkFilters(appointmentList)" class="description">
                    <p>
                      <ul style="max-height: 100px; overflow-y: auto;">
                        <li ng-repeat="appointment in appointmentList | filter: {added: 1} : 1">
                          {{appointment.name}}
                        </li>
                      </ul>
                    </p>
                  </div>
                </div>
                <!-- SECTION: Diagnosis filters -->
                <div uib-accordion-group is-open="filterSection.open" class="panel-container summary-box animated" ng-class="{fadeInUp:filterSection.show}" is-disabled="!checkFilters(dxFilterList)" ng-if="filterSection.show">
                  <uib-accordion-heading>
                    <div class="row" style="align-items: center">
                      <div class="col-md-2">
                        <span ng-if="checkFilters(dxFilterList)" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="col-md-8">
                        <strong>Diagnosis Filter(s)</strong>
                      </div>
                      <div class="col-md-2">
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': filterSection.open, 'glyphicon-chevron-right': !filterSection.open}" ng-if="checkFilters(dxFilterList)"></i>
                      </div>
                    </div>
                  </uib-accordion-heading>
                  <div ng-if="checkFilters(dxFilterList)" class="description">
                    <p>
                      <ul style="max-height: 100px; overflow-y: auto;">
                        <li ng-repeat="Filter in dxFilterList | filter: {added: 1} : 1">
                          {{Filter.name}}
                        </li>
                      </ul>
                    </p>
                  </div>
                </div>
                <!-- SECTION: Doctor filters -->
                <div uib-accordion-group is-open="filterSection.open" class="panel-container summary-box animated" ng-class="{fadeInUp:filterSection.show}" is-disabled="!checkFilters(doctorFilterList)" ng-if="filterSection.show">
                  <uib-accordion-heading>
                    <div class="row" style="align-items: center">
                      <div class="col-md-2">
                        <span ng-if="checkFilters(doctorFilterList)" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="col-md-8">
                        <strong>Doctor Filter(s)</strong>
                      </div>
                      <div class="col-md-2">
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': filterSection.open, 'glyphicon-chevron-right': !filterSection.open}" ng-if="checkFilters(doctorFilterList)"></i>
                      </div>
                    </div>
                  </uib-accordion-heading>
                  <div ng-if="checkFilters(doctorFilterList)" class="description">
                    <p>
                      <ul style="max-height: 100px; overflow-y: auto;">
                        <li ng-repeat="Filter in doctorFilterList | filter: {added: 1} : 1">
                          {{Filter.name}}
                        </li>
                      </ul>
                    </p>
                  </div>
                </div>
                <!-- SECTION: Treatment Machine filters -->
                <div uib-accordion-group is-open="filterSection.open" class="panel-container summary-box animated" ng-class="{fadeInUp:filterSection.show}" is-disabled="!checkFilters(resourceFilterList)" ng-if="filterSection.show">
                  <uib-accordion-heading>
                    <div class="row" style="align-items: center">
                      <div class="col-md-2">
                        <span ng-if="checkFilters(resourceFilterList)" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="col-md-8">
                        <strong>Treatment Machine Filter(s)</strong>
                      </div>
                      <div class="col-md-2">
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': filterSection.open, 'glyphicon-chevron-right': !filterSection.open}" ng-if="checkFilters(resourceFilterList)"></i>
                      </div>
                    </div>
                  </uib-accordion-heading>
                  <div ng-if="checkFilters(resourceFilterList)" class="description">
                    <p>
                      <ul style="max-height: 100px; overflow-y: auto;">
                        <li ng-repeat="Filter in resourceFilterList | filter: {added: 1} : 1">
                          {{Filter.name}}
                        </li>
                      </ul>
                    </p>
                  </div>
                </div>
              </uib-accordion>
              <!-- Submit button -->
              <div class="panel-container">
                <a href="" ng-click="submitPost()" class="btn btn-md item-button-success animated" ng-class="{pulse: hoverV}" ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false" ng-if="checkForm()" style="width: 100%;">
                  <span style="font-size: 20px;"><strong>Submit Post</strong></span>
                </a>
              </div>
            </div>
          </div>
          <!-- Right side detail view -->
          <div class="col-xs-12 col-lg-10 animated fadeInRight">
            <div class="row main-title">
              <!-- Page title -->
              <div class="col-xs-12 col-md-9 title-content">
                <span class="glyphicon glyphicon-plus"></span>
                <h1><strong>Add Post</strong></h1>
              </div>
              <!-- Breadcrumbs -->
              <div class="col-md-3 title-breadcrumbs"> 
                <span>
                  <span><a ui-sref="home">Home</a></span>
                  <span class="teflon glyphicon glyphicon-menu-right"></span> 
                  <span><a ui-sref="post">Posts</a></span>
                  <span class="teflon glyphicon glyphicon-menu-right"></span> 
                  <span><strong>Add Post</strong></span>
                </span>
              </div>
            </div>
            <div class="row mobile-side-panel-menu">
              <div class="back-menu col-xs-12 col-sm-5 col-lg-12">
                <div class="panel-container animated" ng-class="{pulse: hoverBack}" ng-mouseenter="hoverBack=true" ng-mouseleave="hoverBack=false" style="cursor:pointer;" ng-click="goBack()">
                  <div class="side-panel-info-sm">
                    <div class="panel-content">
                      <span style="font-size: 23px;vertical-align:middle" class="fa fa-arrow-left" aria-hidden="true"></span>
                      <h6 class="side-panel-title"><strong>Back to Posts</strong></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mobile-summary col-xs-12 col-sm-offset-1 col-sm-6" ng-if="!checkForm()">
                <div class="summary-title" style="text-align: right; margin-bottom: 5px;">
                  <span style="padding: 0 10px;">
                    <h2>Step {{numOfCompletedSteps}} of {{stepTotal}} Completed</h2>
                  </span>  
                </div>  
                <div class="progress progress-striped active">
                  <div class="progress-bar" ng-class="{'progress-bar-success': stepProgress == 100}" role="progressbar" aria-valuenow="{{stepProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stepProgress}}%">
                  </div>
                </div>
              </div>
              <div class="mobile-summary col-xs-12 col-sm-offset-2 col-sm-5" ng-if="checkForm()">
                <div class="panel-container">
                  <a href="" ng-click="submitPost()" class="btn btn-md item-button-success animated" ng-class="{pulse: hoverV}" ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false" ng-if="checkForm()" style="width: 100%;">
                    <span style="font-size: 20px;"><strong>Submit Post</strong></span>
                  </a>
                </div>
              </div> 
            </div> 
            <div class="section-content">   
              <!-- SECTION: Type -->
              <div class="row">
                <div class="col-xs-12 side-menu-title">
                  <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                    <span style="background-color:#e6edfa; padding: 0 10px;">
                      <span class="fas fa-dot-circle"></span>
                      <h2>Type</h2>
                    </span>  
                  </div>  
                </div>
              </div>   
              <div class="row">
                <div class="col-xs-12">
                  <p style="margin-bottom: 10px;">
                    <span style="color:#d9534f"><strong>Required field:</strong></span>
                    Please select the type of post.
                  </p>
                </div>
              </div>    
              <div class="row">
                <div ng-repeat="type in postTypes" class="col-xs-4 col-lg-3 item-panel-select"> 
                  <div class="panel-container animated" style="cursor:pointer;" ng-class="{pulse: hover, active: newPost.type.name == type.name}" ng-click="typeUpdate(type)" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                    <div class="panel-info" ng-class="{active: newPost.type.name == type.name}">
                      <div class="panel-content" style="text-align:center">
                        <span style="font-size:30px;" class="fa fa-{{type.icon}}"></span>
                        <div class="option-panel-title">{{type.name}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>    
              <!-- SECTION: Title -->
              <div class="row animated" ng-class="{fadeInUp:titleSection.show}" ng-if="titleSection.show">
                <div class="col-xs-12 side-menu-title">
                  <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                    <span style="background-color:#e6edfa; padding: 0 10px;">
                      <span class="fa fa-dot-circle-o"></span>
                      <h2>Title</h2>
                    </span>  
                  </div>  
                </div>
              </div>   
              <div class="row animated" ng-class="{fadeInUp:titleSection.show}" ng-if="titleSection.show">
                <div class="col-xs-12">
                  <p style="margin-bottom: 10px;">
                    <span style="color:#d9534f"><strong>Required field:</strong></span>
                    Please assign an english and french title.
                  </p>
                </div>
              </div>  
              <div class="row animated" ng-class="{fadeInUp:titleSection.show}" ng-if="titleSection.show">
                <div class="col-xs-12 col-md-6">
                  <div class="panel" ng-class="(newPost.name_EN) ? 'panel-success': 'panel-danger'">
                    <div class="panel-heading"><strong>English</strong>
                      <span ng-hide="newPost.name_EN" style="float:right"><em>Incomplete</em></span>
                      <span ng-show="newPost.name_EN" style="float:right"><em>Complete</em></span>
                    </div>
                    <div class="panel-body form-horizontal">
                      <div class="form-group">
                        <label class="control-label col-xs-12 col-lg-2">
                          Title
                        </label>
                        <div class="col-xs-12 col-lg-10">
                          <input class="form-control" type="text" ng-model="newPost.name_EN" ng-change="titleUpdate()" placeholder="English Title" required="required">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>          
                <div class="col-xs-12 col-md-6">
                  <div class="panel" ng-class="(newPost.name_FR) ? 'panel-success': 'panel-danger'">
                    <div class="panel-heading"><strong>Français</strong>
                      <span ng-hide="newPost.name_FR" style="float:right"><em>Incomplete</em></span>
                      <span ng-show="newPost.name_FR" style="float:right"><em>Complete</em></span>
                    </div>
                    <div class="panel-body form-horizontal">
                      <div class="form-group">
                        <label class="control-label col-xs-12 col-lg-2">
                          Titre
                        </label>
                        <div class="col-xs-12 col-lg-10">
                          <input class="form-control" type="text" ng-model="newPost.name_FR" ng-change="titleUpdate()" placeholder="Titre Français" required="required">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>        
              </div>
              <!-- SECTION: Body -->
              <div class="row animated" ng-class="{fadeInUp: bodySection.show}" ng-if="bodySection.show">
                <div class="col-xs-12 side-menu-title">
                  <div style="height: 10px; border-bottom:2px solid rgba(111, 84, 153, 0.8);">
                    <span style="background-color:#e6edfa; padding: 0 10px;">
                      <span class="fas fa-dot-circle"></span>
                      <h2>Body</h2>
                    </span>  
                  </div>  
                </div>
              </div>   
              <div class="row animated" ng-class="{fadeInUp: bodySection.show}" ng-if="bodySection.show">
                <div class="col-xs-12">
                  <p style="margin-bottom: 5px;">
                    <span style="color:#d9534f"><strong>Required field:</strong></span>
                    Please assign the message content in both english and in french.
                  </p>
                  <p style="margin-bottom: 5px;">
                    <span style="color:#d9534f"><strong>HTML exceptions</strong></span><br>
                    <ul style="margin-left: 15px; margin-bottom: 10px;">
                      <li>Add <strong>img-responsive</strong> class to img tags. Ex: 
                        <code data-lang="html">&lt;img class="img-responsive"&gt;</code> 
                      </li>
                      <li>No <strong>absolute</strong> measurements! Ie. 
                        <code data-lang="html">&lt;span style="width:200px"&gt;</code>
                      </li>
                    </ul>
                  </p>
                </div>
              </div>  
              <div class="row animated" ng-class="{fadeInUp: bodySection.show}" ng-if="bodySection.show">
                <div class="col-xs-12">
                  <div class="panel" ng-class="(newPost.body_EN) ? 'panel-success': 'panel-danger'">
                    <div class="panel-heading"><strong>English</strong>
                      <span ng-hide="newPost.body_EN" style="float:right"><em>Incomplete</em></span>
                      <span ng-show="newPost.body_EN" style="float:right"><em>Complete</em></span>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-12 col-md-8">
                          <div class="form-group">
                            <div text-angular ng-model="newPost.body_EN" ng-change="bodyUpdate()"></div>
                          </div> 
                        </div>  
                        <div class="col-xs-12 col-md-4">
                          <div style="text-align:center;">
                            <span style="font-size:20px;">iPhone 4 Rendered</span>
                          </div>
                          <div class="render-html-iphone4"> 
                            <iframe height="100%" width="100%" srcdoc="{{newPost.body_EN | deliberatelyTrustAsHtml}}" frameborder="0"></iframe>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>           
              <div class="row animated" ng-class="{fadeInUp: bodySection.show}" ng-if="bodySection.show">
                <div class="col-xs-12">
                  <div class="panel" ng-class="(newPost.body_FR) ? 'panel-success': 'panel-danger'">
                    <div class="panel-heading"><strong>Français</strong>
                      <span ng-hide="newPost.body_FR" style="float:right"><em>Incomplete</em></span>
                      <span ng-show="newPost.body_FR" style="float:right"><em>Complete</em></span>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-12 col-md-8">
                          <div class="form-group">
                            <div text-angular ng-model="newPost.body_FR" ng-change="bodyUpdate()"></div>
                          </div> 
                        </div>  
                        <div class="col-xs-12 col-md-4">
                          <div style="text-align:center;">
                            <span style="font-size:20px;">iPhone 4 Rendered</span>
                          </div>
                          <div class="render-html-iphone4"> 
                            <iframe height="100%" width="100%" srcdoc="{{newPost.body_FR | deliberatelyTrustAsHtml}}" frameborder="0"></iframe>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
              <!-- SECTION: Publish date -->         
              <div class="row animated" ng-class="{fadeInUp: publishSection.show}" ng-if="publishSection.show">
                <div class="col-xs-12 side-menu-title">
                  <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                    <span style="background-color:#e6edfa; padding: 0 10px;">
                      <span class="fas fa-dot-circle"></span>
                      <h2>Publish Date</h2>
                    </span>  
                  </div>  
                </div>
              </div>   
              <div class="row animated" ng-class="{fadeInUp: publishSection.show}" ng-if="publishSection.show">
                <div class="col-xs-12">
                  <p style="margin-bottom: 10px;">
                    <span ng-hide="newPost.type.name =='Announcement'"><strong>Optional field:</strong></span>
                    <span ng-show="newPost.type.name =='Announcement'" style="color:#d9534f"><strong>Required field:</strong></span>
                    Please select the publish date. 
                  </p>
                </div>
              </div>    
              <div class="row animated" ng-class="{fadeInUp: publishSection.show}" ng-if="publishSection.show" style="margin-bottom: 15px;">
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-4" style="padding-top: 10px;margin-bottom:20px;">
                      <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="newPost.publish_date" ng-change="publishDateUpdate()" is-open="popup.opened" min="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                          <button class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </p>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-4" style="margin-top: -24px;">
                      <div>
                        <div uib-timepicker ng-model="newPost.publish_time" ng-change="publishDateUpdate()" minute-step="5" show-meridian="false"></div>
                      </div>
                    </div>
                  </div>
                </div>      
              </div>    
              <!-- SECTION: Patient filters -->
              <div class="row animated" ng-class="{fadeInUp: filterSection.show}" ng-if="filterSection.show">
                <div class="col-xs-12 side-menu-title">
                  <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                    <span style="background-color:#e6edfa; padding: 0 10px;">
                      <span class="fas fa-dot-circle"></span>
                      <h2>Patient Filters</h2>
                    </span>  
                  </div>  
                </div>
              </div>   
              <div class="row animated" ng-class="{fadeInUp: filterSection.show}" ng-if="filterSection.show">
                <div class="col-xs-12">
                  <p style="margin-bottom: 10px;">
                    <span><strong>Optional field:</strong></span>
                    Select one of more patient filters below. This will target patients selected here. Leave blank for no filters.
                  </p>
                </div>
              </div>  
              <div class="row animated" ng-class="{fadeInUp: filterSection.show}" ng-if="filterSection.show">
                <div class="col-xs-12 col-lg-8">
                  <div class="panel-container">
                    <div class="panel-info">
                      <div class="panel-content">
                        <div class="panel-input">  
                          <div class="list-space">
                            <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                              <input class="form-control" type="text" ng-model="patientSearchField" ng-change="searchPatient(patientSearchField)" placeholder="Search Patient"/>
                            </div>
                            <ul class="list-items">
                              <li ng-repeat="Filter in patientFilterList | filter: searchPatientFilter">
                                <label>
                                  <input type="checkbox" ng-click="selectItem(Filter)" ng-checked="Filter.added" /> {{Filter.name}}
                                </label>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
              <!-- SECTION: Appointment filters -->
              <div class="row animated" ng-class="{fadeInUp: filterSection.show}" ng-if="filterSection.show">
                <div class="col-xs-12 side-menu-title">
                  <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                    <span style="background-color:#e6edfa; padding: 0 10px;">
                      <span class="fas fa-dot-circle"></span>
                      <h2>Appointment Filters</h2>
                    </span>  
                  </div>  
                </div>
              </div>   
              <div class="row animated" ng-class="{fadeInUp: filterSection.show}" ng-if="filterSection.show">
                <div class="col-xs-12">
                  <p style="margin-bottom: 10px;">
                    <span><strong>Optional field:</strong></span>
                    Select one of more appointment filters below. This will target patients with these specific appointments. Leave blank for no filters.
                  </p>
                </div>
              </div>  
              <div class="row animated" ng-class="{fadeInUp: filterSection.show}" ng-if="filterSection.show">
                <div class="col-xs-12 col-lg-8">
                  <div class="panel-container">
                    <div class="panel-info">
                      <div class="panel-content">
                        <div class="panel-input">  
                          <div class="list-space">
                            <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                              <input class="form-control" type="text" ng-model="appointmentSearchField" ng-change="searchAppointment(appointmentSearchField)" placeholder="Search..."/>
                            </div>
                            <ul class="list-items">
                              <li ng-repeat="appointment in appointmentList | filter: searchAppointmentFilter">
                                <label>
                                  <input type="checkbox" ng-click="selectItem(appointment)" ng-checked="appointment.added" /> {{appointment.name}}
                                </label>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- SECTION: Diagnosis filters -->
              <div class="row animated" ng-class="{fadeInUp: filterSection.show}" ng-if="filterSection.show">
                <div class="col-xs-12 side-menu-title">
                  <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                    <span style="background-color:#e6edfa; padding: 0 10px;">
                      <span class="fas fa-dot-circle"></span>
                      <h2>Diagnosis Filters</h2>
                    </span>  
                  </div>  
                </div>
              </div>   
              <div class="row animated" ng-class="{fadeInUp: filterSection.show}" ng-if="filterSection.show">
                <div class="col-xs-12">
                  <p style="margin-bottom: 10px;">
                    <span><strong>Optional field:</strong></span>
                    Select one of more diagnosis filters below. This will target patients with these specific diagnoses. Leave blank for no filters.
                  </p>
                </div>
              </div>  
              <div class="row animated" ng-class="{fadeInUp: filterSection.show}" ng-if="filterSection.show">
                <div class="col-xs-12 col-lg-8">
                  <div class="panel-container">
                    <div class="panel-info">
                      <div class="panel-content">
                        <div class="panel-input">  
                          <div class="list-space">
                            <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                              <input class="form-control" type="text" ng-model="dxSearchField" ng-change="searchDiagnosis(dxSearchField)" placeholder="Search Diagnosis"/>
                            </div>
                            <ul class="list-items">
                              <li ng-repeat="Filter in dxFilterList | filter: searchDxFilter">
                                <label>
                                  <input type="checkbox" ng-click="selectItem(Filter)" ng-checked="Filter.added" /> {{Filter.name}}
                                </label>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- SECTION: Doctor filters -->
              <div class="row animated" ng-class="{fadeInUp: filterSection.show}" ng-if="filterSection.show">
                <div class="col-xs-12 side-menu-title">
                  <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                    <span style="background-color:#e6edfa; padding: 0 10px;">
                      <span class="fas fa-dot-circle"></span>
                      <h2>Doctor Filters</h2>
                    </span>  
                  </div>  
                </div>
              </div>   
              <div class="row animated" ng-class="{fadeInUp: filterSection.show}" ng-if="filterSection.show">
                <div class="col-xs-12">
                  <p style="margin-bottom: 10px;">
                    <span><strong>Optional field:</strong></span>
                    Select one of more doctor filters below. This will target patients with these specific doctors. Leave blank for no filters.
                  </p>
                </div>
              </div>  
              <div class="row animated" ng-class="{fadeInUp: filterSection.show}" ng-if="filterSection.show">
                <div class="col-xs-12 col-lg-8">
                  <div class="panel-container">
                    <div class="panel-info">
                      <div class="panel-content">
                        <div class="panel-input">  
                          <div class="list-space">
                            <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                              <input class="form-control" type="text" ng-model="doctorSearchField" ng-change="searchDoctor(doctorSearchField)" placeholder="Search Doctor"/>
                            </div>
                            <ul class="list-items">
                              <li ng-repeat="Filter in doctorFilterList | filter: searchDoctorFilter">
                                <label>
                                  <input type="checkbox" ng-click="selectItem(Filter)" ng-checked="Filter.added" /> {{Filter.name}}
                                </label>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- SECTION: Treatment machine filters -->
              <div class="row animated" ng-class="{fadeInUp: filterSection.show}" ng-if="filterSection.show">
                <div class="col-xs-12 side-menu-title">
                  <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                    <span style="background-color:#e6edfa; padding: 0 10px;">
                      <span class="fas fa-dot-circle"></span>
                      <h2>Treatment Machine Filters</h2>
                    </span>  
                  </div>  
                </div>
              </div>   
              <div class="row animated" ng-class="{fadeInUp: filterSection.show}" ng-if="filterSection.show">
                <div class="col-xs-12">
                  <p style="margin-bottom: 10px;">
                    <span><strong>Optional field:</strong></span>
                    Select one of more machine filters below. This will target patients with these specific treatment machines. Leave blank for no filters.
                  </p>
                </div>
              </div>  
              <div class="row animated" ng-class="{fadeInUp: filterSection.show}" ng-if="filterSection.show">
                <div class="col-xs-12 col-lg-8">
                  <div class="panel-container">
                    <div class="panel-info">
                      <div class="panel-content">
                        <div class="panel-input">  
                          <div class="list-space">
                            <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                              <input class="form-control" type="text" ng-model="resourceSearchField" ng-change="searchResource(resourceSearchField)" placeholder="Search Resource"/>
                            </div>
                            <ul class="list-items">
                              <li ng-repeat="Filter in resourceFilterList | filter: searchResourceFilter">
                                <label>
                                  <input type="checkbox" ng-click="selectItem(Filter)" ng-checked="Filter.added" /> {{Filter.name}}
                                </label>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END SECTION -->
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- "Processing" modal template -->
<script type="text/ng-template" id="processingModal.htm">
  <div class="modal-header">
    <h1> Processing...</h1>
  </div>
  <div class="modal-body">
    <div class="progress progress-striped active">
      <div class="progress-bar" style="width: 100%"></div>        
    </div>
  </div>
</script>


