<div class="modal-header">
  <div class="col-xs-12 col-md-6">
    <h2 class="modal-title">
      <span class="glyphicon glyphicon-pencil"></span> 
      Edit Post 
    </h2>
    <p class="modal-title-caption">
      {{post.name_EN}} / {{post.name_FR}}
    </p>
  </div>
  <div class="modal-buttons col-xs-12 col-md-6">
    <span> 
      <form method="post" ng-submit="updatePost()">
        <input class="btn btn-primary submit" ng-class="{'disabled': !checkForm()}" type="submit" value="Save Changes">
        <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="Cancel">
      </form>
    </span>
  </div>      
</div>
<div class="modal-body">
  <uib-accordion>
    <!-- SECTION: Titles -->
    <div uib-accordion-group is-open="titleSection.open">
      <uib-accordion-heading>
        <div>
          <strong>Titles </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': titleSection.open, 'glyphicon-chevron-right': !titleSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="row">
        <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
          <div class="input-group">
            <span class="input-group-addon">EN</span>
            <input class="form-control" type="text" ng-model="post.name_EN" ng-change="detailsUpdated()" placeholder="English Title" required="required">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
          <div class="input-group">
            <span class="input-group-addon">FR</span>
            <input class="form-control" type="text" ng-model="post.name_FR" ng-change="detailsUpdated()" placeholder="Titre Français" required="required">
          </div>
        </div>
      </div>
    </div>

    <!-- SECTION: Body -->
    <div uib-accordion-group is-open="bodySection.open">
      <uib-accordion-heading>
        <div>
          <strong>Body/Content </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': bodySection.open, 'glyphicon-chevron-right': !bodySection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="row">
        <div class="col-xs-12 col-lg-8">
          <div style="text-align:center;">
            <span style="font-size:20px;">HTML (English)</span>
          </div>
          <div class="form-group">
            <div text-angular ng-model="post.body_EN" ng-change="detailsUpdated()"></div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div style="text-align:center;">
            <span style="font-size:20px;">iPhone 4 Rendered</span>
          </div>
          <div class="render-html-iphone4"> 
            <iframe frameborder="0" height="100%" width="100%" srcdoc="{{post.body_EN | deliberatelyTrustAsHtml}}"></iframe>
          </div>
        </div>    
      </div>
      <div class="row">
        <div style="min-height: 15px;"></div><hr>
      </div>
      <div class="row">  
        <div class="col-xs-12 col-lg-8">
          <div style="text-align:center;">
            <span style="font-size:20px;">HTML (Français) </span>
          </div>
          <div class="form-group">
            <div text-angular ng-model="post.body_FR" ng-change="detailsUpdated()"></div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div style="text-align:center;">
            <span style="font-size:20px;">iPhone 4 Rendered</span>
          </div>
          <div class="render-html-iphone4"> 
            <iframe frameborder="0" height="100%" width="100%" srcdoc="{{post.body_FR | deliberatelyTrustAsHtml}}"></iframe>
          </div>
        </div>    
      </div>
    </div>

    <!-- SECTION: Publish date -->
    <div uib-accordion-group is-open="publishDateSection.open" ng-if="post.type == 'Announcement'">
      <uib-accordion-heading>
        <div>
          <strong>Publish Date </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': publishDateSection.open, 'glyphicon-chevron-right': !publishDateSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="alert alert-info" role="alert">
        <strong>Current Publish Date</strong><br>
        <p>
          <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
          <span ng-hide="post.publish_date && post.publish_time"> NONE</span>
          <span ng-show="post.publish_date && post.publish_time">
            {{post.publish_date | date:'fullDate'}} at {{post.publish_time | date:'HH:mm'}}
          </span>
        </p>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-lg-6" style="padding-top: 10px;margin-bottom: 20px;">
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="post.publish_date" is-open="popup.opened" min="minDate" ng-change="detailsUpdated()" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div class="col-xs-12 col-sm-5 col-lg-6" style="margin-top: -24px;">
          <div>
            <div uib-timepicker ng-change="detailsUpdated()" ng-model="post.publish_time" minute-step="5" show-meridian="false"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- SECTION: Patient trigger -->
    <div uib-accordion-group is-open="patientTriggerSection.open">
      <uib-accordion-heading>
        <div>
          <strong>Trigger to Send By Patient </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': patientTriggerSection.open, 'glyphicon-chevron-right': !patientTriggerSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="alert alert-info" role="alert">
        <strong>Current Patient Triggers</strong><br>
        <p>
          <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="!checkTriggers(patientTriggerList) || selectAll.patient.all"></span>
          <span ng-if="!checkTriggers(patientTriggerList)">No trigger</span>
          <span ng-if="checkTriggers(patientTriggerList) && selectAll.patient.all">All patients</span>
          <ul class="list-items" ng-if="checkTriggers(patientTriggerList) && !selectAll.patient.all">
            <li ng-repeat="patient in patientTriggerList | filter: {added: 1} : 1">
              {{patient.name}}
            </li>
          </ul>
        </p>
      </div>
      <div class="list-space">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input class="form-control" type="text" ng-model="patientSearchField" ng-change="searchPatient(patientSearchField)" placeholder="Search..."/>
        </div>
        <div style="padding: 7px;">
          <label>
            <input type="checkbox" ng-click="selectAllTriggers(patientTriggerList, searchPatientFilter,selectAll.patient)" ng-checked="selectAll.patient.checked"> Select All
          </label>
        </div>
        <ul class="list-items">
          <li ng-repeat="patient in patientTriggerList | filter: searchPatientFilter">
            <label>
              <input type="checkbox" ng-click="selectTrigger(patient, selectAll.patient)" ng-checked="patient.added" /> {{patient.name}}
            </label>
          </li>
        </ul>
      </div>
    </div>

    <!-- SECTION: Appointment trigger -->
    <div uib-accordion-group is-open="appointmentTriggerSection.open">
      <uib-accordion-heading>
        <div>
          <strong>Trigger to Send By Appointment</strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': appointmentTriggerSection.open, 'glyphicon-chevron-right': !appointmentTriggerSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="alert alert-info" role="alert">
        <strong>Current Appointment Triggers</strong><br>
        <p>
          <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="!checkTriggers(appointmentTriggerList) || selectAll.appointment.all"></span>
          <span ng-if="!checkTriggers(appointmentTriggerList)">No trigger</span>
          <span ng-if="checkTriggers(appointmentTriggerList) && selectAll.appointment.all">All appointments</span>
          <ul class="list-items" ng-if="checkTriggers(appointmentTriggerList) && !selectAll.appointment.all">
            <li ng-repeat="selectedAppointment in appointmentTriggerList | filter: {added: 1} : 1">
              {{selectedAppointment.name}}
            </li>
          </ul>
        </p>
      </div>
      <div class="list-space">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input class="form-control" type="text" ng-model="appointmentSearchField" ng-change="searchAppointment(appointmentSearchField)" placeholder="Search..."/>
        </div>
        <div style="padding: 7px;">
          <label>
            <input type="checkbox" ng-click="selectAllTriggers(appointmentTriggerList, searchAppointmentFilter,selectAll.appointment)" ng-checked="selectAll.appointment.checked"> Select All
          </label>
        </div>
        <ul class="list-items">
          <li ng-repeat="appointment in appointmentTriggerList | filter: searchAppointmentFilter">
            <label>
              <input type="checkbox" ng-click="selectTrigger(appointment, selectAll.appointment)" ng-checked="appointment.added" /> {{appointment.name}}
            </label>
          </li>
        </ul>
      </div>
    </div>

    <!-- SECTION: Diagnosis trigger -->
    <div uib-accordion-group is-open="diagnosisTriggerSection.open">
      <uib-accordion-heading>
        <div>
          <strong>Trigger to Send By Diagnosis </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': diagnosisTriggerSection.open, 'glyphicon-chevron-right': !diagnosisTriggerSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="alert alert-info" role="alert">
        <strong>Current Diagnosis Triggers</strong><br>
        <p>
          <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="!checkTriggers(dxTriggerList) || selectAll.diagnosis.all"></span>
          <span ng-if="!checkTriggers(dxTriggerList)">No trigger</span>
          <span ng-if="checkTriggers(dxTriggerList) && selectAll.diagnosis.all">All diagnoses</span>
          <ul class="list-items" ng-if="checkTriggers(dxTriggerList) && !selectAll.diagnosis.all">
              <li ng-repeat="dx in dxTriggerList | filter: {added: 1} : 1">
              {{dx.name}}
            </li>
          </ul>
        </p>
      </div>
      <div class="list-space">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input class="form-control" type="text" ng-model="dxSearchField" ng-change="searchDiagnosis(dxSearchField)" placeholder="Search..."/>
        </div>
        <div style="padding: 7px;">
          <label>
            <input type="checkbox" ng-click="selectAllTriggers(dxTriggerList, searchDxFilter,selectAll.diagnosis)" ng-checked="selectAll.diagnosis.checked"> Select All
          </label>
        </div>
        <ul class="list-items">
          <li ng-repeat="dx in dxTriggerList | filter: searchDxFilter">
            <label>
              <input type="checkbox" ng-click="selectTrigger(dx, selectAll.diagnosis)" ng-checked="dx.added" /> {{dx.name}}
            </label>
          </li>
        </ul>
      </div>
    </div>

    <!-- SECTION: Doctor trigger -->
    <div uib-accordion-group is-open="doctorTriggerSection.open">
      <uib-accordion-heading>
        <div>
          <strong>Trigger to Send By Doctor </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': doctorTriggerSection.open, 'glyphicon-chevron-right': !doctorTriggerSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="alert alert-info" role="alert">
        <strong>Current Doctor Triggers</strong><br>
        <p>
          <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="!checkTriggers(doctorTriggerList) || selectAll.doctor.all"></span>
          <span ng-if="!checkTriggers(doctorTriggerList)">No trigger</span>
          <span ng-if="checkTriggers(doctorTriggerList) && selectAll.doctor.all">All doctors</span>
          <ul class="list-items" ng-if="checkTriggers(doctorTriggerList) && !selectAll.doctor.all">
              <li ng-repeat="doctor in doctorTriggerList | filter: {added: 1} : 1">
              {{doctor.name}}
            </li>
          </ul>
        </p>
      </div>
      <div class="list-space">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input class="form-control" type="text" ng-model="doctorSearchField" ng-change="searchDoctor(doctorSearchField)" placeholder="Search..."/>
        </div>
        <div style="padding: 7px;">
          <label>
            <input type="checkbox" ng-click="selectAllTriggers(doctorTriggerList, searchDoctorFilter,selectAll.doctor)" ng-checked="selectAll.doctor.checked"> Select All
          </label>
        </div>
        <ul class="list-items">
          <li ng-repeat="doctor in doctorTriggerList | filter: searchDoctorFilter">
            <label>
              <input type="checkbox" ng-click="selectTrigger(doctor, selectAll.doctor)" ng-checked="doctor.added" /> {{doctor.name}}
            </label>
          </li>
        </ul>
      </div>
    </div>

    <!-- SECTION: Machine Trigger -->
    <div uib-accordion-group is-open="machineTriggerSection.open">
      <uib-accordion-heading>
        <div>
          <strong>Trigger to Send By Treatment Machine </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': machineTriggerSection.open, 'glyphicon-chevron-right': !machineTriggerSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="alert alert-info" role="alert">
        <strong>Current Treatment Machine Triggers</strong><br>
        <p>
          <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="!checkTriggers(machineTriggerList) || selectAll.machine.all"></span>
          <span ng-if="!checkTriggers(machineTriggerList)">No trigger</span>
          <span ng-if="checkTriggers(machineTriggerList) && selectAll.machine.all">All treatment machines</span>
          <ul class="list-items" ng-if="checkTriggers(machineTriggerList) && !selectAll.machine.all">
              <li ng-repeat="machine in machineTriggerList | filter: {added: 1} : 1">
              {{machine.name}}
            </li>
          </ul>
        </p>
      </div>
      <div class="list-space">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input class="form-control" type="text" ng-model="machineSearchField" ng-change="searchMachine(machineSearchField)" placeholder="Search..."/>
        </div>
        <div style="padding: 7px;">
          <label>
            <input type="checkbox" ng-click="selectAllTriggers(machineTriggerList, searchMachineFilter,selectAll.machine)" ng-checked="selectAll.machine.checked"> Select All
          </label>
        </div>
        <ul class="list-items">
          <li ng-repeat="machine in machineTriggerList | filter: searchMachineFilter">
            <label>
              <input type="checkbox" ng-click="selectTrigger(machine, selectAll.machine)" ng-checked="machine.added" /> {{machine.name}}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </uib-accordion>
</div>