<div class="modal-header">
  <h2 class="modal-title col-xs-12">
    <span class="glyphicon glyphicon-pencil"></span> 
    Edit Post 
  </h2>
  <p class="modal-title-caption col-xs-12">
    {{post.name_EN}} / {{post.name_FR}}
  </p>
  <div class="modal-buttons col-xs-12">
    <span> 
      <form method="post" ng-submit="updatePost()">
        <input class="btn btn-primary submit" ng-class="{'disabled': !checkForm()}" type="submit" value="Save Changes">
        <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="Cancel">
      </form>
    </span>
  </div>      
</div>
<div class="modal-body">
  <uib-accordion>
    <!-- SECTION: Titles -->
    <div uib-accordion-group is-open="titleSection.open">
      <uib-accordion-heading>
        <div>
          <strong>Titles </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': titleSection.open, 'glyphicon-chevron-right': !titleSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="row">
        <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
          <div class="input-group">
            <span class="input-group-addon">EN</span>
            <input class="form-control" type="text" ng-model="post.name_EN" ng-change="setChangesMade()" placeholder="English Title" required="required">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
          <div class="input-group">
            <span class="input-group-addon">FR</span>
            <input class="form-control" type="text" ng-model="post.name_FR" ng-change="setChangesMade()" placeholder="Titre Français" required="required">
          </div>
        </div>
      </div>
    </div>

    <!-- SECTION: Body -->
    <div uib-accordion-group is-open="bodySection.open">
      <uib-accordion-heading>
        <div>
          <strong>Body </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': bodySection.open, 'glyphicon-chevron-right': !bodySection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="row">
        <div class="col-xs-12 col-lg-8">
          <div style="text-align:center;">
            <span style="font-size:20px;">HTML (English)</span>
          </div>
          <div class="form-group">
            <div text-angular ng-model="post.body_EN" ng-change="setChangesMade()"></div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div style="text-align:center;">
            <span style="font-size:20px;">iPhone 4 Rendered</span>
          </div>
          <div class="render-html-iphone4"> 
            <iframe frameborder="0" height="100%" width="100%" srcdoc="{{post.body_EN | deliberatelyTrustAsHtml}}"></iframe>
          </div>
        </div>    
      </div>
      <div class="row">
        <div style="min-height: 15px;"></div><hr>
      </div>
      <div class="row">  
        <div class="col-xs-12 col-lg-8">
          <div style="text-align:center;">
            <span style="font-size:20px;">HTML (Français) </span>
          </div>
          <div class="form-group">
            <div text-angular ng-model="post.body_FR" ng-change="setChangesMade()"></div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div style="text-align:center;">
            <span style="font-size:20px;">iPhone 4 Rendered</span>
          </div>
          <div class="render-html-iphone4"> 
            <iframe frameborder="0" height="100%" width="100%" srcdoc="{{post.body_FR | deliberatelyTrustAsHtml}}"></iframe>
          </div>
        </div>    
      </div>
    </div>

    <!-- SECTION: Publish date -->
    <div uib-accordion-group is-open="publishDateSection.open" ng-if="post.type == 'Announcement'">
      <uib-accordion-heading>
        <div>
          <strong>Publish Date </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': publishDateSection.open, 'glyphicon-chevron-right': !publishDateSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="alert alert-info" role="alert">
        <strong>Current Publish Date</strong><br>
        <p>
          <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
          <span ng-hide="post.publish_date && post.publish_time"> NONE</span>
          <span ng-show="post.publish_date && post.publish_time">
            {{post.publish_date | date:'fullDate'}} at {{post.publish_time | date:'HH:mm'}}
          </span>
        </p>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-lg-6" style="padding-top: 10px;margin-bottom: 20px;">
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="post.publish_date" is-open="popup.opened" min="minDate" ng-change="setChangesMade()" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div class="col-xs-12 col-sm-5 col-lg-6" style="margin-top: -24px;">
          <div>
            <div uib-timepicker ng-change="setChangesMade()" ng-model="post.publish_time" minute-step="5" show-meridian="false"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- SECTION: Patient filter -->
    <div uib-accordion-group is-open="patientFilterSection.open">
      <uib-accordion-heading>
        <div>
          <strong>Filter By Patient </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': patientFilterSection.open, 'glyphicon-chevron-right': !patientFilterSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="alert alert-info" role="alert">
        <strong>Current Patient Filters</strong><br>
        <p>
          <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="allFilters(patientFilterList)"></span>
          <span ng-if="allFilters(patientFilterList)">No filter</span>
          <ul class="list-items" ng-if="!allFilters(patientFilterList)">
            <li ng-repeat="patient in patientFilterList | filter: {added: 1} : 1">
              {{patient.name}}
            </li>
          </ul>
        </p>
      </div>
      <div class="list-space">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input class="form-control" type="text" ng-model="patientSearchField" ng-change="searchPatient(patientSearchField)" placeholder="Search..."/>
        </div>
        <ul class="list-items">
          <li ng-repeat="patient in patientFilterList | filter: searchPatientFilter">
            <label>
              <input type="checkbox" ng-click="selectItem(patient)" ng-checked="patient.added" /> {{patient.name}}
            </label>
          </li>
        </ul>
      </div>
    </div>

    <!-- SECTION: Appointment filter -->
    <div uib-accordion-group is-open="appointmentFilterSection.open">
      <uib-accordion-heading>
        <div>
          <strong>Filter By Appointment</strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': appointmentFilterSection.open, 'glyphicon-chevron-right': !appointmentFilterSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="alert alert-info" role="alert">
        <strong>Current Appointment Filters</strong><br>
        <p>
          <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="allFilters(appointmentList)"></span>
          <span ng-if="allFilters(appointmentList)">No filter</span>
          <ul class="list-items" ng-if="!allFilters(appointmentList)">
            <li ng-repeat="selectedAppointment in appointmentList | filter: {added: 1} : 1" ng-hide="allFilters(appointmentList)">
              {{selectedAppointment.name}}
            </li>
          </ul>
        </p>
      </div>
      <div class="list-space">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input class="form-control" type="text" ng-model="appointmentSearchField" ng-change="searchAppointment(appointmentSearchField)" placeholder="Search..."/>
        </div>
        <ul class="list-items">
          <li ng-repeat="appointment in appointmentList | filter: searchAppointmentFilter">
            <label>
              <input type="checkbox" ng-click="selectItem(appointment)" ng-checked="appointment.added" /> {{appointment.name}}
            </label>
          </li>
        </ul>
      </div>
    </div>

    <!-- SECTION: Diagnosis filter -->
    <div uib-accordion-group is-open="diagnosisFilterSection.open">
      <uib-accordion-heading>
        <div>
          <strong>Filter By Diagnosis </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': diagnosisFilterSection.open, 'glyphicon-chevron-right': !diagnosisFilterSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="alert alert-info" role="alert">
        <strong>Current Doctor Filters</strong><br>
        <p>
          <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="allFilters(dxFilterList)"></span>
          <span ng-if="allFilters(dxFilterList)">No filter</span>
          <ul class="list-items" ng-if="!allFilters(dxFilterList)">
              <li ng-repeat="dx in dxFilterList | filter: {added: 1} : 1" ng-hide="allFilters(dxFilterList)">
              {{dx.name}}
            </li>
          </ul>
        </p>
      </div>
      <div class="list-space">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input class="form-control" type="text" ng-model="dxSearchField" ng-change="searchDiagnosis(dxSearchField)" placeholder="Search..."/>
        </div>
        <ul class="list-items">
          <li ng-repeat="dx in dxFilterList | filter: searchDxFilter">
            <label>
              <input type="checkbox" ng-click="selectItem(dx)" ng-checked="dx.added" /> {{dx.name}}
            </label>
          </li>
        </ul>
      </div>
    </div>

    <!-- SECTION: Doctor filter -->
    <div uib-accordion-group is-open="doctorFilterSection.open">
      <uib-accordion-heading>
        <div>
          <strong>Filter By Doctor </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': doctorFilterSection.open, 'glyphicon-chevron-right': !doctorFilterSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="alert alert-info" role="alert">
        <strong>Current Doctor Filters</strong><br>
        <p>
          <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="allFilters(doctorFilterList)"></span>
          <span ng-if="allFilters(doctorFilterList)">No filter</span>
          <ul class="list-items" ng-if="!allFilters(doctorFilterList)">
              <li ng-repeat="doctor in doctorFilterList | filter: {added: 1} : 1" ng-hide="allFilters(doctorFilterList)">
              {{doctor.name}}
            </li>
          </ul>
        </p>
      </div>
      <div class="list-space">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input class="form-control" type="text" ng-model="doctorSearchField" ng-change="searchDoctor(doctorSearchField)" placeholder="Search..."/>
        </div>
        <ul class="list-items">
          <li ng-repeat="doctor in doctorFilterList | filter: searchDoctorFilter">
            <label>
              <input type="checkbox" ng-click="selectItem(doctor)" ng-checked="doctor.added" /> {{doctor.name}}
            </label>
          </li>
        </ul>
      </div>
    </div>

    <!-- SECTION: Resource Filter -->
    <div uib-accordion-group is-open="resourceFilterSection.open">
      <uib-accordion-heading>
        <div>
          <strong>Filter By Treatment Machine </strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': resourceFilterSection.open, 'glyphicon-chevron-right': !resourceFilterSection.open}"></i>
        </div>
      </uib-accordion-heading>
      <div class="alert alert-info" role="alert">
        <strong>Current Treatment Machine Filters</strong><br>
        <p>
          <span class="fa fa-angle-double-right" style="padding-right: 7px;" ng-if="allFilters(resourceFilterList)"></span>
          <span ng-if="allFilters(resourceFilterList)">No filter</span>
          <ul class="list-items" ng-if="!allFilters(resourceFilterList)">
              <li ng-repeat="resource in resourceFilterList | filter: {added: 1} : 1" ng-hide="allFilters(resourceFilterList)">
              {{resource.name}}
            </li>
          </ul>
        </p>
      </div>
      <div class="list-space">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input class="form-control" type="text" ng-model="resourceSearchField" ng-change="searchResource(resourceSearchField)" placeholder="Search..."/>
        </div>
        <ul class="list-items">
          <li ng-repeat="resource in resourceFilterList | filter: searchResourceFilter">
            <label>
              <input type="checkbox" ng-click="selectItem(resource)" ng-checked="resource.added" /> {{resource.name}}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </uib-accordion>
</div>