<div class="modal-header">
    <div class="col-xs-12 col-md-6">
        <h2 class="modal-title">
            <span class="glyphicon glyphicon-pencil"></span>
            {{'PATIENT_ADMINISTRATION.EMAIL.TITLE'|translate}}
        </h2>
        <p class="text-danger">{{'PATIENT_ADMINISTRATION.EMAIL.DESCRIPTION'|translate}}</p>
    </div>
    <div class="modal-buttons col-xs-12 col-md-6">
        <form method="post" ng-submit="updateEmail()">
            <input class="btn btn-primary submit" ng-class="{'disabled': (!validateInput(new_email.firstTime) || !validateInput(new_email.secondTime) || new_email.errorMessage !== null)}" type="submit" value="{{'PATIENT_ADMINISTRATION.EMAIL.SUBMIT'|translate}}">
            <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="{{'PATIENT_ADMINISTRATION.EMAIL.CANCEL'|translate}}">
        </form>
    </div>
</div>
<div class="modal-body">
    <uib-accordion>
        <div uib-accordion-group is-open="true">
            <uib-accordion-heading>
                <div>
                    <strong>{{'PATIENT_ADMINISTRATION.EMAIL.TITLE'|translate}}</strong>
                </div>
            </uib-accordion-heading>
            <div class="row">
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <span>{{'PATIENT_ADMINISTRATION.EMAIL.NEW_EMAIL'|translate}}</span>
                    <input class="form-control" type="text" ng-model="new_email.firstTime" ng-change="validateEmail()">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <span>{{'PATIENT_ADMINISTRATION.EMAIL.EMAIL_CONFIRMED'|translate}}</span>
                    <input class="form-control" type="text" ng-model="new_email.secondTime" ng-change="validateEmail()">
                </div>
            </div>
            <div class="row" ng-show="new_email.errorMessage !== null">
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <p class="text-danger">{{new_email.errorMessage}}</p>
                </div>
            </div>
        </div>
    </uib-accordion>
</div>