<div class="modal-header">
    <div class="col-xs-12 col-md-6">
        <h2 class="modal-title">
            <span class="glyphicon glyphicon-pencil"></span>
            {{'PATIENT_ADMINISTRATION.ACCESS_LEVEL.TITLE'|translate}}
        </h2>
        <p class="text-danger">{{'PATIENT_ADMINISTRATION.ACCESS_LEVEL.DESCRIPTION'|translate}}</p>
    </div>
    <div class="modal-buttons col-xs-12 col-md-6">
        <form method="post" ng-submit="updateAccessLevel()">
            <input class="btn btn-primary submit" ng-class="{'disabled': !accessLevel.valid}" type="submit" value="{{'PATIENT_ADMINISTRATION.ACCESS_LEVEL.SUBMIT'|translate}}">
            <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="{{'PATIENT_ADMINISTRATION.ACCESS_LEVEL.CANCEL'|translate}}">
        </form>
    </div>
</div>
<div class="modal-body">
    <uib-accordion>
        <div uib-accordion-group is-open="true">
            <uib-accordion-heading>
                <div>
                    <strong>{{'PATIENT_ADMINISTRATION.ACCESS_LEVEL.TITLE'|translate}}</strong>
                </div>
            </uib-accordion-heading>
            <div class="row">
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <span>{{'PATIENT_ADMINISTRATION.ACCESS_LEVEL.CHOOSEN_LEVEL'|translate}}</span>
                    <select class="form-control" type="text" ng-model="accessLevel.value" ng-change="validateAccessLevel()" ng-options="level.levelId as level.levelText for level in levelList" required="required">
                    </select>
                </div>
            </div>
        </div>
    </uib-accordion>
</div>