<div class="modal-header">
    <div class="col-xs-12 col-md-6">
        <h2 class="modal-title">
            <span class="glyphicon glyphicon-pencil"></span>
            {{'PATIENT_ADMINISTRATION.SECURITY_ANSWER.TITLE'|translate}}
        </h2>
        <p class="text-danger">{{'PATIENT_ADMINISTRATION.SECURITY_ANSWER.DESCRIPTION'|translate}}</p>
    </div>
    <div class="modal-buttons col-xs-12 col-md-6">
        <form method="post" ng-submit="updateSecurityQuestions()">
            <input class="btn btn-primary submit" ng-class="{'disabled': !patientSecurityQuestions.changeDetected || checkErrorMessage()}" type="submit" value="{{'PATIENT_ADMINISTRATION.SECURITY_ANSWER.SUBMIT'|translate}}">
            <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="{{'PATIENT_ADMINISTRATION.SECURITY_ANSWER.CANCEL'|translate}}">
        </form>
    </div>
</div>
<div class="modal-body">
    <uib-accordion>
        <div uib-accordion-group is-open="true">
            <uib-accordion-heading>
                <div>
                    <strong>{{'PATIENT_ADMINISTRATION.SECURITY_ANSWER.TITLE'|translate}}</strong>
                </div>
            </uib-accordion-heading>
            <div class="row">
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <span>{{'PATIENT_ADMINISTRATION.SECURITY_ANSWER.FIRST_QUESTION'|translate}}</span>
                    <select class="form-control" ng-model="patientSecurityQuestions.firstQuestion" ng-change="changeFirstQuestion()" ng-options="question.questionSerNum as question.questionText for question in questionList | filter: firstFilter()" required="required"></select>
                </div>
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <span>{{'PATIENT_ADMINISTRATION.SECURITY_ANSWER.FIRST_ANSWER'|translate}}</span>
                    <input class="form-control" type="text" ng-model="patientSecurityQuestions.firstAnswer" ng-change="changeFirstQuestion()" required="required">
                </div>
            </div>
            <div class="row" ng-show="validateInput(patientSecurityQuestions.firstErrorMessage)">
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <p class="text-danger">{{patientSecurityQuestions.firstErrorMessage}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <span>{{'PATIENT_ADMINISTRATION.SECURITY_ANSWER.SECOND_QUESTION'|translate}}</span>
                    <select class="form-control" ng-model="patientSecurityQuestions.secondQuestion" ng-change="changeSecondQuestion()" ng-options="question.questionSerNum as question.questionText for question in questionList | filter: secondFilter()" required="required"></select>
                </div>
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <span>{{'PATIENT_ADMINISTRATION.SECURITY_ANSWER.SECOND_ANSWER'|translate}}</span>
                    <input class="form-control" type="text" ng-model="patientSecurityQuestions.secondAnswer" ng-change="changeSecondQuestion()" required="required">
                </div>
            </div>
            <div class="row" ng-show="validateInput(patientSecurityQuestions.secondErrorMessage)">
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <p class="text-danger">{{patientSecurityQuestions.secondErrorMessage}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <span>{{'PATIENT_ADMINISTRATION.SECURITY_ANSWER.THIRD_QUESTION'|translate}}</span>
                    <select class="form-control" ng-model="patientSecurityQuestions.thirdQuestion" ng-change="changeThirdQuestion()" ng-options="question.questionSerNum as question.questionText for question in questionList | filter: thirdFilter()"" required="required"></select>
                </div>
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <span>{{'PATIENT_ADMINISTRATION.SECURITY_ANSWER.THIRD_ANSWER'|translate}}</span>
                    <input class="form-control" type="text" ng-model="patientSecurityQuestions.thirdAnswer" ng-change="changeThirdQuestion()" required="required">
                </div>
            </div>
            <div class="row" ng-show="validateInput(patientSecurityQuestions.thirdErrorMessage)">
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <p class="text-danger">{{patientSecurityQuestions.thirdErrorMessage}}</p>
                </div>
            </div>
        </div>
    </uib-accordion>
</div>