<div id="main">
    <div id="top">
        <div class="clearfix">
            <div class="row">
                <!-- Left side detail view -->
                <div class="col-lg-2">
                    <!-- Logo -->
                    <div class="side-navbar" ng-controller="navigation">
                        <div class="row side-logo" ng-click="goToHome()">
                            <div class="col-md-12">
                                <div class="logo">
                                    <img style="margin-top: -20px;" class="animated rotateIn" src="images/opal_logo_transparent_purple.png" height="130" width="130">
                                </div>
                                <h1 class="animated fadeIn">opal <strong>ADMIN</strong></h1>
                            </div>
                        </div>
                    </div>
                    <div class="summary-fix">
                        <!-- Back button -->
                        <div class="row side-panel-menu">
                            <div class="col-xs-12 col-sm-5 col-lg-12">
                                <div class="panel-container animated" ng-class="{pulse: hoverBack}" ng-mouseenter="hoverBack=true" ng-mouseleave="hoverBack=false" style="cursor:pointer;" ng-click="goBack()">
                                    <div class="side-panel-info-sm">
                                        <div class="panel-content">
                                            <span style="font-size: 23px;vertical-align:middle" class="fa fa-arrow-left" aria-hidden="true"></span>
                                            <h6 class="side-panel-title" style="display:inline-block;margin:0;font-size:14px;"><strong>{{'USERS.ADD.BACK'|translate}}</strong></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Summary -->
                            <div class="side-menu-title col-lg-12">
                                <div class="horz-line" style="height: 16px; text-align: center">
                                    <span style="background-color:#e6edfa; padding: 0 10px;">
                                        <h2>{{'USERS.ADD.SUMMARY'|translate}}</h2>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="progress progress-striped active">
                                    <div class="progress-bar" ng-class="{'progress-bar-success': stepProgress == 100}" role="progressbar" aria-valuenow="{{stepProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stepProgress}}%">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <uib-accordion class="side-navbar">

                            <!-- SECTION: Type -->
                            <div uib-accordion-group class="panel-container summary-box animated">
                                <uib-accordion-heading>
                                    <div class="row" style="align-items: center">
                                        <div class="col-md-2">
                                            <span style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                                        </div>
                                        <div class="col-md-8">
                                            <strong>{{'USERS.ADD.TYPE_USER'|translate}}</strong>
                                        </div>
                                        <div class="col-md-2">
                                            <i class="pull-right glyphicon"></i>
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                                <div ng-if="toSubmit.type.value" class="description">
                                    <p>
                                        <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                                        {{type_name}}
                                    </p>
                                </div>
                            </div>

                            <!-- SECTION: Username -->
                            <div uib-accordion-group is-open="usernameSection.open" class="panel-container summary-box" is-disabled="!newUser.username">
                                <uib-accordion-heading>
                                    <div class="row" style="align-items: center">
                                        <div class="col-md-2">
                                            <span ng-if="validUsername.status == 'valid'" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                                        </div>
                                        <div class="col-md-8">
                                            <strong>{{'USERS.ADD.USERNAME'|translate}}</strong>
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                            </div>
                            <!-- SECTION: Password -->
                            <div uib-accordion-group is-open="passwordSection.open" class="panel-container summary-box animated" ng-class="{fadeInUp: passwordSection.show}" ng-if="passwordSection.show" is-disabled="!newUser.password && !newUser.confirmPassword">
                                <uib-accordion-heading>
                                    <div class="row" style="align-items: center">
                                        <div class="col-md-2">
                                            <span ng-if="validPassword.status == 'valid' && validConfirmPassword.status == 'valid'" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                                        </div>
                                        <div class="col-md-8">
                                            <strong>{{'USERS.ADD.PASSWORD'|translate}}</strong>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </uib-accordion-heading>
                            </div>
                            <!-- SECTION: Role -->
                            <div uib-accordion-group is-open="roleSection.open" class="panel-container summary-box animated" ng-class="{fadeInUp:roleSection.show}" ng-if="roleSection.show" is-disabled="!newUser.role">
                                <uib-accordion-heading>
                                    <div class="row" style="align-items: center">
                                        <div class="col-md-2">
                                            <span ng-if="newUser.role" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                                        </div>
                                        <div class="col-md-8">
                                            <strong>{{'USERS.ADD.ROLE'|translate}}</strong>
                                        </div>
                                        <div class="col-md-2">
                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': roleSection.open, 'glyphicon-chevron-right': !roleSection.open}" ng-if="newUser.role"></i>
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                                <div ng-if="newUser.role" class="description">
                                    <p>
                                        <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                                        {{newUser.role_display}}
                                    </p>
                                </div>
                            </div>
                            <!-- SECTION: Language -->
                            <div uib-accordion-group is-open="languageSection.open" class="panel-container summary-box animated" ng-class="{fadeInUp:languageSection.show}" ng-if="languageSection.show" is-disabled="!newUser.language">
                                <uib-accordion-heading>
                                    <div class="row" style="align-items: center">
                                        <div class="col-md-2">
                                            <span ng-if="newUser.language" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                                        </div>
                                        <div class="col-md-8">
                                            <strong>{{'USERS.ADD.LANGUAGE'|translate}}</strong>
                                        </div>
                                        <div class="col-md-2">
                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': languageSection.open, 'glyphicon-chevron-right': !languageSection.open}" ng-if="newUser.language"></i>
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                                <div ng-if="newUser.language" class="description">
                                    <p>
                                        <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                                        {{newUser.language_display}}
                                    </p>
                                </div>
                            </div>
                        </uib-accordion>
                        <!-- Submit button -->
                        <div class="panel-container">
                            <a href="" ng-click="registerUser()" class="btn btn-md item-button-success animated" ng-class="{pulse: hoverV}" ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false" ng-if="checkRegistrationForm()" style="width: 100%;">
                                <span style="font-size: 20px;"><strong>{{'USERS.ADD.REGISTER'|translate}}</strong></span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Right side detail view -->
                <div class="col-xs-12 col-lg-10 animated fadeIn">
                    <div class="row main-title">
                        <!-- Page title -->
                        <div class="col-xs-12 col-md-6 title-content">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            <h1><strong>{{'USERS.ADD.TITLE'|translate}}</strong></h1>
                        </div>
                        <!-- Breadcrumbs -->
                        <div class="col-md-6 title-breadcrumbs">
                            <span><a ui-sref="home">{{'BREADCRUMBS.HOME'|translate}}</a></span>
                            <span class="glyphicon glyphicon-menu-right teflon"></span>
                            <span><a ui-sref="users">{{'USERS.LIST.TITLE'|translate}}</a></span>
                            <span class="glyphicon glyphicon-menu-right teflon"></span>
                            <span><strong>{{'USERS.ADD.TITLE'|translate}}</strong></span>
                        </div>
                    </div>
                    <div class="row mobile-side-panel-menu">
                        <div class="back-menu col-xs-12 col-sm-5 col-lg-12">
                            <div class="panel-container animated" ng-class="{pulse: hoverBack}" ng-mouseenter="hoverBack=true" ng-mouseleave="hoverBack=false" style="cursor:pointer;" ng-click="goBack()">
                                <div class="side-panel-info-sm">
                                    <div class="panel-content">
                                        <span style="font-size: 23px;vertical-align:middle" class="fa fa-arrow-left" aria-hidden="true"></span>
                                        <h6 class="side-panel-title"><strong>{{'USERS.ADD.BACK'|translate}}</strong></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-summary col-xs-12 col-sm-offset-1 col-sm-6" ng-if="!checkRegistrationForm()">
                            <div class="summary-title" style="text-align: right; margin-bottom: 5px;">
                                <span style="padding: 0 10px;">
                                    <h2>{{'USERS.ADD.STEP'|translate}} {{numOfCompletedSteps}} {{'USERS.ADD.OF'|translate}} {{stepTotal}} {{'USERS.ADD.COMPLETED'|translate}}</h2>
                                </span>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar" ng-class="{'progress-bar-success': stepProgress == 100}" role="progressbar" aria-valuenow="{{stepProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stepProgress}}%">
                                </div>
                            </div>
                        </div>
                        <div class="mobile-summary col-xs-12 col-sm-offset-2 col-sm-5" ng-if="checkRegistrationForm()">
                            <div class="panel-container">
                                <a href="" ng-click="registerUser()" class="btn btn-md item-button-success animated" ng-class="{pulse: hoverV}" ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false" ng-if="checkRegistrationForm()" style="width: 100%;">
                                    <span style="font-size: 20px;"><strong>{{'USERS.ADD.REGISTER'|translate}}</strong></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="section-content">
                        <!-- SECTION: Type of user -->
                        <div class="row">
                            <div class="col-xs-12 side-menu-title">
                                <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                                    <span style="background-color:#e6edfa; padding: 0 10px;">
                                        <span class="fas fa-dot-circle"></span>
                                        <h2>{{'USERS.ADD.TYPE_USER'|translate}}</h2>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p style="margin-bottom: 10px;">
                                    <span style="color:#d9534f"><strong>{{'USERS.ADD.REQUIRED_2'|translate}}</strong></span>
                                    {{'USERS.ADD.TYPE_USER_EXPLANATION'|translate}}
                                </p>
                            </div>
                        </div>
                        <div class="row animated" style="margin-bottom: 15px;">
                            <div class="col-xs-12 col-sm-8">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <select ng-model="newUser.type" class="form-control" ng-options='option.ID as option.name_display for option in userType'></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION: Username & Password -->
                        <div class="row">
                            <div class="col-xs-12 side-menu-title">
                                <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                                    <span style="background-color:#e6edfa; padding: 0 10px;">
                                        <span class="fas fa-dot-circle"></span>
                                        <h2 ng-if="!ADEnabled">{{'USERS.ADD.USER_PASS_EXPLANATION'|translate}}</h2>
                                        <h2 ng-if="ADEnabled">{{'USERS.ADD.USER_PASS_AD_EXPLANATION'|translate}}</h2>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p ng-if="!ADEnabled" style="margin-bottom: 10px;">
                                    <span style="color:#d9534f"><strong>{{'USERS.ADD.REQUIRED_2'|translate}}</strong></span>
                                        {{'USERS.ADD.USER_PASS'|translate}}
                                </p>
                                <p ng-if="ADEnabled" style="margin-bottom: 10px;">
                                    <span style="color:#d9534f"><strong>{{'USERS.ADD.REQUIRED_2'|translate}}</strong></span>
                                        {{'USERS.ADD.USER_AD_PASS'|translate}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-9">
                                <div class="panel" ng-class="((validUsername.status == 'valid' && validPassword.status == 'valid' && validConfirmPassword.status == 'valid' ) || (validUsername.status == 'valid' && ADEnabled)) ? 'panel-success': 'panel-danger'">
                                    <div ng-if="!ADEnabled" class="panel-heading"><strong>{{'USERS.ADD.USER_PASS'|translate}}</strong>
                                        <span ng-hide="validUsername.status == 'valid' && validPassword.status == 'valid' && validConfirmPassword.status == 'valid'" style="float:right"><em>{{'USERS.ADD.INCOMPLETE'|translate}}</em></span>
                                        <span ng-show="validUsername.status == 'valid' && validPassword.status == 'valid' && validConfirmPassword.status == 'valid'" style="float:right"><em>{{'USERS.ADD.COMPLETE'|translate}}</em></span>
                                    </div>
                                    <div ng-if="ADEnabled" class="panel-heading"><strong>{{'USERS.ADD.USER_AD_PASS'|translate}}</strong>
                                        <span ng-hide="validUsername.status == 'valid' && ADEnabled" style="float:right"><em>{{'USERS.ADD.INCOMPLETE'|translate}}</em></span>
                                        <span ng-show="validUsername.status == 'valid' && ADEnabled" style="float:right"><em>{{'USERS.ADD.COMPLETE'|translate}}</em></span>
                                    </div>
                                    <div class="panel-body form-horizontal">
                                        <div class="form-group has-feedback" ng-class="{'has-success': validUsername.status == 'valid', 'has-error': validUsername.status == 'invalid', 'has-warning': validUsername.status == 'warning'}">
                                            <label class="control-label col-md-2">
                                                {{'USERS.ADD.USERNAME'|translate}}
                                            </label>
                                            <div class="col-xs-12 col-md-7">
                                                <input type="text" class="form-control" required="required" ng-blur="validateUsername(newUser.username)" ng-change="usernameUpdate()" ng-model="newUser.username">
                                                <span ng-show="validUsername.status" class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': validUsername.status == 'valid', 'glyphicon-remove': validUsername.status == 'invalid', 'glyphicon-warning-sign': validUsername.status == 'warning'}" aria-hidden="true"></span>
                                            </div>
                                            <em class="control-label col-xs-12 col-md-3" ng-show="validUsername.status == 'invalid' || validUsername.status == 'warning'" ng-class="{'has-success': validUsername.status == 'valid', 'has-error': validUsername.status == 'invalid', 'has-warning': validUsername.status == 'warning'}" style="text-align:left;">
                                                {{validUsername.message}}
                                            </em>
                                        </div>
                                        <div ng-if="!ADEnabled">
                                            <div class="form-group has-feedback" ng-class="{'has-success': validPassword.status == 'valid', 'has-error': validPassword.status == 'invalid', 'has-warning': validPassword.status == 'warning'}">
                                                <label class="control-label col-xs-12 col-md-2">
                                                    {{'USERS.ADD.PASSWORD'|translate}}
                                                </label>
                                                <div class="col-xs-12 col-md-7">
                                                    <input type="password" class="form-control" required="required"  autocomplete="off" ng-blur="validatePassword(newUser.password)" ng-change="passwordUpdate()" ng-model="newUser.password">
                                                    <p style="margin-bottom: 0;"><em><small>{{'USERS.ADD.PASSWORD_REQUIREMENTS'|translate}}</small></em></p>
                                                    <span ng-show="validPassword.status" class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': validPassword.status == 'valid', 'glyphicon-remove': validPassword.status == 'invalid', 'glyphicon-warning-sign': validPassword.status == 'warning'}" aria-hidden="true"></span>
                                                </div>
                                                <em class="control-label col-xs-12 col-md-3" ng-show="validPassword.status == 'invalid' || validPassword.status == 'warning'" ng-class="{'has-success': validPassword.status == 'valid', 'has-error': validPassword.status == 'invalid', 'has-warning': validPassword.status == 'warning'}" style="text-align:left">
                                                    {{validPassword.message}}
                                                </em>
                                            </div>
                                            <div class="form-group has-feedback" ng-class="{'has-success': validConfirmPassword.status == 'valid', 'has-error': validConfirmPassword.status == 'invalid', 'has-warning': validConfirmPassword.status == 'warning'}">
                                                <label class="control-label col-xs-12 col-md-2">
                                                    {{'USERS.ADD.RETYPE'|translate}}
                                                </label>
                                                <div class="col-xs-12 col-md-7">
                                                    <input type="password" class="form-control" required="required" autocomplete="off" ng-change="validateConfirmPassword(newUser.confirmPassword)" ng-model="newUser.confirmPassword" ng-disabled="newUser.password.length < 6 || !newUser.password">
                                                    <span ng-show="validConfirmPassword.status" class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': validConfirmPassword.status == 'valid', 'glyphicon-remove': validConfirmPassword.status == 'invalid', 'glyphicon-warning-sign': validConfirmPassword.status == 'warning'}" aria-hidden="true"></span>
                                                </div>
                                                <em class="control-label col-xs-12 col-md-3" ng-show="validConfirmPassword.status == 'invalid' || validConfirmPassword.status == 'warning'" ng-class="{'has-success': validConfirmPassword.status == 'valid', 'has-error': validConfirmPassword.status == 'invalid', 'has-warning': validConfirmPassword.status == 'warning'}" style="text-align:left">
                                                    {{validConfirmPassword.message}}
                                                </em>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION: Role -->
                        <div class="row animated" ng-class="{fadeInUp: roleSection.show}" ng-if="roleSection.show">
                            <div class="col-xs-12 side-menu-title">
                                <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                                    <span style="background-color:#e6edfa; padding: 0 10px;">
                                        <span class="fas fa-dot-circle"></span>
                                        <h2>{{'USERS.ADD.ROLE'|translate}}</h2>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp: roleSection.show}" ng-if="roleSection.show">
                            <div class="col-xs-12">
                                <p style="margin-bottom: 10px;">
                                    <span style="color:#d9534f"><strong>{{'USERS.ADD.REQUIRED'|translate}}</strong></span>
                                    {{'USERS.ADD.ROLE_EXPLANATION'|translate}}
                                </p>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp: roleSection.show}" ng-if="roleSection.show" style="margin-bottom: 15px;">
                            <div class="col-xs-12 col-sm-8">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <select ng-model="newUser.role" ng-change="roleUpdate()" ng-options="role as role.name_display for role in roles" class="form-control">
                                            <option ng-hide="newUser.role" value="">{{'USERS.ADD.SELECT_ROLE'|translate}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sub-section: Additional Privileges -->
                        <div class="row animated" ng-class="{fadeInUp: roleSection.show}" ng-if="roleSection.show">
                            <div class="col-xs-12">
                                <p style="margin-bottom: 10px;">
                                    {{'USERS.ADD.ADDITIONAL_PRIVILEGES_EXPLANATION'|translate}}
                                </p>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp: roleSection.show}" ng-if="roleSection.show" style="margin-bottom: 15px;">
                            <div class="col-xs-12 col-sm-8">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <select multiple="true" ng-model="newUser.additionalprivileges" ng-change="additionalPrivilegesUpdate()" ng-options="additionalprivilege as additionalprivilege.name for additionalprivilege in additionalprivileges" class="form-control">
                                            <option ng-hide="newUser.additionalprivileges" value="">{{'USERS.ADD.SELECT_PRIVILEGES'|translate}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION: Language -->
                        <div class="row animated" ng-class="{fadeInUp: languageSection.show}" ng-if="languageSection.show">
                            <div class="col-xs-12 side-menu-title">
                                <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                                    <span style="background-color:#e6edfa; padding: 0 10px;">
                                        <span class="fas fa-dot-circle"></span>
                                        <h2>{{'USERS.ADD.LANGUAGE'|translate}}</h2>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp: languageSection.show}" ng-if="languageSection.show">
                            <div class="col-xs-12">
                                <p style="margin-bottom: 10px;">
                                    <span style="color:#d9534f"><strong>{{'USERS.ADD.REQUIRED'|translate}}</strong></span>
                                    {{'USERS.ADD.LANGUAGE_EXPLANATION'|translate}}
                                </p>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp: languageSection.show}" ng-if="languageSection.show" style="margin-bottom: 15px;">
                            <div class="col-xs-12 col-sm-8">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <select ng-model="newUser.language" ng-change="languageUpdate()" ng-options="language.id as language.name for language in languages" class="form-control">
                                            <option ng-hide="newUser.language" value="">{{'USERS.ADD.SELECT_LANGUAGE'|translate}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SECTION -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>