# SPDX-FileCopyrightText: Copyright (C) 2025 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later
name: ci

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:

  lint:
    uses: opalmedapps/actions/.github/workflows/prek.yaml@main
    with:
      skip: reuse-lint-file

  run-reuse-workflow:
    uses: opalmedapps/.github/.github/workflows/reuse.yaml@main
