<div id="main">
    <div id="top">
        <div class="clearfix">
            <div class="row">
                <!-- side bar: summary -->
                <div class="col-lg-2">
                    <!-- Home logo-->
                    <div class="side-navbar" ng-controller="navigation">
                        <div class="row side-logo" ng-click="goToHome()">
                            <div class="col-md-12">
                                <div class="logo">
                                    <img style="margin-top: -20px;" class="animated rotateIn" src="images/opal_logo_transparent_purple.png" height="130" width="130">
                                </div>
                                <h1 class="animated fadeIn">opal <strong>ADMIN</strong></h1>
                            </div>
                        </div>
                    </div>
                    <div class="summary-fix">
                        <!-- Back button -->
                        <div class="row side-panel-menu">
                            <div class="col-xs-12 col-sm-5 col-lg-12">
                                <div class="panel-container animated" ng-class="{pulse: hoverBack}"
                                     ng-mouseenter="hoverBack=true" ng-mouseleave="hoverBack=false"
                                     style="cursor:pointer;" ng-click="goBack()">
                                    <div class="side-panel-info-sm">
                                        <div class="panel-content">
                                            <span style="font-size: 23px;vertical-align:middle" class="fa fa-arrow-left"
                                                  aria-hidden="true"></span>
                                            <h6 class="side-panel-title"
                                                style="display:inline-block;margin:0;font-size:14px;"><strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.BACK'|translate}}</strong>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Summary -->
                            <div class="col-lg-12 side-menu-title">
                                <div class="horz-line" style="height: 10px; text-align: center">
                                    <span style="background-color:#e6edfa; padding: 0 10px;">
                                        <h2>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.SUMMARY'|translate}}</h2>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="progress progress-striped active">
                                    <div class="progress-bar" ng-class="{'progress-bar-success': stepProgress == 100}"
                                         role="progressbar" aria-valuenow="{{stepProgress}}" aria-valuemin="0"
                                         aria-valuemax="100" style="width: {{stepProgress}}%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <uib-accordion class="side-navbar">
                            <!-- SECTION: Title -->
                            <div uib-accordion-group is-open="titleDescriptionSection.open" class="panel-container summary-box" class="panel-container summary-box animated" ng-class="{fadeInUp: titleDescriptionSection.show}"  ng-if="titleDescriptionSection.show" is-disabled="!newQuestionnaire.name_EN && !newQuestionnaire.name_FR && !newQuestionnaire.short_name_EN && !newQuestionnaire.short_name_FR && !newQuestionnaire.description_EN && !newQuestionnaire.description_FR">
                                <uib-accordion-heading>
                                    <div class="row" style="align-items: center">
                                        <div class="col-md-2">
                                            <span ng-if="newQuestionnaire.title_EN && newQuestionnaire.title_FR && newQuestionnaire.short_name_EN && newQuestionnaire.short_name_FR && newQuestionnaire.description_EN && newQuestionnaire.description_FR" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                                        </div>
                                        <div class="col-md-8">
                                            <strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.TITLE_DESCRIPTION'|translate}}</strong>
                                        </div>
                                        <div class="col-md-2">
                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': titleDescriptionSection.open, 'glyphicon-chevron-right': !titleDescriptionSection.open}" ng-if="newQuestionnaire.title_EN || newQuestionnaire.title_FR || newQuestionnaire.short_name_EN || newQuestionnaire.short_name_FR || newQuestionnaire.description_EN || newQuestionnaire.description_FR"></i>
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                                <div ng-if="newQuestionnaire.title_EN || newQuestionnaire.short_name_EN || newQuestionnaire.description_EN" class="description">
                                    <p ng-if="newQuestionnaire.title_EN || newQuestionnaire.short_name_EN" style="margin-bottom:5px;">
                                        <strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.ENGLISH_TITLE'|translate}}</strong>
                                        <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                                        <span ng-if="newQuestionnaire.title_EN">{{newQuestionnaire.title_EN}} |</span> 
                                        <span ng-if="newQuestionnaire.short_name_EN">{{newQuestionnaire.short_name_EN}}</span>
                                    </p>
                                    <p ng-if="newQuestionnaire.description_EN" style="padding-left:10px; font-size:10px;"><em>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.SEE_DESCRIPTION'|translate}}</em></p>
                                </div>
                                <div ng-if="newQuestionnaire.title_FR || newQuestionnaire.short_name_FR || newQuestionnaire.description_FR" class="description">
                                    <p ng-if="newQuestionnaire.title_FR || newQuestionnaire.short_name_FR" style="margin-bottom:5px;">
                                        <strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.FRENCH_TITLE'|translate}}</strong>
                                        <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                                        <span ng-if="newQuestionnaire.title_FR">{{newQuestionnaire.title_FR}} |</span> 
                                        <span ng-if="newQuestionnaire.short_name_FR">{{newQuestionnaire.short_name_FR}}</span>
                                    </p>
                                    <p ng-if="newQuestionnaire.description_FR" style="padding-left:10px; font-size:10px;"><em>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.SEE_DESCRIPTION'|translate}}</em></p>
                                </div>
                            </div>
                            <!-- SECTION: Purpose & Respondent -->
                            <div uib-accordion-group is-open="purposeRespondentSection.open"
                                 class="panel-container summary-box animated" ng-class="{fadeInUp: purposeRespondentSection.show}"
                                 ng-if="purposeRespondentSection.show"
                                 is-disabled="!newQuestionnaire.purpose && !newQuestionnaire.respondent">
                                <uib-accordion-heading>
                                    <div class="row" style="align-items: center">
                                        <div class="col-md-2">
                                            <span ng-if="newQuestionnaire.purpose && newQuestionnaire.respondent"
                                                  style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                                        </div>
                                        <div class="col-md-8">
                                            <strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.RESPONDENT_PURPOSE_LEFT'|translate}}</strong>
                                        </div>
                                        <div class="col-md-2">
                                            <i class="pull-right glyphicon"
                                               ng-class="{'glyphicon-chevron-down': purposeRespondentSection.open, 'glyphicon-chevron-right': !purposeRespondentSection.open}"
                                               ng-if="newQuestionnaire.purpose || newQuestionnaire.respondent"></i>
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                                <div ng-if="newQuestionnaire.purpose || newQuestionnaire.respondent"
                                     class="description">
                                    <p ng-if="newQuestionnaire.purpose" style="margin-bottom:5px;">
                                        <strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.PURPOSE'|translate}}</strong>
                                        <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                                        {{newQuestionnaire.purpose.title_display}}
                                    </p>
                                    <p ng-if="newQuestionnaire.respondent" style="margin-bottom:5px;">
                                        <strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.RESPONDENT'|translate}}</strong>
                                        <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                                        {{newQuestionnaire.respondent.title_display}}
                                    </p>
                                </div>
                            </div>
                            <!-- SECTION: Privacy -->
                            <div uib-accordion-group is-open="privacySection.open"
                                 class="panel-container summary-box animated" ng-class="{fadeInUp: privacySection.show}"
                                 ng-if="privacySection.show"
                                 is-disabled="newQuestionnaire.private != 0 && newQuestionnaire.private != 1">
                                <uib-accordion-heading>
                                    <div class="row" style="align-items: center">
                                        <div class="col-md-2">
                                            <span ng-if="newQuestionnaire.private == 0 || newQuestionnaire.private == 1"
                                                  style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                                        </div>
                                        <div class="col-md-8">
                                            <strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.PRIVACY'|translate}}</strong>
                                        </div>
                                        <div class="col-md-2">
                                            <i class="pull-right glyphicon"
                                               ng-class="{'glyphicon-chevron-down': privacySection.open, 'glyphicon-chevron-right': !privacySection.open}"
                                               ng-if="newQuestionnaire.private == 0 || newQuestionnaire.private == 1"></i>
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                                <div ng-if="newQuestionnaire.private == 0 || newQuestionnaire.private == 1"
                                     class="description">
                                    <p style="margin-bottom:5px;">
                                        <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                                        <span ng-if="newQuestionnaire.private == 0">{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.PUBLIC'|translate}}</span>
                                        <span ng-if="newQuestionnaire.private == 1">{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.PRIVATE'|translate}}</span>
                                    </p>
                                </div>
                            </div>
                            <!-- SECTION: Questions -->
                            <div uib-accordion-group is-open="questionsSection.open"
                                 class="panel-container summary-box animated"
                                 ng-class="{fadeInUp: questionsSection.show}" ng-if="questionsSection.show"
                                 is-disabled="!newQuestionnaire.questions.length">
                                <uib-accordion-heading>
                                    <div class="row" style="align-items: center">
                                        <div class="col-md-2">
                                            <span ng-if="newQuestionnaire.questions.length" style="color:#5cb85c"
                                                  class="glyphicon glyphicon-ok"></span>
                                        </div>
                                        <div class="col-md-8">
                                            <strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.QUESTIONS'|translate}}</strong>
                                        </div>
                                        <div class="col-md-2">
                                            <i class="pull-right glyphicon"
                                               ng-class="{'glyphicon-chevron-down': questionsSection.open, 'glyphicon-chevron-right': !questionsSection.open}"
                                               ng-if="newQuestionnaire.questions.length"></i>
                                        </div>
                                    </div>
                                </uib-accordion-heading>
                                <div ng-if="newQuestionnaire.questions.length" class="description">
                                    <p style="margin-bottom:5px;">
                                        <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                                        {{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.TOTAL'|translate}} {{newQuestionnaire.questions.length}} {{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.SELECTED'|translate}}.
                                    </p>
                                </div>
                            </div>
                        </uib-accordion>
                        <!-- Submit button -->
                        <div class="panel-container">
                            <a href="" ng-click="submitQuestionnaire()" class="btn btn-md item-button-success animated"
                               ng-class="{pulse: hoverV}" ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false"
                               ng-if="checkForm()" style="width: 100%;">
                                <span style="font-size: 20px;"><strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.SUBMIT'|translate}}</strong></span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Right side display -->
                <div class="col-xs-12 col-lg-10 animated fadeInRight">
                    <div class="row main-title">
                        <!-- Page title -->
                        <div class="col-xs-12 col-md-6 title-content">
                            <span class="fa fa-plus"></span>
                            <h1><strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.ADD'|translate}}</strong></h1>
                        </div>
                        <!-- Breadcrumbs -->
                        <div class="col-md-6 title-breadcrumbs">
                            <span>
                            <a ui-sref="home">{{'QUESTIONNAIRE_MODULE.BREADCRUMBS.HOME'|translate}}</a> <span class="glyphicon glyphicon-menu-right teflon"></span>
                            <a ui-sref="questionnaire-menu">{{'QUESTIONNAIRE_MODULE.DASHBOARD.TITLE'|translate}}</a>
                            <span class="glyphicon glyphicon-menu-right teflon"></span>
                            <a ui-sref="questionnaire">{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_LIST.TITLE'|translate}}</a>
                            <span class="glyphicon glyphicon-menu-right teflon"></span>
                            <strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.ADD'|translate}}</strong>
                            </span>
                        </div>
                    </div>
                    <div class="row mobile-side-panel-menu">
                        <div class="back-menu col-xs-12 col-sm-5 col-lg-12">
                            <div class="panel-container animated" ng-class="{pulse: hoverBack}"
                                 ng-mouseenter="hoverBack=true" ng-mouseleave="hoverBack=false" style="cursor:pointer;"
                                 ng-click="goBack()">
                                <div class="side-panel-info-sm">
                                    <div class="panel-content">
                                        <span style="font-size: 23px;vertical-align:middle" class="fa fa-arrow-left"
                                              aria-hidden="true"></span>
                                        <h6 class="side-panel-title"><strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.BACK'|translate}}</strong></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-summary col-xs-12 col-sm-offset-1 col-sm-6" ng-if="!checkForm()">
                            <div class="summary-title" style="text-align: right; margin-bottom: 5px;">
                                <span style="padding: 0 10px;">
                                    <h2>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.STEP'|translate}} {{numOfCompletedSteps}} {{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.OF'|translate}} {{stepTotal}} {{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.COMPLETED'|translate}}</h2>
                                </span>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar" ng-class="{'progress-bar-success': stepProgress == 100}"
                                     role="progressbar" aria-valuenow="{{stepProgress}}" aria-valuemin="0"
                                     aria-valuemax="100" style="width: {{stepProgress}}%">
                                </div>
                            </div>
                        </div>
                        <div class="mobile-summary col-xs-12 col-sm-offset-2 col-sm-5" ng-if="checkForm()">
                            <div class="panel-container">
                                <a href="" ng-click="submitQuestionnaire()"
                                   class="btn btn-md item-button-success animated" ng-class="{pulse: hoverV}"
                                   ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false" ng-if="checkForm()"
                                   style="width: 100%;">
                                    <span style="font-size: 20px;"><strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.SUBMIT'|translate}}</strong></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="section-content">
                        <!-- SECTION: Title & description -->
                        <div class="row">
                            <div class="col-xs-12 side-menu-title">
                                <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                                    <span style="background-color:#e6edfa; padding: 0 10px;">
                                        <span class="fas fa-dot-circle"></span>
                                        <h2>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.TITLE_DESCRIPTION_MAIN'|translate}}</h2>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p style="margin-bottom: 10px;">
                                    <span style="color:#d9534f"><strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.REQUIRED_FIELD'|translate}}</strong></span>
                                    {{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.TITLE_DESCRIPTION_EXPLANATION'|translate}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="panel" ng-class="(newQuestionnaire.title_EN && newQuestionnaire.short_name_EN && newQuestionnaire.description_EN) ? 'panel-success': 'panel-danger'">
                                    <div class="panel-heading"><strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.ENGLISH'|translate}}</strong>
                                        <span ng-hide="newQuestionnaire.title_EN && newQuestionnaire.short_name_EN && newQuestionnaire.description_EN" style="float:right"><em>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.INCOMPLETE'|translate}}</em></span>
                                        <span ng-show="newQuestionnaire.title_EN && newQuestionnaire.short_name_EN && newQuestionnaire.description_EN" style="float:right"><em>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.COMPLETE'|translate}}</em></span>
                                    </div>
                                    <div class="panel-body form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-lg-2">
                                                {{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.TITLE'|translate}}
                                            </label>
                                            <div class="col-xs-12 col-lg-10">
                                                <input class="form-control" type="text" ng-model="newQuestionnaire.title_EN" ng-change="titleDescriptionUpdate()" placeholder="{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.PLACEHOLDER_ENGLISH_TITLE'|translate}}" required="required">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-lg-2">
                                                {{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.SHORT_NAME'|translate}}
                                            </label>
                                            <div class="col-xs-12 col-lg-10">
                                                <input class="form-control" type="text" ng-model="newQuestionnaire.short_name_EN" ng-change="titleDescriptionUpdate()" placeholder="{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.PLACEHOLDER_ENGLISH_SHORT_NAME'|translate}}" required="required">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-lg-2">
                                                {{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.DESCRIPTION'|translate}}
                                            </label>
                                            <div class="col-xs-12 col-lg-10">
                                                <div text-angular ng-model="newQuestionnaire.description_EN" ng-change="titleDescriptionUpdate()" placeholder="{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.PLACEHOLDER_ENGLISH_DESCRIPTION'|translate}}" required="required" ta-toolbar="toolbar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="panel" ng-class="(newQuestionnaire.title_FR && newQuestionnaire.short_name_FR && newQuestionnaire.description_FR) ? 'panel-success': 'panel-danger'">
                                    <div class="panel-heading"><strong>Français</strong>
                                        <span ng-hide="newQuestionnaire.title_FR && newQuestionnaire.short_name_FR && newQuestionnaire.description_FR" style="float:right"><em>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.INCOMPLETE'|translate}}</em></span>
                                        <span ng-show="newQuestionnaire.title_FR && newQuestionnaire.short_name_FR && newQuestionnaire.description_FR" style="float:right"><em>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.COMPLETE'|translate}}</em></span>
                                    </div>
                                    <div class="panel-body form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-lg-2">
                                                {{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.TITLE'|translate}}
                                            </label>
                                            <div class="col-xs-12 col-lg-10">
                                                <input class="form-control" type="text" ng-model="newQuestionnaire.title_FR" ng-change="titleDescriptionUpdate()" placeholder="{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.PLACEHOLDER_FRENCH_TITLE'|translate}}" required="required">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-lg-2">
                                                {{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.SHORT_NAME'|translate}}
                                            </label>
                                            <div class="col-xs-12 col-lg-10">
                                                <input class="form-control" type="text" ng-model="newQuestionnaire.short_name_FR" ng-change="titleDescriptionUpdate()" placeholder="{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.PLACEHOLDER_FRENCH_SHORT_NAME'|translate}}" required="required">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-lg-2">
                                                {{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.DESCRIPTION'|translate}}
                                            </label>
                                            <div class="col-xs-12 col-lg-10">
                                                <div text-angular ng-model="newQuestionnaire.description_FR" ng-change="titleDescriptionUpdate()" placeholder="{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.PLACEHOLDER_FRENCH_DESCRIPTION'|translate}}" required="required" ta-toolbar="toolbar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- SECTION: Role -->
                        <div class="row animated" ng-class="{fadeInUp: purposeRespondentSection.show}" ng-if="purposeRespondentSection.show">
                            <div class="col-xs-12 side-menu-title">
                                <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                                    <span style="background-color:#e6edfa; padding: 0 10px;">
                                        <span class="fas fa-dot-circle"></span>
                                        <h2>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.RESPONDENT_PURPOSE'|translate}}</h2>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp: purposeRespondentSection.show}" ng-if="purposeRespondentSection.show">
                            <div class="col-xs-12">
                                <p style="margin-bottom: 10px;">
                                    <span style="color:#d9534f"><strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.REQUIRED'|translate}}</strong></span>
                                    {{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.RESPONDENT_PURPOSE_EXPLANATION'|translate}}
                                </p>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp: purposeRespondentSection.show}" ng-if="purposeRespondentSection.show" style="margin-bottom: 15px;">
                            <div class="col-xs-12 col-sm-6">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <select ng-model="newQuestionnaire.purpose" ng-change="purposeRespondentUpdate()" ng-options="purpose as purpose.title_display for purpose in purposeList" class="form-control">
                                            <option ng-hide="newQuestionnaire.purpose" value="">{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.SELECT_PURPOSE'|translate}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <select ng-model="newQuestionnaire.respondent" ng-change="purposeRespondentUpdate()" ng-options="respondent as respondent.title_display for respondent in respondentList" class="form-control">
                                            <option ng-hide="newQuestionnaire.respondent" value="">{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.SELECT_RESPONDENT'|translate}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- SECTION: Privacy -->
                        <div class="row animated" ng-class="{fadeInUp: privacySection.show}"
                             ng-if="privacySection.show">
                            <div class="col-xs-12 side-menu-title">
                                <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                                    <span style="background-color:#e6edfa; padding: 0 10px;">
                                        <span class="fas fa-dot-circle"></span>
                                        <h2>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.PRIVACY'|translate}}</h2>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp: privacySection.show}"
                             ng-if="privacySection.show">
                            <div class="col-xs-12">
                                <p style="margin-bottom: 10px;">
                                    <span style="color:#d9534f"><strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.REQUIRED_FIELD'|translate}}</strong></span>
                                    {{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.PRIVACY_EXPLANATION'|translate}}
                                </p>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp: privacySection.show}" ng-if="privacySection.show">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="panel-container animated" style="cursor:pointer;" ng-class="{pulse: hoverB, active: newQuestionnaire.private == 1}" ng-click="privacyUpdate(1)" ng-mouseenter="hoverB=true" ng-mouseleave="hoverB=false">
                                    <div class="panel-info" ng-class="{active: newQuestionnaire.private == 1}">
                                        <div class="panel-content" style="text-align:center">
                                            <span style="font-size:30px;" class="fa fa-user-secret"></span>
                                            <div class="option-panel-title">{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.PRIVATE'|translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div id="btn-public" class="panel-container animated" style="cursor:pointer;" ng-class="{pulse: hoverC, active: newQuestionnaire.private == 0}" ng-click="privacyUpdate(0)" ng-mouseenter="hoverC=true" ng-mouseleave="hoverC=false">
                                    <div class="panel-info" ng-class="{active: newQuestionnaire.private == 0}">
                                        <div class="panel-content" style="text-align:center">
                                            <span style="font-size:30px;" class="fa fa-users"></span>
                                            <div class="option-panel-title">{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.PUBLIC'|translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12" ng-class="{invisible: !anyPrivate}">
                                <p style="color:#d9534f;margin-bottom:20px;">{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.CANNOT_BE_PUBLIC'|translate}}</p>
                            </div>
                        </div>
                        <!-- SECTION: Add Questions -->
                        <div class="row animated" ng-class="{fadeInUp: questionsSection.show}" ng-if="questionsSection.show">
                            <div class="col-xs-12 side-menu-title">
                                <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                                    <span style="background-color:#e6edfa; padding: 0 10px;">
                                        <span class="fas fa-dot-circle"></span>
                                        <h2>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.ADD_QUESTION'|translate}}</h2>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp: questionsSection.show}" ng-if="questionsSection.show">
                            <div class="col-xs-12">
                                <p style="margin-bottom: 10px;">
                                    <span style="color:#d9534f"><strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.REQUIRED_FIELD'|translate}}</strong></span>
                                    {{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.QUESTION_EXPLANATION'|translate}}
                                </p>
                            </div>
                        </div>
                        <div class="row animated" ng-class="{fadeInUp: questionsSection.show}" ng-if="questionsSection.show">
                            <div class="col-xs-12">
                                <!-- question group table -->
                                <div class="col-xs-12 col-md-8">
                                    <div class="panel" ng-class="newQuestionnaire.questions.length ? 'panel-success': 'panel-danger'">
                                        <div class="panel-heading"><strong>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.QUESTIONS'|translate}}</strong>
                                            <span ng-hide="newQuestionnaire.questions.length" style="float:right"><em>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.INCOMPLETE'|translate}}</em></span>
                                            <span ng-show="newQuestionnaire.questions.length" style="float:right"><em>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.COMPLETE'|translate}}</em></span>
                                        </div>
                                        <div class="panel-body">
                                            <div id="data-table">
                                                <div class="gridStyle" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection style="height:75vh"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Preview -->
                                <div class="col-xs-12 col-md-4" style="text-align:right">
                                    <div style="height:10px; border-bottom:1px solid #6f5499; text-align:center; margin-bottom:10px;">
                                        <span style="background-color: #e6edfa; padding: 0 10px; font-size:16px;">{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.PREVIEW'|translate}}</span>
                                    </div>
                                    <div class="previewContainer">
                                        <div class="previewContent">
                                            <h3>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.ENGLISH'|translate}}</h3>
                                            <div ng-repeat="selectedGroupObj in newQuestionnaire.questions">
                                                <h4>{{selectedGroupObj.type_EN}}:
                                                </h4>
                                                <p>{{selectedGroupObj.question_EN}}<span style="color:#d9534f;;"> ({{selectedGroupObj.optional == 1 ? 'optional' : 'required'}})</span></p>
                                                <!-- Answer type preview -->
                                                <div ng-if="selectedGroupObj.typeId == '4'">
                                                    <div ng-repeat="option in selectedGroupObj.subOptions">
                                                        <label><input type="radio" disabled> {{option.description_EN}}</label>
                                                    </div>
                                                </div>
                                                <div ng-if="selectedGroupObj.typeId == '2'">
                                                    <div ng-repeat="option in selectedGroupObj.subOptions">
                                                        <label><input type="radio" disabled> {{option.description_EN}}</label>
                                                    </div>
                                                </div>
                                                <div ng-if="selectedGroupObj.typeId == '1'">
                                                    <div ng-repeat="option in selectedGroupObj.subOptions">
                                                        <label><input type="checkbox" disabled> {{option.description_EN}}</label>
                                                    </div>
                                                </div>
                                                <div ng-if="selectedGroupObj.typeId == '3'">
                                                    <textarea rows="3" cols="40" disabled>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.TYPE_ANSWER_EN'|translate}}</textarea>
                                                </div>
                                            </div>
                                            <h3>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.FRENCH'|translate}}</h3>
                                            <div ng-repeat="selectedGroupObj in newQuestionnaire.questions">
                                                <h4>{{selectedGroupObj.type_FR}}:</h4>
                                                <p>{{selectedGroupObj.question_FR}}<span style="color:#d9534f;;"> ({{selectedGroupObj.optional == 1 ? 'optionel' : 'requis'}})</span></p>
                                                <!-- Answer type preview -->
                                                <div ng-if="selectedGroupObj.typeId == '4'">
                                                    <div ng-repeat="option in selectedGroupObj.subOptions">
                                                        <label><input type="radio" disabled> {{option.description_FR}}</label>
                                                    </div>
                                                </div>
                                                <div ng-if="selectedGroupObj.typeId == '2'">
                                                    <div ng-repeat="option in selectedGroupObj.subOptions">
                                                        <label><input type="radio" disabled> {{option.description_FR}}</label>
                                                    </div>
                                                </div>
                                                <div ng-if="selectedGroupObj.typeId == '1'">
                                                    <div ng-repeat="option in selectedGroupObj.subOptions">
                                                        <label><input type="checkbox" disabled> {{option.description_FR}}</label>
                                                    </div>
                                                </div>
                                                <div ng-if="selectedGroupObj.typeId == '3'">
                                                    <textarea rows="3" cols="40" disabled>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.TYPE_ANSWER_FR'|translate}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Selected groups: change order -->
                            <div class="col-xs-12 col-md-8" ng-show="newQuestionnaire.questions.length">
                                <div class="panel-container">
                                    <div style="height:10px; border-bottom:1px solid #6f5499; text-align:center; margin-bottom:10px;">
                                        <span style="background-color: #e6edfa; padding: 0 10px; font-size:16px;"> {{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.EDIT_QUESTIONS'|translate}} </span>
                                    </div>
                                    <div class="panel-info">
                                        <table style="width:100%;">
                                            <tr style="font-size:16px;">
                                                <td>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.ORDER'|translate}}</td>
                                                <td>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.QUESTION'|translate}}</td>
                                                <td>{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.REQUIRED_OPTIONAL'|translate}}</td>
                                            </tr>
                                            <tr></tr>
                                            <tr ng-repeat="group in newQuestionnaire.questions">
                                                <td>
                                                    <label>
                                                        <input type="number" min="1" max="{{newQuestionnaire.questions.length}}" ng-model="group.order" ng-change="orderPreview();" placeholder={{group.order}}>
                                                    </label>
                                                </td>
                                                <td>{{group.questionDisplay}}</td>
                                                <td>
                                                    <select name="groupOptional" ng-model="group.optional" required ng-init="group.optional='0'">
                                                        <option value="0">{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.REQUIRED'|translate}}</option>
                                                        <option value="1">{{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.OPTIONAL'|translate}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SECTION -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- "Processing" modal template -->
<script type="text/ng-template" id="processingModal.htm">
    <div class="modal-header">
        <h1> {{'QUESTIONNAIRE_MODULE.QUESTIONNAIRE_ADD.PROCESSING'|translate}}</h1>
    </div>
    <div class="modal-body">
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 100%"></div>
        </div>
    </div>
</script>