<div id="main">
  <div id="top">
    <div class="clearfix">
      <div class="row">

        <!-- side bar: summary -->
        <div class="col-lg-2">
          <!-- Home logo-->
          <div class="side-navbar" ng-controller="navigation">
            <div class="row side-logo" ng-click="goToHome()">
              <div class="col-md-12">
                <div class="logo">
                  <img style="margin-top: -20px;" class="animated rotateIn" src="images/opal_logo_transparent_purple.png" height="130" width="130">
                </div>
                <h1 class="animated fadeIn">opal <strong>ADMIN</strong></h1>
              </div>
            </div>
          </div>

          <div class="summary-fix">
            <!-- Back button -->
            <div class="row side-panel-menu">
              <div class="col-xs-12 col-sm-5 col-lg-12">
                <div class="panel-container animated" ng-class="{pulse: hoverBack}" ng-mouseenter="hoverBack=true" ng-mouseleave="hoverBack=false" style="cursor:pointer;" ng-click="goBack()">
                  <div class="side-panel-info-sm">
                    <div class="panel-content">
                      <span style="font-size: 23px;vertical-align:middle" class="fa fa-arrow-left" aria-hidden="true"></span>
                      <h6 class="side-panel-title" style="display:inline-block;margin:0;font-size:14px;"><strong>Back to Manage Questions</strong></h6>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Summary -->
              <div class="side-menu-title col-lg-12">
                <div class="horz-line" style="height: 10px; text-align: center">
                    <span style="background-color:#e6edfa; padding: 0 10px;">
                      <h2>Summary</h2>
                    </span>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="progress progress-striped active">
                  <div class="progress-bar" ng-class="{'progress-bar-success': stepProgress == 100}" role="progressbar" aria-valuenow="{{stepProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stepProgress}}%">
                  </div>
                </div>
              </div>
            </div>

            <uib-accordion class="side-navbar">

              <!-- SECTION: Question Text -->
              <div uib-accordion-group is-open="titleSection.open" class="panel-container summary-box" is-disabled="!newQuestion.text_EN && !newQuestion.text_FR">
                <uib-accordion-heading>
                  <div class="row" style="align-items: center">
                    <div class="col-md-2">
                      <span ng-if="newQuestion.text_EN && newQuestion.text_FR" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                    </div>
                    <div class="col-md-8">
                      <strong>Question</strong>
                    </div>
                    <div class="col-md-2">
                      <i ng-if="newQuestion.text_EN || newQuestion.text_FR" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': titleSection.open, 'glyphicon-chevron-right': !titleSection.open}"></i>
                    </div>
                  </div>
                </uib-accordion-heading>
                <div ng-if="newQuestion.text_EN" class="description">
                  <p style="margin-botton:5px">
                    <strong>EN</strong>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                    {{newQuestion.text_EN}}
                  </p>
                </div>
                <div ng-if="newQuestion.text_FR" class="description">
                  <p style="margin-botton:5px">
                    <strong>FR</strong>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                    {{newQuestion.text_FR}}
                  </p>
                </div>
              </div>

              <!-- SECTION: Answer type -->
              <div uib-accordion-group is-open="answerTypeSection.open" class="panel-container summary-box animated" ng-class="{fadeInUp: answerTypeSection.show}" ng-if="answerTypeSection.show" is-disabled="!newQuestion.questiontype_ID">
                <uib-accordion-heading>
                  <div class="row" style="align-items: center">
                    <div class="col-md-2">
                      <span ng-if="newQuestion.questiontype_ID" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                    </div>
                    <div class="col-md-8">
                      <strong>Response Type</strong>
                    </div>
                    <div class="col-md-2">
                      <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': answerTypeSection.open, 'glyphicon-chevron-right': !answerTypeSection.open}" ng-if="newQuestion.questiontype_ID"></i>
                    </div>
                  </div>
                </uib-accordion-heading>
                <div ng-if="newQuestion.questiontype_ID" class="description">
                  <p style="margin-bottom:5px;">
                    {{selectedAt.category_EN}}
                  </p>
                  <p style="margin-bottom:5px;">
                    <strong>EN</strong>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                    {{selectedAt.name_EN}}
                  </p>
                </div>
                <div ng-if="newQuestion.questiontype_ID" class="description">
                  <p style="margin-bottom:5px;">
                    <strong>FR</strong>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                    {{selectedAt.name_FR}}
                  </p>
                </div>
              </div>

              <!-- SECTION: Question Library -->
              <div uib-accordion-group is-open="questionLibrarySection.open" class="panel-container summary-box animated" ng-class="{fadeInUp: questionLibrarySection.show}" ng-if="questionLibrarySection.show" is-disabled="!newQuestion.library_ID">
                <uib-accordion-heading>
                  <div class="row" style="align-items: center">
                    <div class="col-md-2">
                      <span ng-if="newQuestion.library_ID" style="color:#5cb85c" class="glyphicon glyphicon-ok"></span>
                    </div>
                    <div class="col-md-8">
                      <strong>Question Library</strong>
                    </div>
                    <div class="col-md-2">
                      <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': questionLibrarySection.open, 'glyphicon-chevron-right': !questionLibrarySection.open}" ng-if="newQuestion.library_ID"></i>
                    </div>
                  </div>
                </uib-accordion-heading>
                <div ng-if="newQuestion.library_ID" class="description">
                  <p style="margin-bottom:5px;">
                    <strong>EN</strong>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                    {{selectedGroup.name_EN}}
                  </p>
                </div>
                <div ng-if="newQuestion.library_ID" class="description">
                  <p style="margin-bottom:5px;">
                    <strong>FR</strong>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                    {{selectedGroup.name_FR}}
                  </p>
                </div>
              </div>
            </uib-accordion>

            <!-- Submit button -->
            <div class="panel-container">
              <a href="" ng-click="submitQuestion()" class="btn btn-md item-button-success animated" ng-class="{pulse: hoverV}" ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false" ng-if="checkForm()" style="width: 100%;">
                <span style="font-size: 20px;"><strong>Submit Question</strong></span>
              </a>
            </div>
          </div>
        </div>

        <!-- Right side detail view -->
        <div class="col-xs-12 col-lg-10 animated fadeInRight">
          <div class="row main-title">
            <!-- Page title -->
            <div class="col-xs-12 col-md-6 title-content">
              <span class="fa fa-plus"></span>
              <h1><strong>Add Question</strong></h1>
            </div>
            <!-- Breadcrumbs -->
            <div class="col-md-6 title-breadcrumbs">
                <span>
                  <a ui-sref="home">Home</a> <span class="glyphicon glyphicon-menu-right teflon"></span> <a ui-sref="questionnaire-menu">Questionnaires</a> <span class="glyphicon glyphicon-menu-right teflon"></span> <a ui-sref="questionnaire-question">Manage</a> <span class="glyphicon glyphicon-menu-right teflon"></span> <strong>Add Question</strong></span>
            </div>
          </div>

          <div class="row mobile-side-panel-menu">
            <div class="back-menu col-xs-12 col-sm-5 col-lg-12">
              <div class="panel-container animated" ng-class="{pulse: hoverBack}" ng-mouseenter="hoverBack=true" ng-mouseleave="hoverBack=false" style="cursor:pointer;" ng-click="goBack()">
                <div class="side-panel-info-sm">
                  <div class="panel-content">
                    <span style="font-size: 23px;vertical-align:middle" class="fa fa-arrow-left" aria-hidden="true"></span>
                    <h6 class="side-panel-title"><strong>Back to Manage Questions</strong></h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="mobile-summary col-xs-12 col-sm-offset-1 col-sm-6" ng-if="!checkForm()">
              <div class="summary-title" style="text-align: right; margin-bottom: 5px;">
                    <span style="padding: 0 10px;">
                      <h2>Step {{numOfCompletedSteps}} of {{stepTotal}} Completed</h2>
                    </span>
              </div>
              <div class="progress progress-striped active">
                <div class="progress-bar" ng-class="{'progress-bar-success': stepProgress == 100}" role="progressbar" aria-valuenow="{{stepProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stepProgress}}%">
                </div>
              </div>
            </div>
            <div class="mobile-summary col-xs-12 col-sm-offset-2 col-sm-5" ng-if="checkForm()">
              <div class="panel-container">
                <a href="" ng-click="submitQuestion()" class="btn btn-md item-button-success animated" ng-class="{pulse: hoverV}" ng-mouseenter="hoverV=true" ng-mouseleave="hoverV=false" ng-if="checkForm()" style="width: 100%;">
                  <span style="font-size: 20px;"><strong>Submit Question</strong></span>
                </a>
              </div>
            </div>
          </div>

          <div class="section-content">
            <!-- SECTION: Question text -->
            <div class="row">
              <div class="col-xs-12 side-menu-title">
                <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                      <span style="background-color:#e6edfa; padding: 0 10px;">
                        <span class="fas fa-dot-circle"></span>
                        <h2>Question</h2>
                      </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <p style="margin-bottom: 5px;">
                  <span style="color:#d9534f"><strong>Required field:</strong></span>
                  Please assign the question content in both english and in french.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="panel" ng-class="(newQuestion.text_EN) ? 'panel-success': 'panel-danger'">
                  <div class="panel-heading"><strong>English</strong>
                    <span ng-hide="newQuestion.text_EN" style="float:right"><em>Incomplete</em></span>
                    <span ng-show="newQuestion.text_EN" style="float:right"><em>Complete</em></span>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                        <textarea class="form-control" rows="2" ng-model="newQuestion.text_EN" ng-change="updateQuestionText()"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row col-md-12" style="margin-bottom: 20px;">
                  <label style="font-size: 20px;">Make this question private: <input type="checkbox" ng-model="newQuestion.private" ng-true-value="1" ng-false-value="0"></label>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="panel" ng-class="(newQuestion.text_FR) ? 'panel-success': 'panel-danger'">
                  <div class="panel-heading"><strong>Français</strong>
                    <span ng-hide="newQuestion.text_FR" style="float:right"><em>Incomplete</em></span>
                    <span ng-show="newQuestion.text_FR" style="float:right"><em>Complete</em></span>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                        <textarea class="form-control" rows="2" ng-model="newQuestion.text_FR" ng-change="updateQuestionText()"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- SECTION: Question Type -->
            <div class="row animated" ng-class="{fadeInUp: answerTypeSection.show}" ng-if="answerTypeSection.show">
              <div class="col-xs-12 side-menu-title">
                <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                      <span style="background-color:#e6edfa; padding: 0 10px;">
                        <span class="fas fa-dot-circle"></span>
                        <h2>Response Type</h2>
                      </span>
                </div>
              </div>
            </div>
            <div class="row animated" ng-class="{fadeInUp: answerTypeSection.show}" ng-if="answerTypeSection.show">
              <div class="col-xs-12 col-md-6">
                <p style="margin-bottom: 10px;">
                  <span style="color:#d9534f"><strong>Required field:</strong></span>
                  Please choose a response type where to add this question.
                </p>
                <div class="row animated" ng-class="{fadeInUp: answerTypeSection.show}" ng-if="answerTypeSection.show">
                  <div class="col-xs-12">
                    <div class="panel" ng-class="newQuestion.questiontype_ID ? 'panel-success': 'panel-danger'">
                      <div class="panel-heading"><strong>Response Type</strong>
                        <span ng-hide="newQuestion.questiontype_ID" style="float:right"><em>Incomplete</em></span>
                        <span ng-show="newQuestion.questiontype_ID" style="float:right"><em>Complete</em></span>
                      </div>
                      <div class="panel-body">
                        <div class="input-group">
                          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                          <input class="form-control" type="text" ng-model="atEntered" ng-change="searchAt(atEntered)" placeholder="Search Response Type"/>
                        </div>
                        <ul class="list-items">
                          <li ng-repeat="at in atFilterList | filter: searchAtFilter">
                            <label>
                              <input type="radio" name="{{at.name_EN}}" value="{{at.serNum}}" ng-model="newQuestion.questiontype_ID" ng-change="updateAt(at)"/> {{at.name_EN}} ({{at.category_EN}})
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <p style="margin-bottom: 10px;">
                  <span style="font-size: 20px;"><strong>Preview </strong></span><span style="font-size: 15px;">(available only when both title and response type are filled)</span>
                </p>

                <!-- Preview -->
                <div class="col-xs-12" ng-show="newQuestion.text_EN && newQuestion.text_FR && newQuestion.questiontype_ID">
                  <h2>Question: {{newQuestion.text_EN}} / {{newQuestion.text_FR}} ({{selectedAt.category_EN}})</h2>

                  <!-- Show category -->
                  <div ng-if="selectedAt.typeSerNum === '4'">
                    <div ng-repeat="option in selectedAt.options">
                      <label><input type="radio" name="option"/> {{option.text_EN}} / {{option.text_FR}}</label>
                    </div>
                  </div>

                  <div ng-if="selectedAt.typeSerNum === '2'">
                    <div ng-repeat="option in radiostep">
                      <label><input type="radio" name="option"/> {{option.name}}</label>
                    </div>
                  </div>
                </div>

                <div ng-if="selectedAt.typeSerNum === '1'">
                  <div ng-repeat="option in selectedAt.options">
                    <label><input type="checkbox" name="option"/> {{option.text_EN}} / {{option.text_FR}}</label>
                  </div>
                </div>

                <div ng-if="selectedAt.typeSerNum === '3'">
                  <textarea style="width:80%" rows="10" placeholder="Please enter your answer."></textarea>
                </div>

                <div ng-if="selectedAt.typeSerNum === '7'">
                  <label>Enter your date: <input type="date"/></label>
                </div>

                <div ng-if="selectedAt.typeSerNum === '6'">
                  <label>Enter your time: <input type="time"/></label>
                </div>
              </div>
            </div>

          </div>
          <div class="row animated" ng-class="{fadeInUp: answerTypeSection.show}" ng-if="answerTypeSection.show">
            <div class="col-xs-12 col-md-8">
              <p style="margin-bottom: 10px; margin-top: 10px;">
                <span style="font-size: 20px;" class="fa fa-question-circle"></span>
                <span style="font-size: 15px;"> Can't find response type? Create a new one here:</span>
              </p>
            </div>
            <div class="col-xs-12">
              <div class="panel-container">
                <form name="newAtForm">
                  <div class="col-md-2" style="margin-top:15px; margin-bottom:5px; font-size:20px;">
                    <label>Private:  <input type="checkbox" ng-model="newAnswerType.private" ng-true-value="1" ng-false-value="0"></label>
                  </div>

                  <div class="col-xs-12 col-md-8">
                    <select class="form-control" name="atCategory" style="width:60%;" ng-model="atCategory" ng-options="atCat.category_EN for atCat in atCatList" required>
                      <option value="">-- select a response category --</option>
                    </select>
                  </div>

                  <!-- Add multiple choice options -->
                  <div class="col-xs-12 col-md-8" ng-show="atCategory.category_EN === 'Checkbox' || atCategory.category_EN === 'Radio Button'">
                    <div class="input-group" style="margin-top:5px; margin-bottom:5px;" ng-repeat="option in newAnswerType.options">
                      <input class="form-control" style="width:20%" type="number" placeholder="Position" ng-model="option.position" required/>
                      <input class="form-control" style="width:40%" type="text" placeholder="Text (EN)" ng-model="option.text_EN" required/>
                      <input class="form-control" style="width:40%" type="text" placeholder="Text (FR)" ng-model="option.text_FR" required/>
                      <span class="input-group-btn"><button class="btn btn-default" ng-click="deleteOptions(option)"><span class="fa fa-minus"></span> Delete</button></span>
                    </div>
                    <button type="button" class="btn btn-default" style="float: left; margin-top:5px;" ng-click="addOptions()"><span class="fa fa-plus"></span> Add option</button>
                  </div>

                  <!-- Add Sliders options -->
                  <div class="col-xs-12 col-md-8" ng-show="atCategory.category_EN === 'Slider'">
                    <div class="input-group" style="margin-top:10px; margin-bottom:10px;width:100%;">
                      <input class="form-control" style="width:20%" type="number" placeholder="Minimum value" ng-model="newAnswerType.minValue" ng-required="atCategory.category_EN === 'Slider'" />
                      <input class="form-control" style="width:35%" type="text" ng-model="newAnswerType.MinCaption_EN" placeholder="Minimum caption (EN)" ng-required="atCategory.category_EN === 'Slider'"/>
                      <input class="form-control" style="width:35%" type="text" ng-model="newAnswerType.MinCaption_FR" placeholder="Minimum caption (FR)" ng-required="atCategory.category_EN === 'Slider'" />
                    </div>
                    <div class="input-group" style="margin-top:10px; margin-bottom:10px;width:100%;">
                      <input class="form-control" style="width:20%" type="number" placeholder="Maximum value" ng-model="newAnswerType.maxValue" ng-required="atCategory.category_EN === 'Slider'" />
                      <input class="form-control" style="width:35%" type="text" ng-model="newAnswerType.MaxCaption_EN" placeholder="Maximum caption (EN)" ng-required="atCategory.category_EN === 'Slider'" />
                      <input class="form-control" style="width:35%" type="text" ng-model="newAnswerType.MaxCaption_FR" placeholder="Maximum caption (FR)" ng-required="atCategory.category_EN === 'Slider'" />
                    </div>
                    <div class="input-group" style="margin-top:10px; margin-bottom:10px;width:100%;">
                      <input class="form-control" style="width:20%" type="number" placeholder="Increment step" ng-model="newAnswerType.increment" ng-required="atCategory.category_EN === 'Slider'"/>
                    </div>

                  </div>


                  <div class="col-xs-12 col-md-8">
                    <div class="input-group" style="margin-top:10px; margin-bottom:10px;">
                      <input class="form-control" style="width:50%" type="text" ng-model="newAnswerType.name_EN" placeholder="New Response Type (EN)" ng-disabled="!atCategory" required/>
                      <input class="form-control" style="width:50%" type="text" ng-model="newAnswerType.name_FR" placeholder="New Response Type (FR)" ng-disabled="!atCategory" required/>
                      <span class="input-group-btn"><button class="btn btn-default" type="submit" ng-click="addNewQuestionType(atCategory)" ng-disabled="newAtForm.$invalid">Add</button></span>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>

          <!-- SECTION: Question library -->
          <div class="row animated" ng-class="{fadeInUp: questionLibrarySection.show}" ng-if="questionLibrarySection.show" style="margin-top: 10px;">
            <div class="col-xs-12 side-menu-title">
              <div style="height: 10px; border-bottom: 2px solid rgba(111, 84, 153, 0.8);">
                      <span style="background-color:#e6edfa; padding: 0 10px;">
                        <span class="fas fa-dot-circle"></span>
                        <h2>Question Library</h2>
                      </span>
              </div>
            </div>
          </div>
          <div class="row animated" ng-class="{fadeInUp: questionLibrarySection.show}" ng-if="questionLibrarySection.show">

            <div class="col-xs-12" ng-init="content=1">
              <p><label for="first"><input id="first" type="radio" name="content" ng-model="content" value="1" ng-click="decreaseStep()">No library needed.</label></p>
            </div>
            <div class="col-xs-12" style="margin-bottom: 10px;">
              <p><label for="other"><input id="other" type="radio" name="content" ng-model="content" value="2" ng-click="increaseStep()">Add the question to a library.</label></p>
            </div>
            <div class="col-xs-12" ng-show="content == 2" style="padding-left:0;">
              <div class="col-xs-12" style="margin-bottom: 10px;">
                <span style="color:#d9534f"><strong>Required field:</strong></span>
                Please choose a library where to add this question.
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="panel" ng-class="newQuestion.library_ID ? 'panel-success': 'panel-danger'">
                  <div class="panel-heading"><strong>Question Libray</strong>
                    <span ng-hide="newQuestion.library_ID" style="float:right"><em>Incomplete</em></span>
                    <span ng-show="newQuestion.library_ID" style="float:right"><em>Complete</em></span>
                  </div>
                  <div class="panel-body">

                    <div class="list-space">
                      <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        <input class="form-control" type="text" ng-model="libEntered" ng-change="searchLib(libEntered)" placeholder="Search Question Library"/>
                      </div>
                      <ul class="list-items">
                        <li ng-repeat="group in groupFilterList| filter: searchLibFilter">
                          <label>
                            <input type="radio" name="{{group.name_EN}}" value="{{group.serNum}}" ng-model="newQuestion.library_ID" ng-change="updateLibrary(group)" /> {{group.name_EN}}
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 row animated" ng-class="{fadeInUp: questionLibrarySection.show}" ng-if="questionLibrarySection.show">
                <div class="col-xs-12">
                  <p style="margin-bottom: 10px; margin-top: 10px;">
                    <span style="font-size: 20px;" class="fa fa-question-circle"></span>
                    <span style="font-size: 15px">Can't find a question library? Create a new one here:</span>
                  </p>
                </div>
                <div class="panel-container">

                  <form name="newLibForm">
                    <div class="col-md-2" style="margin-top:8px; margin-bottom:5px; font-size:20px;">
                      <label>Private:  <input type="checkbox" ng-model="newLibrary.private" ng-true-value="1" ng-false-value="0"></label>
                    </div>
                    <div class="col-md-8">
                      <div class="input-group">
                        <input class="form-control" style="width:50%" type="text" ng-model="newLibrary.name_EN" placeholder="New Library (EN)" ng-disabled="librarySelected" required/>
                        <input class="form-control" style="width:50%" type="text" ng-model="newLibrary.name_FR" placeholder="New Library (FR)" ng-disabled="librarySelected" required/>
                        <span class="input-group-btn"><button class="btn btn-default" type="submit" ng-click="addNewLib()" ng-disabled="newLibForm.$invalid">Add</button></span>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- Add new Library/Category/Group -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>