<!-- Modal title -->
<div class="modal-header">
    <div class="row col-xs-12" ng-if="question.readOnly == '0'">
        <h2 class="modal-title col-xs-12">
            <span class="glyphicon glyphicon-pencil"></span>
            Edit Question
        </h2>
    </div>
    <div class="row col-xs-12" ng-if="question.readOnly == '1'">
        <h2 class="modal-title col-xs-12">
            <span class="text-danger fa fa-lock"></span>
            View Question
        </h2>
        <p class="text-danger">This question has being already sent to patients and cannot be modified anymore. You can still assign it to different libraries.</p>
    </div>
    <div class="modal-buttons col-xs-12">
    <span>
         <form method="post" ng-submit="updateQuestion()">
          <input class="btn btn-primary submit" ng-class="" type="submit" value="Save Changes" ng-if="question.readOnly == '0'" />
         <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="Cancel" />
        </form>
    </span>
    </div>
</div>
<div class="modal-body">
    <uib-accordion>
        <!-- SECTION: Title -->
        <div uib-accordion-group is-open="titleSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>Titles</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': titleSection.open, 'glyphicon-chevron-right': !titleSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="row">
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <span class="input-group-addon">EN</span>
                        <textarea class="form-control" rows="2" ng-model="question.text_EN" placeholder="English Title" ng-change="setChangesMade()" ng-disabled="question.readOnly == '1'"></textarea>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <span class="input-group-addon">FR</span>
                        <textarea class="form-control" rows="2" ng-model="question.text_FR" placeholder="Titre Français" ng-change="setChangesMade()" ng-disabled="question.readOnly == '1'"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6" style="margin-bottom: 20px;">
                    <label style="font-size: 20px;">Make this question private: <input type="checkbox" ng-model="question.private" ng-disabled="question.readOnly == '1'"></label>
                </div>
                <div class="col-xs-6 col-md-6" style="margin-bottom: 20px;">
                    <label style="font-size: 20px;">Finalize the question: <input type="checkbox" ng-model="question.final" ng-disabled="question.readOnly == '1'"></label>
                </div>
            </div>
        </div>

        <!-- SECTION: Response type -->
        <div uib-accordion-group is-open="answerTypeSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>Response Type</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': answerTypeSection.open, 'glyphicon-chevron-right': !answerTypeSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="alert alert-info" role="alert">
                <strong>Current Response Type</strong><br>
                <p>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                    <span>{{question.type_EN}} / {{question.type_FR}}</span>
                </p>
            </div>

            <!-- Edit text box options -->
            <div class="col-xs-12 col-md-8" ng-show="question.typeId === '3'">
                <p> No option.</p>
            </div>

            <!-- Edit radio button options -->
            <div class="col-xs-12 col-md-8" ng-show="question.typeId === '4' || question.typeId === '1'">
                <div class="input-group" style="margin-top:5px; margin-bottom:5px;" ng-repeat="option in question.subOptions">
                    <input class="form-control" style="width:20%" type="number" placeholder="Position" ng-model="option.position" required/>
                    <input class="form-control" style="width:40%" type="text" placeholder="Text (EN)" ng-model="option.description_EN" required/>
                    <input class="form-control" style="width:40%" type="text" placeholder="Text (FR)" ng-model="option.description_FR" required/>
                    <span class="input-group-btn"><button class="btn btn-default" ng-click="deleteOptions(option)"><span class="fa fa-minus"></span> Delete</button></span>
                </div>
                <button type="button" class="btn btn-default" style="float: left; margin-top:5px;" ng-click="addOptions()"><span class="fa fa-plus"></span> Add option</button>
            </div>

            <!-- Edit Sliders options -->
            <div class="col-xs-12 col-md-8" ng-show="question.typeId === '2'">
                <div class="input-group" style="margin-top:10px; margin-bottom:10px;width:100%;">
                    <input class="form-control" style="width:20%" type="number" placeholder="Minimum value" ng-model="toMinValue" required ng-disabled="question.readOnly == '1'" />
                    <input class="form-control" style="width:35%" type="text" ng-model="question.options.minCaption_EN" placeholder="Minimum caption (EN)" required ng-disabled="question.readOnly == '1'" />
                    <input class="form-control" style="width:35%" type="text" ng-model="question.options.minCaption_FR" placeholder="Minimum caption (FR)" required ng-disabled="question.readOnly == '1'" />
                </div>
                <div class="input-group" style="margin-top:10px; margin-bottom:10px;width:100%;">
                    <input class="form-control" style="width:20%" type="number" placeholder="Maximum value" ng-model="toMaxValue" required ng-disabled="question.readOnly == '1'" />
                    <input class="form-control" style="width:35%" type="text" ng-model="question.options.maxCaption_EN" placeholder="Maximum caption (EN)" required ng-disabled="question.readOnly == '1'" />
                    <input class="form-control" style="width:35%" type="text" ng-model="question.options.maxCaption_FR" placeholder="Maximum caption (FR)" required ng-disabled="question.readOnly == '1'" />
                </div>
                <div class="input-group" style="margin-top:10px; margin-bottom:10px;width:100%;">
                    <input class="form-control" style="width:20%" type="number" placeholder="Increment step" ng-model="toIncrement" required ng-disabled="question.readOnly == '1'" />
                </div>
            </div>


            <!-- div class="list-space">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input class="form-control" type="text" ng-model="atEntered" ng-change="searchAt(atEntered)" placeholder="Search Response Type"
                    />
                </div>
                <ul class="list-items">
                    <li ng-repeat="at in atFilterList | filter: searchAtFilter">
                        <label>
                            <input type="radio" name="{{at.name_EN}}" value="{{at.serNum}}" ng-model="question.answertype_serNum" ng-change="updateAt(at)"/> {{at.name_EN}} ({{at.category_EN}})
                        </label>
                    </li>
                </ul>
            </div -->
        </div>

        <!-- SECTION: Libraries -->
        <div uib-accordion-group is-open="librarySection.open">
            <uib-accordion-heading>
                <div>
                    <strong>Libraries</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': librarySection.open, 'glyphicon-chevron-right': !librarySection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="panel-body">
                <div class="list-space">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        <input class="form-control" type="text" ng-model="libEntered" ng-change="searchLib(libEntered)" placeholder="Search Question Library"/>
                    </div>
                    <ul class="list-items">
                        <li ng-repeat="library in libraryFilterList| filter: searchLibFilter">
                            <label>
                                <input type="checkbox" name="library[]" value="{{library.serNum}}" ng-checked="library.checked == 1" ng-click="updateLibrary(library)" />
                                {{library.name_EN}} / {{library.name_FR}}
                            </label>
                        </li>
                    </ul>

                    <div class="col-xs-12">
                        <p style="margin-bottom: 10px; margin-top: 10px;">
                            <span style="font-size: 20px;" class="fa fa-question-circle"></span>
                            <span style="font-size: 15px">Can't find a question library? Create a new one here:</span>
                        </p>
                    </div>
                    <div class="panel-container">

                        <form name="newLibForm">
                            <div class="col-md-2" style="margin-top:8px; margin-bottom:5px; font-size:20px;">
                                <label>Private:  <input type="checkbox" ng-model="newLibrary.private" ng-true-value="1" ng-false-value="0"></label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input class="form-control" style="width:50%" type="text" ng-model="newLibrary.name_EN" placeholder="New Library (EN)" ng-disabled="librarySelected" required/>
                                    <input class="form-control" style="width:50%" type="text" ng-model="newLibrary.name_FR" placeholder="New Library (FR)" ng-disabled="librarySelected" required/>
                                    <span class="input-group-btn"><button class="btn btn-default" type="submit" ng-click="addNewLib()" ng-disabled="newLibForm.$invalid">Add</button></span>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </uib-accordion>
</div>