<!-- Modal title -->
<div class="modal-header">
    <div class="row col-xs-12" ng-if="question.readOnly == '0'">
        <h2 class="modal-title col-xs-12">
            <span class="glyphicon glyphicon-pencil"></span>
            Edit Question
        </h2>
    </div>
    <div class="row col-xs-12" ng-if="question.readOnly == '1'">
        <h2 class="modal-title col-xs-12">
            <span class="text-danger fa fa-lock"></span>
            View Question
        </h2>
        <p class="text-danger">This question has being already sent to patients and cannot be modified anymore. You can still view its details.</p>
    </div>
    <div class="modal-buttons col-xs-12">
    <span>
         <form method="post" ng-submit="updateQuestion()">
          <input class="btn btn-primary submit" ng-class="" type="submit" value="Save Changes" ng-if="question.readOnly == '0'" />
         <input ng-click="cancel()" class="btn btn-danger cancel" type="button" value="Cancel" />
        </form>
    </span>
    </div>
</div>
<div class="modal-body">
    <uib-accordion>
        <!-- SECTION: Title -->
        <div uib-accordion-group is-open="titleSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>Titles</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': titleSection.open, 'glyphicon-chevron-right': !titleSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="row">
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <span class="input-group-addon">EN</span>
                        <textarea class="form-control" rows="2" ng-model="question.text_EN" placeholder="English Title" ng-change="setChangesMade()" ng-disabled="question.readOnly == '1'"></textarea>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <span class="input-group-addon">FR</span>
                        <textarea class="form-control" rows="2" ng-model="question.text_FR" placeholder="Titre Français" ng-change="setChangesMade()" ng-disabled="question.readOnly == '1'"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6" style="margin-bottom: 20px;">
                    <label style="font-size: 20px;">Make this question private: <input type="checkbox" ng-model="question.private" ng-disabled="question.readOnly == '1'"></label>
                </div>
                <div class="col-xs-6 col-md-6" style="margin-bottom: 20px;">
                    <label style="font-size: 20px;">Finalize the question: <input type="checkbox" ng-model="question.final" ng-disabled="question.readOnly == '1'"></label>
                </div>
            </div>
        </div>

        <!-- SECTION: Response type -->
        <div uib-accordion-group is-open="answerTypeSection.open">
            <uib-accordion-heading>
                <div>
                    <strong>Response Type</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': answerTypeSection.open, 'glyphicon-chevron-right': !answerTypeSection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="alert alert-info" role="alert">
                <strong>Current Response Type</strong><br>
                <p>
                    <span class="fa fa-angle-double-right" style="padding-right: 7px;"></span>
                    <span>{{question.type_EN}} / {{question.type_FR}}</span>
                </p>
            </div>

            <!-- div class="list-space">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input class="form-control" type="text" ng-model="atEntered" ng-change="searchAt(atEntered)" placeholder="Search Response Type"
                    />
                </div>
                <ul class="list-items">
                    <li ng-repeat="at in atFilterList | filter: searchAtFilter">
                        <label>
                            <input type="radio" name="{{at.name_EN}}" value="{{at.serNum}}" ng-model="question.answertype_serNum" ng-change="updateAt(at)"/> {{at.name_EN}} ({{at.category_EN}})
                        </label>
                    </li>
                </ul>
            </div -->
        </div>

        <!-- SECTION: Libraries -->
        <div uib-accordion-group is-open="librarySection.open">
            <uib-accordion-heading>
                <div>
                    <strong>Libraries</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': librarySection.open, 'glyphicon-chevron-right': !librarySection.open}"></i>
                </div>
            </uib-accordion-heading>
            <div class="panel-body">
                <div class="list-space">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        <input class="form-control" type="text" ng-model="libEntered" ng-change="searchLib(libEntered)" placeholder="Search Question Library"/>
                    </div>
                    <ul class="list-items">
                        <li ng-repeat="library in libraryFilterList| filter: searchLibFilter">
                            <label>
                                <input type="checkbox" name="library[]" value="{{library.serNum}}" ng-checked="library.checked == 1" />
                                {{library.name_EN}} / {{library.name_FR}}
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </uib-accordion>
</div>