<div id="main">
	<div id="top">
		<div class="clearfix">
			<div class="row">
        <!-- Load side menu -->
				<div class="col-lg-2">
					<div ng-include="'templates/questionnaire/questionnaire-side-menu.html'"></div>
				</div>
        <!-- Right side detail view -->
				<div class="col-lg-10 animated fadeIn">
					<div class="row main-title">
            <!-- Page title -->
						<div class="col-xs-12 col-md-6 title-content">
							<span class="fa fa-pencil"></span>
							<h1><strong>Manage Questionnaires</strong></h1>
						</div>
            <!-- Breadcrumbs -->
						<div class="col-md-6 title-breadcrumbs">
							<a ui-sref="home">Home</a> <span class="glyphicon glyphicon-menu-right teflon"></span> <a ui-sref="questionnaire-menu">Questionnaires</a>							<span class="glyphicon glyphicon-menu-right teflon"></span> <strong>Manage Questionnaires</strong></span>
						</div>
					</div>
					<div class="row clearfix operations">
						<div class="save-add col-xs-12 col-sm-6 col-md-8">
              <!-- Add button -->
							<a style="width:100px;margin-right:20px;" href="" ng-click="goToAddQuestionnaire()" class="btn btn-md btn-outline item-button">
                <span style="font-size: 17px;" class="fa fa-plus"></span>
                <span style="font-size: 20px;"><strong>Add</strong></span>
              </a>
						</div>
						<!-- Search field -->
						<div class="search col-xs-12 col-sm-6 col-md-4">
							<div class="form-group has-feedback" style="margin-bottom: 0">
							<input type="text" class="form-control" ng-model="filterValue" ng-change="filterQuestionnaire(filterValue)" placeholder="Search...">
								<span class="glyphicon glyphicon-search form-control-feedback"></span>
							</div>
						</div>
					</div>
          <!-- Load main table -->
					<div class="panel-container" style="text-align:left;">
						<div class="panel-info">
							<div class="panel-input">
								<div id="data-table">
									<div class="gridStyle" ui-grid="gridOptions" ui-grid-resize-columns style="height:75vh"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="bannerMessage alert-success">{{bannerMessage}}</div>
</div>
